[2021-09-08 21:27] mweststrate commented on #834
The `clockid_t` issue was solved in my case by bumping Flipper-Folly from 2.6.7 to 2.6.9. You can use this [Podfile](https://github.com/facebook/flipper/blob/main/react-native/ReactNativeFlipperExample/ios/Podfile) for reference how to do that.

In general, this [Podfile](https://github.com/facebook/flipper/blob/main/react-native/ReactNativeFlipperExample/ios/Podfile) is how we assert build compat

[2021-09-08 21:48] mweststrate commented on #2835
Eh yes. But alternatively, if you edit `~/.flipper/config.json` and change `darkMode: true/false` to `darkMode: "light"` it will be fixed as well. Will cut a patch release tomorrow

[2021-09-08 21:53] lgleasain opened #2837 "version 0.104.0 and above on Android cannot connect to our app"
## 🐛 Bug Report
We have a fairly large Android app that is using Flipper. Before version 0.104.0 we could connect to our app, but after the changes that appeared to come in in https://github.com/facebook/flipper/commit/1db39b8171f7c0c584fd35898f3fd9dfa2c69eca#diff-f60ed56a9c8275894022fe5a7a1625c33bdb55b729bb4e38962af4d1613eda25 Flipper is not able to connect to our see our app.

## To Reproduce
In

[2021-09-08 22:00] swrobel commented on #2835
I tried that, and the result is still the same error on launch. Perhaps this is caused by something different?
[code]

Like I'd mentioned earlier, this still occurs even when clearing out all of the Flipper settings storage (including `~/.config/flipper`) and re-launching.

[2021-09-08 22:37] mweststrate commented on #2835
I couldn't reproduce the issue anymore, 107 will land in an hour, would you mind checking whether that solves the issue?

[2021-09-09 02:31] DoctorCobweb commented on #2835
Still happening in 107, but after selecting a theme then restarting, the error went away.

[2021-09-09 03:32] swrobel commented on #2835
v107 is an improvement. Using my old (pre-106) config:
[code]
I get the following on launch (although the UI does show up):
<img width="645" alt="Screen Shot 2021-09-08 at 8 31 17 PM" src="https://user-images.githubusercontent.com/157270/132617922-235f919b-2ea7-44d5-8710-8d24c8db8bbd.png">

[code]
And I am able to at least go into the settings and change it now:
<img width="574" alt="Screen Shot 2

[2021-09-09 09:50] mweststrate commented on #2835
Ok, not what I hoped for but a bit less critical now 😅. No clue why it doesn't reproduce here, it is fairly straight forward, but will add some additional safety anyway

[2021-09-09 10:35] JulianKingman commented on #2766
Problem solved!

Steps:
1. launch app with sudo:
[code]
2. Flipper asks for disk access to finder, is this an undocumented requirement?
3. In the error console, Flipper asks for some permissions changes

I'll leave this open at the moment, as it seems like there should maybe be a documentation change

[2021-09-09 13:56] mweststrate commented on #2837
We're currently investigating this issue. It seems to happen for quite some people, but not on all machines. We'll post as soon as we know more. Feel free to share any details about consistent reproducible cases! (device type, NDK version, etc)

[2021-09-09 19:02] bizzguy opened #2839 "Question: What is the expected behavior for persisting network requests in Network Plugin"
I'm trying to understand the expected behavior of the Network plugin.  It appears that network requests are lost when the app terminates.  The requests also get cleared if Flipper is reloaded.  At some point in the past it seemed like network requests were persisted across app crashes and even device restarts but that may be my imagination.

So I'm trying to understand what the expected behavior i

[2021-09-09 20:22] DoctorCobweb commented on #2835
if it helps, i think the error msg was this second one @swrobel posted (https://github.com/facebook/flipper/issues/2835#issuecomment-915734321), not the OP version

[2021-09-09 23:11] dylmye commented on #2707
Can confirm I'm getting this trying to use redux-flipper and react-native-flipper. The stacktrace leads to [line 165](https://github.com/facebook/flipper/blob/c0cd32564ad4b07a42365af886045095877a6a6b/react-native/react-native-flipper/index.js#L165).

[2021-09-10 09:31] mweststrate commented on #2839
The device & app, and by extension the network requests should remain available, until the app reconnects

[2021-09-10 09:39] mweststrate commented on #2789
Thanks for the detailed report! We're investigating how it can get lost

[2021-09-10 10:07] axwell commented on #2495
any news about this ?

[2021-09-10 12:22] tmirun commented on #2495
@axwell in production mode SSE it is working, that `networkFlipperPlugin` is only in development mode, for you can intercept the network calls and show it in Flipper.

[2021-09-10 14:04] #2835 closed

[2021-09-10 14:35] Efigenio-fidelis opened #2840 "Question: A JavaScript error occurred in the main process"
when I open flipper in my Mac a pop up shows up with the following message.

A JavaScript error occurred in the main process

Uncaught Exception:
TypeError: Error processing argument at index 0, conversion failure from
at IpcMainImpl.<anonymous> (/Applications/Flipper.app/Contents/Resources/app.asar/main.bundle.js:3:3889)
at IpcMainImpl.emit (events.js:315:20)
at Object.<anonymous> (electron/js2c/

[2021-09-10 15:19] mweststrate commented on #2835
Will release a patch in a bit.

[2021-09-10 15:19] mweststrate commented on #2840
Duplicate of https://github.com/facebook/flipper/issues/2835, will be fixed in version 108

[2021-09-10 15:19] #2840 closed

[2021-09-10 15:43] mweststrate commented on #2837
Should be fixed in 108 which will release in a bit. Let us know if that doesn't solve the issue!

[2021-09-10 15:43] #2837 closed

[2021-09-10 15:44] mweststrate commented on #2789
Should be fixed in 108 which will release in a bit. Let us know if that doesn't solve the issue, I'm not 100% sure if it was the same issue as the one we fixed.

[2021-09-10 15:45] mweststrate commented on #2772
Technically that is not strictly needed, as both metro and adb can be connected to remotely. If anybody is interested in adding a UI to make that possible, a PR is welcome!

[2021-09-10 16:10] mweststrate commented on #2771
Could you try on version 108, and share the logs at loglevel info? (either from the flipper logs or via the devtools)

[2021-09-10 20:29] camdagr8 commented on #834
Thanks Hero!

[2021-09-11 05:22] swrobel commented on #2600
Is anyone from the Flipper team digging into this at all...?

[2021-09-11 10:07] mweststrate commented on #2600
Could you compare your setup against the reference project in this repo in
the react native folder? Please note that we don't support building for
M1's yet

On Sat, 11 Sep 2021, 06:22 Stefan Wrobel, ***@***.***> wrote:

[2021-09-11 11:38] morphytron commented on #2600
When might this be supported per chance?  Thinking about returning my M1 for an Intel-based laptop.  Thanks!

[2021-09-11 13:12] stopachka commented on #824
@Isaacmeedinaa if you found this through a react-native bug, I set the flipper version to 0.105.0, and it went this past this bug.

[2021-09-11 13:59] mweststrate commented on #2600
Really hard to tell, its mostly downstream systems that make mobile dev
hard on M1, some of our deps, Electron itself still dies, Android
emulators...

On Sat, 11 Sep 2021, 12:39 Apatiga, Daniel, ***@***.***>
wrote:

[2021-09-11 14:14] swrobel commented on #2600
This is actually happening for me on an Intel Mac. I'm working on trying to get my project to build by trying various things people have said worked in github issues ... then I'll try the reference project.

[2021-09-11 19:37] ghasemikasra39 commented on #2772
Metro connects remotely, which is fine, but Flipper does not recognize that an app instance is connected to this Metro. So the issue is not UI, this functionality is missing, right?

[2021-09-12 10:25] maystrenkoYurii opened #2842 "Flipper v0.108.0 A JavaScript error occurred in the main process"
<img width="1102" alt="Снимок экрана 2021-09-12 в 13 25 12" src="https://user-images.githubusercontent.com/23016311/132984044-878397ed-71b7-4d77-a71c-4f96a906f215.png">

[2021-09-12 20:06] demondayza commented on #824
@stopachka that worked great to fix my issue above everything else. I had to find mine through logcat as it was a hard crash.

[2021-09-13 09:14] shwetsolanki commented on #2769
@passy @priteshrnandgaonkar can anyone help me out here?

[2021-09-13 16:26] dallasgutauckis commented on #2611
We were using `createTablePlugin` internally (can't publish a plugin for external use that is internally use case specific). I'm looking at trying to upgrade to this new plugin architecture, but the docs are really confusing at this point.

[This page](https://fbflipper.com/docs/extending/create-table-plugin/) (in Deprecated APIs) notes,

While the [main tutorial](https://fbflipper.com/docs/tutori

[2021-09-13 18:17] justblender opened #2862 "Error: "dlopen failed: cannot locate symbol "_Unwind_Backtrace" referenced by X""
## 🐛 Bug Report
Debug builds crash on Android with the following error:
[code]

## To Reproduce
Build a React Native debug build through react-native-cli with Flipper enabled, run the application on Android 10 device.

## Environment
Android: 10.0
React Native: 0.64.2

[2021-09-13 18:18] justblender commented on #2862
Just noticed that this might be a possible duplicate of #2765, but whatever.

[2021-09-13 18:49] mweststrate commented on #2842
can you share the contents of `~/.flipper/config.json`?

[2021-09-13 19:11] mweststrate commented on #2611
Create table plugin has been updated and can be found here: https://fbflipper.com/docs/extending/flipper-plugin/#createtableplugin

[2021-09-13 19:20] maystrenkoYurii commented on #2842
@mweststrate yes after change to dark theme and back to light this problem is resolved

[2021-09-13 20:45] #2839 closed

[2021-09-14 02:14] fkgozali commented on #2600
I was looking at the original commit that added this callsite (see https://github.com/facebook/folly/issues/1655):

https://github.com/facebook/folly/commit/0fee9dfce93e42b33ca8fb2c455b1d7cce8bebce

It looks like that commit added `c++abi` linker flag to the build file, which I don't think we ever had in RCT-Folly.podspec and perhaps Flipper-Folly.podspec? Perhaps the fix is to somehow add that fl

[2021-09-14 06:54] usama-homage commented on #834
@mikehardy I tried to copy your Podfile. but faced this issue.

![Screenshot 2021-09-14 at 2 51 29 PM](https://user-images.githubusercontent.com/58416087/133209657-49e56682-75df-4ebf-8036-1440d6e8e657.png)

just for reference here is what my Podfile looks like.

`require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-

[2021-09-14 08:23] #2862 closed

[2021-09-14 08:26] mweststrate commented on #2788
OpenSSL is an essential part of Flipper, as without it we cannot secure the device communication.

Please note that as Flipper core team we generally don't investigate specific build issues (we simply lack the capacity for that). We do make sure our [example repo](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample) keeps running which can be used as reference poin

[2021-09-14 08:26] #2788 closed

[2021-09-14 08:27] mweststrate commented on #2769
Please note that as Flipper core team we generally don't investigate specific build issues (we simply lack the capacity for that). We do make sure our [example repo](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample) keeps running which can be used as reference point, and generally do accept community investigations and fixes where needed.

[2021-09-14 08:28] #2760 closed

[2021-09-14 08:29] mweststrate commented on #2708
Implemented, so closing. Thanks for the PR @qichuan!

[2021-09-14 08:29] #2708 closed

[2021-09-14 08:30] mweststrate commented on #2842
Found the culprit, similar but different issue from the previous one. Will put up a diff but in the mean time changing the theme once should solve it!

[2021-09-14 09:44] #1773 closed

[2021-09-14 09:44] #1688 closed

[2021-09-14 09:46] mweststrate commented on #1740
Please note that as Flipper core team we generally don't investigate specific build issues (we simply lack the capacity for that). We do make sure our [example repo](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample) keeps running which can be used as reference point, and generally do accept community investigations and fixes where needed.

[2021-09-14 09:47] #2575 closed

[2021-09-14 10:00] mweststrate commented on #2705
Would you mind reporting this in the Hermes project instead?

[2021-09-14 10:00] #2705 closed

[2021-09-14 10:02] mweststrate commented on #2548
Closing as duplicate, let's continue in the original issue

[2021-09-14 10:02] #2548 closed

[2021-09-14 10:03] mweststrate commented on #2414
cc @lblasa any idea why `use_frameworks!` causes issues? Adding it to `iOS/Sample/Podfile` indeed results in

`[!] The 'Pods-Sample' target has transitive dependencies that include statically linked binaries: (Flipper-Boost-iOSX and Flipper-RSocket)`

[2021-09-14 10:04] mweststrate commented on #2577
Does the same thing happens if you run the `iOS/Sample` project in this repo?

[2021-09-14 10:06] mweststrate commented on #2543
Closing this issue as it based on old versions. Please refer to the Podfile of https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample for a list of deps that should work correctly. Note that you can use this one generally as reference point, as that is the one we verify of that it is working correctly.

[2021-09-14 10:06] #2543 closed

[2021-09-14 10:06] mweststrate commented on #2842
Closing as it will ship in the next release

[2021-09-14 10:06] #2842 closed

[2021-09-14 10:08] #1068 closed

[2021-09-14 10:08] #1137 closed

[2021-09-14 10:09] #1254 closed

[2021-09-14 10:09] #1292 closed

[2021-09-14 10:10] #1520 closed

[2021-09-14 10:11] #1536 closed

[2021-09-14 10:11] #1597 closed

[2021-09-14 10:11] #1599 closed

[2021-09-14 10:11] #1653 closed

[2021-09-14 10:11] #1654 closed

[2021-09-14 10:13] mweststrate commented on #1691
IIRC this was fixed a couple of months back. If it isn't, this issue can be reopened.

[2021-09-14 10:13] #1691 closed

[2021-09-14 10:13] #1736 closed

[2021-09-14 10:15] #1757 closed

[2021-09-14 10:16] mweststrate commented on #1790
Multiple issues seems to be reported here that are different from OP. Feel free to open new issues if any are still persistent.

[2021-09-14 10:16] #1790 closed

[2021-09-14 10:16] #1791 closed

[2021-09-14 10:17] mweststrate commented on #1791
Messages and logs are now part of normal builds as well, so this issue is no longer applicable.

[2021-09-14 10:17] #1799 closed

[2021-09-14 10:19] mweststrate commented on #1820
Closing for inactivity. Apologies for not having a followed up, react-native-flipper provides the native bindings here in principe..

[2021-09-14 10:19] #1820 closed

[2021-09-14 10:20] #1913 closed

[2021-09-14 10:20] #1966 closed

[2021-09-14 10:21] #2074 closed

[2021-09-14 10:25] #2075 closed

[2021-09-14 10:27] #2102 closed

[2021-09-14 10:27] mweststrate commented on #2109
This should have been fixed by the new databases plugin UI

[2021-09-14 10:27] #2109 closed

[2021-09-14 10:29] mweststrate commented on #2113
Closing as answered, please upgrade fb-idb if you run into the same problem, or open a new issue if the problem persists.

[2021-09-14 10:29] #2113 closed

[2021-09-14 10:30] #2151 closed

[2021-09-14 10:32] oblador commented on #2074
Just closing without replies/reason?

[2021-09-14 10:32] mweststrate commented on #2769
Looks like a duplicate of https://github.com/facebook/flipper/issues/2167, marking as such for now.

[2021-09-14 10:32] #2769 closed

[2021-09-14 10:33] mweststrate commented on #2167
@lblasa any idea what could go wrong here?

[2021-09-14 10:35] mweststrate commented on #2213
We cannot really debug this from just a stack trace. I'd recommend to try running the flipper sample applications as can be found in this repo, and work from there.

[2021-09-14 10:36] #2214 closed

[2021-09-14 10:37] #2217 closed

[2021-09-14 10:37] #2222 closed

[2021-09-14 10:37] #2276 closed

[2021-09-14 10:40] #2280 closed

[2021-09-14 10:40] #2283 closed

[2021-09-14 10:40] #2303 closed

[2021-09-14 10:40] #2304 closed

[2021-09-14 10:41] #2310 closed

[2021-09-14 10:41] #2315 closed

[2021-09-14 10:41] #2366 closed

[2021-09-14 10:41] #2367 closed

[2021-09-14 10:42] mweststrate commented on #2376
Please note that as Flipper core team we generally don't investigate specific build issues (we simply lack the capacity for that). We do make sure our [example repo](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample) keeps running which can be used as reference point, and generally do accept community investigations and fixes where needed. So I recommend to compa

[2021-09-14 10:42] #2376 closed

[2021-09-14 10:42] mweststrate commented on #2402
This has been implemented :)

[2021-09-14 10:42] #2402 closed

[2021-09-14 10:43] #2428 closed

[2021-09-14 10:43] #2477 closed

[2021-09-14 10:48] mweststrate commented on #2495
We don't really use the OkHttpClient interceptor internally, so if anybody wants to investigate if this could be wired better, PRs are welcome!

[2021-09-14 10:48] #2501 closed

[2021-09-14 10:49] #2504 closed

[2021-09-14 10:50] #1740 closed

[2021-09-14 10:51] #2505 closed

[2021-09-14 10:52] #2507 closed

[2021-09-14 10:52] mweststrate commented on #2514
cc @nikoant

[2021-09-14 10:53] #2537 closed

[2021-09-14 10:54] mweststrate commented on #2576
No plans to implement it, but PRs are welcome :)

[2021-09-14 10:55] mweststrate commented on #2598
IIRC this is a duplicate issue that has been fixed a while back. If it still happens on recent versions of RN and Flipper, please provide additional reproduction information.

[2021-09-14 10:55] #2598 closed

[2021-09-14 10:58] mweststrate commented on #2600
@fkgozali / @swrobel  interested in giving that a try? I'm still curious why it doesn't seem to be an issue with the reference project in that case (or is it?)

[2021-09-14 11:06] #2632 closed

[2021-09-14 11:08] mweststrate commented on #2636
cc @nikoant  are above instructions still accurate?

[2021-09-14 11:13] mweststrate commented on #2678
Suspecting this is a duplicate of https://github.com/facebook/flipper/issues/2167 as well, so let's look into that one first

[2021-09-14 11:13] #2678 closed

[2021-09-14 11:14] #2683 closed

[2021-09-14 11:18] mweststrate commented on #2710
@passy if I try to run `npx flipper-pkg` bundle I get errors from globby, which seems to bundle ESM now (sigh). Would you mind checking if reverting it in D30539761 fixes the issue?

[code]

[2021-09-14 11:19] mweststrate commented on #2765
Please note that as Flipper core team we generally don't investigate specific build issues (we simply lack the capacity for that). We do make sure our [example repo](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample) keeps running which can be used as reference point, and generally do accept community investigations and fixes where needed.

[2021-09-14 11:22] mweststrate commented on #2766
`/usr/bin` should be always on the PATH already afaik, despite any local config. This really looks like a local setup issue. If sudo helps, it might be the case that maybe openssl is only installed for the su user and not visible to normal users? I'd try to check openssl installation instructions.

[2021-09-14 11:22] mweststrate commented on #2770
PR / plugin welcome :)

[2021-09-14 11:31] zetbaitsu opened #2865 "Can't connect due certfiticate error"
I run Flipper on macos big sur, but can't connect to my app with the following error:
![image](https://user-images.githubusercontent.com/10556814/133249181-4afbebd2-b194-4e99-86ee-953ae076671e.png)

anyone can give a clue what's wrong?

[2021-09-14 11:52] mweststrate commented on #2865
The end at the error seems to indicate there is something wrong with the file permissions / ownship of the files. Could this be a duplicate of #92 or #536 ?

[2021-09-14 11:56] mweststrate commented on #2074
Stale, so leaving it open and pretending anything will happen soon would be misleading as well :). But a PR that reads the deprecation info and shows it is always welcome! In any case, adding a Readme with the deprecation info should already help a lot here.

[2021-09-14 15:42] bizzguy opened #2866 "Question: How to issue an "adb" command (but not in "adb shell")"
I'm trying to find a way to issue an adb command to install an apk for Android.  I found a way using adb kit to issue shell commands, but I want to run "adb install <<apk>>" and can't seem to find a way to do that.  Is there code in the project that does this already?  Thanks.

[2021-09-14 15:52] mikehardy commented on #834
You have version locks all over for the use_flipper section. If it's not working I imagine it's because of that. My versions were unlocked, I just have that one sed file edit in combo with the deployment target raise, and flipper compile goes through for me.

[2021-09-14 16:01] SaqibJDev opened #2867 "Discussion: Use app package to identify apps instead of App name"
I use Flipper on daily basis with default and custom plugins. One annoying thing I always face whenever I have Android build types is, Flipper only shows one build at a time with my app name e.g. MyFlipperAppName. Irrespective if I'm running debug, feature, alpha, or beta build, it is always displayed as one application with App Name. If I have to cross-check some issue across different builds, I

[2021-09-14 19:20] yfeldblum commented on #2600
Right, the function `__cxa_increment_exception_refcount` is exported, on Apple platforms, by dylib `c++abi` rather than by the more common dylib `c++`. While `c++` depends on `c++abi`, the platform seems not to use transitive dependencies when resolving symbols. Since folly uses that function now, its cmake build sets up that direct link-time dependency. Since flipper is not using that cmake build

[2021-09-14 20:28] willstepp commented on #824
Lifesaver! Thank you, have a 🍺 on me. May I ask how you figured that out?

[2021-09-14 21:33] stopachka commented on #824
Cheers :) — let me know if ever in NYC!

Based on the logcat, started looking deeper into flipper. Ended up
discovering this in their docs:

https://fbflipper.com/docs/getting-started/react-native/#using-the-latest-flipper-sdk

On Tue, Sep 14, 2021 at 4:28 PM Daniel Stepp ***@***.***>
wrote:

[2021-09-15 01:00] Rubon72 commented on #215
yes it still problem
Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.
    at Vg (file:///Applications/Flipper.app/Contents/Resources/app.asar/bundle.js:90:114890)
    at k (file:///Applications/Flipper.app/Contents/R

[2021-09-15 02:22] zetbaitsu commented on #2865
The app is not installed on the system partition, and the device is not Samsung too, its a Xiaomi device.

I have select the app in `Developer Options -> Select app to be debugged` too but still no luck

[2021-09-15 07:50] luvwylla09 commented on #2771
The problem has been solved in version 108. Thank you very much,

[2021-09-15 08:17] #2771 closed

[2021-09-15 08:20] mweststrate commented on #2865
The `run-as: /mnt/has/wrong/owner` in the message above looks scary, seems adb can't write to the phone. Could you try and see if you can write files to the apps data dir manually using adb commands?

[2021-09-15 08:24] mweststrate commented on #215
@Rubon72 this issue has been closed for 2 years. Please do open a new issue with reproduction steps, flipper version info, etc :)

[2021-09-15 08:26] mweststrate commented on #824
Locking the issue as above link with: "how to update to latest first" is a great conclusion :)

[2021-09-15 08:29] mweststrate commented on #2600
Je n'ai aucune idée de ce que sont ces choses.

looping in @lblasa to read along.

[2021-09-15 08:35] mweststrate commented on #834
@usama-homage the problem is that your Podfile uses `use_frameworks!`, which is currently not supported by react-native. Follow allong with #2414 for that.

Beyond that, let's not post new symptoms in closed issues. it makes the thread impossible to read. Please open new issues, with repro steps and linking to whatever closed issues that seems relevant.

[2021-09-15 08:45] mweststrate commented on #2866
we use `child_process`'s exec for that, roughly along these lines:

[code]

This isn't idiomatic, we're working on a standardised API for command execution, and ideally the settings for adb should have been used here, but for now that should get you started :)

[2021-09-15 09:01] luvwylla09 commented on #2414
I downgraded Flipper to 0.87.0 and installed  Flipper-Folly by specifying local pod spec file then this problem was solved.

This is flipper part of my Podfile:
[code]

The local pod spec json file is :
[code]

In addition, do not use "**use_modular_headers!**" if you write "**use_frameworks!**" in Podfile.

[2021-09-15 09:19] lblasa commented on #2600
@yfeldblum thanks for your comment. I'll try to look into this very shortly.

As @mweststrate pointed out, I do not understand why this is not an issue with the reference project?

[2021-09-15 09:23] kunkun-s commented on #582
错误原因：你的Podfile中的platform要>=依赖库指定的platform
解决：
1.可以删除你工程下的Podfile中的platform。
2.也可以修改你工程下的Podfile中的platform为依赖库的platform相同

[2021-09-15 09:30] mweststrate commented on #2600
@lblasa seems we don't run against ARM64 in CI. Not sure anymore if that is intentional ('we don't support it') or due to CI limitations? https://github.com/facebook/flipper/blob/main/.github/workflows/iOS-Sample.yml#L30.

But for usage on Intel Macs in generally we don't need to build for ARM64 anyway correct? @swrobel are ARM64 builds deliberately targeted in your build process? (asking as someo

[2021-09-15 10:57] mweststrate commented on #582
Don't commend on issues closed for two years.... .

[2021-09-15 12:05] swrobel commented on #2600
Wish I had the answer here but I guess React Native abstractions have rendered me ignorant. I just assumed since iOS devices are arm64 that the app has to be built for that platform for App Store submission.

[2021-09-15 15:16] mikehardy commented on #2600
I've been working to get react-native core and template to work on M1 macs and just for reference - related to a question above - I can say debug and release builds done on an M1 for simulator fail in different ways than release builds done on an intel mac (which do target arm64 as a cross-compile), despite their both being for arm64. Unexpected but widely reproduced experimental results there. Re

[2021-09-15 19:04] jcarioti opened #2869 "Question: React Native with Swift AppDelegate - Missing Flipper Dependencies"
Hey everyone, I have a React Native application (0.65.1) that I've converted to using a Swift version of AppDelegate. Unfortunately, I've not been able to get all of the default Flipper plugins to work when I'm using the Swift AppDelegate.

First thing was to address the missing `FB_SONARKIT_ENABLED` flag in Swift compiler flags.

After fixing the flags, I'm getting stuck at `FlipperKitLayoutCompo

[2021-09-16 12:27] Efigenio-fidelis opened #2870 "Question: Failed to connect to Metro Flipper did find a running Metro instance"
Failed to connect to Metro
Flipper did find a running Metro instance, but couldn't connect to the logs. Probably your React Native version is too old to support Flipper. Cause: Failed to get a connection to ws://localhost:8081/events in a timely fashion

![Screenshot at Sep 16 09-27-16](https://user-images.githubusercontent.com/82679917/133612008-6a6133a3-2bad-40cd-9aa4-9e8ad11ba622.png)

[2021-09-16 12:29] mweststrate commented on #2870
And you are running Metro, a recent version? Any errors in the Metro logs?

[2021-09-16 14:08] dejolt opened #2871 "Command failed when pulling certificate from device"
## 🐛 Bug Report

  It seems that there's an issues with the certificate pull from the device.

## To Reproduce

Flipper uses this command to pull the file:
 **idb --log DEBUG file pull --udid (device id) --bundle-id (com.xxxxx.xxxxx) 'Library/Application Support /sonar/app.csr' 'destination folder'.**

If I use the same command in terminal, the command does not work and fails.

But if use the same

[2021-09-16 16:03] jschear commented on #2789
👋  I've been hitting what appears to be the exact same issue using desktop app 0.109.0 and Android client library 0.105.0. Manually generating a `connection_config.json` also resolved it for me.

For anyone also looking for a workaround, here's a way to push the file without hitting permissions issues:
[code]

[2021-09-16 16:11] mweststrate commented on #2789
cc @lblasa

[2021-09-17 13:05] kidroca opened #2873 "ADB notice cannot be dismissed"
## 🐛 Bug Report

I get a "Failed to initialise ADB..." notice docked at the top of the app window. It's preventing me to use the Hermes debugger as it blocks the different tabs available in dev tools. I couldn't find a way to dismiss it.
I didn't expect to see such an error in the first place, as I've switched "Android Developer" to **off**
![image](https://user-images.githubusercontent.com/121566

[2021-09-17 14:05] mweststrate commented on #2873
Thanks for reporting! A fix is on the way. Note that the message should disappear after 10 seconds😅

[2021-09-17 14:09] mweststrate commented on #2871
I suspect your idb / idb_companion is outdated. Which version is reported if you run `idb_companion`? Could you update to the latest version?

cc @passy

[2021-09-17 14:21] dejolt commented on #2871
Well my idb-companion/idb version is 1.1.5. I even tried with source builds of idb and still the same error.
The interesting part is that, if I modify the Flipper source and build it like I mentioned above by adding **/app.csr**, I got no problems. But if I download a built version of Flipper I get a certificate error. I'm assuming is something on my machine that is wrong, since nobody else compla

[2021-09-17 14:29] MohammadAzimi opened #2874 "Timed out establishing connection with "APPLICATION_NAME" on "Android SDK built for x86 - 10 - API 29". Verify that your client is connected to Flipper and that there is no error related to idb. undefined"
## 🐛 Bug Report
**Timed out establishing connection with "lunaapp" on "Android SDK built for x86 - 10 - API 29". Verify that your client is connected to Flipper and that there is no error related to idb. undefined**

I'm getting this error when I'm trying to connect the android version of my application to Flipper. I've tried flipper 104 and updated it to 109 but no difference.
I also tried anothe

[2021-09-17 14:31] imort commented on #2874
Same issue on Mac OS Client 0.109

[2021-09-17 15:24] mweststrate commented on #2874
A fix is on the way, should be fixed in 110 which should be public in ~2 hours or so, note that the SDK needs to be updated for that: https://fbflipper.com/docs/getting-started/react-native#using-the-latest-flipper-sdk

[2021-09-17 16:02] mweststrate commented on #2871
Something did recently change here, so it could have been introduced by D30541778 / https://github.com/facebook/flipper/commit/89d7e17c260220e4ac96e03583388af8d652e6b6

[2021-09-17 16:07] dejolt commented on #2871
I think you're right, because it's exactly what's happening. The fix you mentioned, specifies that the destination file name is omitted (app.csr) and it's exactly what I was adding to fix the problem.

[2021-09-17 16:12] mweststrate commented on #2871
@passy would you mind taking a closer look at this in time?

[2021-09-17 16:12] kidroca commented on #2873
From the diff I see `duration` was set to `10` even before, but the notification never went away

[2021-09-17 16:27] passy commented on #2871
Thanks for the detailed notes! That seems like a pretty clear cut bug. I'll take a look next week.

[2021-09-17 19:18] mweststrate commented on #2873
Fix has been released as Flipper 0.110

[2021-09-17 19:18] #2873 closed

[2021-09-17 19:24] mweststrate commented on #2874
We're having some problem getting the build artifacts published. Something Murphy and Fridays. So, it's fixed, but not yet available. Might become Monday

[2021-09-18 07:29] iansamz commented on #1321
I changed to my mobile hotspot for the download.

[2021-09-20 07:10] fattomhk opened #2876 "Question: Cannot get the latest version from mavenCentral"
Seems the latest one on mavenCentral is 0.105.0 which is not aligning with the release note(0.110.0).

![image](https://user-images.githubusercontent.com/1083049/133966972-0f1a77a4-67a2-4d50-9b40-8ab07b89ef4d.png)

https://search.maven.org/artifact/com.facebook.flipper/flipper

[2021-09-20 07:55] chetstone opened #2877 "Question: Where to find the Expression Watcher?"
I noticed in the docs that the Logs plugin is supposed to have an expression watcher. That's just what I need, but I can't find it!! The screenshot shows it in the right sidebar, but I don't have a right sidebar. In the left sidebar there are icons to toggle the left and right sidebar, but the right sidebar toggle doesn't do anything.

Flipper Desktop Macos v. 0.110.0, react-native, using android

[2021-09-20 08:32] mweststrate commented on #2871
@passy seems there is some more background linked here: D27590885.

[2021-09-20 09:00] mweststrate commented on #2876
We are currently looking into it. Between 105 and 109 nothing really changed, but 110 has a critical bug fix, so we'll try to land asap.

[2021-09-20 09:23] #2710 closed

[2021-09-20 10:40] mweststrate commented on #2877
Hi! The screenshot is currently outdated, and the feature hasn't been restored when we rewrote the plugin a while ago. We noticed that the feature was only used a few times per year (internally) and figured that filtering / per column filters largely fill the same need.

[2021-09-20 10:52] jonkun commented on #2874
Same issue on Mac OS Client 0.110.0

[2021-09-20 16:00] chetstone commented on #2877
Thanks for the reply. Is there another way to generate a notification when an expression is matched? When I click on the Notification button on the left it brings up a search bar and a settings button. The search bar doesn't seem to search anything and the settings button brings up a pane that says "no blocklisted plugins" and "no blocklisted categories". What does "blocklisted" mean and how do yo

[2021-09-20 17:59] mweststrate commented on #2876
We clogged the build pipeline and the artifact should now be available!

[2021-09-20 17:59] #2876 closed

[2021-09-20 18:00] mweststrate commented on #2874
`0.110.0` artefacts for Android are now published as well. Please upgrade with above instructions to fix the timeout issues.

[2021-09-20 18:00] #2874 closed

[2021-09-20 18:51] sauravk6 opened #2893 "Flipper Hermes Debugger doesn't connect on custom metro port"
## 🐛 Bug Report
I am trying to connect flipper with a metro server running on 8085. I am able to see the react-native logs and the react devtools but when I open Hermes debugger it shows me "Metro is connected but no Hermes apps were found". This however works completely fine if I am using default metro port (8081)

## To Reproduce
1. Enable hermes in a react native project
2. npx react-native sta

[2021-09-20 20:38] kidroca opened #2894 "High CPU/Battery usage"
## 🐛 Bug Report

My laptop was running hot. I went to check battery usage, and found Flipper high battery usage:
<img width="743" alt="Screenshot 2021-09-20 at 21 05 39" src="https://user-images.githubusercontent.com/12156624/134070533-0f800e51-9dc5-42e3-bddd-639a4701f21e.png">
I've quit `Flipper` just before making the screenshot
I haven't noticed this happening before, though I was primarily usi

[2021-09-21 07:53] mweststrate commented on #2893
Are the targets listed if you manually go to `http://localhost:8085/json` ?

On Mon, Sep 20, 2021 at 7:51 PM sauravk6 ***@***.***> wrote:

[2021-09-21 07:57] mweststrate commented on #2894
You might want to check this comment: https://github.com/facebook/flipper/issues/2173#issuecomment-833445728.

Note that there is still an open Electron bug on M1, that causes really high CPU usage on process spawning, which we really can't do much about at the moment: https://github.com/electron/electron/issues/26143

[2021-09-21 07:58] mweststrate commented on #2877
No there is currently no replacement for that functionality.

[2021-09-21 08:14] sauravk6 commented on #2893
I get empty array in 8085, but if i run in default port I get targeted lists (http://localhost:8081/json)

[2021-09-21 08:29] mweststrate commented on #2893
Ok, that sounds like an issue with either Hermes or Metro itself. Would you mind reporting this in the react-native project instead (and linking it here for future readers)?

[2021-09-21 09:21] imort commented on #2874
Tried `0.110.0`
[code]
For a split second Mac client was connected to android application

[2021-09-21 09:45] mweststrate commented on #2874
@imort please report new issues as new issues.

[2021-09-21 12:48] sramezani opened #2896 "Xcode 13 - developer tools"
## 🐛 Bug Report
I tried to work with Flipper V 0.110.0 and Xcode V 13, but when I opened the Flipper I faced with this box:

<img width="456" alt="Screenshot 2021-09-21 at 15 45 05" src="https://user-images.githubusercontent.com/33284430/134172747-ca0d7923-adce-4084-a24f-5387901ed701.png">

I tried to install multiple times, removed Flipper and installed again, downloaded developer tools directly

[2021-09-21 14:01] carloscrovara commented on #2896
Same issue. Any solutions?

[2021-09-22 09:04] samuel29k commented on #2896
I've done some investigation and  this seems to be caused by the new command line tools not registering correctly in the path / or not getting installed properly.

Could this be related to the path where the Xcode command line tools are installed?

It seems like running `xcode-select -p`  in a terminal yields `/Applications/Xcode.app/Contents/Developer` after installing Xcode 13.0.

However, befor

[2021-09-22 12:27] masztalski opened #2897 "Flipper connection issue"
Hello,
I'm trying to integrate Flipper in my app. I have followed guides, however it looks like I have issue with certificate:
![image](https://user-images.githubusercontent.com/11578875/134342722-f3ffca97-e15e-4c3d-8154-9487382f622f.png)

Logs on starting app:
`I/AndroidApplication: Enabling flipper
D/SoLoader: About to load: libfbjni.so
D/SoLoader: libfbjni.so found on /data/data/courierplatform

[2021-09-22 13:05] lockieluke opened #2898 "Failed to compile Flipper Desktop for M1"
## 🐛 Bug Report

I tried to build Flipper Desktop for M1(arm64) but it failed.

[code]

## To Reproduce

Run `yarn build --mac`

## Environment

M1 MacBook Air - building Flipper Desktop

[2021-09-22 20:05] Efigenio-fidelis commented on #2870
Yes, I'm running a recent version, and there's no errors shown in the metro logs

[2021-09-22 20:21] mweststrate commented on #2870
If you run the ReactNativeFlipperExample from our repo, does the same thing happen?

[2021-09-22 20:22] mweststrate commented on #2870
And, can you list the output of `http://localhost:8081/json`?

[2021-09-22 21:06] pierosifuentesp commented on #1431
Same here, would be nice to have SPM support

[2021-09-22 22:06] douglaskazumi opened #2901 "Mock button disappears when flipper reconnects to my app after redeploying."
## 🐛 Bug Report

Mock button disappears when Flipper reconnects to my app after redeploying.

1 - connected to app, mock button present
<img src="https://user-images.githubusercontent.com/3413490/134428209-0337c67c-f847-4df1-bd4c-e8423f4335f4.png" width=800px />

2 - disconnected from app, mock button present
<img src="https://user-images.githubusercontent.com/3413490/134428200-85de3ce0-82d1-49fd-

[2021-09-23 08:17] gabrielmoncea commented on #2894
Would rewriting the desktop application in react-native make it more efficient?

[2021-09-23 09:51] lblasa commented on #2789
@jschear, @vganin we believe to have fixed the issue. Please check the latest release [v0.111.0](https://github.com/facebook/flipper/releases/tag/v0.111.0)

[2021-09-23 10:53] vganin commented on #2789
@lblasa it worked for me, thanks!

[2021-09-23 10:57] mweststrate commented on #2789
Sorry I forgot to update the issue! The issue has been resolved in version 0.110 (and higher) and requires updating the native iOS / Android SDK per instructions here: https://fbflipper.com/docs/getting-started/react-native#using-the-latest-flipper-sdk

[2021-09-23 10:57] #2789 closed

[2021-09-23 11:18] passy commented on #2898
From googling, this seems to be an issue with `app-builder-lib`. We're currently not on the latest version (I believe due to us also being behind on Electron). Could you check if upgrading `app-builder-lib` or `electron-builder` makes any difference?

[2021-09-23 12:10] lockieluke commented on #2898
[code]

It just builds it as an .app bundle instead of a zip because of the error above

[2021-09-23 12:18] lockieluke commented on #2898
[Flipper for Apple Silicon](https://gofile.io/d/sicmC0)
[Direct Download Link](https://store1.gofile.io/download/51a77be3-7915-4b6d-839c-ac8b4fbc7e58/Flipper.zip) (Host: Gofile)

I built Flipper for arm64 without any modification except upgrading the libraries to make the build work.  When I run it, it says:

![image](https://user-images.githubusercontent.com/25424409/134505088-7dd216b1-fce8-44e7-

[2021-09-23 15:02] mweststrate commented on #2898
Fwiw I get that error sometimes in the console and it always goes away
after running yarn another time in desktop folder.

On Thu, 23 Sep 2021, 13:18 lockieluke, ***@***.***> wrote:

[2021-09-23 16:19] webdevbyjoss commented on #2896
So it looks like it should be as simple as replacing the `instruments -s devices` call with `xcrun xctrace list devices`, right?
And maybe tweak the output processing a bit to skip the unnecessary headers.

[2021-09-23 16:40] webdevbyjoss commented on #2896
Yup, it works with that change!
![Screenshot 2021-09-23 at 19 35 51](https://user-images.githubusercontent.com/402001/134548689-26bb477c-3668-48f1-a7fb-396287daabed.png)

[2021-09-24 00:15] gwmccull commented on #2477
For the sake of posterity...I had the same issue on the release version of Xcode 13 and the `Void.swift` solution that @peterkuiper linked to fixed it

[2021-09-26 15:50] digitalapplebee opened #2905 "Permanent message about installing software (The "instruments" command requires the command line developer tools.)"
## 🐛 Bug Report
When flipper is running, I constantly see this message, after click installation, installation is in progress
<img width="573" alt="After install" src="https://user-images.githubusercontent.com/16328819/134814916-f9394d4b-1847-4a8a-a672-3ebdcde3c97d.png">

<img width="610" alt="progress" src="https://user-images.githubusercontent.com/16328819/134814406-0ec82814-2de2-4250-b558-d9514

[2021-09-26 18:49] BryanCrow commented on #2905
This is caused by Apple deprecating the `instruments` command-line tool in Xcode 13. Apple [recommends](https://developer.apple.com/documentation/xcode-release-notes/xcode-13-release-notes) using `xctrace` instead.

[2021-09-26 18:52] BryanCrow commented on #2905
Looks like this is a duplicate of #2896 where a fix has already been suggested.

[2021-09-26 22:10] digitalapplebee commented on #2905
@BryanCrow Well. Thanks

[2021-09-26 22:10] #2905 closed

[2021-09-27 03:14] hildasxd commented on #2636
same issue.

[2021-09-27 04:53] oleksandrsarapulovfoodpanda opened #2906 "Android SDK is not recognized on Ubuntu. Looking in wrong path. While setup doctor recognize SDK."
## 🐛 Bug Report

## To Reproduce

## Environment

[2021-09-27 09:44] lcruz09 commented on #2600
Same issue here:

iOS: 14.7.1
XCode: 12.5.1
macOS: 11.5.2 (2,6 GHz 6-Core Intel Core i7)
flipperkit: 0.108.0

[2021-09-27 12:08] VytautasLozickas commented on #2896
A quick and dirty fix while we wait for the new Flipper release - add this to your `~/.bashrc` or `~/.zshrc`:
`alias -g "instruments"="xcrun xctrace list devices #"`

[2021-09-27 16:05] mikehardy commented on #2600
I don't see any reproducible example here, so all I can say is "it works for me", so who's right? Is it working or is it not?
I can tell you that it works for me starting from `npx react-native init --version 0.66.0-rc.4` so in my mind it is fixed *in general* but perhaps there is a corner case we are missing?

An example would cut through all confusion: https://stackoverflow.com/help/minimal-repr

[2021-09-27 16:07] mikehardy commented on #2600
Ah wait just saw this: fixed and already picked for 0.66, and likely after 0.65.1 so my testing sees it as already fixed: https://github.com/facebook/react-native/commit/b0c8a4eee821ca0b22e166a2a38f2bd2f22a1abe

[2021-09-28 15:46] yifeifiona commented on #2213
Same on Samsung Galaxy S9+

[2021-09-28 20:55] PathToLife commented on #1058
If you're looking for the icon for the manual install desktop entry. Here it is, just put it manually in the required directory.

![icon](https://user-images.githubusercontent.com/12622625/135164246-f7ab24d1-dc1c-4cdf-bfca-2563c8b7327f.png)

[2021-09-29 11:05] ankur-malviya commented on #2367
How was it fixed ? I am having same issue

[2021-09-29 11:18] mweststrate commented on #2367
Maven pipeline was unblocked and artificats are available now: https://mvnrepository.com/artifact/com.facebook.flipper/flipper. For any new issues please open a new issue :)

[2021-09-29 15:12] atommarvel opened #2922 "'yarn build' fails at genMercurialRevision when hg is missing on the build machine"
## 🐛 Bug Report
My goal was to build a flipper app with custom plugins bundled in the app so that less technical team members can utilize flipper more easily.

In `desktop/scripts/build-release.ts`, if I replace `const hgRevision = await genMercurialRevision();` with `const hgRevision = null;` everything works fine. Seems like `genMercurialRevision` isn't failing gracefully as intended when `hg` i

[2021-09-30 04:45] swrobel opened #2923 "React DevTools don't apply dark theme"
## 🐛 Bug Report
Hermes Debugger applies the dark theme correctly, so I assume this is possible for the React DevTools

<img width="1502" alt="Screen Shot 2021-09-29 at 9 44 59 PM" src="https://user-images.githubusercontent.com/157270/135388856-bb7a8e9f-b321-4997-a25f-dd07e6a6427a.png">
<img width="1149" alt="Screen Shot 2021-09-29 at 9 44 51 PM" src="https://user-images.githubusercontent.com/15727

[2021-09-30 05:01] huy-le opened #2924 "Flipper causes ADB cannot connect to debug on device"
## 🐛 Bug Report

Flipper conflict with the ADB on local and real device. After using Flipper with real device, Android Studio cannot debug anymore. Although it could install & launch the app. But the app cannot connect with debugger.

I guess there is some conflict and Flipper code did override the port for debugger without able to roll it back.

## Environment

Device: Pixel 4
Android OS: 11, 12

[2021-09-30 13:41] kodak commented on #1756
Submitted fix in #2925

[2021-10-01 00:37] huy-le commented on #2924
<img width="243" alt="Screen Shot 2021-10-01 at 10 13 02 am" src="https://user-images.githubusercontent.com/3965573/135548396-c340fcff-246f-4294-9793-c23ef5829f8a.png">

What I found is that these reverse port conflict with the debugger of Android Studio. And they never remove when I close the Flipper.

[2021-10-01 00:53] sauravk6 commented on #2893
React Native Issue Link: https://github.com/facebook/react-native/issues/32307

[2021-10-01 00:53] #2893 closed

[2021-10-01 01:08] marcshilling commented on #2167
I get reports about this crash from my production app. Far and away my most frequent crash report...but as far as I can tell it's happening when the app is in the background...

[2021-10-01 02:37] yinshurman commented on #2906
same for macOS Catalina 10.15.7 ,flipper 0.112.0

[2021-10-01 13:05] kshdreams commented on #2906
I have same issue with Flipper version 0.112.0
my Ubuntu version is like below

Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

[2021-10-01 15:58] #1756 closed

[2021-10-01 16:41] github-actions[bot] opened #2930 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1295787894

[2021-10-02 02:05] joeljerushan commented on #2367
Can anyone tell how to fix this issue or downgrade flipper to compatible version ?

[2021-10-02 09:31] podocodenick commented on #158
Any solution?

[2021-10-03 09:09] diego-paired opened #2931 "React Native 66 - Folly Duplicate Symbol compilation error on iOS"
I am trying to compile my React Native app for iOS after upgrading to RN 0.66 and getting compilation errors originating in Folly:

[code]

I have tried multiple versions of Flipper:
[code]
The config that worked for RN 0.65:
[code]
and the default configuration which uses Flipper 0.99.

My system info:
[code]
From Podfile.lock:
`RCT-Folly (2021.06.28.00-v2)`
[code]

Other:
Targetting iOS `12.3`
`

[2021-10-04 03:03] stazrad commented on #2107
This solved this for me:
1. go to xcode
2. build phases ->Link binary with libraries -> add openssl.xcframework
3. rebuild project

Good luck 🤞

[2021-10-04 03:05] stazrad commented on #2281
I couldn't use this: `use_flipper!({ 'Flipper-Folly' => '2.6.7', 'Flipper-RSocket' => '1.4.3' , 'Flipper' => '0.88.0' })`

but I did go to the individual dependencies in `add_flipper_pods!` and updated the dependencies to the above^

[2021-10-04 06:40] sramezani commented on #2896
Issue fixed on version 0.113.0

[2021-10-04 06:40] #2896 closed

[2021-10-04 08:36] mweststrate commented on #2367
https://fbflipper.com/docs/getting-started/react-native#using-the-latest-flipper-sdk

[2021-10-04 09:09] ankur-malviya commented on #2367
Earlier `FLIPPER_VERSION` was `0.37.0 `but it couldn't be found on this repo -
https://repo.maven.apache.org/maven2/com/facebook/flipper/flipper/

So I changed my `FLIPPER_VERSION` to `0.93.0` and its working now.
`FLIPPER_VERSION` can be changed from `android/gradle.properties`

[2021-10-04 18:21] Parth-9711 commented on #2367
Can anyone update ?

[2021-10-04 18:25] stmiller-shamrock opened #2945 "Question: Is fbflipper.com going be be back up soon?"
I wrote an article that will be published soon and link to a few places on the fbflipper.com documentation site. But today it is not loading. Is this going to be fixed? Just want to know so I know whether to leave those links in or rewrite around them.

[2021-10-04 18:51] mweststrate commented on #2945
No ETA yet (afaik), when facebook.com is up probably😅. There seem to be
DNS issues.

On Mon, 4 Oct 2021, 19:25 Stephan Miller, ***@***.***> wrote:

[2021-10-04 20:34] stmiller-shamrock commented on #2945
Didn't realize facebook.com was down. Thanks for the update!

[2021-10-05 09:37] jknoxville commented on #2945
Site is now back up. Closing this issue.

[2021-10-05 09:37] #2945 closed

[2021-10-05 10:08] #2930 closed

[2021-10-05 10:12] invm commented on #2765
Trying to run the example repo produces the following:
![Screen Shot 2021-10-05 at 13 11 34](https://user-images.githubusercontent.com/52990657/136004119-5c99543c-c1df-440d-b595-4398d86fff77.png)

How to proceed? facing the same issue only on physical device.

[2021-10-05 10:51] mweststrate commented on #2765
Feel free to remove the `relative-deps` command from the `prepare` script in package.json as work around.

[2021-10-05 12:17] TheFe91 commented on #2931
Same problem here

[2021-10-05 14:31] storm2513 commented on #2931
+1

[2021-10-05 22:58] hollysun09 opened #2946 "Question: "No device found" after upgrading to v0.113.0"
After upgrading to 0.113.0, flipper can't find Android device.

Failed to initialise ADB. Please disabled Android supportin settings, or configure a correct path Error: spawn /opt/android_sdk/platform-tools/adb ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)

    at onErrorNT (internal/child_process.js:469:16)

    at processTicksAndRejections (internal/process

[2021-10-05 22:59] #2946 closed

[2021-10-05 23:01] hollysun09 opened #2947 ""No Devices found" after upgrading to 0.113.0"
## 🐛 Bug Report
Failed to initialise ADB. Please disabled Android supportin settings, or configure a correct path Error: spawn /opt/android_sdk/platform-tools/adb ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)

    at onErrorNT (internal/child_process.js:469:16)

    at processTicksAndRejections (internal/process/task_queues.js:84:21)

## To Reproduce
Upgrade

[2021-10-05 23:09] hollysun09 commented on #2947
Solved by updating SDK location.

[2021-10-05 23:09] #2947 closed

[2021-10-06 03:08] rock-tran commented on #2924
@huy-le Are you sure that you configure Flipper to use the ADB as same as what Android Studio use ?

[2021-10-06 06:21] dejolt commented on #2871
Yeah so all you got to do is append **/app.csr** to the end of the command in the file **iOSContainerUtility.tsx** on line **203** (just like I pointed out in the image in the bug report). You can find the file by downloading the source code of Flipper 0.113.0, unzip, then the path of the file is desktop/app/src/server/devices/iOS/iOSContainerUtility.tsx. And then you build from source. Hope it he

[2021-10-06 07:05] storm2513 commented on #2931
Same issue for 0.65.1. But it's fixed there if I add `use_flipper!('Flipper-DoubleConversion' => '1.1.7')`

[2021-10-06 09:33] rock-tran opened #2948 "[Android] Flipper let app crash on startup"
## 🐛 Bug Report
  After refresh install app which use Flipper, app can run successfully.
  Then using app around, kill and re-open few times, the app can't start again.
  The log like this
[code]
If I clear app data, app can re-run successfully.

## To Reproduce
Just setup Android App using Flipper

## Environment
Android 10
Flipper Desktop : 0.113.0
Flipper Plugin on Android : 0.113.0
Desktop OS

[2021-10-06 17:47] github-actions[bot] opened #2951 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1312958936

[2021-10-06 19:04] rahulsolanki1818 commented on #2931
@TheFe91 How did you solve it?

I tried to comment out `use_flipper!()` & it worked. But without commenting it doesn't work for me.

[2021-10-07 09:15] rahulsolanki1818 commented on #2931
I have tried this already. Not working for me.

[2021-10-07 15:36] mbeltrame opened #2953 "Bad format response body"
## 🐛 Bug Report
The response body container does not have enough space to display the entire GET response if it is too long

## To Reproduce
You can reproduce the issue with any large GET (I am testing with a response that is ~16000 lines long)

## Environment
Flipper Desktop version - Mac OS Catalina (10.15.7)

[2021-10-08 00:56] flyingbearmt opened #2954 "Device is connected but show no application selected"
## 🐛 Bug Report
I am trying to add Flipper to my personal project, and flipper is not working as I am supposed to. I tried to connect flipper to my phone and emulator , but none of them can choose an application to debug at. I can tell the phone is connected.
also sharedPreferenced plugin and layout plugin is not working as well.

## To Reproduce

## Environmen
Emulator: API28
 device: Android 9
F

[2021-10-08 01:28] flyingbearmt commented on #2954
Still no luck even after I installed Watchman

[2021-10-08 01:47] mweststrate commented on #2954
The problem seems to be that the device is marked offline nu adb. Can you
double check that developer mode is turned on in the phone's settings? And
if so, check the two stack overflow solutions mentioned in the logs?

On Fri, 8 Oct 2021, 02:29 Tong Miao, ***@***.***> wrote:

[2021-10-08 02:00] flyingbearmt commented on #2954
Confirmed Developer option is on, USB debugging is on. also, didn't see any StackOverflow solution mentioned in the logs, would you like to provide more specific URL here? Thanks for you time.

[2021-10-08 04:36] yisar opened #2955 "Discussion: node debugger demo"
Is there a demo for debugging node? I wanted to use it to debug node, but I didn't seem to find any helpful code

[2021-10-08 12:00] github-actions[bot] opened #2957 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1320146381

[2021-10-08 12:24] passy commented on #2955
Could you please follow the issue templates and explain more thoroughly what you're trying to achieve? In general, we do not support connecting to node applications.

[2021-10-08 12:24] #2955 closed, assigned to nobody

[2021-10-08 17:12] flyingbearmt commented on #2954
here is the log of info level and above:
![image](https://user-images.githubusercontent.com/29056443/136596412-6a7dd3f4-2972-4ae1-9037-5a4a31470f13.png)

let me know if there is anywhere I can export logfile other than just have a screenshot?

and I didn't work it on RN, I add it on a purely Android project.
flipper version I add to gradle: 0.112.0

[2021-10-08 22:03] #2954 closed, assigned to nobody

[2021-10-09 02:02] yishuiliunian opened #2958 "iOS Demo can not be linked with an iPhone device"
## 🐛 Bug Report

iOS Demo can not be linked.

![image](https://user-images.githubusercontent.com/846525/136639995-71b81675-4b8d-4f3f-9ff8-1248832ac75c.png)

## To Reproduce

follow the started guide

* git clone the repo
* run the ios demo with an iPhone device.

## Environment

Device:
* iPhone:  iPhone 8
* OS Version: 14.3

Mac:
* MacOS: 11.4

[2021-10-09 22:13] VictorIreri opened #2959 "Question: How do I upgrade Flipper on Windows?"
The [Getting Started](https://fbflipper.com/docs/getting-started/index/) page in the docs states

However, there is no guidance for Windows users with regards to upgrading.
So is there a consensus on how to upgrade Flipper on Windows?

[2021-10-10 03:07] mkashik commented on #2948
Guuuyyy

[2021-10-10 08:07] lucasbento opened #2960 "Discussion: add option to clear logs/data after reload"
I usually don't want to keep the same logs after I reload the application so it would be nice to have an option in preferences to clear those as soon as the app reloads.

[2021-10-10 20:49] whhotw commented on #2931
I have deleted `podfile.lock` and `pod install`

[2021-10-11 02:58] rock-tran commented on #2948
Right now, I can't reproduce this bug with small project, on another phone.
I also can't share the code of project in company.
Sorry for bother you.
I will re-open it if I could make this happen again with another small project.

[2021-10-11 03:08] rock-tran commented on #2948
[code]

[2021-10-11 09:43] umang-simform commented on #2931
Seems similar to this : https://github.com/facebook/react-native/issues/32333#issuecomment-939799341

[2021-10-11 15:18] BuiHung1612 commented on #1440
thanks , that's exactly what i encountered <33

[2021-10-12 12:39] mbeltrame commented on #2953
Mmm I'm not sure. Increasing the container line limit?
Maybe you could open a new window with the whole response or send it directly to the browser.

I attach an image so that you understand what is the issue that I'm having.

<img width="603"  src="https://user-images.githubusercontent.com/50347759/136956919-ac670878-c427-49bc-9598-bde9d23540a6.png">

[2021-10-12 14:29] passy commented on #2953
I see. I don't know if we even load more data into Flipper, as in, I'm not sure if we cut this off in the sidebar or if we only read up to a certain limit from the buffer to not OOM. There are a few trade-offs we need to make because if we were to indefinitely hold on to all network data that we see, streaming video would be a sure-fire way of crashing Flipper at some point.

That said, I agree it

[2021-10-12 15:31] smithc42 opened #2973 "ADB path issue after updating to 0.114.1"
## 🐛 Bug Report
I'm getting the below error when opening Flipper:

[code]

Connected devices are not appearing so I'm getting the "NO DEVICES FOUND" error message.

## To Reproduce
1. File -> Preferences and manually enter the ADB path:

![2021-10-12_16-27-31](https://user-images.githubusercontent.com/2798223/136985136-921f39c7-83d8-4eb2-ab25-c50904b79abc.jpg)

2. Restart Flipper

Note: Selecting

[2021-10-12 15:42] #2973 closed, assigned to nobody

[2021-10-12 20:00] Alok-Sharma opened #2974 "Feature Request: Modify network request"
Love Flipper, and have been using the 'mock' response feature for a while. However, it would be great if we could modify the request _before_ it's made. For example, sometimes I need to modify the request headers before the call is made. Currently, I see no way of doing this.

[2021-10-13 10:42] passy commented on #2948
The versions of Flipper have no impact on the way we connect to the device. We use the same tools (adb) and messaging systems (RSocket).

The app comes with a lot of additional dependencies and I haven't checked if anything else is operating in the native space but I could imagine there's some sort of clash with another C++ library.

[2021-10-13 23:07] sohayb commented on #606
Apparently this is closed but when I did the exact same thing with the suggested solution I had a different error:
[code]
This in `RCT-Folly` target, `FmtCompile.h`. I wonder if anyone had the same issue. React native version `0.65.1`

[code]

[2021-10-14 10:21] thepirateboy commented on #2477
Had this problem with React-Native 0.66.0 + Xcode 13 before, gave me headache, the only way to solve mine was that void.swift solution and update the command line tool of Xcode.

[2021-10-14 15:54] commonsguy commented on #2906
I get the same results with 0.114.1 on Ubuntu. In Flipper settings, it is pointing to the correct directory. Note, though, that this directory is read-only.

[2021-10-14 18:15] raphaelgodro commented on #2107
I have the same issue. Why is this closed ? I don't see any solution provided.

[2021-10-15 11:20] syanbo opened #2976 "React Native 66 - iOS - Flipper-Folly - Crash"
## 🐛 Bug Report
![image](https://user-images.githubusercontent.com/15920612/137478487-bf291aab-edaa-4255-a755-da3aa736cafe.png)

## To Reproduce
run

## Environment
maxOS Big Sur (11.6)
Xcode (13.0)
React-Native (0.66.0)
Flipper (0.99.0)
Flipper-Folly (2.6.7)
OpenSSL-Universal (= 1.1.180)

[2021-10-17 17:44] rahulsolanki1818 commented on #2931
@beetlebum Thanks this is the perfect solution. I was able to upgrade from React Native 0.61.0 to 0.66.0.

[2021-10-17 18:21] #2931 closed

[2021-10-19 13:18] passy commented on #2871
Apologies for the delays on this. It's been a few busy weeks. Sadly this week doesn't look much better but if nobody else has a chance to look into this, I should be able to pick this up early next week.

[2021-10-20 12:07] tomasmozeris commented on #2871
Thanks, had same issue, none of newer versions worked on real iOS device, but downgrading to `0.104.0` works

[2021-10-20 20:44] usman643 opened #2992 "Question: Can i integrate Flipper Network and Layout plugins in Swift5"
I have a project in swift 5 and i got requirement to integrate flipper for easy debugging. I'm adding pods in pods file and getting issues after run project

i have seen one comment in IOS tutorials on your git repo "# Layout and network plugins are not yet supported for swift projects" [link](https://github.com/facebook/flipper/blob/main/iOS/Tutorial/Podfile)

Is that true? if No please guide me

[2021-10-22 21:03] WangHansen opened #2993 "Failed to exchange certificate with IOS device"
## 🐛 Bug Report
Cannot connect to Physical device because of `Failed to exchange certificate`
And flipper keeps popping up windows asking for permission to connect `idb_companion` to network

## To Reproduce
Install latest flipper, build the app from XCode and try to open flipper

## Environment
IOS: 14.7.1
Flipper: 0.116
Mac: Big Sur 11.6

Detailed error log: https://getshuffleapp.notion.site/Fli

[2021-10-23 14:03] Nirajn2311 opened #2994 "Discussion: Support for Flutter apps"
It would be great if Flipper could support Flutter apps also. Currently I came across the package `flutter_flipperkit` which helps in connecting a flutter app with Flipper but it doesn't have all the plugins which Flipper offers. It would be a huge help if Flipper itself gave support for Flutter so that we can make full use of what Flipper offers.

[2021-10-25 18:27] himanshuParashar0101 opened #3005 "Docs:Comments"
your work is amazing

[2021-10-25 18:27] himanshuParashar0101 opened #3006 "Docs:Comments"
tha bugs that i try to  find is not here

[2021-10-25 18:29] himanshuParashar0101 opened #3007 "Docs:Comments"
i really appreciate your work .

[2021-10-25 19:22] #3005 closed, assigned to nobody

[2021-10-25 19:22] #3006 closed, assigned to nobody

[2021-10-25 19:22] #3007 closed, assigned to nobody

[2021-10-28 12:16] hannojg opened #3009 "Failed to connect to physical ios device as it fails to pull certs from app"
## 🐛 Bug Report

I can't connect to my physical iOS device as some idb operations fail.
The operation is this one:

[code]

The error I get is this one (see below for full stack trace):

[code]

The thing I found out is that `tmp-63878-J4Ol6IPicmle` is a **directory**. Running this command manually also fails with the same error. When instead running the command like this (specifying a file name a

[2021-10-28 15:22] #2993 closed, assigned to nobody

[2021-10-29 06:41] kamal-j opened #3010 "UI glitch"
## 🐛 Bug Report

## Environment
Flipper Desktop version : 0.117.0
<img width="1792" alt="Screenshot 2021-10-29 at 12 09 22 PM" src="https://user-images.githubusercontent.com/41279891/139387836-fc9bcba9-11d2-4093-b765-11d4f0e7c2eb.png">

[2021-10-29 08:20] plwai opened #3011 "Question: Semantic Colors Dark Theme Support"
Currently, semantic colors in theme do not support dark theme which causing flipper-plugin `DataInspector` component `diff` content content barely readable. Is there any plan to support the theme color for dark mode?

![image](https://user-images.githubusercontent.com/9108726/139400170-ca6d8378-7f85-4b31-8701-2e8a3e58712f.png)

#https://github.com/jk-gan/redux-flipper/issues/57
#https://github.com

[2021-10-29 18:50] mweststrate commented on #3010
This is a common Chrome+MacOS bug, restarting your computer fixes it.

On Fri, 29 Oct 2021, 07:41 kamal-j, ***@***.***> wrote:

[2021-10-29 19:41] tylercote commented on #3009
Same issue here.

[2021-10-29 23:10] atommarvel commented on #2922
Same boat in terms of bandwidth basically, but there's a small chance I may be able to write a fix before the end of 2021 :)

I'll post to this issue when I start. If someone else reading this wants to fix it before I post though feel free.

[2021-10-30 20:27] MrAwesomeRocks commented on #2765
I had the same issue just now, what I had to do was go to my `android/gradle.properties` and set `FLIPPER_VERSION=0.117.0`.

[2021-10-31 15:35] elliottkember commented on #2871
I also have this error. Downgrading Flipper doesn't fix it (the change is old), and I am unable to build from source on an M1 mac so I can't change iOSContainerUtility.tsx. I also can't determine my IDB version, but I had to install it under Rosetta homebrew (https://github.com/facebook/idb/issues/649)

[2021-11-01 04:46] #3010 closed

[2021-11-01 11:08] sumitbalyan commented on #606
Same for me

[2021-11-01 21:32] jamsch commented on #2213
Update for React Native users: It seems that React Native (ReactActivity) calls SoLoader as well. So you'll likely need to set the file permissions before calling `super.onCreate();`

https://github.com/facebook/react-native/blob/ce74aa4ed335d4c36ce722d47937b582045e05c4/ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java#L398-L407

[code]

[2021-11-01 21:39] aigoncharov commented on #2600
Closed by https://github.com/facebook/flipper/commit/db59652d0ef2244228db4634c0b2cf9cf55239d4
Please, upgrade to Flipper-Folly 2.6.10.

[2021-11-01 21:39] #2600 closed

[2021-11-01 21:42] aigoncharov commented on #2976
@syanbo could you provide a bit more information?
1. Could you provide a reproducer?
2. What is the error?
3. What are the steps to reproduce?
4. Could you try to upgrade to Flipper-Folly 2.6.10?

[2021-11-01 21:43] aigoncharov commented on #2958
Closed by https://github.com/facebook/flipper/commit/db59652d0ef2244228db4634c0b2cf9cf55239d4

[2021-11-01 21:43] #2958 closed

[2021-11-02 16:28] lblasa commented on #2922
This one is interesting. I ran a local test which replaced 'hg' with a known missing command and spawn failed gracefully.

The issue was reported on macOS, same as me.

[2021-11-02 17:05] julienherrero commented on #2948
Hi, I'm facing the same issue (as @ligol said, 0.105.0 is last working version)

For me, it's ok when we start my app while Flipper desktop is running, but when we close desktop app the native crash occurs:

[code]

The wiping data workaround works fine 👍

[2021-11-02 22:38] mweststrate commented on #3011
For anyone wanting to look into this: the colors are defined here, so should be var based: https://github.com/facebook/flipper/blob/main/desktop/flipper-plugin/src/ui/theme.tsx#L60-L61

[2021-11-03 09:58] jasonakon commented on #3011
I would like to look into this issue

[2021-11-03 10:02] lblasa commented on #2948
@julienherrero thanks for reporting this, I will investigate further with the provided steps.

[2021-11-03 14:44] faltakam commented on #948
Hi, I had similar issue on iOS when I was using swift AppDelegate. I needed to add flag FB_SONARKIT_ENABLED to SWIFT_ACTIVE_COMPILATION_CONDITIONS (in Build settings for debug build). Flipper was then able to connect to my application.

[2021-11-03 15:03] aigoncharov commented on #2994
@Nirajn2311 Flipper is a small team with limited capacity. We do not have plans to support Flutter as of now officially. However, we would be thrilled if someone else creates a Flutter client for Flipper!
Please, checkout our [docs on how to create a new client](https://fbflipper.com/docs/extending/new-clients/). You can use our [JS client](https://github.com/facebook/flipper/blob/main/js/js-flipp

[2021-11-03 15:12] aigoncharov commented on #3009
Fixed in https://github.com/facebook/flipper/commit/9975aa9319e69317bec986f290572ca4e1ca2657
Should be included into the next release

[2021-11-03 15:12] #3009 closed

[2021-11-03 15:13] aigoncharov commented on #2871
Fixed in https://github.com/facebook/flipper/commit/9975aa9319e69317bec986f290572ca4e1ca2657
Should be included into the next release

[2021-11-03 15:15] mweststrate commented on #3011
@jasonakon that'd be greatly appreciated!

[2021-11-03 21:26] luis-antonio-ac commented on #2906
Any update?

[2021-11-03 22:28] ManuViola77 commented on #552
I came here to comment on that issue that disabling the dark mode didn't work, but with tapping only apply and not apply and restart worked great, thanks!

Also actually came to say that navigation plugin with dark mode had invisible things, but is already reported so all good, will use white mode til that is fixed.

Love flipper, thanks!

[2021-11-04 02:31] justinairbase commented on #975
@TimBroddin Can you please link the issue you filed against `react-native-flipper` here?
I'm facing this same issue after trying to use `react-native-flipper`.

[2021-11-04 10:09] longseespace opened #3023 "`js-flipper@0.117.0` contains no codes at all"
## 🐛 Bug Report
Install latest `js-flipper`. The installed package (v0.117.0) does not contain any meaningful js codes at all

## To Reproduce
`yarn add js-flipper`

Cannot import the package as no codes to be found

## Environment
Installed on macOS 11.5, yarn 1.22, node 16.3

[2021-11-04 11:19] lblasa commented on #2948
I'm able to reproduce this locally. Not entirely sure what the problem is at the moment, but will continue to investigate.

[2021-11-04 13:15] pikzen commented on #1736
Bringing this back from the dead, because I still have the problem. Flipper 0.114.

[code]

Although I am currently using an additional layer on top of the regular ViewDescriptor to get some dp values and others, this issue also appears with the regular ViewDescriptor. Device is a OnePlus, with Android 11. As far as I can see, `mThemeImpl` does have an `mKey` field:

`private final Resources.Theme

[2021-11-04 19:20] passy commented on #3023
Confirmed for 0.118.0, too. 0.116 seems to be the last one that still worked: https://bundle.run/js-flipper@0.116.0

@mweststrate Could this have something to do with the recent code reorg?

[2021-11-04 19:59] bizzguy opened #3026 "Exiting Flipper causes app to crash"
## 🐛 Bug Report
After exiting Flipper the connected app will crash

## To Reproduce
- Install and start the sample app
- Start Flipper
- Do something in the app (i.e. network request)
- Exit Flipper (Electron / Quit Electron)
- Wait about 5 seconds and the app crashes

This behavior can be repeated

## Environment
Android version: 10
Flipper version: 118 (117 also had same problem)

[2021-11-04 20:22] mweststrate commented on #3023
I don't think so, this is a new package, but probably a mistake in a publish script not having build as prepare. Will investigate

[2021-11-05 09:21] mweststrate commented on #3026
Do you have the same symptoms as #2948 @bizzguy?

[2021-11-05 10:42] mweststrate commented on #2906
cc @passy iirc we normalised SDK paths recently?

[2021-11-05 11:31] realtril opened #3027 ""NO APPLICATION SELECTED" issue with Flipper"
I have managed to connect a device ( I see logs and see the tree of React Native elements), but now I have an issue with connecting the app - "NO APPLICATION SELECTED" is what I see. Any ideas to fix it?

Using react native 0.64.2/ tried 0.66.1 as well.

<img width="614" alt="Screen Shot 2021-11-05 at 1 17 48 PM" src="https://user-images.githubusercontent.com/53015418/140504076-d740378e-052b-423b-

[2021-11-05 16:15] luis-antonio-ac commented on #2906
I solve this puting the android sdk path in
`File > Preferences > Android SDK location`

![image](https://user-images.githubusercontent.com/35160032/140543091-0fc07001-3600-43c0-a648-03f4636e4985.png)

[2021-11-05 18:18] daryazata commented on #2367
Im also facing this issue with 0.99.0 version!

[2021-11-06 15:45] anastely commented on #3027
Same issue RN ~  0.66.2 + 0.64.2

![issue](https://user-images.githubusercontent.com/24620979/140615463-ae857b9f-05d6-45f3-a58d-3a47dff37cd4.png)

[2021-11-08 12:00] mweststrate commented on #2707
Will be fixed in the next release! (ETA 11/11/21). Thanks @arch10 for the PR

[2021-11-08 12:00] #2707 closed

[2021-11-08 20:30] trickeyd commented on #2367
I'm also having this with 99 having just upgraded from react native 61.5 to 66.2

[2021-11-08 21:12] trickeyd commented on #2367
Tried 118.1, 110, 98, 100, 101 as well a 93 mentioned above as working. 🤷

What was it Einstein didn't say again?
"The definition of insanity is doing the same thing over and over again and expecting a different result"

Guess I'll look for some other solutions. If anyone above has an idea, please do let me know.

[2021-11-08 21:53] jwaldrip opened #3037 "Startup Issues on M1 Mac"
I did a fresh install of flipper on an m1 mac. I am not seeing any apps or devices show up and I have an errors saying that the server cert cannot be found.

[code]

[2021-11-08 23:09] mweststrate commented on #3037
Can you make sure you use 0.118.1 which was released last Friday?

On Mon, 8 Nov 2021, 21:53 Jason Waldrip, ***@***.***> wrote:

[2021-11-09 03:09] aroundzw commented on #2948
this sounds like a permission issue in Android 12. @ligol could you confirm if you are on Android 12?

[2021-11-09 13:23] hamzaawais96 commented on #2608
It only shows 50 rows. We can't change the page as well in the new design. Buttons are disabled which can allow us to change the page.

<img width="461" alt="Screen Shot 2021-11-09 at 6 22 22 PM" src="https://user-images.githubusercontent.com/85561593/140931662-8daa5cea-3aac-4caf-b8a3-091fd9505857.png">
e

[2021-11-09 21:03] jwaldrip commented on #3037
@mweststrate there is not a DMG download for that version yet.

[2021-11-09 22:24] MichaelGofron opened #3038 "Adding support for flipper to iOS app"
Hello,

How would I go about adding support for using flipper on an iOS app. I work on a well-known iOS app and we have added support for android but it seems when loading up flipper it doesn't recognize the application. Is there some logic I would have to add in the app or from flipper to enable support? Particularly with respect to logged events. Since we were able to add support for android I'd

[2021-11-10 09:22] mweststrate commented on #3038
The iOS setup instructions can be found here: https://fbflipper.com/docs/getting-started/ios-native

[2021-11-10 11:37] thallysfs commented on #1058
Thank you!

[2021-11-10 11:43] mweststrate commented on #3037
Oops! We'll release 0.119 today or tomorrow anyway so probably best to wait for that one. In the mean time sticking to 0.116 should work as well.

[2021-11-10 17:28] anastely commented on #3027
@mweststrate

[2021-11-10 19:52] shamilovtim opened #3040 "Pod install blocked on 0.118.1 because FlipperKitUserDefaultsPlugin never had a 0.118.1 release"
In Podfile I have:
`use_flipper!({ 'Flipper' => '0.118.1' })`

Afterwards I pod install:
`bundle exec pod install --repo-update`

I expect this is enough to compile but receive the error:
[code]

[2021-11-11 10:48] mweststrate commented on #3040
Could you retry with 0.119 in a couple of hours? (I takes a while before all artefacts are published)

[2021-11-11 15:49] mweststrate commented on #3027
Please do provide some additional information, like the logs (under exclamation mark icon). Are you using a debug build? Please compare your setup with our reference example https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample, make sure that Flipper is started as part of the debug build. Does the reference example work correctly?

[2021-11-11 15:50] mweststrate commented on #3027
Please don't ping individuals unless there is a specific reason to do so.

[2021-11-11 17:28] shoeguy commented on #3026
My debug log is different:

I/flipper: flipper: FlipperClient::onDisconnected
D/a11y: ...onDisconnect running
A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 4849 (FlipperConnecti), pid 32493 (locker.approved)

So does not appear to be the same error, but it can be fixed in the same way: reinstall app or clear app data

[2021-11-11 20:45] ColtonIdle opened #3042 "Crash on launch"
Updated from ("com.facebook.soloader:soloader:0.10.1") to ("com.facebook.soloader:soloader:0.10.3")
and from ("com.facebook.flipper:flipper:0.105.0") to ("com.facebook.flipper:flipper:0.119.0") and am met with this error on launcher.

[code]

[2021-11-11 21:16] bizzguy commented on #3026
@mweststrate

I had some more time to debug this issue and I wanted to report on the results.  This is based on using the latest SDK (0.119.0) and the corresponding version of Flipper (commit 6bf3a4ff4ce10b29d474fc357317a03329c8425f - from today)

I used the sample app (by building it from the current commit)

Here is what I found:
 
- When using Flipper, if you exit Flipper while the app is runni

[2021-11-11 21:34] bizzguy commented on #3042
I don't think the Flipper team has approved moving to soloader 0.10.3 yet.

[2021-11-11 22:58] shamilovtim commented on #3040
@mweststrate still the same issue. There doesn't seem to be a version over 0.111.0 that works correctly. Are you guys making releases of this dependency?

[code]

[2021-11-12 01:19] shamilovtim opened #3043 "CI testing should include a Release build"
I was curious how compile time errors have been making it into the rep so I checked out what CI tests and found that at least on iOS, CI builds with a Debug configuration
<img width="1780" alt="Screen Shot 2021-11-11 at 8 11 00 PM" src="https://user-images.githubusercontent.com/3495974/141391710-fe1380b0-9619-48bc-a434-ed888065c59f.png">

If you read bug reports users are complaining about Release

[2021-11-12 10:28] mweststrate commented on #3026
Thanks for the detailed report @bizzguy! We're a bit in the dark still where it is coming from, but we can reproduce it consistently as well.

[2021-11-12 11:26] passy commented on #3043
Yeah, that sounds reasonable. We've had some problems with capacity before because these builds take quite a long time and use up a good chunk of CPU, but it's worth a try.

[2021-11-12 11:28] nikoant commented on #2992
Hey @usman643, that is still true.

[2021-11-12 11:28] #2992 closed

[2021-11-12 11:29] nikoant commented on #2974
We are happily accepting PRs on that!

[2021-11-12 11:31] nikoant commented on #2923
@swrobel, we don't have capacity to work on that, but happy to accept PRs. Are both OS and Flipper theme dark on your machine?

[2021-11-12 15:17] tungduonghgg123 commented on #1001
The link you provided is not working anymore. I can confirm this issue stills persist on 0.119.0 version. When using other port than 8081, flipper does not work as expected

[2021-11-13 10:31] aigoncharov commented on #3040
Flipper and FlipperKit 0.119.0 are released. Please, try with 0.119.0. It should fix the issue. @shamilovtim thank you for reporting the issue! Many thanks to @lblasa for fixing it!

[2021-11-13 10:31] #3040 closed

[2021-11-15 09:39] acivier-serial opened #3047 "iOS: ld: library not found for -lFlipper"
## 🐛 Bug Report
Hello, I don't know if it's a bug or a problem in my configuration but I'm having the following error when I tried to build my app on XCode :
[code]

## To Reproduce
**Podfile**
[code]
## Environment
React Native: 0.66.3
Flipper: 0.99.0
XCode: 13.1

I tried manything that I found on the web but it seems that nothing is working for me, any helps would be really welcome 🙏

[2021-11-15 14:54] 3rdp commented on #3011
Just submitted a PR, I used the same colors, but from the reversed palette. I want to suggest using a darker color though e.g. lime-1 vs lime-2 (current color). Seems like it has better contrast with boolean color and grey text color

![lime-1-lime-2-comparison](https://user-images.githubusercontent.com/8898635/141802733-bc2ea72c-9858-4608-9441-749d900ba9e6.png)

[2021-11-16 03:23] aaronfg commented on #2367
Having the same issue after upgrading to RN 66.3. All flipper versions listed above aren't working.

[2021-11-16 09:05] iamironz commented on #2948
Got the same:

[code]

[2021-11-16 09:35] lblasa commented on #2948
We are still investigating the issue, this issue is the same as reported here:
https://github.com/facebook/flipper/issues/3026

For the time being, this works:
- Using the app without Flipper works fine.  You can run and re-start the app as normal
- Using the app with Flipper (where Flipper is always running) works fine.

If the crash is found, either uninstall/install the app or delete the follow

[2021-11-16 09:55] mweststrate commented on #2367
Per https://mvnrepository.com/artifact/com.facebook.flipper/flipper 0.119 is available just fine. Please check mvnrepository first before reporting. Locking this issue as this one was resolved already, so please open new issues for new issues. Same symptoms != same issue.

[2021-11-16 14:11] acivier-serial commented on #3047
Okay, seems to be a problem on my side. I removed a patch applied on my react native podfile and now everything works fine

[2021-11-16 14:11] #3047 closed

[2021-11-16 15:25] mweststrate commented on #3023
This was fixed in 0.119

[2021-11-16 15:25] #3023 closed

[2021-11-17 03:57] tnguyen14 opened #3067 "Question: Unable to run flipper on Fedora 35"
I downloaded the linux build as per the instruction in https://github.com/facebook/flipper/issues/1058#issuecomment-620043782

However, I'm getting this error

[code]

Is there a way to get around it?

[2021-11-17 13:34] VanLoi-code opened #3068 "Discussion: [Windown] Failed to start FlipperServer Error"
![image](https://user-images.githubusercontent.com/59092427/142210500-7b4a2399-f226-4871-86a7-0bae7b38c466.png)

[2021-11-18 01:18] xilin commented on #2600
Can we also update the example podfile?

https://github.com/facebook/flipper/blob/main/react-native/ReactNativeFlipperExample/ios/Podfile

[2021-11-18 08:47] lblasa commented on #2600
@xilin thanks for raising this, I will make the update.

[2021-11-18 14:22] #3011 closed

[2021-11-18 15:28] github-actions[bot] opened #3069 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1476975435

[2021-11-18 17:11] #3069 closed

[2021-11-20 19:38] vrgimael opened #3073 "Discussion: Apple Silicon Desktop Client Support"
Following up on a closed discussion https://github.com/facebook/flipper/issues/2169, is there any timeline for a native arm64 based version of the desktop app? The current one unfortunately runs through Rosetta and it's one of the most CPU intensive tasks running on my machine while developing (which it really shouldn't be)

[2021-11-20 20:28] vrgimael commented on #3073
Also... since this issue has been discussed (and closed again here https://github.com/facebook/flipper/issues/2193), now we _do_ have better MBPs and making an arm version is just kind of inevitable sooner or later.

[2021-11-22 11:33] lblasa commented on #2948
Here's a potential workaround to address the crash.

Downgrade the NDK version located in build.gradle found in the project root folder from R23 to R21. It should look something like this:

`ext {
    minSdkVersion = 15
    targetSdkVersion = 30
    compileSdkVersion = 30
    buildToolsVersion = '30.0.2'
    //ndkVersion = '23.0.7599858'
    ndkVersion = '21.3.6528147'
}`

Please ensure that NDK21

[2021-11-22 14:40] michalkierasinski commented on #2948
That repro steps are works for me:
- Install open
- Connect to Flipper on desktop
- Change the date on emulator/device to 8 days in the past
- Restart app

[2021-11-22 21:24] Eli-Nathan commented on #948
Same issue here. Going to have to switch back to React Native Debugger until this is fixed :(

[2021-11-23 09:41] mattmcdonald-uk opened #3090 "Cmd + B shortcut global on macOS"
## 🐛 Bug Report
On macOS, with an application being inspected the Cmd + B shortcut (and possibly others?) seems to be registered globally and doesn't work in other applications.

This was introduced in 0.120.0 and is not present in 0.119.0

## To Reproduce
- Open Flipper, select a target to inspect.
- Open another application that uses the Cmd + B shortcut (e.g. VS Code).
- Press Cmd + B with the

[2021-11-23 10:00] adrianMeep opened #3091 "Discussion: Is there a way to remove custom column?"
I want to delete a custom column but it seems that there is no way to do it.

![image](https://user-images.githubusercontent.com/64408336/143003783-badffe9d-1ed0-45bf-9332-4c5b90171bfc.png)

It is possible to hide the column, but the next time I start Flipper it appears again.

![image](https://user-images.githubusercontent.com/64408336/143003945-a142ddd4-9a5d-4b4e-b074-285ca091c8df.png)

[2021-11-23 12:49] iamironz commented on #2948
@lblasa Wouldn't it be a good fast solution now to roll back the build of the client-side of the library to the stable version of the NDK? Not everybody has time to re-build the client flipper part from the sources.

[2021-11-23 13:31] argaasasta opened #3092 "Duplicate class com.facebook.jni"
## 🐛 Bug Report
I use the facebook flipper and org.jitsi.react:jitsi-meet-sdk:3.10.2 on project, then the duplication class happen when build the apps

## To Reproduce
implementation ('org.jitsi.react:jitsi-meet-sdk:3.10.2') and Facebook Flipper

## Environment
Flipper Version 0.120.0

[code]

[2021-11-23 13:38] passy commented on #2948
We identified an NDK mismatch with the fbjni library as the most likely culprit. I've made a new release of that yesterday and upgraded Flipper. With tomorrow's release, this should be addressed. You can also use the latest SNAPSHOT release if this is blocking you.

[2021-11-23 18:11] hbmartin commented on #3042
Looks like this duplicates https://github.com/facebook/flipper/issues/2948

[2021-11-23 18:38] bizzguy commented on #2948
@lblasa Your workaround (downgrade NDK) seems to be working for me.  Thanks!

[2021-11-23 20:36] AdamTyler commented on #2869
I'm also seeing this error on RN 0.66.3 using Swift. Any help getting those plugins working would be excellent

[2021-11-24 12:36] github-actions[bot] opened #3093 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1499275607

[2021-11-24 14:29] ColtonIdle commented on #2948
@passy looks like 0.121.0 is out now but no release notes (just a heads up)

[2021-11-24 15:09] sohail-dragon opened #3096 "App not connecting to flipper on iOS"
## 🐛 Bug Report
Not able to connect to my react native app via flipper on iOS. Android works perfectly however.
:x: Check required certificates are present
:x: Establish pre-connection setup
:x: Generate csr

| Simulator | Flipper Logs (Added some extra logging) | Doctor |
| --- | --- | --- |
| ![Simulator Screen Shot - iPhone 13 - 2021-11-24 at 22 51 58](https://user-images.githubusercontent.com/

[2021-11-24 16:31] github-actions[bot] opened #3099 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1500175957

[2021-11-24 18:58] passy commented on #3096
@lblasa Do you have any further debugging instructions?

[2021-11-24 19:03] lblasa commented on #3096
I’ll be taking a look at this very shortly

[2021-11-25 04:44] sohail-dragon commented on #3096
Maybe I can add some more info which may or may not be usefull.
Seems to be failing here
![image](https://user-images.githubusercontent.com/44570378/143380928-7f73caed-8f23-4efa-b76a-65bd1d1cf992.png)

`privateAppDirectory	std::string	"/Users/sohail/Library/Developer/CoreSimulator/Devices/A88954A4-7875-43E7-AE64-978E99CA27AA/data/Containers/Data/Application/E23170C9-093C-4983-9F79-C1474786FC30/Lib

[2021-11-25 11:50] lblasa commented on #3096
@sohail-dragon could you please step into that function and check where is it failing?
If the private key is ultimately written, then something must be going wrong during the CSR generation

[2021-11-25 13:16] zhirzh commented on #3090
same issue with Cmd + K shortcut. in network panel, flipper uses this shortcut to clear logs

[2021-11-25 15:43] sohail-dragon commented on #3096
Looks like this
![image](https://user-images.githubusercontent.com/44570378/143470016-9450a2f1-04bd-4386-916a-1cde745a115d.png)

After which it returns `0` in
[code]

[2021-11-26 05:58] zeusstl commented on #1757
Hello, I feel terrible asking again, bc I am clearly missing some basic IOS knowledge here. I don't understand where to add the FlipperDiagnosticsViewController. I'm using Flipper with React Native. The sample and instructions provided are unfortunately not helpful for React Native developers.

If any IOS developer could help out here that would be amazing. I've spent many hours digging around and

[2021-11-26 10:28] realtril commented on #2954
@flyingbearmt how do I know the application classname?

[2021-11-26 12:15] realtril commented on #3027
@mweststrate that's what I got:

in ```androidmanifest.xml```

<img width="567" alt="Screen Shot 2021-11-26 at 1 18 48 PM" src="https://user-images.githubusercontent.com/53015418/143573223-99ec5561-6dd2-41e6-b483-71394ecc836a.png">

```adb devices```
![Screen Shot 2021-11-26 at 1 21 31 PM](https://user-images.githubusercontent.com/53015418/143573525-a75e17c3-0679-402a-86c5-770120b07c45.png)

[2021-11-26 18:26] ColtonIdle opened #3103 "No release notes for the last 3 releases?"
Were the release notes intentionally left blank or was that a mistake? Thanks

[2021-11-26 20:01] passy commented on #3103
Sorry, this was to address some build and release issues. Sadly we can only really test this end-to-end by making new releases.

[2021-11-26 20:01] #3103 closed

[2021-11-27 12:40] mweststrate commented on #3027
Sorry that is not enough information to be able to act upon. Can you check if the reference example does work correctly? That gives some clarity on where potential problems might be.

[2021-11-28 09:45] zeusstl commented on #1757
After a lot more research and experimentation, it is clear to me that my issue is that my app is not connecting and that this is most likely not the right place for this question. I will create a new ticket.

[2021-11-28 10:19] zeusstl opened #3104 "NO APPLICATION SELECTED for React Native iOS app after following troubleshooting guide"
## 🐛 Bug Report

NO APPLICATION SELECTED after following the [RN setup guide](https://fbflipper.com/docs/getting-started/react-native/) and then the [Troubleshooting Issues](https://fbflipper.com/docs/troubleshooting/)

(I've spent a few days attempting to fix this including upgrading macOS, Xcode and React Native following the React Native Upgrade Helper.)

Everything seems to be working besides

[2021-11-29 00:25] robertwt7 opened #3105 "Hermes debugger network tab is always empty"
## 🐛 Bug Report
Hermes debugger network tab never records any request. is this intentional?

I can see it using Network plugin, however it is better experience to be able to see it in Hermes debugger that looks like chrome

## To Reproduce
use react native with hermes, open flipper, console is logging, network is not logging

## Environment
Flipper v 0.119.0
Macos 11.6
iOS simulator 15.0
React nat

[2021-11-29 17:20] Xmaxer commented on #3104
I am having the same issue here.

Ubuntu: 21.10
React Native version: 0.66.3
Flipper version: 0.122.0

All debugging on Hermes, React DevTools, and logs for both device & JS work just fine, including breakpoints. Only problem is, I can't enable any of the other plugins (Such as the network plugin) because I still see "NO APPLICATION SELECTED"

My AndroidManifest.xml in both debug and main contains

[2021-11-29 17:53] ZComwiz opened #3117 "🐛 MacCatalyst Does not Build on RN above 64 because of RCT-Folly (1/2 Fix Included Here!)"
## 🐛 Bug Report

**FLIPPER FOLLY MAC CATALYST SUPPORT BROKE AFTER SWITCHING TO XCFRAMEWORK. HERE IS WHAT HAPPENED:**
There are two bugs when building RN 65+ targeted to MacCatalyst located in Flipper:

**1. Time.h redefinition.** There is a hack in [here in Time.h](https://github.com/facebook/folly/blob/main/folly/portability/Time.h#L31) in RCT which I was able to consistently fix by adding a TARG

[2021-11-30 02:03] hello-soon opened #3118 "app crash after close flipper.exe"
gradle
        def flipperVer = "0.120.0"
        debugImplementation "com.facebook.flipper:flipper:$flipperVer"
        debugImplementation 'com.facebook.soloader:soloader:0.10.1'
        debugImplementation "com.facebook.flipper:flipper-fresco-plugin:$flipperVer"

Flipper-win  0.122.0

----------------------------------------------

6.185 15823-15943/com.test.com A/libc: Fatal signal 6 (SIGABRT)

[2021-11-30 03:36] rock-tran commented on #2948
@passy this issue seems disappear since the version 0.122.0

[2021-11-30 05:26] aman32767 commented on #2213
In our case, the build version code is causing the issue.

Its was sorted till 407 but after that 408, 409 .. are causing crash.

We are building version code for variant releases at run time which is crossing some kind of limit.

Will update further in this group

[2021-11-30 09:51] mweststrate commented on #3104
@Xmaxer could you open a separate issue, since the OP is about iOS, not Android, and make sure to run the diagnostics first?  https://fbflipper.com/docs/troubleshooting/#android.

[2021-11-30 09:53] mweststrate commented on #3104
@zeusstl could you check if the reference project connects correctly for you? https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample

[2021-11-30 09:56] mweststrate commented on #3118
Could you check if downgrading the Android NDK fixes the issue? https://github.com/facebook/flipper/issues/3026#issuecomment-975427427

[2021-11-30 10:23] lblasa commented on #3118
Also, that version may not contain the fix. I think v0.121.1 should.

Please give that version a go, alternatively you can try and downgrade the NDK version as suggested.

[2021-11-30 14:05] julienherrero commented on #2948
I confirm, seems also OK on my projects

[2021-11-30 15:54] zeusstl commented on #3104
@mweststrate Thanks.

1) Can you please define what you mean by debug build? I've read it a lot throughout the Flipper docs and I want to make sure that it means what I expect it means.

React Native __DEV__ is true. I have testing/setup code that relies heavily on it.

And in iOS, the scheme is using `Debug` for the `Run`.

<img width="912" alt="Scheme Debug" src="https://user-images.githubuserco

[2021-11-30 18:06] rohandhruva commented on #3090
I'm still seeing this in 0.122.

[2021-12-01 11:27] grit96 commented on #2948
Even with flipper 0.122.0, my app crashes on Android if I quit flipper.

<details>
<summary>Logs</summary>

[code]

</details>

[2021-12-01 13:17] kaueDM opened #3119 "Android emulator stderr: PANIC: Broken AVD system path"
I'm trying to add Flipper to an Expo project (custom development client) but I'm not able to start an emulator from Flipper.

I'm able to start an emulator from AVD manager and run my app without any issues, but it doesn't show up on Flipper.

Doctor:
![image](https://user-images.githubusercontent.com/20171863/144240557-f81a3a0c-1a25-4679-8762-54464574858c.png)

Android Studio:
![image](https://us

[2021-12-01 13:22] lblasa commented on #2948
@grit96 could you please verify what's the Flipper Android release you are using?

[2021-12-01 13:44] lblasa commented on #3119
Hi @kaueDM, thanks for reporting this. Could you please share Flipper logs? Or at least see if there's an error in them?

[2021-12-01 13:45] mikehardy commented on #3117
Wow, that took a while to find.
It's here and needs attention from @priteshrnandgaonkar

https://github.com/priteshrnandgaonkar/double-conversion/blob/master/archive-xcframework.sh

Pritesh, you need to include a macCatalyst slice, easy to build but needs a very very careful re-arrangement of built artifacts after build, before packaging:

[code]

[2021-12-01 13:47] kaueDM commented on #3119
I got this on startup
![image](https://user-images.githubusercontent.com/20171863/144245565-6950eb5e-85f8-47e2-97e1-b89b8b2b24df.png)

And this one when trying to start an emulator from Flipper
![image](https://user-images.githubusercontent.com/20171863/144245629-b3693b71-2a6c-414c-bee6-cdb46abeeb1c.png)

[2021-12-01 13:49] lblasa commented on #3117
@mikehardy thanks for reporting this and finding the problem. I will provide a fix and update once ready.

[2021-12-01 13:50] lblasa commented on #3096
@sohail-dragon thanks for the extra information. I couldn't reproduce the issue myself but I will investigate further now.

[2021-12-01 13:54] mikehardy commented on #3117
Fantastic! As someone that does not generally like workarounds (I love to PR upstream and just fix things...) I was surprised by the need to do that catalyst slice repack but please understand I tested that super carefully back and forth and that strategy was the only way I successfully built for catalyst in a published pod, painful reference:
https://github.com/invertase/notifee/pull/55
https://g

[2021-12-01 15:04] ZComwiz commented on #3117
@mikehardy I am so glad we got this the attention it needs! I am giving you a virtual high five 🙌

[2021-12-01 15:15] mikehardy commented on #3117
In classic "hey, while you're in there..." fashion I'll mention that the tvOS and watchOS folks will be after you next. I had work in that area but didn't have time to merge it in Notifee. The natural extensions on the pbxproj and build framework script did work as expected though, I had a valid xcframework with it

https://github.com/invertase/notifee/pull/56/files#diff-5bdb27f5710cdebde3c248e0e9

[2021-12-01 17:32] colinbendell commented on #2898
The root issue here is that the electron builder on an m1 puts the destination files in `dist/mac-arm64` and not the expected `dist/mac`

[2021-12-01 23:57] caycecollins opened #3122 "Search/filter state is not persisted after navigation"
## 🐛 Bug Report
When navigating between various screens/plugins, the search and/or filters state is not persisted.

## To Reproduce
1. Open the App Inspect pane
2. Click any plugin (ex: "Network")
3. Enter a search term or add a filters (ex: table column filters)
4. Click a different plugin (ex: "Logs")
5. Click on the first plugin with search/filters added previously (ex: "Network")
6. Take note

[2021-12-02 02:09] Nstd opened #3123 "Docs: Please Update CHANGELOG.md"

[2021-12-02 03:33] rock-tran commented on #2948
@grit96 Make sure that you use the same versions on both Flipper Android plugin and Desktop.

[2021-12-02 07:27] hotaryuzaki commented on #2954
in my application tag
`<application android:name=".MainApplication"`
do i need to change this???

[2021-12-02 09:15] grit96 commented on #2948
The crash is specifically when quitting flipper or trying to start the app without flipper running. Still the same using flipper 0.123.0.

![image](https://user-images.githubusercontent.com/3957608/144392620-c59fbe39-7303-444e-8f4f-bc70caa03641.png)
![image](https://user-images.githubusercontent.com/3957608/144392065-2c767515-1195-45c6-93c6-5f0528b481cd.png)
![image](https://user-images.githubuser

[2021-12-02 10:11] lblasa commented on #2948
@grit96 just to clarify a few things, the Flipper Desktop version is not important here. The issue was the usage of different NDK versions between Flipper and one of its dependencies. So the solution is to use the latest Flipper Android SDK ('com.facebook.flipper:flipper:0.123.0').

A workaround was provided which was to downgrade the NDK from r23 to r21.

[2021-12-02 10:22] grit96 commented on #2948
I am using v0.123.0 of the flipper Android SDK and r21 of the NDK (see screenshots in the previous comment), therefore the issue should be resolved - but I'm still seeing this crash.

[2021-12-02 10:26] lblasa commented on #2948
@grit96 in that case, don't use NDK r21. Use NDK r23. That should address the issue.

[2021-12-02 11:11] #2948 closed

[2021-12-02 12:23] lblasa commented on #3103
Just to add that you can use the compare tool to find out what changes were included in each release.
For example: https://github.com/facebook/flipper/compare/v0.122.0...v0.123.0

More information here: https://docs.github.com/en/repositories/releasing-projects-on-github/comparing-releases

Sorry about this.

[2021-12-02 12:25] lblasa commented on #3123
We are very sorry about this!

In the meanwhile, you can use the compare tool to find out what changes were included in each release.
For example: https://github.com/facebook/flipper/compare/v0.122.0...v0.123.0

More information here: https://docs.github.com/en/repositories/releasing-projects-on-github/comparing-releases

[2021-12-02 12:25] #3123 closed

[2021-12-02 13:28] passy commented on #3105
I believe it is. RN uses, by default, platform-specific network stacks like OkHttp for Android. So you will instead see the requests in the Network plugin in Flipper.

[2021-12-02 16:57] grit96 commented on #2948
I don't know what's going on but the app still crashes when I quit flipper using NDK r23 (23.1.7779620).

<details>
<summary>Logs</summary>

[code]

</details>

[2021-12-02 17:10] bizzguy commented on #2948
I'm using .0.122.0 with no crashing but I am also using NDK 21.3.6528147 which @passy recommended

[2021-12-03 02:39] Nstd commented on #3123
Thanks~

[2021-12-03 15:49] shamilovtim opened #3124 "Should Flipper be built in Release mode?"

[2021-12-04 01:37] seyaobey-dev opened #3126 "IDB: Current setting isn't a valid IDB installation"
## 🐛 Bug Report
Apologies, this may not be a bug per se but I could not find any forum or other place where I can find help. This is the first time for me using Flipper. After having followed the instructions, I was able to install Flipper on my Macbook air M1 (2020) Monterey.
When I open "Setup Doctor", everything is green except a warning with IDB:
[code]

I followed the instructions on this rep

[2021-12-06 06:19] demi-watcha opened #3127 "Question: plugin not working"
Layout, Navigation and Network are connected. But no log is printed.

<img width="959" alt="스크린샷 2021-12-06 오후 3 17 27" src="https://user-images.githubusercontent.com/83807198/144796982-c7a2e7c4-704e-45ca-9da5-485f33d66531.png">

[2021-12-06 13:05] rafirr commented on #3027
@mweststrate i've similar issue, the funny thing is that it worked on friday. I've tried with a new Flipper SDK (0.123.0), but no success. I've connection to device, but no to app.

Flipper logs:
![image](https://user-images.githubusercontent.com/8736261/144849814-2dc6bccd-9acc-4fd1-a90d-bb47a7daaa56.png)

Diagnostics screen:
![Screenshot_2021-12-06-13-52-51-163_com primateapp](https://user-images

[2021-12-06 13:49] rafirr commented on #3027
@mweststrate nevermind, after restart my computer, it's working :)

[2021-12-06 18:50] andesappal commented on #666
The message 'xcodebuild is trying to install Apple-provided software ' just popped up on my screen. On App Store, there's an auto download for Xcode 13.1.

[2021-12-06 20:27] zeusstl commented on #3104
Hi @mweststrate. I tested the React Native example project and that app does connect to Flipper correctly. I'm a bit baffled as to why my app doesn't connect to Flipper. (The `ffi` issue exists in the React Native example and doesn't prevent Flipper from working properly so that doesn't seem be the cause of the issue.)

**Any chance you can clarify what you mean by debug build?** Apologies if that

[2021-12-07 05:05] PallaviTharigonda opened #3140 "Few errors getting after yarn start"
/Flipper/flipper/desktop (main)
$ yarn start
yarn run v1.5.1
$ yarn dev-server --inspect=9229
$ yarn build:tsc
$ tsc -b tsc-root/tsconfig.json && ./ts-node ./scripts/compute-package-checksum.ts -d ./babel-transformer -o ./lib/checksum.txt
flipper-plugin/src/ui/data-table/DataTableManager.tsx:127:13 - error TS7006: Parameter 'draft' implicitly has an 'any' type.

127 >(function (draft, action) {
[c

[2021-12-07 14:55] lblasa commented on #3126
@seyaobey-dev many thanks for reaching out.

That doesn't seem the path to the idb binary. On macOS, can you please execute this on the terminal:
`which idb`

That'll print out the path to idb. Copy the value and set it into Flipper -> Settings.

For example, this is a valid path for idb:
`/usr/local/bin/idb`

[2021-12-07 14:57] mirianfonkam opened #3141 "Discussion: Request for Reset Button on Layout Inspector"
The Layout plugin has been extremely handy 🔧!

I have a question in regards to its functionality: When we make a change to property such as layout color, for instance, how can we revert back the changes? Ctrl-Z does not seem to do it...

It would be great to have a **reset button** to switch back to the formal layout appearance 🎨 so that we can quickly compare the recent changes.

[2021-12-07 20:55] seato commented on #3090
I'm able to reproduce in 0.123 for `CMD + K`

[2021-12-07 22:37] zeusstl commented on #3104
@mweststrate Have solved this. I had never done the Manual iOS setup. I guess it never seemed clear that it was necessary since practically everything worked correctly with the Automatic Setup.

Manual Setup
https://fbflipper.com/docs/getting-started/react-native-ios/

I used the Flipper code from React Native Hello World AppDelegate.m example:
https://github.com/facebook/react-native/blob/main/te

[2021-12-08 06:26] PallaviTharigonda opened #3142 "Question: I'm getting few errors in yarn step"
[code]

Can someone help me with this?

[2021-12-09 18:36] TfADrama commented on #2954
For me was the file ReactNativeFlipper.java

Find that file and change the package name on top of the file for your package name, you can find your package import in MainApplication.java

My ReactNativeFile had the package from the RN ugrade tool --'
I forgot to change to my package.

` package com.rndiffapp;` --> This is from the upgrade tool, change to yours.

[2021-12-09 19:09] safaiyeh opened #3145 "Header with object value does not show values"
## 🐛 Bug Report

Headers that take an object show up as `[object Object]` in the network view.
![Screen Shot 2021-12-09 at 11 08 52 AM](https://user-images.githubusercontent.com/8675043/145460043-f2cc5382-b168-4900-b114-cddb2c95bd79.png)

## To Reproduce

Send a request with a header w/ an object

## Environment

React Native, Flipper Version 0.123.0 (50.0.0), macOS

[2021-12-09 19:57] mweststrate commented on #3145
Is this about the network plugin? Network headers are afaik always strings, not sure how to get an object in there, unless the server itself puts the `[object Object]` string in there?

[2021-12-09 20:00] mweststrate commented on #3142
Please share your node and yarn version. Make sure to be at least on node 16

[2021-12-09 20:03] mweststrate commented on #3104
Manually iOS setup should normally not needed. But things can get out of sync when bumping just the react-native version without using React Native's upgrade tool

[2021-12-09 20:03] #3104 closed

[2021-12-09 20:10] mweststrate commented on #3140
what is your node version? did you run `yarn install` first?

[2021-12-09 20:11] mweststrate commented on #3140
Also, do upgrade yarn (classic) first, that version looks really old

[2021-12-10 11:16] github-actions[bot] opened #3147 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1563054088

[2021-12-10 13:15] github-actions[bot] opened #3148 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1563054088

[2021-12-10 15:39] Pyroboomka opened #3150 "Question: Does current ReactNativeFlipperExample app runs on simultator on M1 macs?"
Been banging my head withafter getting M1 machine with my own project.
My goal is have a working setup with flipper running on simulator outside of Rosetta.
No success so far, decided to check against a simpler project.

So my current steps so far were:
1) Clone the react-native/ReactNativeFlipperExample app
2) yarn install && cd ios && pod install
3) Attempt to debug build to iPhone 13 simulator.

[2021-12-10 18:24] risingus commented on #1111
This problema still occur

[2021-12-10 18:27] risingus opened #3151 "Windows app blank screen"
![Captura de tela 2021-12-10 152725](https://user-images.githubusercontent.com/42497575/145623581-ff17e306-cdd0-4145-942b-d5494a03519c.png)

[2021-12-10 18:28] risingus opened #3152 "Windows app blank screen"
## 🐛 Bug Report
When i open flipper app on windows, only shows a blank screen with the error: Failed to start Flipper desktop: Error: ENOENT: no such file or directory, open 'C:\Users\ADMINND\.config\flipper\settings.json'

## To Reproduce
Litterally just download windows app and open.

## Environment
Using windows 11, vs code with react native emulating android device with android studio

![Captu

[2021-12-10 18:58] mgithubmessier commented on #3152
I'm running into the same issue on a mac

[2021-12-10 19:01] mgithubmessier commented on #3152
But I did downgrade to version 0.123.0 and this resolved it, must've been an issue with their newest release.

[2021-12-10 19:08] jas777 commented on #3152
Present on Windows 10 too

[2021-12-10 19:23] seyaobey-dev commented on #3126
@Iblasa thank you so much for your answer. Here is the output of the command `which idb`:
[code]
![Screenshot at Dec 10 19-22-08](https://user-images.githubusercontent.com/83374925/145630055-77448a25-e086-4c96-a064-3c21a4f9fc95.png)

[2021-12-10 19:29] seyaobey-dev commented on #3126
Also `which pip3` returns:

[code]

[2021-12-10 20:30] stdavis commented on #3090
I'm able to reproduce this with `cmd + k` in `v0.124.0`.

[2021-12-10 21:18] risingus commented on #3152
Yep, 0.123.0 works fine, but 0.124.0 is broken

[2021-12-10 23:14] mweststrate commented on #3152
Seems a future change accidentally made it into a release, will cut a new
release.

On Fri, 10 Dec 2021, 21:18 Gustavo Lima, ***@***.***> wrote:

[2021-12-12 13:12] ameer-taghavi opened #3155 "Discussion: Auto Update app feature"
can you please add Auto Update app feature?

[2021-12-13 08:08] SergeiZavialov commented on #3090
Still same problem with `cmd + K` in `0.125.0`

[2021-12-13 10:32] aigoncharov commented on #3152
@risingus could you confirm the issue is fixed with [0.125.0](https://github.com/facebook/flipper/releases/tag/v0.125.0)?

[2021-12-13 12:14] aigoncharov commented on #3151
Duplicate of #3152

[2021-12-13 12:14] #3151 closed

[2021-12-13 12:16] aigoncharov commented on #3150
@lblasa have you tried to build one of our Sample apps on M1?

[2021-12-13 12:17] aigoncharov commented on #3147
Duplicate of #3147

[2021-12-13 12:17] #3147 closed

[2021-12-13 12:18] aigoncharov commented on #3148
Resolved at https://github.com/facebook/flipper/actions/runs/1567063616

[2021-12-13 12:18] #3148 closed

[2021-12-13 12:19] lblasa commented on #3150
@aigoncharov unfortunately not, don't have an M1 available to me.

[2021-12-13 12:39] risingus commented on #3152
0.125.0 still send erros, 0.123.0 is the one that open with no problems
![Captura de tela 2021-12-13 093823](https://user-images.githubusercontent.com/42497575/145814153-f9644a1e-128c-404f-91d8-c937fb657fe0.png)

[2021-12-13 12:39] risingus commented on #3152
0.125.0 still send erros, 0.123.0 is the one that open with no problems
![Captura de tela 2021-12-13 093823](https://user-images.githubusercontent.com/42497575/145814216-5c9ff44b-2bbb-4e4e-adc8-dcf5d5638352.png)

[2021-12-13 14:09] JakubKana opened #3167 "Icons not loading"
## 🐛 Bug Report
When I updated to version 0.0.124 or 0.0.125 Icons were missing in the menu Plugins which is not practical to work with at all.

I do the update like this:
- delete content of the old folder
- extract new version to the folder
- run

![image](https://user-images.githubusercontent.com/6625593/145827278-0f343ffc-1a7d-465f-bcdb-55f0b0917e1b.png)

## To Reproduce
Upgrade from 0.0.123 -

[2021-12-13 15:43] Pyroboomka commented on #3150
Well, can you at least tell me, does it fail with similar errors for you (if you tried to spin it up)? Unfortunately, my colleagues don't have M1 either, so if it breaks with the same errors that would be a good starting point for me.
I'll spend some time this week trying to make it work, but I don't have native iOS development experience, so it's gonna be fun :)

[2021-12-13 16:31] Pyroboomka commented on #3150
Well, it was kinda easy. Dug through some discussions on react-native repo about M1 issues and referencing this PR https://github.com/facebook/react-native/pull/32284/files which I guess is gonna land somewhere in 0.67 if I understand releases correctly, I just deleted the faulty path in LIBRARY_SEARCH_PATHS and it built successfully.

No point in fixing this I guess, gonna work out of the box in

[2021-12-13 21:33] personjerry commented on #3150
@Pyroboomka Where is LIBRARY_SEARCH_PATHS you're modifying? The key is not defined (i.e. default) for me in my XCode build settings

[2021-12-13 21:42] personjerry commented on #3150
Nevermind, applied your fix by going into react_native_pods.rb and manually adding the fixer function from https://github.com/facebook/react-native/pull/32284/files

For other readers, you can apply this fix by going into `node_modules/react-native/scripts/react_native_pods.rb` and adding this function above the line `def react_native_post_install(installer)`:

[code]

And then call the function,

[2021-12-13 23:21] mgithubmessier opened #3168 ""Failed to exchange certificate with APP_NAME" - Permission Denied"
## 🐛 Bug Report
I'm continually getting an error detailing that Flipper does not have the permission to open its own `server.srl` file.
Would love if this is a problem on my end and I'm missing something vital here in my setup, but I'm not sure that's the situation.

<img width="863" alt="Screen Shot 2021-12-13 at 6 21 11 PM" src="https://user-images.githubusercontent.com/11222124/145904651-6b33f8

[2021-12-14 08:21] rock-tran opened #3169 "[Android] Flipper doesn't work when using ADB in wifi mode"
## 🐛 Bug Report
Flipper works well in USB mode, not wifi mode.
In wifi mode, I see "Logs" work, but the installed app is not detected.

## To Reproduce
1. Implement Flipper plugin in app
2. Enable wifi debug in Android. Here I'm using Galaxy S7 Edge running Android 8
3. Install then run app on phone

## Environment
Flipper Android : 0.122.0
Flipper Desktop : 0.125.0

ADB version :
Android Debug Br

[2021-12-14 08:26] rock-tran commented on #3169
When I try with another phone, running Android 11, Flipper works on both USB and Wifi mode.
Where can I find the Android versions that Flipper work on Wifi mode ?

[2021-12-14 09:32] robrechtme opened #3170 "[macOS]: Flipper hoists Cmd+K shortcut"
## 🐛 Bug Report

Anytime I have logs open in Flipper, the Cmd+K shortcut (which clears logs in Flipper) is completely hoisted. Even if the Flipper window is not focussed, I cannot use Cmd+K in other windows. This is quite annoying as I use this shortcut a lot in VSCode.

## To Reproduce
- Open Flipper
- Open a tab with logs that can be cleared e.g. "Logs" or "Network"
- Open another program
- Cmd+

[2021-12-14 15:29] villesinisalo commented on #3170
Same as #3090 - present in the MacOS client since 0.120.0. Can repro - annoying indeed. One option is downgrading to 0.119.0 if possible.

[2021-12-14 16:04] eliw00d opened #3171 "Question about CVE-2021-24036 and CVE-2012-2677"
I am trying to fix the following vulnerabilities that are related to Flipper:

Flipper-Folly: https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-24036
Flipper-Boost-iOSX: https://www.whitesourcesoftware.com/vulnerability-database/CVE-2012-2677

Are there plans to bump the versions of these to include fixes for these vulnerabilities?

[2021-12-14 16:38] robrechtme commented on #3170
Duplicates #3090.

[2021-12-14 16:38] #3170 closed

[2021-12-15 16:44] mihaicristianpetrescu opened #3172 "Application crashes starting with 0.99.0 onwards when using fragment stack based navigation"
## 🐛 Bug Report

Android native application is crashing when navigation inside a fragment stack, namely when popping a fragment from the stack.

`java.lang.UnsupportedOperationException: removeView(View) is not supported in AdapterView
        at android.widget.AdapterView.removeView(AdapterView.java:543)
        at android.view.ViewOverlay$OverlayViewGroup.add(ViewOverlay.java:199)
        at and

[2021-12-15 19:28] mweststrate commented on #3169
We don't officially support ADB over Wifi, but you might want to check the Flipper logs itself (exclamation mark icon) to see if there are any hints, or run the diagnostics activity: `adb shell am start -n <APP_PACKAGE>/com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity`

[2021-12-15 19:54] mweststrate commented on #3172
I don't see anything Flipper related in your stack trace, could you clarify a bit more how this relates to Flipper, or reproduce the issue based on our example project? https://github.com/facebook/flipper/tree/main/android/sample

[2021-12-15 20:15] mweststrate commented on #3168
Sounds like the Flipper Desktop app has no permissions to use your home directory, what output does `ll ~/.flipper/certs` yield?

[2021-12-15 20:18] mweststrate commented on #3167
@nikoant  / @passy any chance you could look into this one? I don't have a windows machine at my disposal atm.

[2021-12-15 21:06] mihaicristianpetrescu commented on #3172
Yes, that's correct. It doesn't display any Flipper class lines, but if I use the older version, namely 0.98.0 and nothing newer, then it works just fine, without any code/library changes whatsoever, so that's how we concluded that the culprit is Flipper, because we just swapped different versions of Flipper until the app didn't crash anymore in that specific use case scenario.
Fragment navigation

[2021-12-15 23:25] mgithubmessier commented on #3168
yields this
<img width="396" alt="Screen Shot 2021-12-15 at 6 24 39 PM" src="https://user-images.githubusercontent.com/11222124/146280391-ad64ce2b-092f-4295-9720-96ef363ae085.png">

[2021-12-15 23:45] mgithubmessier commented on #3168
Solved this with a `chmod <USER>+r+w ~/.flipper/certs/*`, thanks for pointing me in the right direction there!

[2021-12-16 09:36] #3168 closed

[2021-12-16 09:38] mweststrate commented on #3171
@lblasa would you be able to bump those deps?

[2021-12-16 09:43] mweststrate commented on #3172
Could you check if the problem is gone if you don't include the InspectorPlugin in Flipper? Basically disable the line in your code base that looks like this: https://github.com/facebook/flipper/blob/main/android/sample/src/debug/java/com/facebook/flipper/sample/FlipperInitializer.java#L44

[2021-12-16 09:46] rock-tran commented on #3169
Thanks @mweststrate . I will try it.

[2021-12-16 09:46] #3169 closed

[2021-12-16 09:51] mweststrate commented on #3142
Closing for the lack of follow up info

[2021-12-16 09:51] #3142 closed

[2021-12-16 09:52] mweststrate commented on #3140
Closing as duplicate and lack of follow up info

[2021-12-16 09:52] #3140 closed

[2021-12-16 09:52] mweststrate commented on #3141
Sounds like a cool idea! The team won't have time to work on that, but we'll happily review a PR if anyone is interested.

[2021-12-16 09:53] mweststrate commented on #3145
Lacking follow up info, so I assume the issue is solved.

[2021-12-16 09:53] #3145 closed

[2021-12-16 09:58] mweststrate commented on #3155
Internally at Meta Flipper does get updated automatically through an internal mechanism. If somebody wants to build the same in the OSS build feel free. Good starting point https://github.com/facebook/flipper/blob/main/desktop/flipper-ui-core/src/chrome/UpdateIndicator.tsx. Please note that the update execution itself should reside in `flipper-server-core`, since the `flipper-ui-core` package cann

[2021-12-16 10:01] mweststrate commented on #3152
@risingus does installing openssl fix the problem? See https://fbflipper.com/docs/getting-started/index/#installation. Lack of openssl should clearly not result in a blank screen, but that will help us narrow down the problem

[2021-12-16 10:02] mweststrate commented on #3127
Please follow the issue template. Screenshots are not actionable.

[2021-12-16 10:05] mweststrate commented on #3126
Please make sure the IDB setting ends with `/idb` and restart Flipper. Is the file readable by flipper and executable? use `ll /Library/Frameworks/Python.framework/Versions/3.10/bin/idb`  to verify

[2021-12-16 10:06] mweststrate commented on #3118
Assuming fixed

[2021-12-16 10:06] #3118 closed

[2021-12-16 10:40] mweststrate commented on #3119
I created a PR, should e solved in the next version

[2021-12-16 11:00] mweststrate commented on #3090
Should be fixed in next release

[2021-12-16 11:14] mihaicristianpetrescu commented on #3172
Yes, of course. Testing now.

[2021-12-16 11:31] mihaicristianpetrescu commented on #3172
This is how we setup it currently:

`val client = AndroidFlipperClient.getInstance(context)
            val networkPlugin = NetworkFlipperPlugin()
            flipperInterceptor = FlipperOkhttpInterceptor(networkPlugin)
            client.addPlugin(InspectorFlipperPlugin(context, DescriptorMapping.withDefaults()))
            client.addPlugin(DatabasesFlipperPlugin(context))
            client.add

[2021-12-16 11:41] risingus commented on #3152
@mweststrate, i was installing using an .exe, but i tried again now with Chocolatey and after the installation Flipper was working fine. Thanks for the help.

[2021-12-16 11:41] #3152 closed

[2021-12-16 12:15] mweststrate commented on #3172
Ok, that sounds the problem lies somewhere else, is there another UI observer active? Is the NDK up to date, etc. Just checking, this even happens if the Flipper desktop isn't running at all, correct?

[2021-12-16 12:25] clytras opened #3173 "Discussion: Syntax Highligting for Logs Flipper Plugin"
Hello,

For productivity, I wanted syntax highligting for the console logs and this is/was something that kept me from using Flipper and relying to a browser debugger console for debugging.

I gave it a shot and I managed to make Flipper Logs plugin to have syntax highlighting (_with `TruncateHelper` even_) using [`react-syntax-highlighter`](https://www.npmjs.com/package/react-syntax-highlighter)

[2021-12-16 13:06] lblasa commented on #3171
@mweststrate yes, I'm working on it. Unfortunately is not as easy as bumping a version number, but the updates are coming :)

[2021-12-16 13:27] mihaicristianpetrescu commented on #3172
Another UI observer on any of the Fragments in the stack?
Yes, NDK is up-to-date and Flipper desktop app isn't running at all.

[2021-12-16 17:32] artstylee opened #3174 "Question: how to check async storage?"
i want to check/add/remove items from async storage?
any working plugin for that?

[2021-12-16 19:43] dinorahto opened #3175 "JNI and FlipperEventBaseThread Crash"
## 🐛 Bug Report

Running an application in Android SDK 31 with emulators **with x86_64**

[code]

## To Reproduce
Running any app with OkhttpClient, Retrofit + Flipper will crash with the same error

## Environment

The version of Flipper is:
[code]

[2021-12-16 21:19] Pyroboomka commented on #3126
@seyaobey-dev what was your steps installing idb on you mac? I'm kinda lost in the "make sure to install everything through homebrew" on m1 mac to keep stuff working.

For me
`brew tap facebook/fb
brew install idb-companion`

fails with
[code]
And i'm kinda lost at here.

[2021-12-16 22:51] #3119 closed

[2021-12-16 22:51] #3090 closed

[2021-12-17 09:16] predbjorn commented on #2954
I got it working by copying the content to debug/com/mypackage/ReactNativeFlipper from this link: https://github.com/facebook/react-native/blob/6f627f684bb6506a677c9632b2710e4a541690a9/template/android/app/src/debug/java/com/helloworld/ReactNativeFlipper.java

This file did not work: https://fbflipper.com/docs/getting-started/react-native-android/#application-setup

[2021-12-17 11:13] github-actions[bot] opened #3180 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1591845667

[2021-12-17 11:58] github-actions[bot] opened #3181 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1591845667

[2021-12-17 15:18] nibblesnbits opened #3183 "Hermes debugger no longer working after 0.126.0"
## 🐛 Bug Report
I was able to use the Hermes Debugger for React Native yesterday with version 0.125.0, but now that I've installed 0.126.0, the debugger is listed under "Unavailable Plugins" and when selected I get the message

[code]

## To Reproduce
Run any iOS app, and select the app in Flipper.

## Environment
iOS 15.1
React Native 0.66.4
@react-native-community/cli-debugger-ui 5.0.1
(Note tha

[2021-12-17 15:38] mweststrate commented on #3183
Hermes Debugger RN is not supported by iOS devices, it is supported by Metro / React Native. Make sure you have Metro running to see the device.

[2021-12-17 17:00] github-actions[bot] opened #3185 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1591845667

[2021-12-17 17:00] Victorcassiano opened #3186 "Flipper interrupting application"
## 🐛 Bug Report
The bug occurs when Flipper opens, node closes and stops the application

## To Reproduce
<img src="https://i.imgur.com/qWFDmG3.png" alt="drawing" width="300" />

## Environment
- Android 10
- Flipper 0.126.0
- React Native 0.64.2

[2021-12-17 17:31] github-actions[bot] opened #3187 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1591845667

[2021-12-17 22:45] thevoiceless commented on #1457
Any updates on this issue?

[2021-12-18 04:14] artstylee opened #3189 "Flipper 0.126 crashing metro"
## 🐛 Bug Report

after installing flipper 0.126 my metro crashing every time with an error

[code]

## Environment

WIN 10

[2021-12-18 10:25] xD3CODER commented on #3189
Did you unzip the files over the old installation? If so, try removing and reinstalling Flipper completely, that solved the problem for me

[2021-12-18 11:53] mweststrate commented on #3189
This should be fixable by changing `node_modules/@react-native-community/cli-server-api/build/websocket/eventSocketServer.js` line 131 from ` return origin.startsWith('http://localhost:') || origin.startsWith('file:');` to `return !origin || origin.startsWith('http://localhost:') || origin.startsWith('file:');`.

I'll try to submit a PR for that when back from PTO, or feel free to submit a PR alre

[2021-12-18 13:06] mweststrate commented on #3186
@Victorcassiano could you try https://github.com/facebook/flipper/issues/3189#issuecomment-997191720?

[2021-12-19 23:32] akulpillai opened #3193 "[Security] Workflow gradle-wrapper-validation.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow gradle-wrapper-validation.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by a

[2021-12-19 23:32] TyR3x123 opened #3194 "[Security] Workflow iOS-pod-lint.yml is using vulnerable action nick-invision/retry"
The workflow iOS-pod-lint.yml is referencing action nick-invision/retry using references v2.0.0. However this reference is missing the commit [c36bd33fae0fdb024ee4c547dc8c34c015a06c81](https://github.com/nick-invision/retry/commits/c36bd33fae0fdb024ee4c547dc8c34c015a06c81) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:

[2021-12-19 23:32] fockboi-lgtm opened #3195 "[Security] Workflow iOS-pod-lint.yml is using vulnerable action nick-invision/retry"
The workflow iOS-pod-lint.yml is referencing action nick-invision/retry using references v2.0.0. However this reference is missing the commit [c36bd33fae0fdb024ee4c547dc8c34c015a06c81](https://github.com/nick-invision/retry/commits/c36bd33fae0fdb024ee4c547dc8c34c015a06c81) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:

[2021-12-19 23:32] akulpillai opened #3196 "[Security] Workflow publish-android.yml is using vulnerable action actions/checkout"
The workflow publish-android.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-20 09:31] msageryd opened #3197 "Uncaught Error: Unsupported Bridge operation "0""
## 🐛 Bug Report

As soon as I go into React DevTools in Flipper, the app restarts and I get the following error in Flipper.
![image](https://user-images.githubusercontent.com/4483085/146743719-8d3dbfdc-a2de-4311-9bde-a4475b88f025.png)

The other plugins (Hermes, Logs, Layout, etc) works as they should, even after the restart.

Edit:
I just discovered another error in the log, just before the crash

[2021-12-20 12:01] davydspotnana commented on #3189
Faced with this issue too, downgrading Flipper to 0.125 will fix it

[2021-12-20 15:56] YvgenTroshchiy commented on #1230
I have the same issue.

[2021-12-20 16:28] realtril commented on #3189
@davydspotnana how did you downgrade a flipper?

[2021-12-20 16:42] artstylee commented on #3189
ye i downgrade too

[2021-12-20 16:49] realtril commented on #3189
@artstylee how did you downgrade a flipper? I mean, how can I downgrade desctop app?

[2021-12-20 17:12] sytolk commented on #3189
the same issue on Mac
[code]

[2021-12-20 17:16] realtril commented on #3189
@sytolk thank you!

[2021-12-20 17:36] renchap commented on #3189
@mweststrate I have been able to test your fix and it works.

I can make a PR, but I am not sure this is the best issue as this check is here for security reasons, and allowing empty origins could be an issue.

[2021-12-20 17:56] realtril commented on #3027
@mweststrate All debugging on Hermes, React DevTools, and logs for device & JS work just fine, including breakpoints. The only problem is I still see "NO APPLICATION SELECTED"

My AndroidManifest.xml in both debug and main contains 'android:name=".MainActivity" and the app itself works fine.

ADB devices lists the device correctly, and this project has been working fine for over 3 years with React

[2021-12-20 20:33] nicode-io commented on #2870
Same error for me today, very difficult to reproduce as it happens when nothing special was done in project ...

[2021-12-20 20:51] nicode-io commented on #3189
Thanks @mweststrate fix is working and no need to downgrade so.

[2021-12-20 21:08] nicode-io commented on #3189
Thanks @mweststrate ! Your solution works for me

[2021-12-21 02:28] Victorcassiano commented on #3186
yes

[2021-12-21 17:35] amirping commented on #3189
+1

[2021-12-21 20:57] devben commented on #2870
Downgrading flipper fixed this for me. See https://github.com/facebook/flipper/issues/3189
downgrade here: https://github.com/facebook/flipper/releases

[2021-12-22 07:46] Shahrukh0396 commented on #2948
@ligol have you able to resolve this issue? i am facing the same issue

[2021-12-22 11:46] ct-tomas-sykora commented on #3189
Happens on MacOS with Apple Silicon as well.

[2021-12-22 12:37] mweststrate commented on #3189
Should be fixed in Flipper 0.127 which will ship later today, and/or in the next version of  RN

[2021-12-22 12:37] #3189 closed

[2021-12-22 15:29] hakkikonu commented on #3183
agree. 0.126 crashes metro bundler also. i downgraded to 0.125 and now it working properly.

[2021-12-22 16:45] mweststrate commented on #3183
Sorry, missed that this is most probably a duplicate of #3189, but since downgrading fixes the problem, pretty sure it is. Upgrading to 0.127 that contains a fix should work (just released), or otherwise this work around on 0.126 should work as well: https://github.com/facebook/flipper/issues/3189#issuecomment-997191720.

[2021-12-22 16:45] #3183 closed

[2021-12-22 16:46] mweststrate commented on #3186
Duplicate of #3189, upgrading to Flipper 0.127 should fix the problem.

[2021-12-22 16:46] #3186 closed

[2021-12-23 08:28] shensven commented on #3175
+1

[2021-12-23 08:40] lblasa commented on #3175
Thanks for reporting this, I'll look into it very shortly.

[2021-12-23 08:44] mrusmanali commented on #950
why on earth FB removed a working chrome debuger to replace it with this flipper piece of shit....

[2021-12-23 08:45] mrusmanali commented on #950
on top of that now its default.... always shoving their own stupid ideas up other people butts... so typical of FAcebook

[2021-12-23 10:25] efstathiosntonas commented on #3173
For the name of God, please submit this PR! Thanks Chris!

[2021-12-23 10:27] mweststrate commented on #3173
Looks cool! My primary concern would be around performance, logs plugin can generated a few hundred K of lines and scroll very fast, so I'd check against a physical android device's logs to see if this doesn't slow down rendering a lot. If it does, maybe it could be made an option in the drop down menu?

[2021-12-23 11:23] jayasme commented on #1865
Done!
![image](https://user-images.githubusercontent.com/668198/147233619-0ab2532a-5ae9-4814-88e0-e0dbd8410119.png)

[2021-12-23 14:23] hakkikonu commented on #3183
Thanks

[2021-12-24 03:35] 000xuandu commented on #3197
Same issue

[2021-12-24 06:55] ZeeshanAhmadKhalil commented on #3152
@risingus  can you tell the command to install flipper with Chocolatey ?

For me its giving the following issue:

![image](https://user-images.githubusercontent.com/41861952/147326794-790cb397-5833-4f93-83fd-194c2305853f.png)

[2021-12-24 07:59] clytras commented on #3173
@efstathiosntonas Hey Stathis! How nice to see you here! We need to get in touch!

I wanted to discuss this first before I procced submitting a PR.

@mweststrate I share the same concerns with you regarding performance, but remember, for each record, the highlighted text will be the truncated text, which currently has a length of 400:

https://github.com/facebook/flipper/blob/d48fbd8e50c8ae6203a8c

[2021-12-24 09:10] ZeeshanAhmadKhalil commented on #1940
@priteshrnandgaonkar  in windows flipper is showing blank white screen
how i can connect it with my react native android app?

[2021-12-24 09:38] ZeeshanAhmadKhalil commented on #3152
I was having the same issue my problem was solved by installing OpenSSL using following command:

`choco install openssl`

[2021-12-24 09:38] mweststrate commented on #3197
This might be an duplicate of #3189, not fully sure. Does the workaround listed here, https://github.com/facebook/flipper/issues/3189#issuecomment-997191720, or upgrading to 0.127 solve the issue?

[2021-12-24 09:40] mweststrate commented on #3173
Looking forward to it! If not too complicated, it might be interesting to set it up as a shared DataFormatter as well in flipper-plugin, that makes the functionality easily shareable with other plugins

[2021-12-24 20:10] e16din commented on #158
The problem still persists on Flipper 0.126.0

[2021-12-24 20:11] e16din commented on #561
I try to use Flipper 0.126.0 and have the same problem.

How to fix it?

[2021-12-26 08:36] Rc85 opened #3213 "No device found"
Tried 0.127 and 0.126. Going back to 0.100, I can see Windows, my device and React Native (with metro connected).

SDK location is correct in settings. `adb devices` shows devices. What else should I do?

[2021-12-26 10:41] sparlampe commented on #3027
I had exactly the same simptoms. Then I discovered that in settings the path of the android SDK was incorrect. It was pointing to `/opt/something`.. I have changed it to `myHome/Android/Sdk` and everything worked.
OS: Ubuntu
Flipper device: 0.126.0
Flipper desktop: 0.127.0

The mobile application fails to start with Flipper 0.127.0 with the error
`SoLoader: couldn't find DSO to load: libjscexecuto

[2021-12-27 02:06] adi1625 commented on #3152
我也是白屏，通过安装OpenSSL解决了。从这个地方下的。我win10 20H2。

my problem was solved by installing OpenSSL using the following site:

http://slproweb.com/products/Win32OpenSSL.html

[2021-12-27 07:05] alexxxcs1 opened #3214 "Question: can i delete desktop/flipper-ui-browser && desktop/flipper-server on my local ?"
Im going to build desktop app on my local , I guess u forget remove those Dir went refactored ?
I try remove those Dir and electron app still work, so could I delete those Dir?

[2021-12-27 09:51] msageryd commented on #3197
Thanks.
I had already applied your manual patch according to #3189, this did not fix the current problem.

I have now upgraded to 0.127.0 and changed my Podfile to `use_flipper!({'Flipper' => '0.127.0'})`. Pod install fails due to incompatible "FlipperKit/FlipperKitNetworkPlugin". How should 0.127.0 be installed correctly?

[2021-12-27 10:16] msageryd commented on #3197
Update..
I'm running NVM. Could this have something to do with the Devtools mess? I did a search for react-devtools and got this:
![image](https://user-images.githubusercontent.com/4483085/147461856-4149aceb-c9f9-4f8c-8923-3ffbcb24f0bb.png)

My current Node version is 14.16.1. Could Flipper find Devtools from another version? Is there anywhere I can see where Flipper finds react-devtools?

[2021-12-27 11:51] comm1x commented on #2414
Same here, can't use Flipper in my project cause of `use_frameworks!`. I'm wonder why it is not work with this default statement.

[2021-12-27 15:46] msageryd commented on #3197
Solved at last!

tl;dr
[code]

I did not have **react-devtools-core** at all in my package.json.

I don't know why I need react-devtools-core (everything worked fine with Chrome debugger and react-native-debugger before)

I have not read anything about react-devtools-core in the Flipper docs. Did I miss something?

[2021-12-27 15:46] #3197 closed

[2021-12-28 03:32] marcoRS commented on #3037
@mweststrate `Version 0.127.0` seems to have this same error. I can no longer see a connected emulator / device on this version.

[2021-12-28 08:00] ohmae commented on #3175
I'm facing the same problem. I have narrowed down the reproduction conditions to some extent and will report back.

### Device

| AVD | result |
|--|--|
| API 31 x86_64 (Pixel2 / Google Play) | reproduced |
| API 30 x86 (Pixel2 / Google Play) | reproduced |
| API 29 x86 (Pixel2 / Google Play) | not reproduced |

### Code
Simply start the AndroidFlipperClient

[code]

[code]

### app_name

| app_na

[2021-12-28 08:52] ligol commented on #2948
No last time i tried with latest version it still crash but i need to investigate because we have other library using NDK that may not be build with latest NDK.

[2021-12-28 12:45] badredaha opened #3223 "Duplicate symbols when install Flipper iOS for existing project"
## 🐛 Duplicate symbols
When I install a Flipper I always face the same problem:
`153 duplicate symbols for architecture x86_64`

#### I noticed the duplication between these libs:
[code]

## To Reproduce
- Install Flipper for iOS in existing RN project
- Build project

## Error:

`duplicate symbol 'folly::detail::str_to_bool(folly::Range<char const*>*)' in:
    /Users/machine/Library/Developer/Xco

[2021-12-28 13:10] Moises-dev08 commented on #2766
My problem resolved with this command in powershell:

choco install openssl

[2021-12-28 15:49] marcoRS commented on #3213
@Rc85 I am getting the same error now.

[2021-12-29 09:10] gabrielbuzziv commented on #948
I still have this problem, someone have a solution?

[2021-12-29 11:49] mweststrate commented on #948
Please that this issue is closed, any many different causes can lead to the same symptoms, so please open a new issue and provide reasonable debug information (like Flipper version, kind of application and device, the Flipper logs etc) for us to be of any help.

[2021-12-29 11:51] mweststrate commented on #3213
Please share your flipper logs (exclamation mark). Is `openssl` installed on your system?

[2021-12-29 11:53] mweststrate commented on #2766
I'll add an error to make sure the absence of openSSL during startup is more clearly communicated

[2021-12-29 11:53] #2766 closed

[2021-12-29 13:51] mweststrate commented on #3037
@marcoRS there can be many reasons why devices don't show, which might or might not relate to this issue, so please open a fresh one and provide logs, context on the kind of app, device, etc etc

[2021-12-29 13:51] #3037 closed

[2021-12-30 06:50] ng520tx commented on #3213
![image](https://user-images.githubusercontent.com/7404231/147728382-ff7879db-a07b-4018-a7fe-6ad1aa5d2da0.png)

![Uploading 屏幕截图 2021-12-30 144848.png…]()

[2021-12-30 06:52] ng520tx commented on #3213
![屏幕截图 2021-12-30 144848](https://user-images.githubusercontent.com/7404231/147728489-a6e9ac52-a3fb-48d9-bf3e-b852b01bd84d.png)

[2021-12-30 08:22] ng520tx opened #3225 "You can't select an application"
flipper for window
![屏幕截图 2021-12-30 144939](https://user-images.githubusercontent.com/7404231/147734185-3d0124ca-7a54-4957-a0d4-d3abe61c6c07.png)
![屏幕截图 2021-12-30 145724](https://user-images.githubusercontent.com/7404231/147734196-f3b9b8ee-8948-4aa1-a017-f38dc9e473c6.png)
![屏幕截图 2021-12-30 145527](https://user-images.githubusercontent.com/7404231/147734219-3955268b-3d65-4269-be14-11c99d37849a.pn

[2021-12-30 08:49] mweststrate commented on #3225
Looks like Flipper can't obtain the permissions to read the certificate file on the device, given the `run-as` "data has wrong owner" error. @jknoxville / @cekkaewnumchai is there a known fix for that?

[2021-12-31 00:24] Rc85 commented on #3213
![image](https://user-images.githubusercontent.com/22307591/147796147-2f64c03d-84a1-42e6-8542-197d98bd966a.png)

[2022-01-01 12:41] YahiaJabeur commented on #2345
I m facing the same issue. any idea how to resolve it?

[2022-01-01 17:24] fergalmoran commented on #3189
I'm not sure this is a duplicate of #1523 ? I downgraded to 0.125.0 then upgraded to 0.127.0 but none of them fixed my issue.
Flipper connects to my device but the hermes plugin is disabled.
[code]

[2022-01-01 21:51] YahiaJabeur commented on #2167
Im facing this issue on react native 0.66.2 on a simulator or device!
Any idea how to resolve it without commenting `use_flipper!()` ?

[2022-01-03 16:58] grean commented on #3126
It seems that idb is not installed in this path /usr/local/bin/idb when using this command:
pip3.10 install fb-idb
Maybe pip3.6 accordingly to the documentation doesn't install in the same way..

[2022-01-04 12:34] passy commented on #3225
Is this a Samsung device? There are known issues with `run-as` that we don't have a workaround for. https://github.com/facebook/flipper/issues/92

[2022-01-04 13:34] lblasa commented on #3175
@ohmae thanks for the extra information. I've just locally tested it and it was reproduced with API 30 but not with API 24. I will look into it in detail now.

[2022-01-04 13:53] passy commented on #3196
Thanks for the heads-up. I wasn't aware there were any security implications.

[2022-01-04 14:25] allandallopez opened #3242 "Error when running react native IOS after set The Initialization from flipper documentation"
Hello guys. So, I want to try to integrate flipper with my react native application project. I tried it on Android its working well, but after I tried to integrate it with IOS, there was a step which is made me unable to run my app again. It's happened when im adding The "Initialization" from the flipper documentation. Here's the code :

[code]

After adding the code on my `AppDelegate.m`, It's be

[2022-01-04 15:46] lblasa commented on #3175
The problem was with the url encoding used to establish the connection. A fix will be in place for the next release coming soon. I will update this thread with the details once is out.

[2022-01-04 17:06] #2306 closed

[2022-01-04 17:06] #2608 closed

[2022-01-04 17:10] lblasa commented on #3242
@allandallopez it seems like the build dependencies are not in place?

Did you update the Podfile? If so, did you run `pod install` after?

[2022-01-04 17:14] allandallopez commented on #3242
@lblasa Yes, After im adding these two line code :

```use_flipper!({'Flipper' => '0.127.0'}) ```
and
```flipper_post_install(installer)```

I do run ```pod install``` again.

<img width="774" alt="Screen Shot 2022-01-05 at 00 13 46" src="https://user-images.githubusercontent.com/45220508/148097411-fdcdca3d-664c-4453-b149-ab3892adcd78.png">

[2022-01-04 17:17] allandallopez commented on #3242
@lblasa Yes i think so, but dont know how to fix it.

[2022-01-04 18:13] clytras commented on #3173
@mweststrate I have implemented it as a shared DataFormatter indeed, but the issue with this approach is that it can't work with the truncate formatter as it can't process JSX as a source to highlight, only strings.

Please have a look at my PR when you find some time as there are some issues that need to be discussed and ironed.

[2022-01-05 13:11] 3runoDesign commented on #1399
I have this problem here when using reanimated v2

[2022-01-05 16:09] lblasa commented on #3242
That is weird, all the missing symbols come from the dependencies which are addeded with Cocoapods. I can see the dependencies being installed but maybe not to the right iOS target?

[2022-01-05 17:40] #3196 closed

[2022-01-05 20:26] beetlebum opened #3245 "Android application won't open after migrating to 0.127"
In a React Native project, after migrating Flipper from 0.125 to 0.127, the Android application does not open, crashing with the following stack trace:

[code]
Downgrading to 0.125 solves the issue.

[2022-01-06 06:44] Siva-Leo commented on #3245
+1

Only Downgrading....!
Please let me know if you find any other solution.

[2022-01-06 06:50] Siva-Leo commented on #3213
@Rc85 if you using Windows, download watchman and add the watchman path to the **PATH environment variable**

[2022-01-06 06:51] Siva-Leo commented on #3213
+1

I have same issue

[2022-01-06 10:32] Siva-Leo commented on #3213
I used 0.127
so downgrading flipper version to 0.125 issue gone.

1.Try delete Flipper and .config folder from c:/<user>/.config then re-download and run
2.Check your setting and set correspondent SDK path and press **APPLY** button not **APPLY and Restart** button (I think its also BUG) then restart manually

this things are I tried and solution 2 working for me

[2022-01-07 08:35] Kumar2106 opened #3246 "Unable to use Hermes Debugger."
## 🐛 Bug Report

## To Reproduce

## Environment

[2022-01-07 09:42] #3246 closed

[2022-01-08 03:15] rayliao opened #3247 "Flipper OpenSLLUitls thread warn and error"
Run My APP with Flipper in macos，thread error and warn in OpenSLLUitls：

return NetworkSocket(ret);
[code]

BIO_set_fd(b, sock, flags);

Thread 11: EXC_BAD_ACCESS (code=1, address=0x60)

![image](https://user-images.githubusercontent.com/5601068/148629600-c27d1902-716b-4f69-a337-db3d46dbb29c.png)

### ENV

- Xcode: Version 13.1
- Flipper: 0.127.0 (50.0.0)
- RN: 0.67.0-rc.6

In Podfile.lock:

 - Fl

[2022-01-08 14:58] diskriminantWasTaken commented on #1111
+1

[2022-01-08 22:52] #1379 closed

[2022-01-09 00:50] gpeal commented on #536
This still requires attention.

[2022-01-09 02:51] #1145 closed

[2022-01-09 14:55] mlazari commented on #3245
`0.126.0` works too

[2022-01-09 17:14] joelbowen commented on #2954
Check your device logs in Flipper for an error like the following:

[code]

I was able to resolve this by updating the date/time on my AVD. Submitted a PR to add to the troubleshooting docs https://github.com/facebook/flipper/pull/3248

[2022-01-10 08:39] #2278 closed

[2022-01-10 08:39] Arjun-omniwyse commented on #2278
Issue fixed

[2022-01-11 00:44] JaxGit opened #3265 "Searching Plugins throws error - Unreachable hosts - your application id may be incorrect"
## 🐛 Bug Report

Searching in Plugin Manager > Install Plugins throws following error in Flipper Logs:

"unhandledrejection" event intercepted:
"Unreachable hosts - your application id may be incorrect. If the error persists, contact support@algolia.com."
![Screen Shot 2022-01-11 at 11 23 49 am](https://user-images.githubusercontent.com/11201846/148861678-8df46232-f610-4437-8fca-115004873981.png)

[2022-01-11 01:29] thliu21 commented on #478
Hello folks. I am encountering this issue again as I am getting
`'FBDefines/FBDefines.h' file not found`
while using `use_frameworks!`.
I tried what @kuhnroyal mentioned by changing the path to `FlipperKit/FBDefines.h` but it revealed more issues like this. I think there is something definitely wrong with my podfile but I cannot find out where. Could anyone help me out?

[2022-01-11 09:18] kidroca commented on #2894
I haven’t experienced the issue again

If the root problem is coming from Electron we can just close this one

[2022-01-11 09:18] #2894 closed

[2022-01-11 10:05] thliu21 commented on #2414
Hello folks. I encountered this issue and I tried a few things. There is one thing that I tried and it fixed the problem. I am no expert on cocoapods or flipper, but I got it build by just adding `Flipper-Fmt` to the `$static_framework`.
[code]
It is yet to know how this works out and I am in a my-code-works-but-I-dunno-why situation. If you are a cocoapods expert please help me digging a bit.

[2022-01-11 11:00] baveku commented on #2414
Oh, I tried with Flipper latest version 127 and It's worked, Maybe Flipper-folly has fixed it, 🥳 🥳 🥳 🥳 🥳

[2022-01-11 23:10] KillianH commented on #2495
I'll like to keep this issue open :) We still have the same problem on our side too.

[2022-01-12 03:27] allandallopez commented on #3242
@lblasa Any suggestions from you ? The IOS target that I have to try. Because for now in the podfile I didn't add the target IOS maybe because of that it can't running with flipper.

[2022-01-12 04:21] Albert-Gao commented on #2514
still an issue

[2022-01-12 09:39] mweststrate commented on #2495
You're interested in investigating it further? Otherwise there is little value in keeping issues open that no one is willing to invest in.

[2022-01-12 15:48] github-actions[bot] opened #3279 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1688295564

[2022-01-12 16:41] passy commented on #3279
Manually closing and releasing.

[2022-01-12 16:41] #3279 closed

[2022-01-13 04:13] AlexanderEggers commented on #3245
`0.128.0` seems to fix the issue for me

[2022-01-13 06:40] eisodev commented on #3245
Thanks for this!

Been struggling for 3 days restoring Flipper to an ignite-based RN project which later on has been ejected.
"NO APPLICATION SELECTED" was always showing on Android (emu/physical) because the basic setup docs for [Manual Android Setup](https://fbflipper.com/docs/getting-started/react-native-android/) never mentions client.start() which is needed after plugins are added. Adding cli

[2022-01-13 10:10] rafauke opened #3281 "[Request] Provide binaries for v0.128.0"
Hello,

Thanks for all the hard work :) It would be great if you could provide the binaries for recent release: https://github.com/facebook/flipper/releases/tag/v0.128.0

Thanks!

[2022-01-13 10:40] lblasa commented on #3175
The issue should be fixed now in version v0.128.0.

[2022-01-13 10:45] lblasa commented on #3247
Hi @rayliao, thanks for reporting this. Not a Cocoapods expert but the versions found in the Podfile.lock refer to version 0.99.0. Could you please update these? Latest release is v0.1280.

Can you try running this?
rm -f Podfile.lock
pod install --repo-update

I believe that should help.

[2022-01-13 10:51] lblasa commented on #3245
Many thanks for reporting this, currently investigating.

[2022-01-13 11:12] passy commented on #3281
Thanks for the request. Will restart the release jobs.

[2022-01-13 11:15] passy commented on #3281
It actually doesn't build on Windows right now. I'll need to land a fix for that first.

https://github.com/facebook/flipper/runs/4791210127?check_suite_focus=true

[2022-01-13 13:09] ohmae commented on #3175
@lblasa Thanks for the fix! It no longer crashes in my environment.

[2022-01-13 13:17] #3175 closed

[2022-01-13 16:41] github-actions[bot] opened #3283 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1693688475

[2022-01-13 16:56] daxaxelrod opened #3284 "Android App crash - React Native Flipper"
## 🐛 Bug Report
Following the React Native guide in the repo, Main Activity invokes the ReactNativeFlipper class. After creating a client and setting up some plugins, the app consistently crashes after `client.start()` run.  I tried to use the debugger but even a force step into client.start() crashes immediately.

Crashes with
[code]

## To Reproduce
Flipper v0.127.0
ReactNativeFlipper.java from

[2022-01-13 17:20] #3283 closed

[2022-01-14 09:09] Rc85 commented on #3213
Watchman error is gone, but still no device found.

![image](https://user-images.githubusercontent.com/22307591/149489296-e01df7e2-0850-4cc2-983b-9f46113f1a46.png)

[2022-01-14 12:06] lblasa commented on #3245
I can definitely see there's an issue here:
https://github.com/facebook/flipper/blob/main/react-native/ReactNativeFlipperExample/android/build.gradle

As the example is trying to use NDK r21, it should be r23. This will be fixed very soon.

If you're finding this issue in other apps, could you please share what NDK version is being used?

[2022-01-14 12:07] lblasa commented on #3284
Hi @daxaxelrod many thanks for reporting this.

I can definitely see there's an issue here:
https://github.com/facebook/flipper/blob/main/react-native/ReactNativeFlipperExample/android/build.gradle

As the example is trying to use NDK r21, it should be r23. This will be fixed very soon.

[2022-01-14 13:52] mrousavy opened #3290 "Cannot create Flame Graph on Hermes"
## 🐛 Bug Report

Hi!

I'm trying to create a Flame Graph for my app which is running on Hermes to find out which functions are slow.

I can't seem to start the Performance Recording though, as the Hermes Debugger (RN) plugin is stuck at this screen forever and never actually starts:

![image](https://user-images.githubusercontent.com/15199031/149523900-4e85efd2-6ace-498b-92e7-4368d3cfdcb7.png)

Th

[2022-01-14 14:59] daxaxelrod commented on #3284
Thanks so much! Also side note, I see `nativeArchitectures = project.getProperties().get("reactNativeDebugArchitectures")` in the app/build.gradle file but dont see a value for that defined anywhere

[2022-01-14 15:53] yleclanche commented on #3213
Same here on 0.127 and 0.125 : no devices found.
Adb is running and showing my devices (emulator and physical device).

I tested with 0.100 and my devices were detected.

[2022-01-15 00:04] pyarmak commented on #3284
Same issue here. Tried forcing ndkVersion to 23 but no luck. I'll wait for an official solution @lblasa . Thanks!

[2022-01-15 09:36] huanguolin opened #3294 "Said: "... you don't have OpenSSL installed...". But I manual run 'openssl version' is OK(add path correctly)!"
## 🐛 Bug Report
![image](https://user-images.githubusercontent.com/12430413/149616935-bff48b24-a669-437d-8474-7521f44ae2b7.png)
![image](https://user-images.githubusercontent.com/12430413/149617047-bc2d0211-3226-425b-8e6f-20b2b668b29c.png)

## To Reproduce
Just start flipper.

## Environment
Desktop version: 0.127.0
Android version: 0.125.0
OS: Windows 10 Enterprise 21H1 19043.1415

[2022-01-15 09:41] huanguolin commented on #3294
![image](https://user-images.githubusercontent.com/12430413/149617281-7f7b6f4a-531a-449f-b91b-82f0ce2d01c1.png)

[2022-01-16 17:13] passy commented on #3281
We finally got a new release out now. Sorry for the delay!

[2022-01-16 17:13] #3281 closed

[2022-01-17 01:31] ZComwiz commented on #3117
@lblasa — do you have any progress update on this?

[2022-01-17 06:52] WenLonG12345 opened #3296 "Flipper 0.128.4 - Android crash on startup"
Hi, I am recently update flipper from `0.127.0` to `0.128.4`. However, when I launch my Android app, the app crash during startup. Here is the crash log from flipper.

[code]

It seems to be ndk version issues.. but I don't know?

**Enviroment:**
Flipper app: 0.128.4
gradle.properties: 0.128.4
react-native-flipper: 0.128.4

Anyone have idea why this error occurs? and also any solution for this?

[2022-01-17 08:09] rayliao commented on #3247
@lblasa Thanks for your comment, but it's still not work after I update my Flipper and flipper version in the Podfile.lock to v0.128.4

Seems I got another error in Xcode when I ran my APP:
![image](https://user-images.githubusercontent.com/5601068/149731373-96999bc0-128c-4eb7-81cd-e0404dfb2d20.png)

[2022-01-17 12:25] passy commented on #3294
Sorry, I'm a Windows noob but this would indicate that `openssl` isn't available on the `$PATH` equivalent on there. Could you check if the article here is of any help? https://dev.to/danilovieira/installing-openssl-on-windows-and-adding-to-path-3mbf

[2022-01-17 12:26] #3180 closed

[2022-01-17 12:26] #3181 closed

[2022-01-17 12:26] #3185 closed

[2022-01-17 12:26] #3187 closed

[2022-01-17 12:28] passy commented on #3290
I believe that's expected. See here: https://github.com/facebook/flipper/issues/1830

[2022-01-17 12:28] #3290 closed

[2022-01-17 13:25] passy commented on #3195
All references are now at 2.6.0. Thanks for the note!

[2022-01-17 13:25] #3195 closed

[2022-01-17 17:16] kevoroid commented on #3296
Kinda same issue for me when I updated to 0.128.4 on Linux but no errors as it completely freezes!

[2022-01-17 17:53] waliahimanshu commented on #2407
+1 DataStore support on Flipper

[2022-01-17 23:12] seotrader opened #3316 "Problems integrating DBS plugin - not showing tables"
Hello,

I have a problem integrating the DBS plugin into Android.

Using version `0.123.0`

I've added this line:

`client.addPlugin(DatabasesFlipperPlugin(context))`

But all I can see is the DBS names without details of the tables.

Would like to know how to solve it.

Thanks

[2022-01-17 23:52] passy commented on #3316
I don't think I've seen that one before. There seem to be a few random instances on Google, too, but I doubt that this is specific to the Flipper plugin.

https://www.google.com/search?q=android+SQLITE_CANTOPEN_ENOENT&oq=android+SQLITE_CANTOPEN_ENOENT

[2022-01-18 07:28] huanguolin commented on #3294
Thanks! It's working!

The key is: Must add path to the User Variables. Not System Variables.
If both places are added, it won't work either. 😂

[2022-01-18 07:29] #3294 closed

[2022-01-18 07:54] huanguolin commented on #3294
I think this problem may be related to https://devblogs.microsoft.com/oldnewthing/20100203-00/?p=15083

[2022-01-18 08:54] usrbowe opened #3317 "[QUESTION] JS / Web Flipper connection"
Recently added [js-flipper](https://github.com/facebook/flipper/tree/main/js/js-flipper) allows to use Flipper for `Node.js` or `Web` projects.

But I found the current Flipper desktop does not start the `ws` server on port `8333`, because of the `GK.get('comet_enable_flipper_connection')`.

I believe this `GK` util is only used internally in FB, but would it be possible to either allow by default

[2022-01-18 09:05] keeprock commented on #2173
As I understand that correctly, the issue is arm vs x86_64 arch, which Flipper uses underneath. I've installed idb using this guide https://github.com/facebook/idb/issues/649. But it is still x86.

There is the comment which successfully installed an M1 version of Flipper (https://github.com/facebook/idb/issues/649#issuecomment-1007861351) but I can't make it work.

[2022-01-18 13:19] aigoncharov commented on #3317
Hi @usrbowe! Thanks for spotting it, and for trying out `js-flipper`. The fix is on its way.

[2022-01-18 14:24] aigoncharov commented on #3317
Should be resolved by https://github.com/facebook/flipper/commit/3865a3d9a2e685fbfc6de5db589d9a136db79720

[2022-01-18 14:24] #3317 closed

[2022-01-19 02:51] usrbowe opened #3319 "Question: [js-flipper] supported device types, localhost connection, unique device id"
I've been testing the new `js-flipper`, and was planning to have a way to connect RN apps, without the native Flipper SDK (this might be also the way Expo could adopt Flipper).

There are few problems so far:

1. the `os` package is no longer polyfilled by [webpack](https://github.com/webpack/changelog-v5#automatic-nodejs-polyfills-removed) (so also latest create react app will not be able to use

[2022-01-19 03:28] usrbowe opened #3320 "Discussion: 3rd party NPM registry, internal only plugins"
I would like to open discussion on this topic. Most plugins will likely be open sourced and published to `npm`. But I believe lot of use cases will include internal plugins, which should only be available internally.

I guess this is also case in Facebook/Meta. So would like to know what approach you guys took, and maybe we could add some similar option for others as well?

One of the main issues,

[2022-01-19 10:46] ChildishForces opened #3321 "Question: Why does the the flipper site show a native looking Mac OS application but when downloaded it's a slow, electron application?"
First let me mention that Flipper is an absolute lifesaver and I struggle to imagine life without it now. My issue is that the site shows an application that looks as if it's built in Cocoa/AppKit (which, I know, is not cross platform and I understand why it would be built in Electron, single code base, multiple platforms, etc) but why is the product nothing like the screenshots on the site?

Chee

[2022-01-19 10:54] aigoncharov commented on #3321
@ChildishForces the images on the website are outdated. Thanks for spotting it! We should update them, but we'll, probably postpone it until we release ["Headless Flipper"](https://fbflipper.com/blog/2021/10/14/roadmap/#what-is-ahead). It might drastically change how we deliver Flipper and in what form. We are currently working out the details.

[2022-01-19 10:55] #3321 closed

[2022-01-19 10:55] ChildishForces commented on #3321
Oh cool, so in the end we may be able to get back to a truly native flipper by using the headless flipper project?

[2022-01-19 11:21] nikoant commented on #3320
Hey @usrbowe! We have distribution mechanism for internal plugins which in addition to installation also supports auto-updates for plugins. I think it should be easy to adopt for option 2. I'll write up a doc this week on how the mechanism works and propose how we could extend it to support custom plugin indexes.

[2022-01-19 13:38] aigoncharov commented on #3321
I am doubtful we'll end up building native clients. We are currently exploring ways to run Flipper as a 2-piece ensemble:
- flipper server
- flipper ui
So the UI is, most likely, going to stay web-based (Electron, PWA, something else), but we might migrate from Electron.

You can already take a sneak peek at web-based Flipper if you run `npx flipper-server` in your terminal.

[2022-01-19 17:18] mihaicristianpetrescu commented on #3172
Seems like a combination of the following updates (not sure exactly if all are required to fix the crash):

build tools update to 32.0.0
kotlin version 1.6.10
kotlin compiler extensions 1.2.0-alpha01
room 2.4.1
navigation 2.3.5
lifecycleversion 2.4.0
okhttp 4.9.3
facebook 12.3.0

Fixed the problem.
Using Flipper 0.128.4 - latest as of now

[2022-01-19 18:37] jwd-kalyber opened #3322 "Question: Need to enable iOS diagnostics and the documentation is unclear"
There is an existing issue #1757 that asks where you put the FlipperDiagnosticsViewController.m in react native, but it has not been answered.

I am able to connect to Flipper to Android without issue. With iOS I get an error:

Connection failed

Failed to find device ... while trying to connect app.

I had hoped that the diagnostics controller view would shed more light on this issue, but the doc

[2022-01-19 22:14] brianguertin commented on #1431
Go away, stale-bot. This issue is important 🤖

[2022-01-20 01:00] caraesten opened #3323 "Mixed Swift + Objective-C project fails to build using Flipper 0.128.4 and use_frameworks!"
## 🐛 Bug Report
Working on integrating Flipper into Airtable for iOS and running into issues where builds following the instructions [here](https://fbflipper.com/docs/getting-started/ios-native/) for using `use_frameworks!` and including `pre_install` hooks for building flipper as static libraries with the `$static_framework` array stated in the docs fails to build, erroring out with failures to b

[2022-01-20 02:24] baveku commented on #3323
if you used > 0.87, you need to add Flipper-Fmt to static_framework, I tried and It's worked

[code]

[2022-01-20 02:46] baveku commented on #3322
Do you install fb-idb and watchman?

[2022-01-20 06:42] huskyth opened #3325 "Question: Hostname/IP does not match certificate's altnames:"
desktop/node_modules/electron: Command failed. and node install.js
anyone can help me

[2022-01-20 06:59] huskyth commented on #3325
error /Users/tenghao/flipper/flipper/desktop/node_modules/electron: Command failed.
Exit code: 1
Command: node install.js
Arguments:
Directory: /Users/tenghao/flipper/flipper/desktop/node_modules/electron
Output:
RequestError: Hostname/IP does not match certificate's altnames: Host: github.com. is not in the cert's altnames: DNS:*.googlevideo.com, DNS:*.a1.googlevideo.com, DNS:*.bdn.dev, DNS:*.c.d

[2022-01-20 07:00] huskyth commented on #3325
error .../desktop/node_modules/electron: Command failed.
Exit code: 1
Command: node install.js
Arguments:
Directory: .../desktop/node_modules/electron
Output:
RequestError: Hostname/IP does not match certificate's altnames: Host: github.com. is not in the cert's altnames: DNS:*.googlevideo.com, DNS:*.a1.googlevideo.com, DNS:*.bdn.dev, DNS:*.c.doc-0-0-sj.sj.googleusercontent.com, DNS:*.c.2mdn.net,

[2022-01-20 16:48] lblasa commented on #3322
Hi @jwd-kalyber sorry to hear you're having issues establishing a connection.

For reference, FlipperDiagnosticsViewController is already part of FlipperKit so you just need to use it.

Example:
`#import <FlipperKit/FlipperDiagnosticsViewController.h>
FlipperDiagnosticsViewController* controller =
        [[FlipperDiagnosticsViewController alloc] init];
  self.window.rootViewController = controlle

[2022-01-20 17:22] jwd-kalyber commented on #3322
Thanks @baveku and @lblasa! I have tracked this back to an issue with installing IDB. There is a problem installing IDB on my current version of Mac OS (11.6.2) through brew that is causing the real problem.

For any future reference the IDB issues are documented in the following:
- https://github.com/facebook/idb/issues/757
- https://github.com/facebook/idb/issues/751

I haven't tested this yet,

[2022-01-20 17:22] #3322 closed

[2022-01-20 17:28] caraesten commented on #3323
This will fix it for the sample project, but our app build still runs into issues (specifically, where `Flipper-Folly`'s `cstdlib` is getting imported from a C rather than C++ context, and the `namespace` declaration is causing a failure).

I don't have time to put together a repro for the latter case, but at the very least, it seems like docs should be updated to include `Flipper-Fmt` in the list

[2022-01-20 17:30] lblasa commented on #3323
@caraesten we are in the process of incorporating Flipper-Fmt to the list of static frameworks. As for the issue highlighted above, I will look into it.

[2022-01-20 18:17] caraesten commented on #3323
Thank you so much!

[2022-01-21 02:08] usrbowe commented on #3319
3. **IDEA**: Actually for the `non-localhost` connections, would it be viable to provide QR code mechanism? To first get the Flipper host IP address and probably we could also exchange some passphrase to establish secure connection.

[2022-01-21 08:17] JakubKana commented on #3167
For newer versions up to 128.4 still no icons loaded. Any update from you. On Mac everything works so you should test it not only on Mac where you all probably develop the debugger.

[2022-01-21 11:41] lblasa commented on #3325
Hi @huskyth, I'm not entirely sure what the problem is here other than this being a local issue. Could you please try to clean the workspace and try again?

[2022-01-21 22:59] Rc85 commented on #2410
Did you fix this? I am getting this error if I am using mavenCentral and running in development. If I use jcenter, all is good. But jcenter is being removed soon.

[2022-01-23 03:23] WenLonG12345 commented on #3296
Anyone upgrade to `0.129.0` ? is this fixed?

[2022-01-24 06:05] Ahmedhamed77 commented on #3223
I have the same issue... ((

[2022-01-24 06:48] Arkkeeper commented on #3117
It seems that the problem is deeper than just 2 fixes. I've forked Flipper-DoubleConversion repo and patched xcframework creation script (https://github.com/Arkkeeper/double-conversion). I've also modified react-native/scripts/react_native_pods.rb in order to fetch Flipper-DoubleConversion from that fork, so now it includes a necessary slice for Mac Catalyst. But that's not enough for successful b

[2022-01-24 08:56] exotexot commented on #3117
Ah I was sort of hoping that this issue was fixed with the 0.67 release. So it still persists? :/
Hm, then my euphoria for 0.67 is fading :(

[2022-01-24 09:00] #3325 closed

[2022-01-24 09:41] blizzard7891 commented on #3042
@ColtonIdle  This issue is fixed??

[2022-01-24 11:39] AlbertVilaCalvo commented on #3322
Maybe it helps someone in the future.

I got the error "Failed to find device ... Timed out waiting for device" on a Mac with Brew. To fix it I had to link `idb-companion`: `brew link idb-companion`.

Use `brew doctor` to know if there is something unlinked.

[2022-01-24 12:19] Arkkeeper commented on #3117
I saw no difference in this between 0.66.4 and 0.67.1.
We still can't build for Catalyst without disabling Flipper :(
I'm testing on M1 Air, Hermes is enabled

[2022-01-24 14:04] jhonathannc commented on #2906
this worked for me, thanks!

[2022-01-24 15:45] Yrsafam commented on #3296
@WenLonG12345

[2022-01-24 17:19] olessavluk commented on #3265
Hi 👋
Happens for me when using corporate cloudflare warp with their certificate trickery.
Setting `NODE_TLS_REJECT_UNAUTHORIZED=0` and then running Flipper from command line resolved issue

[2022-01-24 21:57] ObidosDev commented on #3296
same

[2022-01-25 06:21] ColtonIdle commented on #3042
Still broken for me. Haven't been able to use flipper in months. lol

[2022-01-25 08:28] Arkkeeper commented on #3117
Nope, I was too pessimistic :) Everything seems to be ok after fixing Flipper-DoubleConversion slices.

"Duplicate symbols" error is related with absence of DEAD_CODE_STRIPPING = YES; in ios/projecto.xcodeproj/project.pbxproj, it was discussed here https://github.com/facebook/react-native/issues/32333#issuecomment-944159768, but there is no necessary fix in RN 0.67.
After adding DEAD_CODE_STRIPPIN

[2022-01-25 10:21] sajibsaha4647 commented on #2683
@princefishthrower Thank you. it works for me.

[2022-01-25 10:41] lblasa commented on #3265
Hi @JaxGit I don't think this item is actionably by us. It does indeed look related to some network issue.

[2022-01-25 10:41] #3265 closed

[2022-01-25 10:45] lblasa commented on #3296
Hi, the issue is known and we are currently working on a solution.

[2022-01-25 11:24] lblasa commented on #3042
Hi, sorry for the lack of attention to this issue. I will be looking at it very shortly.

[2022-01-25 12:50] #3296 closed

[2022-01-26 11:51] tomdebuyser opened #3356 "Connection failed with example react native app"
## 🐛 Bug Report
I was using flipper 0.125.0 desktop app in combination with my react native app on iOS. Everything worked fine until I updated flipper to 0.129.0. I adapted the podfile to use this version. Flipper tells me that the connection to my simulator fails (tries other iOS simulators already).

I downloaded the flipper example app but having the same issue there. Downgrading again does not

[2022-01-26 12:31] woodii opened #3357 "Flipper crashes when running UI Tests - couldn't find DSO to load: libfbjni.so"
## 🐛 Bug Report
I have implemented Flipper with several plugins into my native android app. But unfortunately for some reason running UI tests does not work anymore when Flipper is enabled in the debug variant.

When running the app normally everything works fine and all SO Libs can be loaded. But when running an UI test the app itself crashes because SoLoader cannot find and load libfbjni.so. The

[2022-01-26 12:55] trickeyd commented on #3284
Any news on this? 129 is out but there are no release notes for it as of yet. 🙏

[2022-01-26 13:09] valery-lavrik opened #3358 "TypeError: Cannot read property 'shortcuts' of undefined"
TypeError: Cannot read property 'shortcuts' of undefined

Flipper version: 0.129.0

Component stack:

    at SettingsSheet (file:///C:/Users/User/Downloads/Flipper-win/resources/app.asar/bundle.js:4218:1385)
    at TrackingScope (file:///C:/Users/User/Downloads/Flipper-win/resources/app.asar/bundle.js:1952:1646)
    at WithTrackingScope
    at Connect(WithTrackingScope) (file:///C:/Users/User/Down

[2022-01-26 15:16] mikehardy commented on #3117
Hey @Arkkeeper - I don't see a PR for your maccatalyst xcframework fix - you should PR that! It looked good to me. I had to flatten the slice from it's structure when I did the same for Notifee but there is nothing like proof, and if you have it definitely working then you should PR and get those slices published for next release hopefully

[2022-01-26 15:16] mikehardy commented on #3117
Hey @Arkkeeper - I don't see a PR for your maccatalyst xcframework fix - you should PR that! It looked good to me. I had to flatten the slice from it's structure when I did the same for Notifee but there is nothing like proof, and if you have it definitely working then you should PR and get those slices published for next release hopefully

[2022-01-26 15:21] Arkkeeper commented on #3117
Our team is doing some additional research now, if everything is ok, I'll certainly publish that patch as a PR tomorrow.

[2022-01-26 15:55] wojewski opened #3359 "Flipper Folly crashes build on x86_64 Mac"
## 🐛 Bug Report
After setting up the Flipper in React Native app along with [manual config](https://fbflipper.com/docs/getting-started/react-native-ios/) from doc and also by following the [Flipper React Native Example](https://github.com/facebook/flipper/tree/main/react-native/ReactNativeFlipperExample). The app crashes on the build phase as follows:

[code]

## To Reproduce
- Setup Flipper in th

[2022-01-26 16:04] wojewski commented on #3356
The same problem appears also on the x86_64 Mac

[2022-01-26 19:36] caraesten commented on #3357
This bit me a number of times, and the solution is kind of annoying. Try seeing if the `.so` is included in the install directory for your app on the device; in my case, it was in the APK, but not there. The solution is to include `android:extractNativeLibs` in your manifest (see: https://developer.android.com/guide/topics/manifest/application-element#extractNativeLibs)

see this part, specificall

[2022-01-27 04:32] ZComwiz commented on #3359
Connected to: https://github.com/facebook/flipper/issues/3117

[2022-01-27 06:09] ZComwiz commented on #3117
@priteshrnandgaonkar — looks like @Arkkeeper made a PR!

@mikehardy —what would be the next step(s) to see that added into RN 0.67.2? Can we make a fast patch release of RN that includes this fix?

[2022-01-27 10:58] woodii commented on #3357
@caraesten thanks! Your workaround solved the issue.
But I am still curious why this is only happening to one lib.

[2022-01-27 11:04] alfredarcifa opened #3361 "[conn] Failed to find device 'unknown' while connection app ..."
Hi people,

I have an issue with Flipper :

[conn] Failed to find device 'unknown' while connection app 'AppName' Error: Timed out waiting for device unknown for client AppName
    at file:///Applications/Flipper.app/Contents/Resources/app.asar/bundle.js:4373:5711

with iOS Simulator

Flipper version: 0.130.0

App Libriaries specs.:

"react-native": "0.64.1",
"react-native-flipper": "^0.88.0",
"re

[2022-01-27 11:08] mikehardy commented on #3117
If I understand correctly

First everything needs to be merged on main branches and working fir flipper

Then flipper does a release and you test with a local change to use that version and that should be enough to unblock

Then react native gets a PR to bump flipper version

Then you use the commitly release from that react native merge, then it's in the next react native version

I think since y

[2022-01-27 11:53] olessavluk opened #3362 "Version 0.130.0 stopped showing app connected (Android only)"
## 🐛 Bug Report

| 0.130.0 (broken) | 0.129.0 (working) |
| ------------- | ------------- |
| ![broken](https://olessavluk.s3.eu-central-1.amazonaws.com/s/2022-01-27-11-49-40/Screenshot%202022-01-27%20at%2011.47.07.png)  | ![working](https://olessavluk.s3.eu-central-1.amazonaws.com/s/2022-01-27-11-50-07/Screenshot%202022-01-27%20at%2011.46.12.png)  |

If I click device selector on top left corner

[2022-01-27 12:02] cekkaewnumchai commented on #3362
Version 0.130 is currently in broken state. We're working on releasing a new version with addressing this issue. Please downgrade to version 0.129 in a meantime, if possible. Sorry for the inconveniece

[2022-01-27 13:10] github-actions[bot] opened #3363 "GitHub Actions Workflow failed - Publish Android"
The workflow Publish Android failed. You can see it at

https://github.com/facebook/flipper/actions/runs/1756255055

[2022-01-27 16:38] passy commented on #3363
GitHub threw 5xxs when trying to upload the final artefact. Choosing to ignore this one.

[2022-01-27 16:38] #3363 closed

[2022-01-27 17:00] alfredarcifa commented on #3361
Update:

Despite the above problem, I can see the Logs and the Hermes Debugger.
If instead, I want to use the React DevTools I have the following error:

_Uncaught Error: Cannot remove node "0" because no matching node was found in the Store.
Dismiss
The error was thrown at file:///Applications/Flipper.app/Contents/Resources/app.asar/bundle.js:5605:337615
    at kr.emit (file:///Applications/Flipp

[2022-01-27 21:49] IAmNatch opened #3365 "Changelog.md is no longer including new updates"
## 🐛 Bug Report

See: https://github.com/facebook/flipper/blob/main/desktop/static/CHANGELOG.md

## To Reproduce

Observe 0.128.0 is the last update on the changelog.

[2022-01-28 05:44] Preshonyee commented on #3361
I have the same issue too

[2022-01-28 07:53] tututututututu commented on #2954
i am face the same problem with this log
![image](https://user-images.githubusercontent.com/16113734/151508204-e5a1e73b-eec8-4f7a-b759-35cbbf74e084.png)

[2022-01-28 08:05] alfredarcifa commented on #3361
It's frustrating, I know!!!

Other specs:

macOS: Monterey
version 12.1

Please, help us!

[2022-01-28 09:08] therealkh commented on #2954
almost same in iOS but, I can see my application. Selecting it does nothing. still 'no app selected'. any solution for iOS
![Image](https://user-images.githubusercontent.com/65399389/151518700-130bdc4c-4bba-4dc1-8b3a-b410f8eb8f99.png)
?

[2022-01-28 09:11] mweststrate commented on #2954
Please don't respond to closed issues, generally they aren't seen by others. If you are on Flipper 0.130, make sure to update to 131 first.

[2022-01-28 09:50] alfredarcifa commented on #3361
Other info, when I try to open debug from Dev Menu in-app, in the console I see this:

info Opening flipper://null/Hermesdebuggerrn?device=React%20Native...

[2022-01-28 10:42] pfox72 commented on #3284
My error is slightly different: A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 16410 (FlipperEventBas), pid 16260

The error only happens when I open the app on the physical device (either running directly or running from android studio), works fine in the emulator.

[2022-01-28 11:05] radzio commented on #3362
@cekkaewnumchai  did 0.131.0 fix this issue?

[2022-01-28 11:07] cekkaewnumchai commented on #3362
Yes 0.131 fix the connection problem we have in 0.130.

[2022-01-28 11:08] cekkaewnumchai commented on #3361
Apologize for the inconvenience. Flipper 0.130 is broken. Please update to version 0.131

[2022-01-28 14:13] alfredarcifa commented on #3361
Hi @cekkaewnumchai ,

with 0.129 I see another error in console:

Ignoring malformed FLIPPER_BROWSER_PORT env variable:  "".     Example expected format: "1111".

[conn] Failed to find device 'unknown' while connection app 'Bennet' Error: Timed out waiting for device unknown for client Bennet

[2022-01-28 15:22] svobik7 commented on #3284
It seems like it was fixed in `0.130.0`. At least it works for me sfter update.

[2022-01-28 16:51] alfredarcifa commented on #3356
Same issue: https://github.com/facebook/flipper/issues/3361

[2022-01-29 08:46] Gnative commented on #3362
I'm started having this issue with IOS as well - just updated. Downgrading to 129.

[2022-01-29 22:38] hbmartin commented on #2373
Fixed by https://github.com/facebook/flipper/pull/3367

[2022-01-29 22:47] hbmartin opened #3368 "Conflict with other jetified JNI libc++_shared.so"
## 🐛 Bug Report
When trying to build an app with another JNI library, encountering an error about duplicates:

[code]

## To Reproduce
Unfortunately, the other library is internal and proprietary. If that's blocking this issue then I can try to create an external demo.

## Environment
Kotlin 1.5.32, Gradle 7.3.3, Android Gradle plugin 7.0.4

[2022-01-30 16:29] KDederichs opened #3370 "react-native/flipper fails to compile when system contains gflags.h"
## 🐛 Bug Report
Same issue as https://github.com/facebook/react-native/issues/28446
If the host system contains `gflags.h` flipper won't compile

## To Reproduce
Install gflags and initialise a react native project -> try to build

## Environment

OSX 12.2
Fresh https://github.com/react-native-community/react-native-template-typescript template

[2022-01-30 23:03] Gakka opened #3371 "Question: Network mocking with Flipper for React Native App"
I tried set mock mode in network plugin for react native app in this way
[code]
           After that, I see Mock button in Flipper. After closing Mock Network Responses dialog my mocked responses will not start to work. Is it possible that mock mode in network plugin does not work for react-native app?or are there other ways to connect it for app?

[2022-01-31 07:52] alfredarcifa commented on #3361
Hi @cekkaewnumchai ,

with https://github.com/facebook/flipper/releases/tag/v0.131.1 I haven't any connection problem.

Thanks.

[2022-01-31 07:52] #3361 closed

[2022-01-31 13:28] grit96 commented on #1942
I have encountered this issue with my enterprise signed app in development. I can use idb to connect to the device, and see the app listed in `idb list-apps`, but in flipper I see the following error message `Failed to start house_arrest service for 'com.bt.internal.cve' with error 0xe80000b7 (Could not find the requested application.)`

[2022-02-01 13:34] passy commented on #3368
Sometimes the `pickFirst` options can help but if that doesn't work out, sadly, the only option left is building some custom repacking like they did here: https://stackoverflow.com/questions/24314983/how-to-exclude-duplicate-c-shared-libraries-so-in-a-multi-project-android-bui

[2022-02-01 13:35] passy commented on #3365
Yeah, we should do a little better with this. Lately, most changes were internal refactors and didn't affect user visible changes.

[2022-02-01 13:35] #3365 closed

[2022-02-01 13:35] passy commented on #3362
If there are still problems with the connection, that's a separate issue. The one tracked here was fixed with 0.131.

[2022-02-01 13:35] #3362 closed

[2022-02-01 13:37] passy commented on #3357
Oh hi @caraesten! 👋 Thanks for helping out.

This seems to be some quirk in the Android Gradle Plugin. Let me know if there's something we can do on our end to make this easier, but otherwise I'll close this as there's a workaround.

[2022-02-01 13:37] #3357 closed

[2022-02-01 15:45] Gnative commented on #3362
Fair call @passy, thank you..

[2022-02-02 04:47] andreibarabas opened #3391 "Flipper cannot connect to React Native apps run on My Mac (Designed for iPad)"
## 🐛 Bug Report
If you want to test the react native app to see how it runs on an M1 Mac, flipper currently can't connect to it.

The error thrown is

`Path didn't match expected pattern: /Users/andreibarabas/Library/Containers/A8D9392D-0686-4C6A-AFC0-7AAF83B1EDF1/Data/Library/Application Support/sonar/app.csr`

## To Reproduce
In the Xcode simulator list, select My Mac (Designed for iPad). It nee

[2022-02-03 09:29] essana3 commented on #3322
idb-companion does not work on any M1 device

[2022-02-03 09:55] mweststrate commented on #3371
cc @bizzguy, you'll probably best know the answer to this one :)

[2022-02-03 15:34] shensven opened #3395 "FATAL EXCEPTION: FlipperConnectionThread"
## 🐛 Bug Report

[code]

## To Reproduce

update flipper from `v0.131.1` to `v0.132.0`, android app crash after command `yarn android`

## Environment

[code]
[code]
[code]

[2022-02-03 15:39] shensven commented on #3357
#3395

[2022-02-03 21:19] RonanMaguire1 commented on #2107
This is still an issue:

`Library not loaded: @rpath/OpenSSL.framework/OpenSSL`

Steps to Reproduce:

Create a react native project:
  `react-native init NewProject`

Install react-native cli globally
  `sudo npm i -g react-native-cli`

Open XCode -> Run the Project against Simulator or Real Device -> App will open and freeze with console giving following error:

`Library not loaded: @rpath/OpenSS

[2022-02-04 05:36] bizzguy commented on #3371
@Gakka  Unfortunately I don't think this works for react-native apps.  I've only personally tested it for Android.

[2022-02-04 06:20] thisisgit opened #3396 ""Xcode version mismatch" warning shows in 0.132.0"
## 🐛 Bug Report
<img width="907" alt="warning" src="https://user-images.githubusercontent.com/13231564/152481426-3d74e3f4-eb9e-4711-bf3d-69cebf1ebd79.png">
I don't get this warning in 0.131.1 but it pops up every time I open Flipper in 0.132.0.
It doesn't limit me from accessing any of the features but it just shows up even I run the command in the warning message.

## To Reproduce
1. Upgrade Flip

[2022-02-04 10:47] Meph1k commented on #3396
Same problem :(

[2022-02-04 17:32] vaughnkoch commented on #3173
Related to this, it would be nice if Flipper logs could colorize output based on escape codes, such as:
[code]
should ideally automatically colorize, like it does in Metro output. I know that Flipper already colors logs for error, warn etc, but packages like react-native-logs let you customize the colors internally as well. Maybe that should be in a separate github issue.

[2022-02-04 20:47] Vadko commented on #3396
same here

[2022-02-04 20:49] IAmNatch opened #3397 "Support for Android 30 has been removed"
## 🐛 Bug Report

The bumping of sqlite-framework from version 2.1.0 to 2.2.0 led to an incompatibility between react-native-flipper and any implementation targeting Android 30. Since Flipper does not utilize any of the small set of new features in 2.2.0, ideally flipper could be updated to either:
1. return to 2.1
2. Use 2.1 when compileSdkVersion is 30.
3. Add an option to specify our own version

[2022-02-04 23:22] swrobel commented on #3396
Notifying @lawrencelomax as they seem to be responsible for this change. I noticed that part of the command checking for the XCode path is running `awk '{print $NF}'` which grabs the last field from a `ps` output line. Since, in some cases (running via `react-native run-ios`), the Simulator has a command like `/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app/Contents/MacOS/Sim

[2022-02-05 02:00] cjbarth commented on #1925
This still seems to be a problem except this time the assumption is that the path will include `Xcode.app`. Based on the error I'm getting in Flipper, this doesn't seem to be the case:

Xcode version mismatch
Xcode version mismatch: Simulator is running from "286DC512-9354-4D32-A0F3-B354C61BD6B7/Contents/Developer" while Xcode CLI is "/Applications/Xcode.app/Contents/Developer". Running "xcode-sel

[2022-02-05 13:39] ThinkSalat commented on #3396
Same - running iOS simulator from command line

[2022-02-06 04:20] kovkev opened #3399 "Error: Uncaught Error: Unsupported Bridge operation "0""
## 🐛 Bug Report
I try to use Flipper on my project for the first time. I am met with an error `Uncaught Error: Unsupported Bridge operation "0"`

## To Reproduce
React-native init a project
Setup hermes=true
Run the project on ios Simulator
Open Flipper
Access the React Native tab
See the error

## Environment
Flipper 0.132.0
React-Native 0.67

In red:
[code]

[2022-02-06 04:44] kovkev commented on #3399
The logs are showing logs from the react-native app code

[2022-02-06 14:04] essana3 commented on #3396
Same problem

[2022-02-06 17:32] kovkev commented on #3399
Also, the Hermes Debugger (RN) tab has all its tabs empty of any activity

[2022-02-07 01:47] FilipMaslovaric commented on #3397
Facing the same issue, this seems to have been introduced with version 0.128.0.

[2022-02-07 06:53] shekharpro commented on #1925
I am also facing the same issue as @cjbarth , any suggestions ?

[2022-02-07 14:19] gustavograupner commented on #1925
Same here!

[2022-02-07 14:31] gustavograupner commented on #1925
To workaround this, I've downgrade my version to [v0.113.0](https://github.com/facebook/flipper/releases/tag/v0.113.0) and it's working fine now.

But I'm still looking for a solution to this on version 0.132.

[2022-02-07 15:23] kennethlynne commented on #1925
I'm seeing what you mentioned @cjbarth in v0.132.0 now

[2022-02-07 15:29] kennethlynne commented on #3396
Seems to be a duplicate of https://github.com/facebook/flipper/issues/1925

[2022-02-07 16:26] #3172 closed

[2022-02-07 16:39] swrobel commented on #3396
I don't think so. This code path was just changed in the latest version. See my comment above

[2022-02-07 19:20] mweststrate commented on #3396
cc @lawrencelomax would you mind looking into this one?

[2022-02-07 20:13] mweststrate commented on #3399
To clarify, is this about the Hermes, React DevTools or other plugin?

[2022-02-08 10:19] daimonkor commented on #3396
Same the problem

[2022-02-08 11:25] johanhubens opened #3421 "Failed to exchange certificate with iPhone Simulator in 0.132.0"
## 🐛 Bug Report
After updating to Flipper v0.132.0, it cannot connect to (React Native) apps running on iPhone Simulator. The selection dropdown in Flipper app shows the app under "React Native", "Currently connecting", but it never connects. The Flipper logs show the following error:

[code]

Additional notes:
- Updating only the Flipper pod(s) to v0.132.0 using `use_flipper!({ 'Flipper' => '0.13

[2022-02-08 12:39] paour commented on #3395
The APK when build with `0.132.0` is indeed missing `libevent_core-2.1.so`. A downgrade to `0.131.1` fixes this.

[2022-02-08 13:25] essana3 commented on #3421
#3396

[2022-02-08 19:14] alfonsocj commented on #2869
You could add FlipperKitLayoutComponentKitSupport to your Podfile with the same version of Flipper

```pod 'FlipperKit/FlipperKitLayoutComponentKitSupport', FLIPPER_VERSION, :configuration => 'Debug'```

and get rid of the FlipperReactPerformancePlugin in AppDelegate.swift (remove the whole line)

```- client?.add(FlipperReactPerformancePlugin.sharedInstance())```

[2022-02-09 07:00] jb9229 commented on #3361
I have the same issue too

v0.129, v0.131.1

[2022-02-10 06:19] shensven commented on #3395
android version still crash at v0.133.0
https://github.com/facebook/flipper/releases/tag/v0.133.0

[2022-02-10 09:48] #3396 closed

[2022-02-10 10:11] monsef123 commented on #2107
Yes, still an issue.

[2022-02-10 18:48] kidroca opened #3430 "[conn] Failed to resolve new client Error"
## 🐛 Bug Report

Since updating I'm unable to see my app in Flipper
I see some connection errors
Reverting back to the previous version fixes the issue for me

![image](https://user-images.githubusercontent.com/12156624/153474939-a464ed2e-57fc-408b-8a20-2a68568625ad.png)

[code]

## To Reproduce

1. Develop an app locally on Android (e.g. emulator connected to metro server)
2. Launch flipper
3. Ob

[2022-02-10 18:49] kidroca commented on #3430
Reverting back to v0.128.4 fixes the issue for me
![image](https://user-images.githubusercontent.com/12156624/153476063-4b5a61a5-0e27-4b9e-a73b-477cc5f92430.png)

[2022-02-10 19:18] aigoncharov commented on #3430
@kidroca could you click on "Log Levels", enable "info" logs, and share the complete logs?

[2022-02-10 19:26] aigoncharov commented on #3361
@jb9229 if you have connection issues with 0.131.1, could you create a new issue with steps to reproduce?

[2022-02-10 19:27] aigoncharov commented on #3356
@tomdebuyser could you try 0.131.1? If it still has the same issue, could you attach your Flipper logs and steps to reproduce?

[2022-02-10 21:22] kidroca commented on #3430
This is what I get with "info"

![image](https://user-images.githubusercontent.com/12156624/153498337-570e443b-aa59-4213-95d5-808c0761cbec.png)

[code]

[2022-02-10 21:25] kidroca commented on #3430
Hmm

[code]

The path to my adb is `D:\Android\SDK\platform-tools\adb.exe`
IDK why `platform-tools` is missing from the path in the log

[2022-02-10 22:07] kidroca commented on #3430
Seems like this path check returns `false` because of the `.exe` extension (maybe it's not a problem in unix?)

https://github.com/facebook/flipper/blob/4b6fcb6aaf886cb98c545e6f6f92ff478c07f7c7/desktop/flipper-server-core/src/devices/android/adbClient.tsx#L41-L44

[2022-02-10 22:56] ZComwiz commented on #3117
@mikehardy, it looks like @priteshrnandgaonkar is MIA. As the most central member to the RN community, do you want to host a new Flipper Double Conversion that incorporates @Arkkeeper's changes and offer a PR to the Flipper project itself? Let's not sleep on this now that it appears fixed.

[2022-02-11 06:40] valery-lavrik commented on #3358
1) download the windows version (I have win 10)
2) launch the application
3) open settings

I just tried again, downloaded a new build, the error remained...

![image](https://user-images.githubusercontent.com/8047999/153547592-d90ec707-8270-40fc-b78e-b265e647dfd4.png)

[2022-02-11 08:56] kbirgoren commented on #3361
I have the same issue.

`[conn] Failed to find device '7F017CFA-5EAB-4285-8AED-77E14A717BCE' while connection app 'MyApp' Error: Timed out waiting for device 7F017CFA-5EAB-4285-8AED-77E14A717BCE for client MyApp
    at file:///Applications/[Flipper.app/Contents/Resources/app.asar/bundle.js:4209:5711](http://flipper.app/Contents/Resources/app.asar/bundle.js:4209:5711)`

   It just works fine with A

[2022-02-11 10:24] kbirgoren opened #3432 "Failed to find device error on Flipper 0.133.1"
## 🐛 Bug Report
As soon as I open the Flipper, I get `Connection failed` error.

Failed to find device '7F017CFA-5EAB-4285-8AED-77E14A717BCE' while trying to connect app 'MyApp'

Everything works fine on the Android emulator but not in the iOS simulator

## To Reproduce
- Start the iOS simulator
- Open the Flipper App

## Environment
- macOS Monterey 12.0.1
- Simulator: iPhone 13 - iOS 15.0
- Flip

[2022-02-11 10:57] aigoncharov commented on #3432
@kbirgoren could you attach complete Flipper logs (like in [this post](https://github.com/facebook/flipper/issues/3430#issuecomment-1035531806))?

[2022-02-11 12:39] alex-trofimov opened #3433 "Hermes debugger won't connect"
## 🐛 Bug Report

Hi. I'm experiencing issues when trying to get Hermes debugger to work with an Expo app. Hope this is the right place to discuss.

I found a [similar issue](https://github.com/facebook/flipper/issues/1520) but it's closed and the solutions listed there don't seem to work for me.

This is what I see in hd's windows after I start the app (`expo start --dev-client`):

![image](https:

[2022-02-11 13:44] passy commented on #3395
Not sure what could have changed that. We had a few gradle plugin upgrades. I'll investigate but probably won't have time before next week.

[2022-02-11 14:15] mikehardy commented on #3117
@kelset this is really thorny unfortunately.

The proposed solution just above of me forking + publishing a new Flipper-DoubleConversion (and Flipper-Glog) based on @priteshrnandgaonkar work but including the work here to add maccatalyst slices to the vendored xcframework is a bad idea.

Using more precise technical language: it would be spending dev time on a compile-time optimization that was ma

[2022-02-11 14:15] kidroca commented on #3430
The change seems to fix the issue. Submitted a PR here: #3434

IDK why a plugin I have is not appearing on neither enabled/disabled/unavailable lists. Could it be due to the local dev server?
![image](https://user-images.githubusercontent.com/12156624/153607006-681204c0-9198-45f1-93d6-76506a14e3de.png)

It's not in the list of the detected plugins either