[2020-05-22 13:50] alloy commented on #976
Alas not, linking of native libraries does not depend on any runtime JS code.

[2020-05-22 18:38] suarezluis commented on #667
in your terminal type ```echo $ANDROID_HOME``` that will give you the path to the Android SDK.

Copy that path and paste it in Flipper -> Flie -> Preferences -> Android SDK Location.

![image](https://user-images.githubusercontent.com/20325995/82699020-7d6f5400-9c31-11ea-8132-9145b3fb5ceb.png)

Apply and restart and you should be done.

[2020-05-23 16:11] aartikov opened #1183 "Database plugin doesn't work with Room + requery/sqlite-android"
## 🐛 Bug Report
Database plugin shows outdated data when it is connected to Android application that uses [Room](https://developer.android.com/training/data-storage/room) and [requery/sqlite-android](https://github.com/requery/sqlite-android). Moreover, the plugin prevents Android app to save data to a file.

## To Reproduce
1. Build and run the application [https://github.com/aartikov/flipper-dat

[2020-05-24 10:30] hamidfzm opened #1184 "Discussion: Publish flipper to snapcraft.io"
In macOS, there is a homebrew script to install flipper. It would be great to implement a convenient way to download flipper from Linux package managers like apt-get, snap, &...

[2020-05-25 02:31] v0lume opened #1185 "There's no way to remove expression watchers in Logs using context menu"
## 🐛 Bug Report
There's no way to remove expression watchers in Logs using context menu

## To Reproduce
open expressions watcher
add new expression
open context menu on the new element <-- there is no option to remove selected item
press "clear all" <-- only logs from main window are cleared

## Environment
Flipper 0.42, macos

[2020-05-25 02:32] v0lume commented on #1185
update - it's possible to delete expressions using keyboard "delete" or "backspace" button, but there should be an option in context menu

[2020-05-25 03:01] mym0404 opened #1186 "Question: Is there any way to upgrade flipper without manual re-download?"
I cannot found this feature in application.

I am using **Mac OS**.

[2020-05-26 02:07] keithmccall opened #1195 "Question: Is there any documentation on integrating flipper using Carthage?"
Wondering if there was an update on this issue: https://github.com/facebook/flipper/issues/187

[2020-05-26 06:23] SuhairZain commented on #948
On 0.43, getting the same unable to connect to device issue as @romanakash and @stephanoparaskeva. I can see the React DevTools, it's just that I cannot use any plugins such as network.

[2020-05-26 06:43] SuhairZain commented on #948
@romanakash @stephanoparaskeva  Turns out that since I have debug and release variants, I had to add the .debug suffix to the package name in ReactNativeFlipper.java file. Also had to add it to the class name in the line in MainApplication.java where it uses reflection to find the ReactNativeFlipper class.

[2020-05-26 07:50] aartikov commented on #1183
I figured out that I have to implement custom `SqliteDatabaseConnectionProvider` that returns requery implementation `io.requery.android.database.sqlite.SQLiteDatabase`. To make it possible this change is required #1196

[2020-05-26 08:43] passy commented on #1184
Hadn't heard of that service before. That looks pretty cool. Unfortunately, I don't have access to my Linux box right now due to the lockdown. I'm happy to look into this once I have a Linux machine again.

[2020-05-26 09:05] hamidfzm commented on #1184
@passy  I would be happy to help you. I have access to Linux. I think I can build a snap package but I don't want to publish it as a user-maintained repo in Snapcraft.

[2020-05-26 09:27] passy commented on #1184
I've just added an option to our build script to produce Snaps. Do you know how the publishing procedure works? Is there a way, for instance, to import this from GitHub release pages?

[2020-05-26 15:50] carolinafbarros commented on #976
Any update?

[2020-05-26 15:54] mweststrate commented on #976
@carolinafbarros as far as I can see now, we should add https://github.com/facebook/flipper/issues/976#issuecomment-632697702 to the installation instructions as it looks like auto linking does not support linking libraries only in dev builds.

pinging @rickhanlonii to verify that assumption

[2020-05-26 18:07] alloy commented on #976
@carolinafbarros It would be great if you could verify that my assumption actually works 🙏

[2020-05-27 08:08] carolinafbarros commented on #976
@mweststrate @alloy
Thanks, it's works 👍

[2020-05-27 08:19] mweststrate commented on #976
Thanks for confirming @carolinafbarros!

This all makes me wonder, shouldn't this be an issue on Android as well?

[2020-05-27 09:11] passy commented on #1195
No, not here, I'm afraid. Definitely happy to add anything if it's possible to use Flipper with it.

[2020-05-27 09:11] #1195 closed

[2020-05-27 09:11] carolinafbarros commented on #262
Any update?

[2020-05-27 09:59] alloy commented on #976
Thanks for confirming @carolinafbarros! 🙌

@mweststrate Probably good to double-check, but it would probably be best to do so in a new issue and close this one.

[2020-05-27 10:05] jknoxville commented on #262
Ok, let's get this done. I'll use this comment to list the outstanding tasks:

- [ ] Add code for interacting with idb, in disabled state.
- [ ] Allow for specifying a custom idb installation path like you can do with the android sdk in settings.
- [ ] Change desktop code to be applicable to public idb.
  - [ ] Logic to check if it's installed.
  - [ ] Error message describing how to install it.

[2020-05-27 14:44] mjstelly opened #1201 "Question: VSC + flipper: Why do we need dev repo"
First off: I like that Flipper can be integrated into VSC debugger at all. That's a good start to making the tool a one-stop deb shop. However, I have a question. Why do the instructions for adding Flipper to VSC involve using the dev repo vs. the production app? [VSC Debugging](https://fbflipper.com/docs/extending/debugging/#visual-studio-code)

[2020-05-27 20:20] mweststrate commented on #976
I just published `react-native-flipper@0.44.0-fix-976`, I'd be really grateful if someone could confirm that this fixes the issue!

The essence of the change is that the entire bindings are put in a `#ifdef DEBUG` macro, so that on release builds the implementation becomes empty and no dependencies from FlipperKit are loaded

[2020-05-27 22:26] martinezguillaume commented on #976
Hello there, I think in your release (`0.44.0-fix-976`), there is an error inside `FlipperModule.m`
Line 29:
[code]
we should remove this (Use of undeclared identifier 'instancetype' during build)

But if I'm building in release mode, I still have Flipper deps building... Should I remove these lines from my Podfile ? :
[code]

[2020-05-28 10:41] alloy commented on #976
@mweststrate Why was there still a need for a fix like that? Is it not preferable to still allow the user to make that final decision? Perhaps this ultimately proves academic when it comes to Flipper, but at some point if somebody would need Flipper in a release build this makes that much harder.

[2020-05-28 10:43] alloy commented on #976
@martinezguillaume See my earlier comment for a bit more details, but note that it only builds those deps, they are not included (by default).

[2020-05-28 10:58] mweststrate commented on #976
@martinezguillaume thanks for testing! Apologies, I accidentally pushed an older version. `0.44.0-fix-976-2` shouldn't have the additional `init` mod.

[2020-05-28 11:01] mweststrate commented on #976
@alloy so far the scope of Flipper has always been: not in release builds. Simply for the security risks (and perf impacts) it causes, so far I haven't got the impression that has caused any significant issues. So I think this solution is fine for now and everything being correct ootb is great I think.

[2020-05-28 11:18] alloy commented on #976
I agree that having things work as expected by default is the way to go, I’m just generally interested to see if that can be provided without making it too hard to deviate. E.g. we could provide a commented line in the `Podfile` template that explicitly includes the pod only in debug configurations _before_ auto-linking, as both documentation and as a hint to the ability to create flipper plugins.

[2020-05-28 11:25] martinezguillaume commented on #976
Sorry to bother you guys but the goal here is not build Flipper in Release right ?
Because if we’re building it but not includes it, we still have a long build time (it takes me nearly 1 hour in bitrise to build)

[2020-05-28 11:29] alloy commented on #976
@martinezguillaume This issue is about  dependencies being _linked_ to the app in release mode when not expecting that, not about build time.

[2020-05-28 11:55] mweststrate commented on #976
@martinezguillaume I assume it is not Flipper itself that takes the one hour to build? For an empty React Native project it takes me 1.5 minutes to build a release with a cleared cache, and it's basically instant on a rebuild. So I don't think all that time is imposed by Flipper? If you have an hour without Flipper already, that doesn't feel like not building those Flipper libs are the biggest win

[2020-05-28 12:52] martinezguillaume commented on #976
I can’t build without building Flipper for the moment, that’s why I’m searching for a solution. But I can assure you that flipper take a huge building time (example here https://github.com/react-native-community/discussions-and-proposals/issues/226)

[2020-05-28 13:02] mweststrate commented on #976
@martinezguillaume I think it is best to open a new issue, you are now touching two problems that are not the subject of this issue: 1) Flipper seemingly making your build slow, and 2) not being able to build without Flipper. This issue is about having Flipper code ending up in release artifacts which is a maybe related but a different problem.

[2020-05-28 13:05] mweststrate commented on #1201
@mjstelly because we keep the production builds small by (in the future) not including build tools like metro and babel, and we keep it efficient by using a production build of React. However, without all these things debugging experience is worse, so if you want to change Flipper, or develop plugins for Flipper regularly, best grab the repo.

[2020-05-28 14:04] mjstelly commented on #1201
Yes. That makes sense. Not everyone uses metro. However, I would think that we, as the consumer of this app, would not have need to involve the producer’s dev environment. That seems odd to me. Thanks for the response.

[2020-05-28 14:04] #1201 closed

[2020-05-29 13:21] jknoxville commented on #262
Ok, https://github.com/facebook/flipper/commit/5723553fba3a9fabb65cca0a68fab56702207ce6 adds the necessary code to the desktop app, so it can use idb to connect to the mobile app.

Btw, when I say idb, I mean https://github.com/facebook/idb which is a utility you will need to have installed, to use this.

It's in a disabled state at the moment (isAvailable == false) so we can address the other tas

[2020-05-29 17:29] rafaela-stockx opened #1204 "Flipper 0.44.0 crashes"
## 🐛 Bug Report

## To Reproduce

Flipper 0.44.0 can not be opened after installed it crashes repeteadly
![Screen Shot 2020-05-29 at 1 28 16 PM](https://user-images.githubusercontent.com/55147539/83287795-44def580-a1b0-11ea-8126-0028c2a5ab94.png)

## Environment

Macbook pro macOS Catalina10.15.5
opensslv1.1.1g
Flipper 0.44.0
- Flipper has full disk access under `settings > privacy`

[2020-05-30 14:33] mgoyanes opened #1206 "Network plugin mock data not maintained after plugin switch."
Hello.
Let me start by thanking @qichuan for this amazing option added to the network plugin. I use and abuse of the mock option.

Don't know if this is a bug or not but after adding mock data and then switching to another plugin or restarting the Android app, the mock data is lost thus I have to insert it again.

As a user, I was expecting the mock data being persisted if I switch plugin or resta

[2020-05-30 15:39] soroushm opened #1207 "AndroidRuntime: FATAL EXCEPTION: FlipperConnectionThread"
## 🐛 Bug Report
I clean Gradle and node_modules and install it again it happened
same situation on production build
are that possible Gradle packages is incompatible?
[code]

## Environment
"react": "16.11.0",
"react-native": "0.62.2",

[2020-05-30 20:20] alecpo commented on #667
You can also check on SDK manager at Android Studio the place of SDK :)

[2020-05-30 20:23] soroushm commented on #1207
Dublicate issue
#28163
I try `rm -rf $HOME/.gradle/caches/` few times but didn't work only command below work for me

cd android/
Run
./gradlew clean

That should probably fix this.

[2020-05-30 20:23] #1207 closed

[2020-06-01 06:32] TheMrugraj commented on #863
Thanks. this worked

[2020-06-01 12:45] joe-goodall-ticketmaster opened #1208 "react-native-flipper is not added during pod install"
I'm trying to add `react-native-flipper` as outlined [here](https://fbflipper.com/docs/tutorial/react-native/).

The `yarn add react-native-flipper` is fine but `cd ios && pod install` doesn't recognise the newly added library.

In a newly formed React Native project (ie. npx react-native init AwesomeProject) the pod is detected and installed

<img width="410" alt="Screenshot 2020-06-01 at 13 41 0

[2020-06-01 12:55] #1208 closed

[2020-06-02 03:16] mym0404 opened #1215 "Flipper iOS consumes very very long build time"
I am a RN developer and using 0.62.2 and flipper.
The building process of iOS with flipper is so long almost 3 times than not integrated with flipper.

[2020-06-02 06:14] qichuan commented on #1206
Thanks for the feedback, let me see how I can make this plugin work better

[2020-06-02 12:06] mgoyanes commented on #1206
Hello.

Another thing. The close button is not fully visible.

![image](https://user-images.githubusercontent.com/5049948/83518078-e6788680-a4d1-11ea-97e9-2f01301421db.png)

[2020-06-02 13:10] jknoxville commented on #262
I have started a PR in https://github.com/facebook/flipper/pull/1217 to complete this.

If you checkout that branch, and have idb installed to `usr/local/bin/idb`, then it should work.
We can't ship it yet, as it assumes idb is installed and isn't flexible about where.

However, since it works, that's the main problem solved, we just have to clean it up.

[2020-06-03 07:58] ZacSweers opened #1219 "Flipper leaks context in Android"
## 🐛 Bug Report

[code]

## To Reproduce

Using LeakCanary, the best way I've been able to reproduce this is using the layout viewer and quitting the app during it.

## Environment

Android API 29 emulator

[2020-06-03 08:04] nubpro commented on #326
What happened to this feature request?

[2020-06-03 09:50] KDederichs commented on #1137
![Screenshot 2020-06-03 at 11 50 05](https://user-images.githubusercontent.com/24696606/83622508-61a07200-a590-11ea-8a66-bc3748ed33e7.png)
Just for completion, the same issue also seems to cause memory leaks for anyone searching in their app for them

[2020-06-03 15:04] mweststrate commented on #1215
An empty RN project including Flipper takes roughly 1.5 minutes to build. Can you quantify 3 times longer and elaborate how you came to the conclusion that this is related to Flipper?

[2020-06-03 19:26] samuk190 opened #1222 "Flipper 0.45 Check required certificates are present fails"
Check required certificates are present [failed]
getting cert from desktop [failed]

Phone: Xiaomi mi5s plus android 7 miui
Desktop: Windows 10 x64
OpenSSL Win 64

Anyone had this issue? I'm new to flipper and I'm trying hours to make it work

[2020-06-03 19:37] samuk190 commented on #1222
Solution.
Unistalled open ssl from the official source.
Installed open ssl from choco cmd -> choco install openssl

Restarted flipper and app, and it voila! It worked!

[2020-06-03 19:37] #1222 closed

[2020-06-04 10:22] Braden1996 opened #1223 "UI scale broken after use with a 4K monitor"
## 🐛 Bug Report
Hello! When opening Flipper on my laptop, the UI scale is zoomed in to an unusable state - my suspicion this is because I usually run Flipper within a desktop on my 4K monitor. Worth noting, this happens even when my monitor is not connected to any external displays.

![image](https://user-images.githubusercontent.com/5165963/83745601-b0fca600-a655-11ea-838b-bffbfe72e379.png)

## T

[2020-06-04 13:16] mweststrate commented on #1204
@rafaela-stockx we released 0.45 yesterday, could you check if it has the same problem? If not, try to run `open -a Flipper` from the command line, to see if there is anything logged. I have Catalina 10.15.4 here, so that is probably not the problem (famous last words)

[2020-06-04 13:23] passy commented on #1204
The `open` command swallows all debug information (you can still look it up through the Console, though). I would recommend directly opening the binary, i.e. `Flipper.app/Contents/MacOS/Flipper`

[2020-06-04 13:30] mweststrate commented on #1223
Sadly I can't try to reproduce the issue locally right now, lacking an external 4K monitor, if others can feel free to add more info. I suspect that this might be an Electron issue (I think I saw similar behavior in the past with VSCode).

[2020-06-04 13:34] mweststrate commented on #1186
At the moment we don't have an automatic upgrade mechanism, although we might revisit the distribution mechanism later this year.

[2020-06-04 13:34] #1186 closed

[2020-06-04 13:58] mweststrate commented on #1185
Will be fixed in the next release, thanks for reporting!

[2020-06-04 15:15] Braden1996 commented on #1223
I wonder if it can be reproduced by just bumping up your resolution and then bringing it down?

[2020-06-04 16:09] spsaucier-bakkt commented on #1000
I'm having the same issue as @Bohmaster - newly upgraded to 0.62 and trying to use Flipper instead of react-native-debugger particularly to avoid bugs in inspecting network.

<img width="1144" alt="Screen Shot 2020-06-04 at 12 05 39 PM" src="https://user-images.githubusercontent.com/60393644/83781014-f0c68c00-a65b-11ea-9e2f-f5748c4d8305.png">

It recommends [this connection debug page](https://fbf

[2020-06-04 16:10] #1185 closed

[2020-06-04 16:12] mweststrate commented on #1068
0.39 is fairly old, would you mind checking if this is still the case in 0.45?

[2020-06-04 16:44] mweststrate commented on #1000
@spsaucier-bakkt are you using a debug build of your app?

[2020-06-04 17:25] spsaucier-bakkt commented on #1000
@mweststrate Yes, it's a debug build.

[2020-06-04 17:31] nicoburns commented on #589
People looking for Redux-in-flipper may also be interested in: https://shift.infinite.red/better-react-native-debugging-with-reactotron-in-flipper-6b823af29220

[2020-06-05 04:49] nnaren1902 commented on #716
Still broken and can't be used

[2020-06-05 05:19] CristianFonseca03 commented on #1000
This works for me

[2020-06-05 11:02] Zloka opened #1225 "Question: Which Android API level is the minimum supported?"
When building my (React Native) Android app, I get the following stacktrace on lower API levels. The only reference I can find to something about the OkHttpClient is related to Flipper, which lead me here. My React Native project is pretty vanilla still (with `multiDex` enabled), so I figured this might be a relatively common occurence?
[code]

[2020-06-05 11:17] exotexot commented on #834
Having the same problem. I also want to say that as Flipper was introduced as an integral part of react-native, it only introduced problems.

I'm even using a 3rd-party SDK and Flipper causes issues there. Is there a way to completely strip Flipper out of your RN project?

[2020-06-05 11:20] jknoxville commented on #262
Now that https://github.com/facebook/flipper/commit/ab84bd563a39208a5f26ca7558221228507dc432 is merged this feature should be ready for use.

I still have to document it and add it to flipper-doctor, but if anyone wants to try it out, iI'd be grateful to hear if it's working for you.

Install idb from the link above, and then run flipper desktop from source. Go into settings, and configure the pat

[2020-06-05 12:08] jbfitb commented on #262
Awesome @jknoxville !! I'll try it out this morning. Thanks for your hard work!

[2020-06-05 14:37] jbfitb opened #1226 "Question: Pods won't install on FlipperKit, iOS"
When running `pod install` I get the following:
[code]

[2020-06-05 14:45] mcauto commented on #146
My solution

**build.gradle.kts**

[code]

[2020-06-05 15:20] mweststrate commented on #834
If you are using react-native-flipper, make sure to upgrade to 0.45.

Pretty sure flipper can be stripped out by removing the call to `add_flipper_pods` and `flipper_post_install` in your `Podfile`.

For any further follow up questions, please open a new issue as this one is closed.

[2020-06-05 15:28] mweststrate commented on #1226
Can you try `pod install --repo-update`?

[2020-06-05 15:48] mweststrate commented on #1225
cc @passy

[2020-06-05 16:04] jbfitb commented on #1226
@mweststrate wow, fast response!

[code]

Same error 😿

[2020-06-05 18:56] mweststrate commented on #1226
😥 let me get back to you on Monday

On Fri, 5 Jun 2020, 17:05 jbfitb, <notifications@github.com> wrote:

[2020-06-08 03:08] mym0404 commented on #1215
Ok, I am sorry to my first question makes confusion.
But I mean, I can see Flipper related libraries are compiled a long time in the iOS production build process.

[2020-06-08 10:21] mweststrate commented on #1215
Please do quantify 'long time', some people mean 10 seconds with that, other hours :).

Note that although these libs are build as part of the production build, they are not included in the build. It is just that, afaik, the default iOS toolchain doesn't allow skipping or caching the builds of those libraries. So the compilation is completely pointless but out of our control.

[2020-06-08 12:28] jbfitb commented on #1226
I should add: trying to build FlipperKit from source. Changed directory to `./iOS` and ran `pod install`

[2020-06-08 12:54] jbfitb commented on #262
@jknoxville I tried all day Friday, but couldn't get it to work (I think I found the problem). Here's what I did:

## Installed IDB
First started off by installing `idb` by homebrew and pip3 from the instructions here https://github.com/facebook/idb

[code]

`which idb` gives:
[code]
and that seems to match your install directory given above. ✅

## Run Flipper from master
Cloned the repo, `cd desk

[2020-06-08 13:02] jbfitb commented on #262
This change seemed to work!

[code]

But getting an error while trying to inspect a layout:

[code]

[2020-06-08 13:37] passy commented on #1225
@Zloka The error doesn't have any Flipper-related parts in the stacktrace, but arises from React Native. Could you please ask there?

[2020-06-08 13:37] #1225 closed

[2020-06-08 13:43] jknoxville commented on #262
Thanks @jbfitb that is super helpful!

For the idb issue, the argument order was changed since the latest public idb release came out: https://github.com/facebook/idb/commit/9c1a0facb23a275f3d798c792a98a29d132e12b1

I've had a word with the idb guys and they're publishing a new release [now](https://github.com/facebook/idb/releases/tag/v1.0.13), so when thats out, an idb upgrade will solve that pr

[2020-06-08 13:57] jbfitb commented on #262
I restarted the iOS app and it seems to be working!

[2020-06-08 14:16] mgoyanes commented on #1206
I know that this comes late, but it would be great if we could toggle on or off the mock for a specific URL.

Currently, if in a session we don't want to mock a response, we have to delete the mock.

[2020-06-08 14:47] mweststrate commented on #1226
@jbfitb any specific reasons you are building FlipperKit from source?

cc @priteshrnandgaonkar any idea about this issue?

[2020-06-08 15:09] jbfitb commented on #262
@jknoxville: I installed the new version of IDB, but it looks like it doesn't run:

[code]

Installing treelib fixed the issue:
[code]

is it missing a dependency in pip?

[2020-06-08 15:20] jbfitb opened #1230 "Flipper desktop doesn't honor Android SDK location"
## 🐛 Bug Report
When running Flipper desktop, I get a message from the doctor:

<img width="958" alt="Screen Shot 2020-06-08 at 11 12 13 AM" src="https://user-images.githubusercontent.com/35780254/84048075-a73ab180-a979-11ea-8815-689880841fa1.png">
<img width="599" alt="Screen Shot 2020-06-08 at 11 16 20 AM" src="https://user-images.githubusercontent.com/35780254/84048087-a7d34800-a979-11ea-9b04-8

[2020-06-08 15:30] jbfitb commented on #1226
@mweststrate We use carthage instead of cocoapods here, so was trying to build and archive to pull down as a carthage binary.

[2020-06-08 15:37] voxspox commented on #1000
I've the same problem as show in the reports screenshot. Debugging works with other tools like devtools plugin in chromium or with rn-debugger.

Metro always opens chromium when I tap "Debug" in the app menu. Usually I use rn-debugger instead... but suddenly Flipper could connect...

Is it intended behavior that an instance of chromium+devtools has to be running such that Flipper could connect to

[2020-06-08 15:44] nikoant commented on #1230
Hi @jbfitb, this is probably because you also also have env var ANDROID_HOME pointing to a different location. I'll take a look on how to improve this check in doctor.

[2020-06-09 18:32] c-ryan747 commented on #262
@jbfitb Thanks for the report, a new version of idb was published yesterday with a dependency missing. I've yanked this release and will submit a new one soon with a correction

[2020-06-09 20:37] jeremy-deutsch opened #1238 "`flipper-plugin-lib` required but not published"
## 🐛 Bug Report

The `0.46.0` release of the `flipper` package (flipper desktop) adds a dependency on `flipper-plugin-lib` `0.46.0`, but the only version of `flipper-plugin-lib` in the NPM registry is `0.0.0`. It looks like `flipper-plugin-lib` just wasn't published as part of the `0.46.0` release?

[2020-06-10 01:53] mym0404 commented on #1215
Approximately, it consumes 5-7 min in entire production build press(about 15m).
Anyway, thank you for your response. I understood :)

[2020-06-10 01:53] #1215 closed

[2020-06-10 01:55] mym0404 commented on #1186
Thank you :)

[2020-06-10 05:04] xuan9230 opened #1239 "Question: Highlight selected element with React Native"
Hi Flipper team,

I'm a React Native developer and is definitely enjoying this awesome tool. But when I use the inspector in simulator and select an are, nothing gets highlighted in the component tree from the built-in react devtools. So it's hard to find out what is the underlying component.

Does Flipper support this feature yet?

My env:
Flipper 0.46.0
react-native 0.62.2
Xcode 11.5
simulator i

[2020-06-10 08:01] stigi commented on #262
Chiming in here about idb.
I'm using [pyenv](https://github.com/pyenv/pyenv) to manage different Python versions and it will install idb into `$HOME/.pyenv/shims/idb`. Is there a way to make the ids path not statically point to `/usr/local/bin/idb` but use `/usr/bin/env idb`?

[2020-06-10 09:04] nikoant commented on #1238
Hi @jeremy-deutsch, thanks for notifying us! I've published the missing npm packages now.

[2020-06-10 09:04] #1238 closed

[2020-06-10 09:27] MarcusLiu1990 commented on #146
I using androidx in kotlin
It's work for me, Thanks

[2020-06-10 09:57] mweststrate commented on #1215
@mym0404 I'm sorry to hear that. I'm not an iOS dev, so I can't give you any practical advice, but it sounds that the build process isn't very optimal in that case. It takes for me a little more than 2 minutes for a production build on my test project, and ~20 seconds for a subsequent production build, so it sounds that your production build process involves some other expensive steps that aren't

[2020-06-10 10:13] joe-goodall-ticketmaster opened #1240 "Docs: Is React Native Android intentionally still 0.35.0?"
Is there a reason [React Native Android](https://fbflipper.com/docs/getting-started/react-native-android/) is still set to 0.35.0 when [React Native iOS](https://fbflipper.com/docs/getting-started/react-native-ios/), [native iOS](https://fbflipper.com/docs/getting-started/ios-native), [native Android](https://fbflipper.com/docs/getting-started/android-native), Flipper desktop, and react-native-fli

[2020-06-10 11:06] nikoant commented on #1240
@joe-goodall-ticketmaster, thanks, it seems bump job is missing this doc. I'll update it.

[2020-06-10 11:21] nikoant commented on #1239
@xuan9230, are you talking about Layout plugin or React Devtools? The first one does not support this, but it sounds like a great feature. The latter should follow if you trigger the dev menu on the device and then select an element.

[2020-06-10 17:18] Stonelinks opened #1241 "flipper-noop conflicting classes at release"
## 🐛 Bug Report

Both `com.facebook.flipper:flipper` and `com.facebook.flipper:flipper-noop` are both being included in releases when I follow the flipper website's documentation.

## To Reproduce

Per the website's documentation (https://fbflipper.com/docs/getting-started/android-native#dependencies), we're supposed to set up our dependencies like this:

[code]

in my project i'm doing this:

[co

[2020-06-11 05:49] xuan9230 commented on #1239
Hi @nikoant , I'm talking about React Devtools. Interestingly, Layout plugin supports it but React Devtools doesn't, on my side.

So I open the flipper - React Devtools, it shows component tree properly; but then if I open the dev menu in Simulator and clicked on "Show Inspector" and clicked on an area in the simulator, nothing gets highlighted in my React Devtools page in Flipper.

[2020-06-11 08:15] karthikeyan1241997 opened #1242 "Discussion: Network Plugin Request/Response Select and copy"
I am using flipper in windows to debug my android application. NetworkPlugin is very useful for me to intercept request/response body.

But I am unable to select and copy texts in the request/response body.
It would be great to use flipper network plugin with this feature

[2020-06-11 08:52] joe-goodall-ticketmaster opened #1243 "Docs: Unclear which build.gradle to add flipper dependencies to"
in the [Dependencies](https://fbflipper.com/docs/getting-started/react-native-android) section of the docs, when it is suggested to add dependencies to the `build.gradle` it is unclear whether it is to the `app/build.gradle` or the `android/build.gradle`.

Usually, dependencies get added to the `app/build.gradle` and in a newly created React Native project that's where the flipper dependencies are

[2020-06-11 08:52] #1240 closed

[2020-06-11 09:13] nikoant commented on #1243
@passy could you take a look please?

[2020-06-11 09:14] passy commented on #1243
@joe-goodall-ticketmaster Which part of the docs are you referring to? The generic Android instructions or RN specific ones? You usually set up the repositories in the project-wide config and the dependencies more narrowly where they are needed, i.e. the app.

[2020-06-11 10:01] joe-goodall-ticketmaster commented on #1243
@passy [This](https://fbflipper.com/docs/getting-started/react-native-android) part of the docs (the RN specific ones).

In a newly created RN project the flipper dependencies are in the `android/app/build.gradle`

[code]

jcenter() is referenced in the docs which seems to imply you add the flipper dependencies to the `android/build.gradle`.

[2020-06-11 14:05] passy commented on #1243
@joe-goodall-ticketmaster There are no hard and fast rules about where to specify your repositories. You can do this on a global level or per-app.

[2020-06-11 14:07] joe-goodall-ticketmaster commented on #1243
OK, thanks @passy

[2020-06-11 14:07] #1243 closed

[2020-06-11 18:01] lfalkner commented on #976
@mweststrate How do we specify which version of flipper RN 62.2 is using? Must we still disable auto link and import the pod per [the workaround here](https://github.com/facebook/flipper/issues/976#issuecomment-612874193)

[2020-06-12 03:36] baveku commented on #262
@jknoxville I have installed idb_companion 1.0.14 and fb-idb-1.0.12, But it's still erroring on 0.46.0:
[code]

[2020-06-12 10:14] JanithaR opened #1249 "flipper-plugin-sections disabled"
## 🐛 Bug Report
I'm trying to use `flipper-plugin-rn-redux-inspector` to view Redux actions but it never appears in the UI as it should https://github.com/zrg-team/flipper-rn-redux-inspector-plugin

## To Reproduce
Install Flipper 0.46.0.
Install `flipper-plugin-rn-redux-inspector`

This is what my plugins section looks like;
https://imgur.com/a/E9WSDfP
I think `flipper-plugin-sections` being disa

[2020-06-12 13:06] dayze opened #1250 "Idb flipper error for real device iOS testing"
## 🐛 Bug Report
When I want to debug my real iOS device, I got this message

![image](https://user-images.githubusercontent.com/11976270/84505018-48e53a00-acbd-11ea-90b3-94d2522556de.png)

## To Reproduce
[code]

``which idb`` return ``/usr/local/bin/idb``

![image](https://user-images.githubusercontent.com/11976270/84505253-b4c7a280-acbd-11ea-8745-404210d37312.png)

Finally ``idb list-targets`` f

[2020-06-12 16:09] joe-goodall-ticketmaster opened #1251 "Discussion: Horizontal scroll to view logs"
Is the only way to view logs by scrolling horizontally?

![Screen Recording 2020-06-12 at 17 04 03](https://user-images.githubusercontent.com/65718433/84522872-4b508f80-accf-11ea-966f-ac49df9ec823.gif)

[2020-06-12 16:18] jknoxville commented on #262
@stigi The doctor does a basic check that `<your_idb_path> --help` runs without an error ([code here](https://github.com/facebook/flipper/blob/master/desktop/doctor/src/index.ts#L238)). What do you get if you run the following?
[code]

[2020-06-12 16:19] jknoxville commented on #262
@baveku That error comes from [here](https://github.com/facebook/flipper/blob/master/desktop/app/src/utils/CertificateProvider.tsx#L338), which is right after parsing the output from instruments, so it would seem most likely instruments isn't including your device in it's output, or it is and we're failing to parse it.

What do you get if you run `instruments -s devices` in a terminal?

[2020-06-12 16:34] bizzguy commented on #1241
I'm not seeing this problem in my app.  My release builds only include flipper-noop and don't have a compile problem.  I'm using 0.46.0 as well.  I suspect it is something in your gradle setup and not a problem with Flipper.

[2020-06-12 16:54] bizzguy commented on #1251
Short answer: yes.  You could also right click on the item and copy it,  then you could paste it into a text editor to see the entire message, but you would be leaving Flipper for that and would only be working with one line at a time.

Thanks for including the screen video.  It really helped make you question very clear.

[2020-06-12 20:23] joe-goodall-ticketmaster commented on #1249
Have you installed `react-native-flipper`?

[2020-06-12 21:54] casconed opened #1252 "Plugins not enabled in iOS simulator"
## 🐛 Bug Report
After upgrading to 0.46.0, the Flipper plugins no longer are able to be enabled.
![Flipper_and_New_Issue_·_facebook_flipper](https://user-images.githubusercontent.com/102230/84549159-29014680-acbc-11ea-82d4-61ef7c2f630c.png)

## To Reproduce
Launch Flipper, Launch iOS app in simulator, try to enable plugins.

## Environment
iOS 13.5
Simulator 11.5
React Native 0.62.1
Flipper 0.46.0

[2020-06-13 10:24] whenmoon commented on #552
Guys I have just started using Flipper and it is amazing but my eyes are buuuuuurning!  :)

[2020-06-13 12:01] whenmoon commented on #979
I am getting this error with React Native v0.62.2 and Flipper v0.46.0, mac ,physical Pixel 2XL:

[code]

[2020-06-13 12:31] whenmoon opened #1253 "The native module for Flipper seems unavailable. Please verify that `react-native-flipper` is installed"
## 🐛 Bug Report
I have updated React Native from v0.61.4 to v0.62.2 to try and use Flipper.

When I build and run the app The Metro Bundler throws the warning:

I have installed it using npm.

My package.json looks like this:

[code]

In Flipper, React DevTools can connect to the app but when I try to use the Hermes Debugger or plugins they cannot be used:

[![enter image description here][1]][1]

[2020-06-13 22:37] tavareshenrique commented on #1058
Can I create a shortcut instead of always having to go into the folder and type `./flipper`?

[2020-06-14 08:03] TheEhsanSarshar opened #1254 "Flipper not shows installed plugins"
## 🐛 Bug Report
  I am using react native 0.62 with flipper
  I have recently installed Reactoron and redux-debugger
  but plugins not listed in side bar

## To Reproduce
![Screen Shot 2020-06-14 at 12 32 01 PM](https://user-images.githubusercontent.com/46188784/84588258-2a0cb200-ae3b-11ea-983a-6224723eafb8.png)

![Screen Shot 2020-06-14 at 12 33 23 PM](https://user-images.githubusercontent.com/46

[2020-06-14 09:44] whenmoon commented on #1254
I have a very similar problem https://github.com/facebook/flipper/issues/1253

[2020-06-14 20:53] #535 closed

[2020-06-15 04:14] JanithaR commented on #1249
Of course. This works on both of my colleagues' MACs and only not on mine. The difference is that `flipper-plugin-sections` is disabled on mine and not on theirs.

[2020-06-15 06:48] baveku commented on #262
[code]
we're missing something, right? 🙃

[2020-06-15 07:19] ZacSweers commented on #1160
Sorry to nag about this again - I missed 0.43 through 0.46, and the lack of a means to see changelog history in the app makes this worse as I now can't see what changes were in thos.

![image](https://user-images.githubusercontent.com/1361086/84628619-fff8d580-aeb6-11ea-9097-531d3450b092.png)

[2020-06-15 07:21] EhsanSarshar commented on #1254
@whenmoon I am trying stuff on this link may it help
https://fbflipper.com/docs/troubleshooting/#no-plugins-showing-up-for-your-device

[2020-06-15 10:02] Natkarock commented on #1178
hello! did you find a solution?

[2020-06-15 10:04] mweststrate commented on #976
@lfalkner this issue is closed, please open a fresh one with full detail of the podfile, dependencies in package.json etc.

[2020-06-15 10:13] mweststrate commented on #1253
@whenmoon did you also run `pod install` as instructed? Note that the Hermes debugger will only be available if Hermes engine is enabled. https://reactnative.dev/docs/hermes. The `getUser` warning is unrelated and can be ignored.

I don't git this one, those are visible in your screenshot? Note that there are two kinds of plugins, the ones that connect to the Metro bundler (on top) and the ones th

[2020-06-15 10:26] mweststrate commented on #1160
@ZacSweers the changelogs are automatically generated, based on whether changelog meta data has been filled. We release every week but not every release has noteworthy changes (sometimes it is just internal infrastructural changes, or FB only changes). But sometimes the info is simply not failed, I'll make sure to emphasize it again with the team :)

[2020-06-15 10:32] mweststrate commented on #1254
@EhsanSarshar did you install `react-native-flipper` as well?

[2020-06-15 10:41] tientruongvan1995 commented on #1250
I cannot use it for real device too, ip6s+

[2020-06-15 10:50] mweststrate commented on #1057
Flipper will no longer be included with the latest `react-native-flipper` in release builds (note that they dependencies will still be compiled, because pods/ iOS build setup doesn't seem to be able to do that conditionally). So as far as we know we can't avoid that, if we can, PR is welcome :)

[2020-06-15 10:50] #1057 closed

[2020-06-15 12:16] jknoxville commented on #262
Aha! Thanks @baveku Assuming Bách I Phôn is vietnamese for iPhone then that's the issue. Flipper is currently looking for `iPhone` or `iPad`.

I think we should be able to swap in idb's list-targets command instead of instruments, and then we won't need to filter on device name at all.

[2020-06-15 12:20] baveku commented on #262
OMG I can not stop laughing...

[2020-06-15 13:20] EhsanSarshar commented on #1254
@mweststrate other part of flipper like React devtools and other logging part work correctly

[2020-06-15 13:50] aldegoeij commented on #484
I can confirm that disabling debugging in the 'shake' menu results in the logs showing up just fine (warn, debug, etc), however, now I cannot debug in my IDE anymore :D

Any idea why debugging mode would block logs from coming through?

I'm using Sentry, and its initialization logs are coming through just fine, but only in the device logs, not the React Native logs.

[2020-06-15 14:34] mweststrate commented on #1254
@EhsanSarshar we've just published a troubleshooting guide: https://fbflipper.com/docs/troubleshooting#react-native. Would mind to follow it and report back on any specific issues that fail?

[2020-06-15 14:35] mweststrate commented on #1253
We've just published a trouble shooting guide: https://fbflipper.com/docs/troubleshooting#react-native. Would you mind following it and report back on any specific issues that fail?

[2020-06-15 14:38] mweststrate commented on #1252
@casconed  would you mind opening view > developer tools and report on any errors that are logged there in the console?

[2020-06-15 14:38] mweststrate commented on #1239
@xuan9230 does following these steps help? https://fbflipper.com/docs/troubleshooting#q-the-react-devtools-dont-seem-to-connect

[2020-06-15 14:41] mweststrate commented on #1109
Closing for inactivity & solved

[2020-06-15 14:41] #1109 closed

[2020-06-15 15:00] mweststrate commented on #1178
For future readers: please don't comment on closed issues as they offer limited exposure. Rather open new issues detailing dependency versions and build setup after checking our troubleshooting guide: https://fbflipper.com/docs/troubleshooting/#react-native

[2020-06-15 15:01] mweststrate commented on #1242
@karthikeyan1241997 IIRC it should be possible to get both by using the right click 'copy row' action.

[2020-06-15 15:57] casconed commented on #1252
Oh good call. We recently renamed our app with a `#` in front of it. Seems like Flipper is choking on that: I see a bunch of messages for:
`clientUtils.tsx:80 Attempted to deconstruct invalid clientId: "#appname#iOS#iPhone Simulator#129D393B-BB22-4FAD-8AF3-9AD3F279D334"`

[2020-06-15 16:47] casconed commented on #1252
quick and dirty local test stripping that character when constructing that client ID doesn't break anything, but the plugins still don't work

[2020-06-15 17:47] casconed commented on #1252
Changing the clientd encoding/decoding to use JSON.stringify/parse seems to fix, but getting tests to work for that change is another issue - the `#` separator seems pretty deeply wired. Working on a PR now...

[2020-06-15 17:52] mweststrate commented on #1252
@casconed PR welcome! But be warned that the rabbit might go quite deep😅. Are you sure you need that hash there? I can imagine this will will go awry in random other places of the  RN stack (but maybe it doesn't at all).

[2020-06-15 17:55] EhsanSarshar commented on #1254
@mweststrate   :(  still the same issue.
is there any way to see through the log files of flipper do it have any log kind of things

[2020-06-15 18:01] casconed commented on #1252
Well, we are in the app store so hopefully it's not going TOO awry!

Worth noting that app names can use any ASCII char so string separators are probably doomed to fail, in this scenario.

[2020-06-15 18:07] mweststrate commented on #1254
@EhsanSarshar Flipper errors should be logged into the device logs under SM-M307FN. It really looks that the Flipper client isn't initialized at all. Or if there is an error in Flipper itself it should show up in View > Developer Tools > console.

Are you sure you are using a debug build and ticked all the bullets on the trouble shooting page, including verifying your files look similar to the one

[2020-06-15 18:09] mweststrate commented on #1252
😆. Some escaping of special characters might be enough.

[2020-06-15 18:18] mweststrate commented on #1000
@voxspox they should actually not be running :)

[2020-06-15 18:19] mweststrate commented on #1000
We added a trouble shooting guide here: https://fbflipper.com/docs/troubleshooting#q-the-react-devtools-dont-seem-to-connect

Suggestions to add any other points are welcome!

[2020-06-15 18:32] EhsanSarshar commented on #1254
@mweststrate as it seems the problem is with wrong react native upgrade steps. but as I fix it by following exactly the steps in [here](https://react-native-community.github.io/upgrade-helper/?from=0.61.4&to=0.62.2). but still plugins not showing and flipper can't connect to my app. is there any way to see through logs to spot the issue

[2020-06-16 01:35] asor7007 commented on #262
I have installed idb_companion 1.0.14 and fb-idb-1.0.12, But it's still erroring on 0.46.0:

`Client setup error: A problem with idb has ocurred. Please run `sudo rm -rf /tmp/idb*` and `sudo yum install -y fb-idb` to update it, if that doesn't fix it, post in Flipper Support.
`
Using yarn version `1.22.4` and node version `v14.4.0`

I followed all of the above steps, but the error does not disappe

[2020-06-16 02:35] sunnylqm commented on #1225
@passy  But disabling flipper works for android 4.x devices
https://github.com/facebook/react-native/issues/28481

[2020-06-16 03:36] baveku commented on #262
@asor7007, I rename to iPhone then my iPhone is connected to Flipper but yes, it's not working. I have a problem the same as you

[2020-06-16 11:23] jknoxville commented on #1254
You may also find the diagnostic screen helpful, it will shed light on where the connection is failing: https://fbflipper.com/docs/troubleshooting/#android

[2020-06-16 12:27] #1226 closed

[2020-06-16 13:06] #1252 closed

[2020-06-16 15:41] bizzguy commented on #1241
@Stonelinks Just wondering if you've had any success is solving the library problem?

[2020-06-16 15:42] bizzguy commented on #1251
I think this issue could be closed.

[2020-06-16 15:45] bizzguy commented on #1254
@EhsanSarshar   Your post contains a very comprehensive list of environment information.  I was wondering how you produced it.  Is there a script?

[2020-06-17 09:04] danilo-vieira commented on #644
I need to know how do this too.
How to add openssl to PATH on Windows?

[2020-06-17 10:18] passy commented on #644
https://answers.unity.com/questions/616484/open-ssl-not-found.html

Not a Windows user but Google has a bunch of answers for this.

[2020-06-17 10:22] danilo-vieira commented on #644
Thank you. I found the solution and wrote a guide about it: https://dev.to/danilovieira/installing-openssl-on-windows-and-adding-to-path-3mbf

[2020-06-17 15:38] hsavit1 opened #1271 "Question: idb companion not showing after brew install"
on macOS catalina, a bug shows saying

[code]

even though I installed via the brew instructions

[code]

[2020-06-17 15:49] jknoxville commented on #1271
You need to point flipper to your fb-idb installation, not your idb-companion installation.

This one: https://github.com/facebook/idb#idb-client

[2020-06-17 15:49] #1271 closed

[2020-06-17 17:00] jknoxville commented on #1250
Please bear with us, we're still ironing out some issues with physical iOS device support at the moment, in particular, today's release contains one fix, and there's another fix in idb on the way that should help.

[2020-06-17 17:39] jknoxville commented on #1249
flipper-plugin-sections is a completely separate plugin, it won't be related to why flipper-plugin-rn-redux-inspector isn't showing up.

According to that screenshot, flipper-plugin-rn-redux-inspector isn't supported by "YAS". This "Supported By" column shows which apps have added which plugins, so the most likely explanation for this is that the plugin hasn't been added to the flipper client in t

[2020-06-18 06:11] EhsanSarshar commented on #1254
@bizzguy react-native info

[2020-06-18 06:29] EhsanSarshar commented on #1254
@jknoxville I am trying the command but as the Docs said "This will only work if you added FlipperDiagnosticActivity to your AndroidManifest.xml. See [getting started for help](https://fbflipper.com/docs/troubleshooting/getting-started/index)." but getting started page not exist . 404

[2020-06-18 08:21] karthikeyan1241997 commented on #1242
Got it. Instead of selecting in the viewer, we can right click the network entry and select copy row. Thanks @mweststrate

[2020-06-18 08:21] #1242 closed

[2020-06-18 12:48] smartcris opened #1273 "React Native client_log messages in a better format ?"
I'm using the desktop Windows version to debug react-native and correct me if I'm wrong but looks like each _client_log_ with blue info circle (generated from console.log();) is readable only in a single line. On developer tools instead for example objects  are grouped and expandable etc, I think this could improve the dev experience.

[2020-06-18 13:12] TPXP opened #1274 "Flipper libraries get included in release builds on Android projects using react-native-flipper"
## 🐛 Bug Report
When adding `react-native-flipper` (required by the [redux plugin](https://www.npmjs.com/package/redux-flipper) for example) to a project, Android release builds get bloated with Flipper binaries.

Impact: bundle size significantly increased (+3MB download, +6MB install size)

## To Reproduce
[code]

For example, `libflipper.so` is included (it also comes with unneeded `libevent`):

[2020-06-18 13:23] TPXP opened #1275 "Flipper should not get built on iOS release builds"
Hello,

As pointed by [someone else in a related issue](https://github.com/facebook/flipper/issues/976#issuecomment-635281265), when adding Flipper to a React-Native project (or I guess any project), building times get significantly increased. This is not desirable.

Impact: longer build times https://github.com/react-native-community/discussions-and-proposals/issues/226

Proposed solution: I'm th

[2020-06-18 14:25] b3coded opened #1276 "Screenshot returns a Broken Image"
## 🐛 Bug Report
I'm trying to take a Screenshot inside Flipper but the saved file is broken.

## To Reproduce
- Run application
- Open Flipper
- Press TakeScreenshot button
- Save the broken file (Expected a valid image)
![Captura de tela de 2020-06-18 11-24-21](https://user-images.githubusercontent.com/38642628/85032523-52a3ed00-b156-11ea-8ec7-fa7352285cc1.png)

![Captura de tela de 2020-06-18 11

[2020-06-18 15:09] bizzguy commented on #1254
@EhsanSarshar  I'm an Android native app developer which may be why I didn't understand your answer.  Is that a command line thing in React Native?  Not sure how I would run that command.

[2020-06-18 15:47] jknoxville commented on #1254
@EhsanSarshar thanks, I'll fix that link. This is where it's supposed to be pointing: https://fbflipper.com/docs/getting-started/android-native#diagnostics

[2020-06-18 16:36] passy commented on #1276
Could you attach an example of the file that is captured for you, please?

[2020-06-18 16:44] passy commented on #1274
Oh, that's interesting. Agreed that it definitely shouldn't be included in release builds. Do you know how this is handled for other debug-only dependencies with native components? I'm not sure how we would declare this as part of the `react-native-flipper` package.

[2020-06-18 16:54] passy commented on #1204
Closing for staleness but let us know if this is still a problem.

[2020-06-18 16:54] #1204 closed

[2020-06-18 17:46] TPXP commented on #1274
Well, to be honest that's the only debug dependency I have in my project, so I can't really help on this point. Do you know of any other debugging tools for react native?

[2020-06-18 19:55] b3coded commented on #1276
@passy I can't , Github says The File is empty

[2020-06-18 19:56] b3coded commented on #1276
Ubuntu recognize as a Text file

[2020-06-19 02:21] sparcbr commented on #1000
The user should be notified to turn off debug mode.

It's very counter-intuitive that you have to turn off debug mode to be able to connect..

I just kept trying to turn off chrome after hitting the retry button, as metro server would open web debugging ui in chrome (or firefox after I uninstalled chrome in desperation lol).

[2020-06-19 04:30] usrbowe opened #1278 "Question: How to remove imported device"
When I import `FlipperExport.flipper`, I can't find a option to remove imported device.
Am I missing something obvious to click on? 😄

<img width="251" alt="image" src="https://user-images.githubusercontent.com/5339061/85096989-a1ba5280-b228-11ea-95e1-c4eba7054879.png">

[2020-06-19 04:42] zameerascentic opened #1279 "Client setup error: A problem with idb has ocurred."
## 🐛 Bug Report
Getting this error 'Client setup error: A problem with idb has ocurred. Please run `sudo rm -rf /tmp/idb*` and `sudo yum install -y fb-idb` to update it, if that doesn't fix it, post in Flipper Support.' I had installed the IDB correctly in the /usr/local/bin/idb and there was no issue there.
![Screenshot 2020-06-19 at 10 10 41](https://user-images.githubusercontent.com/31923811/85

[2020-06-19 10:00] dayze commented on #1279
https://github.com/facebook/flipper/issues/1250

[2020-06-19 12:27] #1206 closed

[2020-06-20 08:09] qichuan opened #1280 "Network Mock Dialog crashes when 'Add Route' button is pressed"
## 🐛 Bug Report

Network Mock Dialog crashes when 'Add Route' button is pressed

## To Reproduce

1. Open Network Plugin
2. Press on the Mock button
3. Press Add Route button
4. The Network Mock Dialog crashes
<img width="1026" alt="Screen Shot 2020-06-20 at 4 05 00 PM" src="https://user-images.githubusercontent.com/410850/85196870-cccba180-b30f-11ea-9dc6-0f1139ac5d9b.png">

## Environment

Latest

[2020-06-20 15:02] AlcantaraRW commented on #644
Having the same issue here with Flipper 0.45.0.
I have OpenSSL installed and added to PATH (Windows 10) and I'm still facing those certificate issues.

[2020-06-20 15:44] hsavit1 commented on #1271
Gotcha, thanks @jknoxville . Installing via pip seemed to help

I am having a tough time linking to flipper. My idb-installation seems to live at `~/usr/local/Cellar/idb-companion`

After sticking that path + the 1.0.14 extention into my Flipper settings, it still reads

```Current setting: ~/usr/local/Cellar/idb-companion/1.0.14 isn't a valid IDB installation```

I've tried with and without the 1

[2020-06-20 21:37] TPXP commented on #92
Same issue on a Galaxy Tab S 10.5 with Android 6.0.1 (the latest it got from Samsung, will try using a LineageOS port)

[2020-06-21 17:51] EhsanSarshar commented on #1254
yeah

[2020-06-22 08:52] nenjamin2405 commented on #1000
I'm having the same issue as @spsaucier-bakkt on iOS. The Flipper app doesn't show any plugins (network inspector, ....). When I tap on the Manage Plugins, it shows the same popup, but I really don't know how to follow the phrase

[code]

[2020-06-22 08:53] nenjamin2405 commented on #948
@SuhairZain I'm having the same issue as you but on iOS, did you resolve this on iOS? :(

[2020-06-22 09:08] SuhairZain commented on #948
@nenjamin2405 Sorry. I do not remember having this issue on iOS.

[2020-06-22 09:20] nenjamin2405 commented on #948
@SuhairZain Ah I fixed it, it turns out that I put the `FB_SONARKIT_ENABLED=1` in the wrong place. Thanks a lot

[2020-06-22 09:27] nenjamin2405 commented on #1000
I fixed it, it turns out that I added the variable `FB_SONARKIT_ENABLED=1` in the wrong place. @spsaucier-bakkt you can try to follow these steps:
1. Go to the Build Settings of your project
2. Search for preprocessor macros
3. Double click on the right area of Debug section (**don't** tap the + icon with a circle on that line, I misclicked that icon and add the variable in the wrong place)
4. It

[2020-06-22 09:33] mweststrate commented on #1000
If anybody has good ideas how to make the messaging in the plugin more clear, or some checks that we could execute to be more certain about the state you are currently in, PR's are welcome!

(for example the reverse port mapping should normally not needed as Flipper does that as well when initializing the device, so it is a bit unclear to me why some still need to do this manually. Might relate to

[2020-06-22 12:41] JanithaR commented on #1249
Do you mean when configuring the store?

[2020-06-22 12:53] passy commented on #1276
I don't have a way to try and reproduce this right now. This is probably something specific to Linux. If anyone wants to investigate this, please comment.

[2020-06-22 12:54] passy commented on #1278
I don't think there's an option for this? cc @priteshrnandgaonkar

[2020-06-22 12:59] rafaela-stockx commented on #1204
Hi @mweststrate and @passy I am very sorry for the delay in replying. I updated to the `0.45`and it is working fine, thank you for the help

[2020-06-22 13:08] passy commented on #1204
@rafaela-stockx I'm happy to hear it got solved! Thanks for following up.

[2020-06-22 15:32] #1280 closed

[2020-06-22 15:50] b3coded commented on #1276
@passy I tried with Windows but this bug persists

[2020-06-22 16:44] priteshrnandgaonkar commented on #1278
No you can't remove. There is no such option yet.

[2020-06-22 16:44] #1278 closed

[2020-06-22 19:53] mathieumg commented on #498
@jknoxville I have this exact error message on 0.47.0 as well. I used to have an old 0.35 installation from last October, for good measure I moved the whole `~/.flipper/` folder elsewhere to get a clean slate, but it still happens. (I confirmed it recreated the folder with the config, certs, etc. I can upload it if you want)

[2020-06-23 08:20] marqroldan commented on #1251
Can I ask why this isn't wrapped?

[2020-06-23 08:51] MakhouT commented on #1010
Same here

[2020-06-23 14:11] bizzguy commented on #1251
There is a trade-off between seeing more lines of output (no wrap) and seeing the full details of a single line (wrapped).  Android Studio "solves" this by providing a control to toggle between the two modes:

![Logcat Tool in Android Studio](https://user-images.githubusercontent.com/337874/85413846-f7487500-b530-11ea-9337-e11223ae4592.png)

Logcat also provides a few other controls not available

[2020-06-23 14:17] joe-goodall-ticketmaster commented on #1251
IMO, the ideal would be the option to toggle wrap.

I get you can copy the line and open it in a text editor but it would be good to keep it in Flipper.

[2020-06-23 14:27] passy commented on #1276
Could you share which Android device you see this on?

[2020-06-23 14:33] bizzguy commented on #1251
What about an additional row of controls (starting with the Wrap/NoWrap toggle):
![image](https://user-images.githubusercontent.com/337874/85416865-94f17380-b534-11ea-8039-ec9c752ac97d.png)

[2020-06-23 14:49] #1274 closed

[2020-06-23 15:45] b3coded commented on #1276
@passy  Moto G7 Play on Android 9.0

[2020-06-23 16:07] passy commented on #1279
Closing in favour of #1250.

[2020-06-23 16:07] #1279 closed

[2020-06-23 16:09] passy commented on #1241
There's already been feedback on this here, but to restate this, the conflicts are *intended*. You must not mix no-op and "op" versions of the app. If you have an overlap here, there's something wrong with the dependency configuration and you need to debug where the release dependency gets pulled in again.

[2020-06-23 16:09] #1241 closed

[2020-06-23 20:21] AlcantaraRW commented on #1000
Flipper can connect to my device but cannot connect to my app.
I'm using Windows 10, Flipper 0.46.0, RN 0.62...
![flipper](https://user-images.githubusercontent.com/18700266/85456881-cdfe0800-b575-11ea-839b-087c574f9650.png)

[2020-06-23 20:33] mweststrate commented on #1000
@AlcantaraRW that is a different issue than discussed here; your React DevTools clearly do connect. Please keep issues a bit focused otherwise it becomes impossible to make any sense of them over time. Please open a new issue after checking, assuming you did follow the trouble shooting guide already: https://fbflipper.com/docs/troubleshooting#q-i-see-my-device--emulator-but-i-cant-see-the-app

[2020-06-23 20:36] AlcantaraRW commented on #1000
Sorry @mweststrate, I thought it could be treated here as well.

[2020-06-23 20:45] AlcantaraRW commented on #948
I'm using Windows 10 and I have the same problem with Android here.
Don't know what else I could do!

[2020-06-24 03:02] TheAlmightyBob commented on #1253
@mweststrate Not the OP and not seeing _all_ the issues he mentioned (so I can create a separate issue if that's preferred?), but I _am_ trying to troubleshoot the error in the title, specifically for Android. iOS is fine. I've gone through the troubleshooting and other documentation but I have not found any mention of this error, except in the case of iOS pods which of course does not apply.

As

[2020-06-24 08:20] mweststrate commented on #1253
@TheAlmightyBob yeah please open a separate issue. same symptoms !== same issue. Since the things mentioned here doesn't apply to you, it is definitely a different issue. In your issue please include your `package.json`, and the gradle build files (in android and android/app) folder. Also include a screenshot of flipper to see what things do connect, and the output of `yarn why react-native-flippe

[2020-06-24 12:52] Epick362 commented on #1253
Hi, I have the same issue as author. When trying to run the Flipper diagnostic activity a new screen shows up a with just two lines.

[code]

and doesn't progress any further. Is this intended or not working properly?

I have `react-native-flipper` in dependencies. Should I also import it in App.tsx? The documentation is not very clear on this under manual setup.

[2020-06-24 13:09] mweststrate commented on #1253
@Epick362 please provide more details. What are you trying to achieve? (what do you need react-native-flipper for, for example). What device are you running on, what kind of build, etc... etc.... Also make sure to check this page first, and describe what steps failed afterwards: https://fbflipper.com/docs/troubleshooting/#react-native

[2020-06-24 19:50] laurenyew-nytimes opened #1290 "Question: LayoutInspector not showing Fragments in app"
Hi, I'm having issues seeing Fragments in the Layout Inspector.
I have Flipper setup in my project with
[code]
Looks like DescriptorMapping.withDefaults() should add the Fragments to the Descriptor mapping, but I'm not seeing any Fragments in my Layout inspector for Flipper. Is there more setup required or is this a bug?

[2020-06-24 19:54] kvaghas commented on #716
Still broken

[2020-06-24 20:57] angelod1as opened #1291 "Question: how to WLS2 + React Native + Flipper + Windows 10"
Hey!

I'm running WSL2 (Ubuntu 20.04 LTS) in Windows 10, developing React + React Native applications. [After following this tutorial](https://gist.github.com/angelod1as/3d3755a2a6714398203442b760006859), I managed to make Android Studios + WSL2 work perfectly... but Flipper doesn't.

Flipper shows me React DevTools and Logs. It doesn't show anything on Hermes Debugger (it keeps saying to reconnec

[2020-06-25 00:21] freezeX opened #1292 "xcodebuild fails to build flipper pods while overriding OBJECT_FILE_DIR setting."
Forwarding [[RN 0.62.2] xcodebuild fails to build iOS artifact with setting OBJECT_FILE_DIR #29200](https://github.com/facebook/react-native/issues/29200)

[2020-06-25 07:42] TheAlmightyBob opened #1293 "Question: Android-only error, "The native module for Flipper seems unavailable. Please verify that `react-native-flipper` is installed""
(spun off of https://github.com/facebook/flipper/issues/1253#issuecomment-648553697, as requested by @mweststrate )

When trying to install any Flipper plugin on Android, I get this error running a debug build:

The basic Flipper functionality seems to be working on Android without plugins, and the plugins work fine on iOS.
I've gone through the troubleshooting and other documentation but I have n

[2020-06-25 08:00] Epick362 commented on #1253
I upgraded my android app to 0.62.2 according to upgrade helper. I can see my device (Huawei Y9 2019) and React Native dev tools but no other plugins and I get this warning in the console:
[code]

build.grade excerpt
[code]

MainApplication.java excerpt
[code]

![Screenshot 2020-06-25 at 09 57 13](https://user-images.githubusercontent.com/1021662/85680419-95bc0e00-b6ca-11ea-9787-376b7e8904c7.png)

[2020-06-25 08:54] terence-codigo opened #1294 "Question: No matching device found"
I'm unable to connect to a Samsung SM-A500YZ running Android 5.0.2, while everything works with a Google Pixel connected to the same computer with the same setup.

![Screenshot 2020-06-25 at 4 47 06 PM](https://user-images.githubusercontent.com/63663914/85688364-44c90b80-b704-11ea-82e3-5a78d4d432ca.png)

I have run FlipperDiagnosticActivity, which shows me red Xs at
Check required certificates are

[2020-06-25 08:57] passy commented on #1294
Sorry, an old issue about this got auto-closed. Sadly, we still don't have a workaround for Samsung devices: https://github.com/facebook/flipper/issues/92

[2020-06-25 08:58] passy commented on #1292
cc @priteshrnandgaonkar

[2020-06-25 09:01] terence-codigo commented on #1294
I see. Thank you!

[2020-06-25 09:57] mweststrate commented on #1253
@Epick362, ok, it looks that Flipper isn't actually initialized on your app, the warning you get is a sympton of that, but probably not the original cause. Could you verify that the class `com.edocu.pris.ReactNativeFlipper` indeed does exist and whether there are any errors logged in the device logs?

@Epick362 / @TheAlmightyBob just to verify, you did run `cd android && ./gradlew clean` after fin

[2020-06-25 10:00] mweststrate commented on #1253
Edit, sorry, responding in the wrong thread. Let's continue the Android issues here: https://github.com/facebook/flipper/issues/1293

@Epick362 could you verify that the solution in #1293 fixes your case as well?

[2020-06-25 10:01] mweststrate commented on #1293
cc @Epick362

[2020-06-25 10:02] mweststrate commented on #1293
@TheAlmightyBob thanks! That is a great find! If this is experienced as well I'll add it to the troubleshooting guide

[2020-06-25 13:31] angelod1as commented on #1291
I believe I'm already doing this though these lines in the tutorial:

[code]

If this isn't it, could you please help me do it?

[2020-06-25 13:43] mbrehme commented on #367
I have the same issue on mac, the "Doctor" says open ssl is installed correctly

[2020-06-25 13:54] passy commented on #1291
@angelod1as Sorry, I might be just missing something but where does this forward port 8001?

[2020-06-25 13:56] laurenyew-nytimes commented on #1290
We are using androidx fragments. Still not seeing them show up in Flipper.

[2020-06-25 14:04] angelod1as commented on #1291
So, I think I believed it wrong. How can I do this port forwarding? If you be so kind of giving me instructions, I'll follow them and post my answers here right away.

[2020-06-25 14:12] passy commented on #1291
I'm sorry, I have absolutely no idea. As I've said, I have not used Windows in anger for probably a decade by now.

[2020-06-26 01:27] #1293 closed

[2020-06-26 07:45] Epick362 commented on #1253
@mweststrate I will try it (also re-running gradlew clean etc.) and report back later today.

[2020-06-26 08:09] #880 closed

[2020-06-26 09:58] sonicdoe opened #1298 "Docs: Links break due to trailing slash"
For example, the “See setup instructions for React Native” link on [React Native Support](https://fbflipper.com/docs/features/react-native/) works on `/docs/features/react-native` (without a trailing slash) but does not work on `/docs/features/react-native/` (with a trailing slash).

When opening the page through the sidebar, no trailing slash is added. However, when directly navigating to the URL

[2020-06-26 11:42] Epick362 commented on #1253
I found the culprit. Package identifier in ReactNativeFlipper.java was com.rndiffapp and I didn't notice it. Everything works now, thank you for the help :)

[2020-06-26 13:23] passy commented on #1298
Thanks, I tried to go through all relative links and tried to absolute-ify them. Please let me know if you find another one!

[2020-06-26 13:23] #1298 closed

[2020-06-26 14:41] passy commented on #1290
So that should work in theory with your setup:

https://github.com/facebook/flipper/blob/54ebb44ddab24a0b157701d7c69af469fd5c4769/android/src/main/java/com/facebook/flipper/plugins/inspector/DescriptorMapping.java#L57

Just to be certain, are you on a recent version of the Flipper SDK? The AndroidX support was added earlier this year.

[2020-06-26 15:04] laurenyew-nytimes commented on #1290
We are on the latest 0.48.0. Still not seeing any Fragments. I confirmed our DescriptorMapping does include the register code you included above.
For example, in opening two parts of the app where I would expect to see fragments, I still see
<img width="513" alt="Screen Shot 2020-06-26 at 10 02 03 AM" src="https://user-images.githubusercontent.com/65074214/85871674-5ce86b80-b794-11ea-806b-891d23f5

[2020-06-26 17:23] pyricau opened #1300 "Flipper leaks activities that were created but not paused."
## 🐛 Bug Report

ApplicationWrapper.mActivities ([ApplicationWrapper source](https://github.com/facebook/flipper/blob/master/android/src/main/java/com/facebook/flipper/plugins/inspector/ApplicationWrapper.java
)) is a list of weak refs to activities. They get added in onCreate():

[code]

and removed in onPause:

[code]

That behavior is incorrect: if an activity is created and destroyed without b

[2020-06-26 17:38] pyricau commented on #1300
Depending on what getActivityStack() is used for, there can be different fixes:

1. You could move the mActivities cleanup to onActivityDestroyed(). That's probably you best bet, though it does mean activities will now still show up after being paused. That seems reasonable though, as a paused activity still has a window, a view hierarchy, and can still be drawing stuff on the screen: when the top

[2020-06-26 17:47] pyricau commented on #1300
Activity I realized another thing: the weak refs are removed only if `activity.isFinishing()` is true. So on every config change (e.g. rotation) isFinishing() will be false and the weak refs are never cleared.

[2020-06-27 13:37] maurusrv commented on #1139
hi, i managed to use flipper using @duarte-evocorp's command but it seems the effect was when i boot, after i login, i'm always welcomed by 'System Program Problem Detected'. is this usual? if yes, is there maybe a way to make my system not detect such problem? if no, is there another way to install it without that warning message?

I'm using ubuntu 16. Thanks guys!

[2020-06-27 13:42] maurusrv commented on #1058
hi, i managed to use flipper using @duarte-evocorp's command here: https://github.com/facebook/flipper/issues/1139

but it seems the effect was when i boot, after i login, i'm always welcomed by 'System Program Problem Detected'. is this usual? if yes, is there maybe a workaround to ignore such problem? if no, is there another way to install it without that warning message?

I'm using ubuntu 16. T

[2020-06-27 22:14] TheAlmightyBob opened #1303 "Cannot build Android Release with react-native-flipper 0.48.0+"
## 🐛 Bug Report
react-native-flipper 0.48.0 breaks building Android in Release, presumably due to https://github.com/facebook/flipper/commit/03b231703ba1e609d8b5d31d71d07c57be1f0b29

Version 0.47.0 did not have this problem, although it had the problem in #1274, which the above change was trying to address.

![image](https://user-images.githubusercontent.com/7707864/85933052-5d156380-b887-11ea-9f6

[2020-06-29 07:40] sonicdoe commented on #1298
Thank you 👍 For future reference, this is the commit: https://github.com/facebook/flipper/commit/b2e8070af2410c8c18666899c50d9b0606d68610.

[2020-06-29 16:34] passy commented on #1290
@laurenyew-nytimes Do you know if this ever worked, so if this could be a regression or never worked to begin with?

[2020-06-29 17:06] laurenyew-nytimes commented on #1290
As far as I'm aware, it never worked in our configuration.

[2020-06-30 07:43] aartcm opened #1307 "Discussion: Add NetworkRequestFormatter interface"
Hello!

I wanted to check if a PR would be welcome that introduces a new `NetworkRequestFormatter` interface that is analogous to the already existing `NetworkResponseFormatter` (https://github.com/facebook/flipper/blob/master/android/plugins/network/src/main/java/com/facebook/flipper/plugins/network/NetworkResponseFormatter.java) and used in the same way but to format request bodies instead of re

[2020-06-30 08:41] ObidosDev commented on #1303
Same stuff

[2020-06-30 09:20] DaniAkash opened #1308 "Unable to open on macOS Catalina - Developer cannot be verified"
## 🐛 Bug Report

Unable to launch flipper on macOS Catalina. Getting the following error message ﹣
<img width="532" alt="Screenshot 2020-06-30 at 2 45 15 PM" src="https://user-images.githubusercontent.com/6841445/86108299-9b598f80-bae0-11ea-8634-817a0bc55cf9.png">

## To Reproduce

Install the application on macOS catalina & try opening it

## Environment

macOS: Catalina 10.15
flipper: 0.48

Prev

[2020-06-30 09:59] ObidosDev commented on #1303
May be need to create debug folder and return module for auto linking by `BuildConfig.DEBUG` value and with reflection return FlipperModule instance if debug is true. (Very the same as for `initializeFlipper` from installation part)

Because root cause is auto generated `PackageList.java`
[code]

[code]

[code]

Hope it make sense 🧑‍💻

[2020-06-30 10:14] ObidosDev commented on #1303
@passy I do not know whom I may tag here, so let it be you :)

[2020-06-30 10:21] RedMickey opened #1309 "Question: show dev menu button doesn't work for iOS"
Hello, I tried to use the `Show dev menu` button on debugging an iOS app and it seems that it doesn't work correctly.
On the Flipper toolbar there are 2 buttons to show dev menu and reload the application. They work correctly in case of debugging Android applications. But when I try to debug an iOS app only the `Reload` button works. Nothing happens when I click on the `Show dev menu` button.
It c

[2020-06-30 14:39] xgqfrms opened #1321 "Error installing Flipper"
## 🐛 Bug Report

https://github.com/facebook/Sonar

https://github.com/facebook/flipper

## To Reproduce

1. create app using npx `npx react-native init RN_APP`

2. manually install cocoa pod `cd ./RN_APP/ios && pod install`

[code]

## Environment

[code]

***

https://github.com/facebook/react-native/issues/29251

[2020-06-30 14:42] xgqfrms commented on #1321
[code]

![](https://user-images.githubusercontent.com/7291672/86123502-32880c80-bb0c-11ea-80c3-043901031d02.png)

[2020-06-30 14:42] xgqfrms commented on #1321
[code]

https://github.com/facebook/react-native/issues/29251

![image](https://user-images.githubusercontent.com/7291672/86138970-bdbfcd00-bb21-11ea-91cb-5c9874777803.png)

[2020-07-01 09:53] mweststrate commented on #1309
It just tried and noticed the same. But triggering it from the terminal (by pressing 'd' in the terminal that runs metro) doesn't seem to open it either for me. Is that the same in your case?

[2020-07-01 12:34] b3coded commented on #1303
@ObidosDev I solved on my project, I sent a PR that can resolve this problem [here](https://github.com/facebook/flipper/pull/1325)

[2020-07-01 14:08] fabriciosautner opened #1326 "Question: How do i remove Flipper from React Native?"
After the React Native update, Flipper is installed automatically and this creates many problems. As for example, slow all Builds, especially on iOS.

I also think that the build file on both Android and iOS should get bigger. In Pods File, for example, there are many Flipper entries.

I would like to find a way to remove the Flipper, as we will not need it.

[2020-07-01 14:49] joe-goodall-ticketmaster commented on #1240
@nikoant Still stuck at 0.35.0

[2020-07-01 22:55] esensei commented on #262
Same issue, ios 14. Up

[2020-07-02 06:29] tezka003 commented on #993
Hi sir changing the FLIPPER_VERSION gives me a build failed output

[2020-07-02 08:57] RedMickey commented on #1309
@mweststrate, I tried to open dev menu from the terminal by pressing "d" and faced the same proplem - dev menu isn't opened. It seems that there could be some issues with React Native CLI or Metro packager in this case. Maybe we should open an issue about this problem in the [react-native-community/cli](https://github.com/react-native-community/cli) repository?

[2020-07-02 09:00] mweststrate commented on #1309
@RedMickey yes, in that case I suspect it is an issue in RN ios itself and I think the issue can be raised on the react-native repository.

[2020-07-02 09:23] cekkaewnumchai commented on #1326
cc. @mweststrate

[2020-07-02 09:54] cekkaewnumchai commented on #1321
I can't reproduce this. It seems to redirect to correct git for me. Would you mind take a look @priteshrnandgaonkar?

One this to note is Flipper version is too old now. Could you try changing it to `0.49.0` and try `pod install --repo-update` to see if it solves the problem?

[2020-07-02 10:27] RedMickey commented on #1309
@mweststrate, I opened [the corresponding issue](https://github.com/react-native-community/cli/issues/1213) in RN CLI repository.

[2020-07-02 10:33] cekkaewnumchai commented on #1321
This might help https://github.com/CocoaPods/CocoaPods/issues/9564

[2020-07-02 11:00] mvrdrew commented on #262
I've managed to make some progress on my local machine. Based on what @jknoxville mentioned about a new release of idb that should fix the command line parameters issue, I've installed the latest idb (v1.0.14 directly from the tarball here (https://github.com/facebook/idb/releases) - incidentally, the last version of idb published to PyPI is 1.0.12, should the new versions be available there as we

[2020-07-02 11:18] xgqfrms commented on #1321
@cekkaewnumchai Anyway, thanks a lot!

I don't know why, but it's OK now.
After I installed `expo-cli`.
Maybe it's my networks problem, who knows.

https://github.com/xgqfrms/React-Native-Tutorials/issues/16

[2020-07-02 11:18] passy commented on #1326
Basically search for "Flipper" in your project, and remove it. On Android there are a few dependencies declared and file added to your project, which is referenced from your Application class. If you get rid of that, that's it.

[2020-07-02 11:21] #1321 closed

[2020-07-02 11:21] passy commented on #1290
@laurenyew-nytimes I tried to repro this in our sample app here: https://github.com/facebook/flipper/pull/1328

For me everything appears to be working. Could you maybe take a look and check how this differs from your setup?

[2020-07-02 11:29] jknoxville commented on #1308
Usually when you download a binary, you have to right-click it and then select "Open", instead of simply double clicking it:

<img width="777" alt="Screen Shot 2020-07-02 at 12 25 29 PM" src="https://user-images.githubusercontent.com/692011/86353465-2b254800-bc5f-11ea-8ccc-34005f7306ce.png">

After that, you should get an "Open option" in the dialog.

<img width="581" alt="Screen Shot 2020-07-02 a

[2020-07-02 13:07] c-ryan747 commented on #262
These have got slightly out of sync, 1.0.14 is the latest version of the companion and 1.0.12 is the latest version of the cli

What happens if you open a shell and try to run commands like
[code]

[2020-07-02 15:34] laurenyew-nytimes commented on #1290
Noticed you have
<intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="flipper" android:host="fragment_test_activity" />
      </intent-filter>
on your activity in question. Is that required to make the fragme

[2020-07-02 15:37] mvrdrew commented on #262
The latest _published_ version. If you look at the releases on the idb github page the latest version is 1.0.14. I've tried installing them both with the same results.

This one gives me a list of available devices, as expected.

This one gives me an error:

[code]

[2020-07-02 15:50] passy commented on #1290
@laurenyew-nytimes No, that should have nothing to do with it. That's just to expose a URL so you can open activities in the sample up directly through our navigation plugin.

[2020-07-02 16:02] c-ryan747 commented on #262
@lawrencelomax Do you know why we might get that error message?

We should also publish a new version of the companion with you're more recent changes in this space

[2020-07-02 17:55] TheAlmightyBob commented on #1303
Note that the above PR did _not_ fix this bug.

(as @b3coded also acknowledged... I'm not criticizing their effort, just clarifying for folks looking at this)

[2020-07-02 18:05] b3coded commented on #1303
@TheAlmightyBob Yes, when I ran with my local changes probbably I got some cache and my test application worked. So now I'm trying to check if RN CLI can help us

Something like [this](https://github.com/react-native-community/cli/issues/1211#issuecomment-653126032)

[2020-07-02 18:55] TheAlmightyBob commented on #1303
@b3coded @passy Perhaps `react-native-flipper` should just opt-out of autolinking on Android for now and provide instructions for debug-only manual linking?

(or perhaps it could provide a release-only dummy version of FlipperPackage?? I'm less-certain if that would work though...)

[2020-07-02 19:29] b3coded commented on #1303
@TheAlmightyBob for now, I believe that will be a good idea use manual linking

[2020-07-02 21:48] mohamedsgap commented on #1276
@passy Can i take this one ?

[2020-07-03 01:58] kiranjd commented on #667
In your terminal, run `echo $ANDROID_HOME`, copy the path over to Flipper settings

[2020-07-03 09:49] ObidosDev commented on #1303
@b3coded @TheAlmightyBob I have described approach above which worked for me on my local changes WITH auto linking only for DEBUG mode and just ignore flipper for RELEASE. So I will try to prepare my changes tomorrow with new PR

[2020-07-03 10:15] mweststrate commented on #1326
I just removed Flipper from a freshly generated project (from both Android and iOS), and for reference this is what the diff looks like (this can be useful if you want to add it later again as well):

[code]

[2020-07-03 10:17] mweststrate commented on #1309
Closing the issue here for now, since there is at this point nothing we can do from our side

[2020-07-03 10:17] #1309 closed

[2020-07-03 11:03] b3coded commented on #1303
@TheAlmightyBob I ran your PR in the FlipperExample and it builds (tested with Debug and Release variants and it's working), I forgot to add a `FlipperPackage.java` to `android/main` folder, Thank you !

[2020-07-03 16:44] TheAlmightyBob commented on #1303
@ObidosDev #1329 should also fix this (sounds like it did for @b3coded ), and I think is a bit cleaner than using reflection. But if you think you have a better solution that you still want to submit that's fine.

[2020-07-03 17:20] ObidosDev commented on #1303
@TheAlmightyBob your solution just ignoring the flipper auto linking?

[2020-07-03 18:11] fabriciosautner commented on #1326
Perfect! Solved my problem!

[2020-07-03 18:11] #1326 closed

[2020-07-03 22:16] TheAlmightyBob commented on #1303
@ObidosDev No, #1329 still works with autolinking.

Manual linking is just a workaround that can be temporarily applied in a consuming React Native app until this bug gets fixed.

[2020-07-04 13:04] DaniAkash commented on #1308
Thanks. I was looking for such a solution.

[2020-07-04 13:04] #1308 closed

[2020-07-04 13:04] DaniAkash commented on #1308
Any plans to avoid the warning completely in the future? It'd be really helpful...

[2020-07-05 19:10] #920 closed

[2020-07-06 09:49] Monkeystation commented on #1275
Also when creating the archive, the file size is significantly larger. In the screenshot you'll see the default 'AwesomeProject' with Flipper (283MB) and without Flipper (removed from Podfile, 88MB)

<img width="636" alt="Screenshot 2020-07-06 at 17 45 54" src="https://user-images.githubusercontent.com/22851865/86579946-98631100-bfb0-11ea-810a-606b104d3f3c.png">

[2020-07-07 05:21] HarshaKoshila commented on #515
rm -rf $HOME/.gradle/caches/

[2020-07-08 03:24] liukefu2050 commented on #1326
I agree

Whether this problem can cause attention and set switch function

[2020-07-08 11:31] sjonchhe commented on #948
Same issue here! Logs are in react native section is  working fine.But plugins are not working.
![flipper error](https://user-images.githubusercontent.com/17291050/86913762-cece9680-c13e-11ea-9c17-3b0d3d853933.PNG)

[2020-07-08 17:34] AndrewMorsillo opened #1363 "Flipper.exe 0.49.0 does nothing on win10"
## 🐛 Bug Report
Running Flipper.exe v0.49.0 on win10 does nothing. No output, no errors, no window, simply nothing happens.

Not really sure how to debug this since there's no output at all.

## To Reproduce
1. Download and unzip flipper 0.49.0 on windows
2. Run Flipper.exe

## Environment
Flipper v0.49.0
Win10 build 20161

[2020-07-09 11:49] wijskinner opened #1364 "Android network plugin not showing any activity"
I'm hoping someone might be be able to offer some suggestions as to what might be wrong with my current react-native setup with flipper. I'm using flipper 0.49 in both iOS and android builds. It was added manually after our react-native upgrade to 62.2.

Everything works just fine in iOS. All plugins respond correctly - INCLUDING network plugin. However in Android nothing ever shows in the network

[2020-07-09 19:24] ClayC-WeatherBug commented on #1364
I believe you have to add some kind of interceptor to whatever you are using for network requests in order to get this to work. The Flipper docs have some instructions for adding this to Android if you are using OkHTTP. I've been running into a similar problem though where it intercepts my Android network requests with the above code, but it doesn't appear to be intercepting my network requests fr

[2020-07-09 20:46] wijskinner commented on #1364
Thanks for the suggestion - I've been through all the setup docs to check everything is there. Also compared to it to the working example in ReactNativeFlipperExample in the flipper repo I mentioned above.

My android src debug dir includes ReactNativeFlipper.java where the interceptor is attached as in the sample:

`/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * <p>This source code

[2020-07-09 21:46] ClayC-WeatherBug commented on #1364
Ah got it. Have you tried doing `adb reverse tcp:8097 tcp:8097` while the app is running? I forgot to mention this before. Not sure if this is for other flipper/debugging traffic or if it is just something to do with the network plugin, but I've been running it and have things working.

[2020-07-10 00:48] AndrewMorsillo commented on #1363
I found an old build, v0.37.0 and that starts fine. I will download some previous releases and try to find the one where it stops working.

[2020-07-10 01:09] AndrewMorsillo commented on #1363
I tested older versions, the issue begins at v0.48.0.

v0.47.0 and below run fine.

[2020-07-10 08:27] mweststrate commented on #1363
cc @nikoant

[2020-07-10 08:36] mweststrate commented on #1364
I think without the port reverse nothing should be work, so that part seems ok.

@wijskinner could you check if you have the following in your debug `AndroidManifest.xml`: `<application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" />`? Also do make sure you don't have any minification enabled in dev builds, as minification can break reflection us

[2020-07-10 08:38] mweststrate commented on #1307
Sounds good to me. cc @passy do you foresee any problems with such approach?

[2020-07-10 08:50] yueban commented on #824
Still occur on 0.49.0.

delete `app/build` or `rebuild` not solve it.

Solve it by changing `implementation "com.facebook.flipper:flipper:0.49.0"`
to `implementation "com.facebook.flipper:flipper:0.49.0@aar"`

add a `@aar` suffix.

[2020-07-10 09:00] wijskinner commented on #1364
Thanks @ClayC-WeatherBug and @mweststrate. Really appreciate the help.

@ClayC-WeatherBug I ran the port reverse while the app is running - doesn't seem to have made any difference.

@mweststrate Here's my debug AndroidManifest.xml

[code]

And my src directory build.gradle has the following:

[code]

Running latest flipper desktop from source I do get a few errors which seem to match up with the

[2020-07-10 09:03] aartcm commented on #1307
Cool! I will be on vacation for the next few weeks but will try to add this when I get back!

[2020-07-10 09:13] mweststrate commented on #1364
@wijskinner that sounds / looks like Flipper is actually initialized twice... Could you share your `MainApplication.java` as well? Do you see the same errors if you kill the app, and start it, but without opening the DiagnosticActivity?

[2020-07-10 09:33] wijskinner commented on #1364
Ahhhhhhh..how did I not spot that. You total legend. Yup - got the errors each time app started. My MainApplication.java had this:

[code]

Took the top `initializeFlipper(this, getReactNativeHost().getReactInstanceManager());` out and boom - network tab all happy.

![Screenshot 2020-07-10 at 10 32 27](https://user-images.githubusercontent.com/48635730/87140085-d4d88a80-c298-11ea-96ab-07e838aba3e7

[2020-07-10 09:36] #1364 closed

[2020-07-10 17:50] jaswantdhayalxebia commented on #515
cd android && ./gradlew clean

This is worked for me

[2020-07-11 19:42] kuldeepworkid commented on #993
still facing network issue in
 react-native='62.2'
FLIPPER_VERSION=0.39.0

[2020-07-12 16:44] MahmonirB commented on #993
I had this problem and solve it via commenting the 43 line in android/src/debug/.../.../ReactNativeFlipper.java

`// builder.addNetworkInterceptor(new FlipperOkhttpInterceptor(networkFlipperPlugin));`
could you test it?

[2020-07-13 09:20] #1300 closed

[2020-07-13 11:25] vkotovv opened #1369 "No icon displayed on Ubuntu 20.04"
## 🐛 Bug Report
No icon displayed on my Ubuntu 20.04 panel.

## To Reproduce
- Download v0.49.0 for Linux
- Unzip and run
- No icon is displayed on the panel (see screenshot).

![flipper_no_icon](https://user-images.githubusercontent.com/1636249/87299374-8df6c900-c514-11ea-86d2-a6f969ce22f1.png)

## Environment
Flipper 0.49.0, Ubuntu 20.04 (updated from 18.04 LTS).
Previously I used older version

[2020-07-13 12:30] passy commented on #1369
Hi @vkotovv, thanks for the report. Because of the ongoing lockdown, I don't have access to my Linux environment at the moment and can't repro this. Happy to look at any PRs that might resolve this, though.

[2020-07-13 12:32] vkotovv opened #1370 "Discussion: add "Delete row" option for Database plugin"
There is no "Delete row" button in Database plugin, only Edit.
I think it should be pretty convenient to have an option for row deletion. For example, Stetho has this.

[2020-07-13 12:48] vkotovv commented on #470
Is this still not resolved?

[2020-07-13 12:52] vkotovv commented on #326
@nubpro Looks like it is stalled.

[2020-07-13 13:21] passy commented on #470
Thanks for noticing. That was addressed with #623.

[2020-07-13 13:21] #470 closed

[2020-07-13 15:55] erikghonyan opened #1379 "Bump LeakCanary to 2.x for AndroidX support"
The LeakCanary Flipper Plugin v0.50.0 depends on LeakCanary v1.6.3, which uses support libraries. They've migrated to AndroidX in version 2.0. A workaround is to manually add a dependency on LeakCanary and it seems to work fine with v2.2

[2020-07-13 17:30] nikoant commented on #1363
@AndrewMorsillo, thank you for bisecting the exact version where this broke. In 0.48 we upgraded Electron to 9.0.2, and you are on Windows Insiders Preview build, so I suspect that this is related to https://github.com/electron/electron/issues/23841. On my machine with stable Win10 (build 19041) it works fine. We would need to upgrade Electron once again to fix this.

[2020-07-14 04:16] jaychang0917 opened #1381 "Discussion: Support exporting a GIF?"
The use case is we usually make a Github PR with a GIF screenshoot showcasing the feature being developed, but unfortunately Github doesn't support uploading video directly, so we have to convert the video recorded by flipper with some third party tools.

It would be a time saver if flipper can export gif directly. Thanks!

[2020-07-14 16:37] mweststrate commented on #1370
Feel free to take a stab at it if interested!

[2020-07-14 19:35] leo-nezes commented on #1000
Port forwarding work for me 👍😁

[2020-07-15 08:20] Andarius opened #1382 "Warning running jest tests"
## 🐛 Bug Report

When running tests using jest, the following warning appears:

[code]

## To Reproduce

Run jest tests with

[code]

## Environment

[code]

[2020-07-15 09:01] FDiskas commented on #1274
Should be reopened

[2020-07-15 09:01] mweststrate commented on #1382
Hard to give any specific pointers without reproduction, but there is little pointing enabling the Flipper devtools in Jest tests. Typically you would only run the initialization code only in the entry point of your application, but not run jest tests directly against your entry point. If your tests directly or indirectly reference your applications' entry point, there is probably too much in ther

[2020-07-15 09:56] mweststrate commented on #1274
@FDiskas given #1325, preferably give some details / reproduction on why it should be reopened. Your comment as it stands is inactionable.

[2020-07-15 12:44] Andarius commented on #1382
Thank you @mweststrate, I needed to add the middleware to the store, hence the warning.
Also my issue is more related to the extension `redux-flipper``rather than flipper in itself, my bad.
`!process.env.JEST_WORKER_ID` does the trick, thanks !

[2020-07-15 12:44] #1382 closed

[2020-07-15 16:53] passy commented on #1381
I really like that idea. Thanks for suggesting!

[2020-07-16 06:12] merovingienne commented on #997
Seeing the same issue on Flipper version 0.49.

### Environment
MacOS: 10.15.3 (19D76)
Flipper: 0.49.0
Flipper Pods: 0.33.1
React Native: 0.62.2
iOS simulator: 13.3

[2020-07-16 08:56] mweststrate commented on #1219
cc @passy I think you solved this one a few weeks ago, or was that not the same issue?

[2020-07-16 09:02] mweststrate commented on #1275
@TPXP all our files for react-native-flipper have been wrapped recently in `#ifdef DEBUG` flags, however, that doesn't remove the build times for transitive dependencies as you noticed. I think these kind of issues should be solved on an infrastructural level by having conditional builds / dependencies or something, rather than here by monkey patching dependencies. Many deps are quit generic which

[2020-07-16 09:04] mweststrate commented on #1273
Multilines should work (for me they do at least), for expandable objects, see #950

[2020-07-16 10:18] badredaha commented on #976
The same Problem here !

[2020-07-16 10:43] badredaha opened #1390 "Build/Archie take a long long time after RN migration to 0.62 and Flipper integration"
## 🐛 Bug Report
The build take a longg time ! 30 min after first analyse, i noticed that Flipper is present Even the Build is Release !!!

## iOS

RN 0.62.2
Flipper Version : versions['Flipper'] ||= '~> 0.49.0'

Podfile:
[code]

[2020-07-16 12:44] alloy commented on #1275
@TPXP There is no need to add extra configuration, simply remove [the lines that include Flipper](https://github.com/facebook/react-native/blob/0.63-stable/template/ios/Podfile#L20-L23) from your Podfile.

[2020-07-16 13:04] mweststrate commented on #1275
@alloy can that be made conditional based on debug vs release build?

[2020-07-16 13:20] alloy commented on #1275
That already is conditional, alas it’s being hidden behind a layer of indirection https://github.com/facebook/react-native/blob/eb2a561ecb10a97d458cce53ee27b0fba655f018/scripts/react_native_pods.rb#L62-L90.

To re-iterate, it _will_ be build for release builds, but it will _not_ be linked.

[2020-07-16 13:31] mweststrate commented on #1390
As stated in a few issues now, flipper will be part of the build but not linked when building a release, so they won't end up in the product. If you don't want Flipper _at all_, it is straightforward to disable it as described [here](https://github.com/facebook/flipper/issues/1275#issuecomment-659386608). But unless someone knows a way to make the build infra smarter, there isn't much we can do be

[2020-07-16 13:31] #1390 closed

[2020-07-16 13:36] mweststrate commented on #976
As stated in a few issues now, flipper will be part of the build but not linked when building a release, so they won't end up in the product. If you don't want Flipper _at all_, it is straightforward to disable it as described [here](https://github.com/facebook/flipper/issues/1275#issuecomment-659386608). But unless someone knows a way to make the build infra smarter, there isn't much we can do be

[2020-07-17 10:18] TPXP commented on #1275
Thanks for your feedback, I didn't know that the files for `react-native-flipper` were wrapped in `#ifdef DEBUG`. Any reason why the files for `Flipper` and its subpackages don't have the same optimization?

Granted, I could remove the lines about flipper from the PodFile before creating a release build, but that requires installing pods again. It would work, but I'm sure we can find a better way

[2020-07-17 10:31] mweststrate commented on #1275
Because these packages are used in different other environments, or could actually be a transitive dependency of your real project as well. So wrapping them could have very unintended consequences.

Closing the issues as there is further not anything we can do from our side.

[2020-07-17 10:31] #1275 closed

[2020-07-17 12:36] TPXP commented on #1275
How about wrapping the code of these dependencies in a custom flag like `#ifndef DISABLE_FLIPPER`? This way, I think I can be disabled when building production builds while not affecting projects using these tools as dependencies

[2020-07-17 20:02] laurenyew-nytimes commented on #1290
Confirmed we are getting the Fragments listed, they're just further down in the layout list than expected. Is there a way to hide the View layout parts in Flipper so I can just see Activities / Fragments?

[2020-07-18 06:19] #977 closed

[2020-07-18 06:19] #950 closed

[2020-07-18 06:19] #657 closed

[2020-07-18 19:01] AndrewMorsillo commented on #1251
Agreed an option to toggle wrap would be great. Flipper is pretty useless for viewing logs right now if your use case requires you to log longer lines. Copying single lines into a separate text editor isn't really an effective solution in most cases. It seems odd to me that the log viewer plugin has advanced functionality like the expression watcher (which is awesome) but is missing the most basic

[2020-07-18 19:54] nubpro commented on #1250
@jknoxville Quick one, is this fixed yet?
Last time I tried, it's still giving this error and I had to rollback to the older Flipper version which is 0.45.

[2020-07-18 20:47] AndrewMorsillo opened #1391 "Flipper opens two copies of React devtools for react-native"
## 🐛 Bug Report
Flipper opens two copies of devtools on react-native

See this screencap for example: https://share.getcloudapp.com/GGuo10kG

This behavior happens consistently when navigating to the React Devtools tab in Flipper. It also happens when the Devtools are open and I press ctrl+m in the emulator to bring up the menu. It's very hard to use devtools with Flipper due to this.

This issue

[2020-07-20 12:55] alloy commented on #1275
@TPXP Have you by any chance tried and measured the actual impact of doing so?

[2020-07-20 16:28] #750 closed

[2020-07-21 07:49] siddhantbhatia commented on #993
Thank you! This worked for me

[2020-07-21 11:19] nikoant commented on #1391
Am I right that this is only reproducible on Windows?

[2020-07-21 13:53] micnguyen commented on #1303
I am experiencing this issue as well. `npx react-native run-android --variant=release` fails for me with missing Flipper classes

[2020-07-21 14:01] b3coded commented on #1303
@micnguyen if you're using `react-native-flipper` dependency, install the ``0.47.0`` version

[2020-07-21 15:10] awinograd commented on #1028
I also see high CPU usage with flipper 50 on my mac. It seems to regularly poll `instruments -s devices` which spikes the CPU

[2020-07-21 15:26] mweststrate commented on #1028
cc @jknoxville, I remember you had ideas of managing device detection through idb rather than instruments? This might be another good reason to transition that.

[2020-07-21 16:54] mauricioblum commented on #993
Worked for me too! Thanks!!

[2020-07-21 22:09] adamc01 opened #1393 "[Feature Request] Add button to update Flipper"
Hello,
Thanks for the team's continued work on Flipper.
Many versions ago I remember Flipper would prompt to auto-update (or maybe I clicked an update button somewhere).
Now in preferences/about/settings I don't see any option to update the app.
Can we make it so clicking on the version number prompts the user to update the app? (or put it in About)

Thanks,
Adam

[2020-07-21 22:31] elkinjosetm commented on #1010
Same here, and like @mweststrate said, Hermes does work. But it only apply for Android development, Hermes is not currently supported on iOS.

[2020-07-21 22:32] elkinjosetm commented on #1010
Would also be nice and could be a potential workaround to know how does React-Native initial log, which looks like objects, get rendered somehow nice by flipper

[2020-07-22 01:21] AndrewMorsillo commented on #1391
I'm not sure, I haven't tested on other platforms.

[2020-07-22 01:59] TheAlmightyBob commented on #1303
@micnguyen Note that @b3coded 's tip will fix the build but mean that your release APK includes a few MB of Flipper libraries.

If that concerns you, manual linking is an effective workaround... but it's a little nontrivial and hopefully it won't be too much longer to get the fix in for this 🤞

[2020-07-22 03:24] leoyb commented on #1321
@xgqfrms I have the same problem with you，do you know how to solve it?

`Analyzing dependencies
Fetching podspec for `DoubleConversion` from `../node_modules/react-native/third-party-podspecs/DoubleConversion.podspec`
Fetching podspec for `Folly` from `../node_modules/react-native/third-party-podspecs/Folly.podspec`
Fetching podspec for `glog` from `../node_modules/react-native/third-party-podspec

[2020-07-22 05:59] secretshardul opened #1394 "Docs: Missing image 'GitHub Actions artifact downloads' in CONTRIBUTING.md"
The given image in [`CONTRIBUTING.md`](https://github.com/facebook/flipper/blob/master/CONTRIBUTING.md#verifying-changes-to-flipper) is broken. The file `static/actions-artifacts.png` referenced by the image link is not in the repo. Either the file should be added or the link should be removed.

# Screenshot
![image](https://user-images.githubusercontent.com/49580849/88140196-e4e45880-cc0e-11ea-9b

[2020-07-22 08:24] mweststrate commented on #1010
I'll be making some improvements to the logs plugin soon and will look into the multiline issue as well

[2020-07-22 08:28] Kianoni commented on #644
I had the same issue on Windows 10. Fixed by running Flipper as administrator once, seems openssl needs some extra permissions to generate the certificate.

[2020-07-22 08:47] mweststrate commented on #1393
cc @passy, with the new distribution mechanism I think we could even apply updates in-place?

[2020-07-22 08:48] mweststrate commented on #1251
I am going to make some changes to the device logs soon, so will look into this one as well.

[2020-07-22 10:21] passy commented on #1393
You should see a little indicator in the top right-hand corner if a newer version is available. There are a lot of moving parts in play for this. I'll check if something there broke.

[2020-07-22 11:05] micnguyen commented on #1303
Thanks for the advice. As we are not considering releasing any time soon, I'll eagerly await for your PR that will fix it: https://github.com/facebook/flipper/pull/1329 👍

[2020-07-22 11:10] #1394 closed

[2020-07-22 12:50] passy commented on #1393
![Screenshot from 2020-07-22 13-44-24](https://user-images.githubusercontent.com/9906/88178437-4c57d380-cc22-11ea-95f7-d5801973f8d8.png)

Just checked and this is working as intended. Is there anything else you had in mind, @adambenami1?

[2020-07-22 14:44] danilo-vieira commented on #644
Yeah! anyway, if you get this error again, you can read my guide on dev.to. I teach how install openssl on Windows. 😊

[2020-07-22 22:31] adamc01 commented on #1393
Confirmed the new version indicator shows up.
However clicking the link just opens your browser to manually download the new version.
I thought it used to auto-update (and I would have to restart the app)?

I tested an older version v0.28 and I saw it try to auto-update:
![image](https://user-images.githubusercontent.com/10903648/88235696-449f2b80-cc30-11ea-80e6-f16653de06a5.png)

[2020-07-23 07:18] ZacSweers commented on #1160
They are now also missing from the mac app downloads :/

[2020-07-23 20:27] AndrewWestberg commented on #456
@passy Please re-open this issue. The very latest version for mac has no right-click options menu to copy anything from the response body field. For a very large graphql response, I need to put it into a tool so it's formatted better.

[2020-07-23 21:43] djMax opened #1399 "Flipper Layout plugin freezes apps in some cases when using Modals"
## 🐛 Bug Report
Clear and concise is going to be a doozy. BUT, I have a react-native app using react-navigation. I added an overlay spinner using various plugins and then finally just using a raw react-native Modal (not a react-navigation modal). When the Modal is dismissed, I cannot click on the app anymore. Anywhere. I noticed in XCode that the UITransitionView that hosted the modal was "still t

[2020-07-24 08:53] redbluenat commented on #1253
I had the same problem, for me, directory structure in debug folder wasn't the same as in the main folder so it couldn't find it, check your folder structure and check this line:
`
Class<?> aClass = Class.forName("YOUR_PACKAGE_NAME.ReactNativeFlipper");
`

[2020-07-24 10:03] nikoant commented on #1399
Hi @djMax, could you make a small repro project? It might be specific to a certain setup.

[2020-07-24 12:40] passy commented on #1393
@adamc01 For ancient versions like that one we still had Squirrel integrated. However, that mechanism has so many odd restrictions and caused a massive inflow of support requests which is why we ended up disabling it. We also wanted to have a mechanism that works cross-platform which there also doesn't seem to be an off-the-shelf solution for. So far the time being this is probably going to stay l

[2020-07-24 12:40] passy commented on #1393
I suppose you mean the launcher? My hope is that this is something we could make use of in open source, too, but it's not on the roadmap right now.

[2020-07-24 17:47] djMax commented on #1399
I have tried to make a repro, but it doesn't repro. I tried variations of this:

[code]

It may very well be some sort of race condition, but I'm not sure how to repeat it. I don't notice a SECOND UITransitionView in my case, so maybe if someone can think of a way to get that second view up...

[2020-07-25 07:39] adrianso commented on #1399
Hi @djMax, I am having exactly the same issues in my project.

[2020-07-26 13:34] sylvanaar commented on #1391
I am also having the 2 pane problem. I find if I close and reopen the developer menu on the simulator (sometimes takes a few tries) it will show a single panel again.

[2020-07-26 13:44] IgorDePaula opened #1402 "Flipper install in macOS but is not signed and not verified, not open"
![Captura de Tela 2020-07-26 às 10 42 27](https://user-images.githubusercontent.com/2833993/88480542-e7a3be00-cf2c-11ea-9207-2ca4a69deb00.png)

[2020-07-26 17:12] passy commented on #1402
Dupe of #1308

[2020-07-26 17:12] #1402 closed

[2020-07-27 03:33] JonatanOrtiz commented on #993
I tried it all, it didn't work.

[2020-07-27 11:59] #938 closed

[2020-07-27 17:47] Baterka commented on #993
Not work for me as well:
FLIPPER_VERSION=0.39.0
"react": "16.13.1",
"react-native": "0.63.2",
"react-native-flipper": "^0.39.0",

[2020-07-27 22:01] adamc01 commented on #1393
Thanks for the response, I'll use the indicator icon for now then.

[2020-07-27 22:01] #1393 closed

[2020-07-28 00:34] fahmisdk6 opened #1408 "Flipper Glog Pod Install Failed"
## 🐛 Bug Report
Unable to pod install Flipper-Glog

## To Reproduce

1. Clone flipper repo
2. Open /iOS/SampleSwift
3. pod install

## Environment

Mac OS Catalina 10.15.5
Xcode 11.5

## Error Log

[code]

[2020-07-28 01:05] fahmisdk6 commented on #1408
solved by moving and renaming Xcode 2.app to /Applications/Xcode.app
and running sudo xcode-select -s /Applications/Xcode.app/Contents/Developer/

[2020-07-28 01:05] #1408 closed

[2020-07-28 10:17] fahmisdk6 opened #1421 "iOS - Flipper Folly Typedef redefinition with different types ('uint8_t' (aka 'unsigned char') vs 'enum clockid_t')"
## 🐛 Bug Report
Failed to compile project after adding Flipper Pods to iOS App

## To Reproduce
1. Add FlipperKit pods
[code]

2. Pod Install
3. Compile
4. Error
<img width="1672" alt="Screen Shot 2020-07-28 at 17 15 22" src="https://user-images.githubusercontent.com/10940190/88653172-ed98cb00-d0f5-11ea-8a64-561aa4ec40de.png">

## Environment
Mac Os 10.15.5
Xcode 11.5
iOS target 10
Flipper Version

[2020-07-28 11:09] fahmisdk6 commented on #1421
My bad, this is because my project modify pod's ios target to 10.0

[2020-07-28 11:09] #1421 closed

[2020-07-28 12:51] carlonzo commented on #314
yeah, this is still an issue with latest version. if I have minifyEnabled and run the app, it crashes

[2020-07-29 10:36] #885 closed

[2020-07-29 10:37] AngelinaBallerina11 commented on #885
Closing, the issue was with the display, the flipper window was going beyond the screen dimentions. I could put it in place by using MOVE + arrows

[2020-07-29 10:50] EhsanSarshar commented on #948
same problem with react-native@0.63.2

[2020-07-29 11:19] mweststrate commented on #948
@spawncholeva, just wondering, is your device clock in sync with your computer? Otherwise the secured handshake won't work. We saw this causing issues for others, in the device logs a message like

[code]

 In android this can be fixed by running. I can imagine something similar exists for iOS.

[code]

---

For others, please note that messages like "doesn't work" and "same!" are completely in-ac

[2020-07-29 11:22] mweststrate commented on #1399
@adrianso in that case please try create a reproduction, as we still don't have one, to make your comment actionable :)

[2020-07-29 14:45] dmitryusikriseapps commented on #1399
I faced this issue also.
Let me provide the working example:
1) Modal:
https://pastebin.com/xvqGc9P9

2) Versions:
"react-native": "0.63.2",
"react-native-modal": "11.5.6",

[2020-07-29 14:45] dmitryusikriseapps commented on #1399
If you would like me to provide any additional info just ping me

[2020-07-29 14:46] dmitryusikriseapps commented on #1399
Modal.defaultProps = Modal.defaultProps || {}
Modal.defaultProps.useNativeDriver = true
Modal.defaultProps.hideModalContentWhileAnimating = true

[2020-07-29 15:52] jschear opened #1422 "Support flipper plugins that contain a scope in their name"
## 🐛 Bug Report
My team has been experimenting with publishing our custom desktop plugins to Github packages (developers then install them by downloading a tarball and using the "install from file" flow within the Flipper desktop app).

Github packages [requires packages to have a scope in their name](https://docs.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configurin

[2020-07-29 17:03] passy commented on #1422
Thanks for the detailed report!

[2020-07-29 17:06] jschear commented on #1422
For sure 😄 I poked around in the source a bit (though I'm admittedly a bit out of my element); I can't tell if this is a limitation in `live-plugin-manager` or just a side effect of having a slash character in the plugin name.

[2020-07-29 17:13] passy commented on #1422
@nikoant Will probably know where that limitation comes from. :)

[2020-07-29 17:14] nikoant commented on #1422
"live-plugin-manager" is not used for plugin format v2, we'll remove this dependency soon. So it seems like this limitation is just a side effect of having a slash character.

[2020-07-30 02:42] McZenith commented on #1370
Hello! Is this issue still available? I'm interested... Thanks

[2020-07-30 03:01] gildor opened #1423 "Discussion: Allow to mock response status code in request mocking feature"
Existing request mocking feature doesn't support providing custom HTTP status code, it always returns 200, which is quite a big limitation, the testing HTTP statuses is one of the most important features of request mocking

[2020-07-30 04:48] mohamedsgap opened #1424 "Question: How to create Flipper shortcut on Ubuntu?"
I've just download Flipper, and I wonder if there is a way to create a shortcut for Flipper, to access it easily!

Ubuntu version: 20.04

[2020-07-30 05:02] mohamedsgap commented on #1424
![Screenshot from 2020-07-30 07-00-22](https://user-images.githubusercontent.com/30293804/88882541-803e8480-d232-11ea-826f-dfc4e39de1b9.png)

[2020-07-30 05:09] lmj0011 commented on #1424
This is one way [to create a desktop shortcut on Ubuntu](https://askubuntu.com/a/854398)

[2020-07-30 08:15] lukebars commented on #552
@danielbuechele @nikoant got few minutes for this ? https://github.com/facebook/flipper/issues/552#issuecomment-615117097

[2020-07-30 09:54] mweststrate commented on #552
As a short update on this, we are looking into standardizing on a well established publicly available component library, probably ant.design. With that we will also start to support dark mode.

[2020-07-30 10:31] mweststrate commented on #1370
@mczenith, yes, feel free to take a stab at it!

[2020-07-30 10:41] McZenith commented on #1370
Thanks... Updates soon...

[2020-07-30 12:32] mohamedsgap commented on #1424
Update: Solved

`sudo nano /usr/share/applications/Flipper.desktop`

paste the following:
``
#!/usr/bin/env/ xdg-open
[Desktop Entry]`
Version=0.51
Type=Application
Terminal=false
Exec=/home/USERNAME/Downloads/Flipper-linux/flipper
Name=Flipper
Comment=Extensible mobile app debugger
Icon=/home/USERNAME/Downloads/Flipper-linux/resources/app/icon.png
``

make it executable
`sudo chmod +x  /usr/share

[2020-07-30 12:32] #1424 closed

[2020-07-30 15:50] jpmonette opened #1425 "Question: Unable to link Flipper-Folly"
I am trying to build a React-Native app (0.63.2) with Folly-Folly, but it seems like XCode cannot successfully build the dependency and returns an error.

This seems to be common error on Google, but couldn't find a workaround to fix it. Any clue?

Thanks

## Podfile

[code]
## Error log

[code]

[2020-07-30 15:54] bizzguy commented on #1423
I agree with the request to add return code.  Also, I would also like to see DELETE added as a type.  Mocking is really an AWESOME addition to the plugin!

[2020-07-30 15:56] bizzguy commented on #1423
One more thing.  If the user has selected (highlighted) a network request when the Mock button is clicked, it would be useful if the current highlighted request was populated in the data section.  Some of our requests are really long and this would save us time rather than having to copy and paste from the original request.

[2020-07-30 16:05] bizzguy commented on #1423
A few more things.  It appears that "export" does not export the mock definitions to the "FlipperExport.flipper" file.

Also, having a way to temporarily disable the mock without deleting the definition would be useful.

[2020-07-30 16:17] bizzguy commented on #1422
@jschear.  I'm not a JavaScript developer so I had a very basic question for you.  What is the full command for creating a new plug? Is it:

    yarn flipper-pkg init

Also, is it run from the "desktop" directory or the repo root?

[2020-07-30 16:23] mweststrate commented on #1422
@bizzguy `npx flipper-pkg init`. You run it in the directory where you want to store your plugin under development. Since you will typically want to create your own VCS directory for that, it is typically not done in the flipper checkout itself :)

[2020-07-30 16:35] mweststrate commented on #1425
Does building from CLI work? (yarn ios). Make sure to open the workspace,
not the project in XCode. In XCode make sure that the compile target is the
same version as used in your podfile. Did you check the troubleshooting
guide?

On Thu, Jul 30, 2020 at 4:51 PM Jean-Philippe Monette <
notifications@github.com> wrote:

[2020-07-30 17:59] jschear commented on #1422
@bizzguy I only dabble in JS, so I'm just as clueless 😄 I followed the [documentation here](https://fbflipper.com/docs/extending/js-setup#flipper-pkg), and installed `flipper-pkg` as a global package using `yarn global add flipper-pkg` (for better or worse), which appears to have added it to my path.

[2020-07-31 04:28] lmj0011 commented on #1369
as a workaround you should be able to edit that `.desktop` file and add the icon that way

see https://github.com/facebook/flipper/issues/1424

[2020-07-31 06:46] lmj0011 opened #1426 "SQL Table and Column names need to be string literals to prevent failed UPDATE statements"
## 🐛 Bug Report

Having a column name *order* will cause errors when editing row data in the Flipper desktop app

## To Reproduce

Create a table that has a column named *order* and then edit that field using the desktop app

![Screenshot from 2020-07-31 01-39-53](https://user-images.githubusercontent.com/9396189/89007661-c77a5300-d2ce-11ea-817b-5bb0a6ee6700.png)

it will produce a query similar t

[2020-07-31 10:00] mweststrate commented on #1426
Good catch! Yeah that sounds like an escaping issue. @lmj0011  in testing if adding quotes here around `${key}`: https://github.com/facebook/flipper/blob/master/desktop/plugins/databases/UpdateQueryUtil.tsx#L60-L64

solves the issue and submit a PR if that is the case? Cloning this repo and `yarn && yarn start` in the `desktop` folder should be enough to get started

[2020-08-01 10:19] #1015 closed

[2020-08-01 10:19] #696 closed

[2020-08-01 15:18] foufrix commented on #262
Hi,
I have installed `idb_companion 1.0.14` and `fb-idb-1.0.12`with `Flipper 0.51.0`
When launching app it get stuck here :
![image](https://user-images.githubusercontent.com/16646581/89104546-5cd62e00-d41a-11ea-9cff-16e8735908cd.png)

when running `idb list-targets`i see my phone on the list and it's said `booted`. I'm running on iphone 8 iOS 13.1.3

when running `instruments -s devices` i also s

[2020-08-01 20:33] gpeal commented on #536
Please leave this open. It is still an issue.

[2020-08-02 15:11] jhalak27 commented on #1370
@mweststrate I am new here. Is this issue available? If yes, could you give some advice to get started?

[2020-08-02 19:26] jchitel opened #1431 "Discussion: Swift Package Manager Support"
I have been looking to use Flipper for some time, but all of my team's dependencies are installed via Swift Package Manager, and so far Flipper is one of only 2 dependencies we have been looking to use that do not support it (the other being the Firebase SDK, which is [currently working on SPM support](https://github.com/firebase/firebase-ios-sdk/projects/1)).

The only information I've found for

[2020-08-03 05:30] mohamedsgap commented on #1369
Hi @passy, I have fixed this issue on my own here #1424! Can I fill a PR to try to get done automatically when users install Flipper on Ubuntu ?

[2020-08-03 08:34] andreialecu commented on #1275
I'm not sure why this wasn't proposed yet, but a simple `ENV` variable can help with this.

[code]

On CircleCI the above tweak resulted in dropping build times from about 14 minutes to 8 minutes.

[2020-08-03 09:59] vkotovv commented on #1424
@mohamedsgap Your solution did not work for me.

Instead I've created `/usr/share/applications/Flipper.desktop` with this content, like @lmj0011 mentioned.

[code]

[2020-08-03 10:04] passy commented on #1431
That sounds reasonable to me. I'm an absolute n00b when it comes to Swift and its ecosystem, so we'd have to find someone else to take care of this. Based on the Firebase project you shared, this also looks like it could be quite involved. It would be great to hear someone's assessment of how much work it would be to set this up for Flipper.

[2020-08-03 10:06] passy commented on #1379
If someone would like to work on a PR for bumping the dependency, I'd be happy to take a look!

[2020-08-03 10:16] svcat commented on #367
Same issue here

[2020-08-03 10:26] mweststrate commented on #367
Comments on closed issues are rarely seen by anybody, and typically don't result in any help. Please open a new issue if you want to report an issue. Only comment on closed issues with comments that are somehow helpful to people that find them through search, such as an alternative solution.

[2020-08-03 10:30] mweststrate commented on #1370
@jhalak27 looks it is going to be picked up by @McZenith? So best figure amongst yourselves whether it is still available :)

But getting started should be quite straightforward:
1. clone this repo
2. run `yarn` in the `desktop/` folder
3. run `yarn start` (or `yarn start --fast-refresh`) to run flipper locally and test any of your changes :). Plugin code can be found in `desktop/plugins/`

[2020-08-03 11:30] mohamedsgap commented on #1424
@vkotovv  it's actually the same, but my solution makes you be able to add it to Favorites

[2020-08-03 13:04] TPXP commented on #1275
Well, such changes require to install dependencies for the Pods project to be updated (and Xcode to not build Flipper and its dependencies). It definitely makes sense in a CI environment, which is where build minutes are the most "costly". And since CI systems have to install pods anyway, it's smart to prevent bundling of flipper here.

I'm trying to see if this can be disabled also if the app is

[2020-08-03 17:06] TPXP commented on #1275
I dug some more into this today. It seems we cannot inject custom definitions when working with Cocoapods anyway, since the only one ("Debug") is hardcoded, and configuration definition does not take into account the target for which the configuration is generated (see ).

This issue of pods being built even if not used in the configuration has already been raised to Cocoapods: https://github.com/

[2020-08-04 18:40] b3coded opened #1440 "Flipper plugins doesn't show on Windows 10"
## 🐛 Bug Report

I'm running Flipper on Windows 10 but I can't see the native plugins (Layout Inspector, Databases, Network...)

I tried the troubleshooting guides but the problem was not resolved

![WhatsApp Image 2020-08-04 at 15 20 13](https://user-images.githubusercontent.com/38642628/89330592-e11cf100-d666-11ea-9dc6-47d9b55c1a2b.jpeg)
FlipperDiagnosticActivity screenshot

## To Reproduce

1.

[2020-08-04 18:43] mweststrate commented on #1440
Quick check, is your device time in sync with your computer time? Otherwise
the certificate handshake will fail.

On Tue, Aug 4, 2020 at 7:40 PM João Alves <notifications@github.com> wrote:

[2020-08-04 18:45] b3coded commented on #1440
@mweststrate yes, it is synchronized

[2020-08-04 18:53] mweststrate commented on #1440
Ok, could you check if there are any Flipper errors / warnings in the
device logs (in Flipper under your device) ?

On Tue, Aug 4, 2020 at 7:45 PM João Alves <notifications@github.com> wrote:

[2020-08-04 19:35] jknoxville commented on #1440
If you open the Dev tools in flipper and look at the console to find any errors, that might help too.

It looks like the rsocket connection is getting torn down prematurely so that might uncover why.

I'd also check that your devices ports are being forwarded correctly. What do you get when running the following?
adb reverse --list

[2020-08-04 19:39] b3coded commented on #1440
@jknoxville
UsbFfs tcp:8089 tcp:8089
UsbFfs tcp:8088 tcp:8088

[2020-08-04 20:38] b3coded commented on #1440
I'm getting only `FlipperClient addPlugin` logs.
It adds all the native plugins, but the connection to FlipperClient is having problems

[2020-08-05 01:11] showtan001 commented on #1321
There may be a network problem, try another network!

[2020-08-05 04:14] bizzguy commented on #1423
Just submitted a PR to allow for specifying status code on response.  Would be interested in feedback from anyone on this thread.  Thanks.

https://github.com/facebook/flipper/pull/1441

[2020-08-05 11:13] nikoant commented on #1422
This is fixed in #1427 and will be releases with the next Flipper version. For now you can test this by building manually from sources using command "cd flipper/desktop && yarn build --mac" which will output binaries to "flipper/dist" folder.

[2020-08-05 11:13] #1422 closed

[2020-08-05 12:31] b3coded commented on #1440
@mweststrate @jknoxville I tried with Android Emulator but same result

![image](https://user-images.githubusercontent.com/38642628/89413025-74553580-d6fe-11ea-83a1-b00cdd91ad5f.png)

[2020-08-05 12:38] mweststrate commented on #1440
@b3coded could you check the steps from the troubleshooting guide https://fbflipper.com/docs/troubleshooting#q-i-see-my-device--emulator-but-i-cant-see-the-app? If it is still an issue after that, see if there are Flipper related logs, and share your gradle build files and `ReactNativeFlipper.java` file and path, and `MainApplication.java` as well?

Please do verify that the `Class.forName` in the

[2020-08-05 12:48] b3coded commented on #1440
@mweststrate I'm going to create a Repo that reproduces my issue

[2020-08-05 13:00] b3coded commented on #1440
@mweststrate https://github.com/b3coded/flipper-issue-repro

[2020-08-05 14:21] mweststrate commented on #1440
@b3coded I just cloned the repo and it works ootb for me. I suspect that your emulator is somehow set up differently? Honestly I'm not too familiar with the Android eco system, maybe @jknoxville or @passy have ideas here?

![Screen Shot 2020-08-05 at 15 17 54](https://user-images.githubusercontent.com/1820292/89424107-46d4b000-d72f-11ea-9062-eaaa70dd6ca3.png)

[2020-08-05 14:30] b3coded commented on #1440
@mweststrate did you test on Windows 10?
I tested on MacOS and Linux and it works, but I'm having this problem on Windows 10

[2020-08-05 14:34] mweststrate commented on #1440
@b3coded nope, sorry, missed that this is a win 10 specific issue. I don't have a windows machine at my disposal in the current circumstances. Maybe @nikoant has ideas?

[2020-08-05 15:20] jknoxville commented on #1440
@b3coded did you check the JS console logs in flipper? (Your adb port forwards look fine)

<img width="551" alt="Screenshot 2020-08-05 at 16 18 22" src="https://user-images.githubusercontent.com/692011/89431033-50faac80-d737-11ea-8e1e-14afa59a2bd3.png">

<img width="1512" alt="Screenshot 2020-08-05 at 16 19 25" src="https://user-images.githubusercontent.com/692011/89431153-738cc580-d737-11ea-84df-

[2020-08-05 16:04] b3coded commented on #1440
@jknoxville
![image](https://user-images.githubusercontent.com/38642628/89436103-20594980-d71c-11ea-88fa-b00cd489e84b.png)

[2020-08-06 08:25] andrioid commented on #948
I just experienced this with react-native@0.62.2. The funny thing is that I have this working on our "master" branch, but not on my current one. As with all the other ppl here, I can see the device and the react-native part of Flipper. But the app is missing, as is the connection to the plugin status.

The only difference, AFAIK between these two branches is that I removed expo-unimodules in this

[2020-08-06 08:52] andrioid commented on #1253
For me, I had misread the path of `ReactNativeFlipper.java` when upgrading React Native and put it into `src/` instead. That worked perfectly until I had to make release builds. Thanks for the tip @redbluenat, it lead me here.

[2020-08-06 10:04] pavermakov commented on #1326
Fuck flipper

[2020-08-06 18:41] bizzguy opened #1443 "Discussion: Persist the Network data to local storage in Network Plugin"
The network plugin records network requests for active apps.  However, the network data is not persisted if the app is closed (or crashes) or if Flipper is re-started.

I propose saving the network requests to local storage so they can be reloaded when the app plugin is restarted.

Why would this be useful?  I use the network plugin to test if my app handles the network requests properly.  Sometim

[2020-08-06 18:53] lukewlms commented on #1399
This repros for us when pulling up:
- A modal
- An action sheet
- An alert

Spent a couple hours thinking the problem was in my code before someone on Stack Overflow told me this happens.  This repros when I reduce the app to just a view and a modal (but I haven't removed node_modules packages and tried that way).

[2020-08-06 21:22] mweststrate commented on #1399
@priteshrnandgaonkar do you have any ideas on this one? Seems to be iOS/ComponentKit specific if I understand the issue correctly, and IIRC there were some changes related to registering root views with Flipper a while back?

[2020-08-06 21:25] mweststrate commented on #1443
Makes me wonder whether we shouldn't keep the app around after disconnecting, just like is done with entire devices if they disconnect🧐

[2020-08-07 08:02] manmishr1 opened #1445 "Mac Desktop is not able to connect with the android app. Though it's connected with the device."
## 🐛 Bug Report
Mac Desktop app is not able to connect with the android app. There is 3 error showing in desktop app console. (Attaching the screenshot for the reference).
I have tried to run the FlipperDiagnostic activity and it's also failing at **Check required certificates are present** (attaching the screenshot for the same)

## To Reproduce
NA

## Environment
Mac Desktop app
android
<img wid

[2020-08-07 09:19] passy commented on #1445
Something else seems to be running on your port 8089. Can you check with `lsof` what other process is taking up the port?

[2020-08-07 09:44] manmishr1 commented on #1445
Hi by mistake it was closed reopened again

[2020-08-07 09:47] passy commented on #1445
Can you try this?

[code]

[2020-08-07 09:49] manmishr1 commented on #1445
Yes
lsof -nP -i4TCP:8089 | grep LISTEN
cirratod 5025 root    7u  IPv4 0xabdb0d767f684779      0t0  TCP 127.0.0.1:8089 (LISTEN)

[2020-08-07 09:53] manmishr1 commented on #1445
I have killed all the processes running on port 8089, still, the desktop app is showing the same issue.

[2020-08-07 14:25] manmishr1 commented on #1445
Hi Passy

I managed to fix the issue, so closing the ticket.

[2020-08-07 14:25] #1445 closed

[2020-08-07 16:43] bizzguy commented on #1423
The PR to fix this issue has been merged so this issue can now be closed.

[2020-08-08 09:36] #967 closed

[2020-08-08 10:51] #1111 closed

[2020-08-09 08:22] #960 closed

[2020-08-09 10:35] PaulWoitaschek commented on #812
Can you prioritize this?

This makes the flipper almost useless for me. My usecase is as follows:
While developing against the staging environment, my app crashes when the backend sends something unexpected. Now I want to use flipper to find the recent network calls to find out what the json was that was crashing my application.j

Right now flipper only works on the happy path where I mostly don't

[2020-08-09 19:59] baveku commented on #834
It's worked

[2020-08-10 12:17] jknoxville commented on #1440
@b3coded it looks like Flipper is failing to generate you a private key, which happens [here](https://github.com/facebook/flipper/blob/0065ddedd75f3dc14ee7da3402e21a8feb19c747/desktop/app/src/utils/CertificateProvider.tsx#L589).

The following commands should do the same thing manually, can you run these and see if they succeed?

[code]

[2020-08-10 12:34] b3coded commented on #1440
@jknoxville should I reinstall  my app?

[2020-08-10 12:40] jknoxville commented on #1440
No reinstalling anything shouldn't be necessary. When flipper starts up, it checks if it has valid certs in `~/.flipper/certs`, and if it doesn't yet, then it creates them by running a bunch of openssl commands. This is where it's failing for you. It will attempt to do that every time you start the desktop app, until it succeeds. So if you run them from the command line, either they will succeed (

[2020-08-10 12:46] b3coded commented on #1440
![image](https://user-images.githubusercontent.com/38642628/89784024-587ed480-daee-11ea-8341-0544366ba01b.png)

![image](https://user-images.githubusercontent.com/38642628/89784057-66ccf080-daee-11ea-9d85-e808cf9c3b03.png)

[2020-08-10 14:15] pardom opened #1457 "Provide signed builds"
## 🐛 Bug Report

The security policy at my company requires apps to be signed and we, therefore, cannot use Flipper.

![security](https://user-images.githubusercontent.com/33068588/89792179-2ff8d980-daf2-11ea-9e05-bc31b731c0dc.png)

Could you add signing to your release process?

[2020-08-10 14:20] passy commented on #1457
Sorry, at the moment we don't have a way of doing that as the build process happens as part of a GitHub Action in public.

[2020-08-10 14:40] pardo-stripe commented on #1457
I'm not very familiar with app signing, but I've used GitHub secrets to sign Maven artifacts for publishing. I did a quick search for app signing with GitHub actions and found this:

https://medium.com/better-programming/indie-mac-app-devops-with-github-actions-b16764a3ebe7
https://github.com/bacongravy/mac-app-devops-demo

Perhaps you've already explored these actions and found them not to work.

[2020-08-10 14:41] pardom commented on #1457
I'm not very familiar with app signing, but I've used GitHub secrets to sign Maven artifacts for publishing. I did a quick search for app signing with GitHub actions and found this:

https://medium.com/better-programming/indie-mac-app-devops-with-github-actions-b16764a3ebe7
https://github.com/bacongravy/mac-app-devops-demo

Perhaps you've already explored these actions and found them not to work.

[2020-08-10 21:07] kurtzur commented on #384
I need this functionality as well. This is a real usability problem for me and I'm going to switch to a different tool than Flipper because of this.

[2020-08-11 00:17] ColtonIdle commented on #1457
@pardom what happens if you right click the file and press open. Does it give you the option to "open and accept security risk" that way?

[2020-08-11 00:19] ColtonIdle commented on #812
I don't want to comment and just say "yeah me too", but I really can't overstate how useful flipper would be to me to be able to debug these kinds of issues. As Paul said, "flipper only works on the happy path where I mostly don't need flipper"

[2020-08-11 01:27] pardom commented on #1457
@ColtonIdle No, that option is not available to me.

[2020-08-12 07:05] kyunkakata commented on #1425
I got same issue. I build React-Native Project from Xcode (already open .workspace).
In Podfile
`
 use_flipper!
`
When I comment use_flipper! The error will disappear because in our project use` use_frameworks!`

[2020-08-12 10:32] VarvaraKalinina opened #1458 "Discussion: Encoding settings in request/response body in Network plugin"
We would like to be able to specify what encoding we want to have for our request/response body. Currently what we see is this
![image](https://user-images.githubusercontent.com/29167043/90005303-adae1800-dc9f-11ea-9c5f-90bd79ea639c.png)
As you see notification_text is unreadable. We expect to see "Перенос доставки. ФИО: Кузьмина Галина Васильевна. Доставка: 579704789. Дата: 2020-06-15."
This webs

[2020-08-12 19:31] bizzguy opened #1460 "In Network Plugin headers in mock requests are not scrolling"
## 🐛 Bug Report

The Network plugin provides feature to create mock requests containing data and header values.  When multiple header values are entered, they display beyond the end of the enclosing view.  They should become scrollable instead.

Here is a screen shot showing the problem.  The headers extend beyond the end of the enclosing view.  And the "Close" button is also pushed outside the en

[2020-08-12 19:39] bizzguy commented on #1460
I tried fixing this myself.  I thought it would be easy.  The headers are shown in a "ManagedTable" element:

![image](https://user-images.githubusercontent.com/337874/90059838-69277a00-dca9-11ea-9ad6-cd63dabd6403.png)

According to the doc, ManagedTable elements can be made scrollable by just changing the "autoHeight" property:

![image](https://user-images.githubusercontent.com/337874/90059933-8

[2020-08-13 01:18] adapptor-kurt commented on #262
Tried idb_companion 1.0.14, fb-idb-1.0.12 with Flipper 0.52.1 too and get the same problem as @foufrix.

I'm a bit ignorant about what this is doing, but I can see the idb pull command fail in Flipper's Developer Tools window.  If I execute this command in terminal I can make it fail with the same error, but I noticed that if I do an `idb connect <udid>` just before it will work.  This idb connect

[2020-08-13 02:19] fahmisdk6 opened #1461 "Integrate Flipper iOS get error Conv.h:114:10: 'double-conversion/double-conversion.h' file not found"
Integration Step :

1. Add flipper to podfile

[code]

2. pod install

3. Then i got problem with Flipper-Folly's Time.h
https://github.com/facebook/flipper/issues/1421

It's because my project set all pod target to 10.0 on post_install
So i ignore these pods from set target script
flipper_pods = ['Flipper', 'CocoaLibEvent', 'boost-for-react-native', 'OpenSSL-Universal', 'CocoaAsyncSocket', 'Compo

[2020-08-13 07:00] odemolliens commented on #1275
This is my trick to add Flipper SDK or not in my target based on a condition ($YOUR_CONDITION):

- Add new method `flipper_install`
- In `react_native_pods_shared`, remove `use_flipper!` by `flipper_install`
- Adapt the $YOUR_CONDITION (eg: #{target.name}; eg for bitrise $CI == "true")

[code]

If you prefer to do it per pod target (untested code)

[code]

Another trick could be to use an extra pa

[2020-08-13 10:00] cekkaewnumchai commented on #1461
@priteshrnandgaonkar would you mind take a look on this?

[2020-08-13 10:12] cekkaewnumchai commented on #1460
Thank you very much for reporting both the layout of network mock and `ManagedTable`. We appreciate your help.

@mweststrate might know more about React, but he's off for a week.

[2020-08-13 10:38] cekkaewnumchai commented on #1458
Thank you for the suggestion. I'll take a look

[2020-08-13 19:22] dubeyvivek57 opened #1465 "Protbuf convert to JSON response in Flipper tool"
protobuf response not converted to json in "flipper" tool

[2020-08-14 01:16] adapptor-kurt commented on #262
If anyone is interested, I have turned my workarounds into a script.  Just configure Flipper to use this as idb instead https://gist.github.com/adapptor-kurt/82384af67ee876d7d6d6239180127ff4

The actual `idb` needs to be in your PATH.

[2020-08-14 05:11] skychx opened #1466 "Network Plugin can't parse UTF8 characters and can't decode images properly"
## 🐛 Bug Report
Network Plugin can't parse UTF8 characters and can't decode images properly.

## To Reproduce
### 1.Test Link:
https://ex.ke.com/sdk/recommend/html/100001314?hdicCityId=110000&paramMap[source]=&id=100001314&mediumId=100000037&elementId=&resblockId=1111027381003&templateConfig=%5Bobject%20Object%5D&fbExpoId=346620976471638017&fbQueryId=&required400=true&unique=1111027381003&parentSc

[2020-08-14 05:16] skychx commented on #1466
I thought this [PR](https://github.com/facebook/flipper/commit/45d461a3b81b3cefb750d02154deed8a185c7f44#commitcomment-41435863) was causing the problem, but after studying the Network Plagin [source code](https://github.com/facebook/flipper/tree/master/desktop/plugins/network), I think `this.props.persistedState.responses` has a parsing problem.

[2020-08-14 07:46] MayoudP commented on #938
@alexlevy0 Same here, did you find a fixe ?

[2020-08-14 11:52] ASarco commented on #1440
I had this same problem. Apparently the issue was the OpenSSL distribution I was using.
At first I was using this: https://indy.fulgan.com/SSL/ and had the exact same problem as @b3coded
I'd uninstalled it, and installed this: https://slproweb.com/products/Win32OpenSSL.html and now everything works as expected.

![image](https://user-images.githubusercontent.com/9863532/90246652-fba45680-de2c-11ea

[2020-08-14 12:39] b3coded commented on #1440
@ASarco Thanks, solved my problem. Now the I can generate the certs

@jknoxville it will be a good idea to

[2020-08-14 12:39] #1440 closed

[2020-08-14 13:33] thecodecafe commented on #1326
I know this has been closed but consider making this an optional thing in react native, it usually took me 10 minutes to build in BuddyBuild but with Flipper pre-installed my builds take up to 27 minutes, that's 170% increase in build time. Just feedback for the react and flipper team.

[2020-08-14 17:30] cekkaewnumchai commented on #1458
This might be affected by the issue #1466. I'll investigate more

[2020-08-14 17:34] cekkaewnumchai commented on #1465
What plugin do you refer to? Can you provide repro step?

[2020-08-15 18:05] maxim-pandra opened #1469 "Question: ReferenceError when bundling plugin with flipper-pkg"
Hi, I am trying to publish my plugin but when I execute `flipper-pkg bundle` in a folder with a plugin, following error occurs

flipper-pkg version:
`flipper-pkg -v`
 `flipper-pkg/0.52.1 linux-x64 node-v14.1.0`

npm version:
`npm --version`
`6.14.7`

package.json for a plugin can be found here:
https://github.com/maxim-pandra/adb-flipper-plugin/blob/adb-plugin/desktop/plugins/adb-plugin/package.js

[2020-08-16 08:12] #1075 closed

[2020-08-16 08:12] #991 closed

[2020-08-17 07:52] PaulWoitaschek opened #1470 "Json Order Wrong"
I'm using Flipper 0.52.2 on Linux.

I have a network request that returns a map:

[code]

The default view of the network plugin changes the order of these values:

![grafik](https://user-images.githubusercontent.com/743462/90371496-5b8a3f80-e06f-11ea-9db1-50fa8b9518bd.png)

I expect flipper to maintain the order of the original request.

[2020-08-17 10:13] passy commented on #1470
The object type in JSON is unordered. Quoting from [RFC 7159](http://www.rfc-editor.org/rfc/rfc7159.txt):

If you want to maintain the order of your elements, you'll have to use an array.

[2020-08-17 10:13] #1470 closed

[2020-08-17 13:21] bizzguy opened #1476 "Network Plugin does not load mock routes on connection to device"
## 🐛 Bug Report

Network Plugin does not load mock routes on connection to device.  Since the app does not persist the mocks, they are lost when the app is closed.

## To Reproduce

Start the Android Sample app
Create a mock in the Network plugin
Verify that the mock is working using the Android Sample app
Close the Android Sample Flipper app and verify that it no longer appears in Flipper
Execute

[2020-08-17 13:28] bizzguy commented on #1460
@mweststrate Some additional info:

It appears that the "AutoSizer" which is part of "ManagedTable" is not calculating the height correctly.  It is setting the height to 0 possibly because on of its containers (maybe "Tab") does not specify the height.  This SO issues seems to describe the problem:

    https://stackoverflow.com/questions/38340054/react-virtualized-autosizer-calculates-height-as-0

[2020-08-17 13:31] SittisukChartrasee commented on #993
What your use react native version?

[2020-08-18 02:37] baveku commented on #1425
because Folly have a config that's minimum iOS version less than iOS 10, I use script to fix it:
`
sed -i '' 's/     __IPHONE_OS_VERSION_MIN_REQUIRED < __IPHONE_10_0/     __IPHONE_OS_VERSION_MIN_REQUIRED < __IPHONE_12_0/' Pods/Flipper-Folly/folly/portability/Time.h
`

[2020-08-18 05:11] #1021 closed

[2020-08-18 05:32] louis993546 opened #1477 "Flipper Desktop crash the entire computer once in a while"
## 🐛 Bug Report
[code]

## To Reproduce
No clear step to reproduce. All I've got is the stack trace above. Usually it crashes maybe 30+ minutes into using Flipper.

## Environment
- macOS 10.15.6 (19G2021)
- MBP 16

[2020-08-18 10:47] passy commented on #1477
I've not seen anything like this and it's quite unlikely given that we're just using standard Electron. I'd look through all the kernel extensions you've got running. VirtualBox is very crashy in my experience and Kaspersky is not exactly known for software quality. I'll close this one as it sadly isn't actionable for us.

[2020-08-18 10:47] #1477 closed

[2020-08-18 11:01] dubeyvivek57 commented on #1465
i using NetworkFlipperPlugin with FlipperOkhttpInterceptor.
But i m getting response in below format.
![image](https://user-images.githubusercontent.com/35092674/90505408-30d3e000-e170-11ea-9d7a-d9581a61bae8.png)

[2020-08-18 11:35] mweststrate commented on #1465
@dubeyvivek57 responses in Flipper are formatted based on inspecting the network request headers. Feel free to open a PR that adds additional conditions to the JSONFormatter, as long as they are in principle universally correct: https://github.com/facebook/flipper/blob/master/desktop/plugins/network/RequestDetails.tsx#L556

[2020-08-18 11:40] mweststrate commented on #1458
@VarvaraKalinina can you show which response headers are used on your request. We might need to apply a charset conversion, but we can only do so if we have some headers to make this decision reliably, since it applies to all of our users. For example something if a header like `content-type: text/plain; charset=utf-8`  is present

[2020-08-18 16:41] bizzguy opened #1480 "Android Sample App Post Request failing with 404 error"
## 🐛 Bug Report

The Android Sample app allows user to "Send POST Request" which can be used to demonstrate the Network Plugin.  However, the request is no longer working.  It fails with a 404 (Page Not Found) error.  It appears the the service used to host the request (mockable.io) is no longer configured correctly.

## To Reproduce

1) Start Flipper
2) Start the Android Sample App
3) Issue the p

[2020-08-18 18:36] mweststrate commented on #1469
What might go wrong here is that the flipper checkout is not the normal place to develop a plugin (although it can be convenient), so `flipper-pkg` might not support that case (@nikoant ) might now better. Typically, a plugin is developed somewhere in a local folder, not directly in the Flipper repo, so that you can manage it in your own git repo, etc. See: https://fbflipper.com/docs/extending/js-

[2020-08-18 18:39] mweststrate commented on #262
cc @jknoxville could we Doctor something here?

[2020-08-18 18:41] mweststrate commented on #812
Self assigning, once Sandy is in place we can address quite easily

[2020-08-19 03:28] rkkautsar opened #1481 "pkg-lib: wrong path resolution for scoped dependency symlinked with relative path"
## 🐛 Bug Report

`@scope/module` in node_modules with symlink is wrongly resolved to outer directory. Can see the failing test

## To Reproduce

Here's a diff for the failing test:
[code]

## Environment

HEAD: `fe93bce589c502dc8c8d1ccb0f303386c6fe1b80`

[2020-08-19 11:05] zvs001 commented on #834
Fixed xD
[code]

[2020-08-19 15:13] jknoxville commented on #262
Thanks for posting the script!

Regarding a doctor, I don't know of much we can do, because in these cases where idb fails, it's a bit of a black box.

I think the right way to deal with this is for Flipper to do manual companion management, which is similar to what @adapptor-kurt is doing, but as I understand it we would do the following:

For every device we detect, run a single `idb companion -

[2020-08-21 03:16] hsavit1 commented on #1250
any updates on this?

[2020-08-21 04:53] shoeguy opened #1487 "Mocks should be saved and restored from local storage by app"
## 🐛 Bug Report

When the Network Plugin loads routes (mocks) from local storage, it loads all routes that have been defined for any app.  It should only load the routes for the app that the plugin is in.

The key to local storage should also contain the application name.  It currently does not:

`    const LOCALSTORAGE_MOCK_ROUTE_LIST_KEY = '__NETWORK_CACHED_MOCK_ROUTE_LIST';`

## To Reproduce
1.

[2020-08-21 09:07] alexnaiman opened #1488 "Question: Can I use flipper on a release build on Android/iOS?"
I have some bugs related to some dependencies that for some reason I can reproduce only on release builds and it would be awesome and helpful if I could use some plugins(especially the Network one) on the app for debugging.

So, can I use flipper on a release build on Android/iOS?

Thanks a lot

[2020-08-21 11:05] #1488 closed, assigned to nobody

[2020-08-21 20:12] edwardotis opened #1489 "release 0.53.0 not available in Jcenter, but listed in setup instructions"
## 🐛 Bug Report
Release 0.53.0 is used in the setup instructions:
https://fbflipper.com/docs/getting-started/android-native#dependencies

However it is missing from jcenter, so 0.53.0 won't build:
https://bintray.com/facebook/maven/com.facebook.flipper%3Aflipper

Reverting to 0.52.1 fixes the issue in the meantime.

## To Reproduce
https://fbflipper.com/docs/getting-started/android-native#dependen

[2020-08-23 11:41] rkkautsar opened #1490 "Release flipper-client-sdk v0.0.2 to npm"
Currently the latest version in npm is 0.0.1, while 0.0.2 is already in master since a month ago

[2020-08-23 15:24] #1490 closed, assigned to nobody

[2020-08-24 09:45] mweststrate commented on #1162
For completeness sake, note that the Hermes Debugger (in Flipper) is the same debugger as shown in the React Native Debugger, so for Hermes users you can access the logs similarly by using the Hermes Debugger plugin (provided that RND isn't running at the same time, as only one debugger can be attached).

For showing objects fully in in Logs / non Hermes engines, see #1010

[2020-08-24 09:45] #1162 closed

[2020-08-24 10:16] mweststrate commented on #1476
Fix will be part of next release, closing issue.

[2020-08-24 10:16] #1476 closed

[2020-08-24 10:25] mweststrate commented on #1273
Closing as duplicate of #950 / #1010

[2020-08-24 10:25] #1273 closed

[2020-08-24 10:27] mweststrate commented on #1254
@EhsanSarshar was this issue fixed or is it still open?

[2020-08-24 10:28] mweststrate commented on #1253
Closing as the issue was solved https://github.com/facebook/flipper/issues/1253#issuecomment-650134944

[2020-08-24 10:28] #1253 closed

[2020-08-24 10:29] mweststrate commented on #1239
Closing for inactivity

[2020-08-24 10:29] #1239 closed

[2020-08-24 10:32] mweststrate commented on #1249
If the difference is between your and your collegues machine, it is not likely that we can be of much assistance. Make sure to check the obvious things, same Flipper version, running a dev mode on emulator, clearing android / ios caches and rebuilding, etc.

[2020-08-24 10:32] #1249 closed

[2020-08-24 10:34] #432 closed

[2020-08-24 10:35] mweststrate commented on #1223
I don't see how this is really actionable for us,  as this is something between Electron and the OS. Nor seems super urgent (I assume restarting Flipper fixes it?)

[2020-08-24 10:35] #1223 closed

[2020-08-24 10:40] mweststrate commented on #1049
Closing for inactivity.

[2020-08-24 10:40] #1049 closed

[2020-08-24 10:43] mweststrate commented on #1000
Closing since the thread forks in to many directions and is inactive. If you run into this problem in the future, make sure to follow this check list https://github.com/facebook/flipper/issues/1000#issuecomment-617512233, the general RN troubleshooting guide https://fbflipper.com/docs/troubleshooting#react-native, and open a _new_ issue.

[2020-08-24 10:43] #1000 closed

[2020-08-24 10:46] mweststrate commented on #255
Closing as it doesn't seem anybody is going to pick this up soon.

[2020-08-24 10:46] #255 closed

[2020-08-24 10:48] mweststrate commented on #431
This should have been fixed with the latest release

[2020-08-24 10:48] #431 closed

[2020-08-24 10:49] mweststrate commented on #552
This is planned, so closing the issue for now.

[2020-08-24 10:49] #552 closed

[2020-08-24 10:51] mweststrate commented on #824
Closing as the issue seems solved with two possible solutions

[2020-08-24 10:51] #824 closed

[2020-08-24 10:53] mweststrate commented on #993
Closing as the fix has landed

[2020-08-24 10:53] #993 closed

[2020-08-24 10:55] mweststrate commented on #979
This issue will be fixed in the next release, thanks for reporting!

[2020-08-24 10:55] #979 closed

[2020-08-24 10:56] mweststrate commented on #989
Seems the fix has landed, closing.

[2020-08-24 10:56] #989 closed

[2020-08-24 10:57] mweststrate commented on #1028
This has been fixed in the next release by @jknoxville, closing.

[2020-08-24 10:59] mweststrate commented on #1068
cc @jknoxville  ideas?

[2020-08-24 11:04] mweststrate commented on #1157
Seems this issue was so far missed by everybody. Is anything reported in the Flipper logs? (View > Toggle Developer Tools)

[2020-08-24 11:14] nikoant commented on #1157
I'm trying to debug it on Windows machine.

[2020-08-24 11:48] mweststrate commented on #1426
Should be fixed in next release

[2020-08-24 11:48] #1426 closed

[2020-08-24 12:57] jknoxville commented on #1028
Thanks for the tag, I did make this recent change which uses idb instead of instruments, to address the high cpu issue: https://github.com/facebook/flipper/commit/d423afd75d624b71f30ac4ef8ee205ce2640e1b4

But it's currently disabled in the open source build because people have been reporting issues with idb.
You can try it out by hardcoding `flipper_use_idb_to_list_devices` to be whitelisted in th

[2020-08-24 13:14] #1481 closed

[2020-08-24 13:18] nikoant commented on #1481
Thanks @rkkautsar for the fix and for the updated test!

[2020-08-24 13:33] jknoxville commented on #1068
Strange, I'd expect to see some related errors in Flipper, as it's failing to deploy the certs, but it doesn't look like there are any.

It might be worth checking that your port forwards are correct:
`adb reverse --list`

You should see two entries for your android device, port 8088 and 8089.
Is that true?

Also, when this is happening, does Flipper show any "connecting..." spinner, or any other

[2020-08-24 13:45] nikoant commented on #1469
Hi @maxim-pandra! I've cloned your repo, and also got an error on `flipper-pkg bundle`. However it is a but different on MacOS. I suspect that this issue only happens with globally installed "flipper-pkg". Could you try to invoke `yarn flipper-pkg bundle` instead of `flipper-pkg bundle`? It will use "flipper-pkg" from the repo (located in /desktop/pkg/) instead of globally installed. On my machine

[2020-08-24 14:53] #1028 closed

[2020-08-24 16:14] MaxBuster commented on #1068
I actually get an empty list when running `adb reverse --list` should I set those two ports?

And no, there isn't any messaging in Flipper to show the app is trying to connect.

[2020-08-24 16:49] maxim-pandra commented on #1469
@nikoant Thank you. `yarn flipper-pkg bundle` did work!

[2020-08-24 16:57] nikoant commented on #1469
Thank you for confirming. I'll check what is wrong with global installation.

[2020-08-24 20:21] likern opened #1499 "database: error default value of column is not constant"
## 🐛 Bug Report
I've created sqlite database table (using TypeORM) with the following SQL statement
[code]

where column `isArchived` setup with **FALSE** as **DEFAULT VALUE**
[code]

**FALSE** is a valid literal and I don't see error in table creation.

I could successfully test that ommiting **isArchived** column works
[code]

and **DEFAULT VALUE** _false_ (means 0) is used.

**But**, if I try t

[2020-08-24 21:03] mweststrate commented on #1499
@likern afaik we pass all queries quite verbatim to the application. Of course we might not manage the connection to sqlite/ mobbly correctly, but, as maintainer of mobbly you are probably in a much better position to determine if we set up things correctly than we are :). You can take a look at how things are communicated with the database here: https://github.com/facebook/flipper/blob/54ebb44dda

[2020-08-24 21:35] likern commented on #1499
@mweststrate Thanks to give better understanding. I think it's an **sqlite-android** is [responsible for handling this](https://github.com/requery/sqlite-android/blob/0f1f31e9eecabe5fb33a35dba6c99db6c5758346/sqlite-android/src/main/jni/sqlite/android_database_SQLiteConnection.cpp#L377).

For those, who just wants to get quick fix (in TypeORM):

**For TypeORM migration**
[code]
**Or Entity descript

[2020-08-24 21:41] #1499 closed

[2020-08-24 21:46] #1303 closed

[2020-08-25 03:19] fahmisdk6 commented on #1461
hi @priteshrnandgaonkar, can you help?

[2020-08-25 08:26] nikoant commented on #1465
I guess this will be quite hard to implement, because decoding protobuf is impossible without knowing the schema which was used for encoding.

[2020-08-25 11:12] priteshrnandgaonkar commented on #1399
Can someone give me a reproducible example in a repo ? Which I can pull in and easily reproduce.

[2020-08-25 11:22] priteshrnandgaonkar commented on #1461
@fahmisdk6, can you provide me with the reproducible example. Can you create a sample example, which I can pull in and debug ? Or maybe if you can reproduce it in the our repo's sample example, then that would be great ?

[2020-08-25 11:24] nikoant commented on #1157
I cannot reproduce this. I checked RN android and native android apps and they both appeared in Flipper on my Win 10 PRO machine. Please provide a repository with a mobile app example where this can be reproduced.

[2020-08-25 16:23] mweststrate commented on #1303
The fix has been released as react-native-flipper@0.54.0.

[2020-08-25 16:27] Khadosh commented on #863
You saved my day <3

[2020-08-25 17:27] mweststrate commented on #1489
cc @realpassy seems 0.54 hasn't been publish either. Are there any manual steps involved?

[2020-08-25 21:16] bizzguy commented on #1443
This is pretty much the same issue as this: https://github.com/facebook/flipper/issues/812

[2020-08-26 09:46] Twinsen81 commented on #1458
I have the same issue with Cyrillic texts. Here's one POST request where the text in the request is scrambled  but the response is fine. In other requests the response may contain unreadable whereas the request's body is fine.
**REQUEST:**
![image](https://user-images.githubusercontent.com/28800436/91288476-79138380-e7aa-11ea-8eb0-110302259c7d.png)

**RESPONSE:**
![image](https://user-images.githu

[2020-08-26 10:05] Ronil555 opened #1501 "Question: Debug build App size increased by 20mb."
I have added Flipper with network plugin.

[2020-08-26 10:09] #1501 closed

[2020-08-26 10:14] mweststrate commented on #1501
Closing as there is no question and therefor inactionable.

[2020-08-26 10:31] mweststrate commented on #1399
Ok, created a small repo:

1. clone https://github.com/mweststrate/flipper-issue-1399-repo
2. `yarn install`
3. `yarn ios` (make sure Flipper is _NOT_ running)
4. you can now click 'trigger alert' > 'OK' > 'trigger alert' > 'OK' many times
5. start flipper and enable layout plugin (app name MRLTESTNATIVE)
6. you can now click `trigger alert` > `OK` only once, but not a second time

[2020-08-26 10:32] anfriis commented on #1399
@priteshrnandgaonkar
I have the same issue and was able to easily reproduce in a very basic project with only `react-native` and `react-native-flipper` as dependencies:
https://github.com/anfriis/FlipperModalBug

How to reproduce:
- `yarn`
- Run the iOS app in a simulator
- Press ctrl + command + Z (to open React Native Debug Menu, which is also a `UITransitionView` on top of the root view with a

[2020-08-26 10:51] priteshrnandgaonkar commented on #1399
@mweststrate I will look at the repro and try to fix it.

[2020-08-26 16:02] priteshrnandgaonkar commented on #1399
I figured out the fix
For RN 0.63.2, The flipper pod used is too old, so for temporary fix, you can do the following:

Go to file `UIView+SKInvalidation.mm`
Locate `swizzle_removeFromSuperview`

Replace that function with the following:

[code]

[2020-08-26 22:36] chrisbobbe commented on #485
@stale bot please go away—there's been recent activity on this in https://github.com/facebook/flipper/pull/1171.

[2020-08-26 22:59] mweststrate commented on #485
🤯

[2020-08-27 03:47] deepakgd commented on #515
Thanks @xi1494-jaswantdhayal Problem solved

[2020-08-27 08:11] anfriis commented on #1399
@priteshrnandgaonkar I can confirm that the fix works for my repro too. Thanks 🥇

[2020-08-27 09:29] nikoant commented on #1391
I've reproduced the same issue on Mac, so it's not specific to Windows only.

[2020-08-27 11:15] nikoant commented on #1391
Fixed by commit https://github.com/facebook/flipper/commit/5b2fc65101d883696e8c1b83a9512304b0c88788.

[2020-08-27 11:15] #1391 closed

[2020-08-27 11:57] mweststrate commented on #1399
Simpler solution, in `ios/Podfile` change `use_flipper!` to `use_flipper!('Flipper' => '0.54.0')` and run `pod install --repo-update` afterwards in `ios` dir.

Working on an update in the react-native repo. But since it is basically solved closing this one for now.

[2020-08-27 11:57] #1399 closed

[2020-08-27 16:26] bizzguy commented on #1480
@mweststrate
Could you add the "plugin-network" label to this issue?  I could not figure out how to do it myself.  I'm assuming that I don't have access.

Thanks.

[2020-08-27 17:14] mweststrate commented on #1480
Done. P.s. I think it is pretty irrelevant for the demo where it posts to, so any other demo endpoint like for example the star wars api will probably do.

[2020-08-27 19:02] bizzguy commented on #1480
@mweststrate I agree.  It would be nice to have both GET and POST, something with a bunch of headers and a fairly complex JSON response.  And something that is pretty stable.  I'll do some research.  I also noticed that the sample app for iOS has 3 requests while Android has 2.  Probably good to normalize that as well.

[2020-08-28 01:55] TheAlmightyBob opened #1504 "Docs: Broken links to examples on react-native-flipper NPM page"
On https://www.npmjs.com/package/react-native-flipper

The links to the tic-tac-toe example at the bottom both result in 404 pages.

[2020-08-28 10:07] mweststrate commented on #1504
Thanks for reporting! Put up a PR

[2020-08-28 10:28] mweststrate commented on #457
Note: in the next version we will increase the limit by default to 1MB, which makes sure larger graphql responses are not truncated, most images are shown etc.

Since we landed changes earlier this year where disabling the network plugin will prevent it to send network requests to Flipper, this should be a save change to make.

[2020-08-28 11:39] mweststrate commented on #1466
Looked a bit further in this issue, it seems to occur on iOS only

[2020-08-28 12:07] #1504 closed

[2020-08-30 14:24] pyricau commented on #1379
Side note:

Version 2.0 actually removed the dependency on the support library, and will work with both the support and tthe androidx library depending on what's in the classpath. Your general point still stands though.

[2020-08-30 23:37] #1163 closed

[2020-08-31 15:35] dubeyvivek57 commented on #948
@stephanoparaskeva facing same issue with Android whats the solution....

[2020-08-31 16:00] punksta commented on #262
Spent 1 hours to configure idb and flipper to find that it doesn't work on physical device 😞

[2020-09-01 07:35] IngyuTae opened #1508 "Question: How to add pod flipper to custom build configuration #iOS"
I have multiple build configurations in my project like,

![41019682-f821752c-695f-11e8-9dd2-cd090d9ea107](https://user-images.githubusercontent.com/24571455/91819767-e6268d80-ec70-11ea-96f2-3462898fd2ce.png)

but it seems `./node_modules/react-native/scripts/react_native_pods.rb` includes `pod filpper*` only for `'Debug'` configuration.

[code]

How can I get flipper installed in other configurat

[2020-09-01 07:52] anirudhagarwal365 opened #1509 "Listening for react native bundler on a different port"
I was trying to integrate react native Android application with Flipper. I don't see React Native device on Flipper desktop application.
I am suspecting this is happening because my metro bundler runs on custom port 8082. How do I configure Flipper to listen on my custom port.

I tried reading up on https://fbflipper.com/docs/custom-ports, but need help understanding INSECURE_PORT & SECURE_PORT.

[2020-09-01 11:50] stami commented on #1508
I just edited the `react_native_pods.rb` file to include my custom configurations:
`:configuration => 'Debug'` -> `:configurations => ['Debug, Development']` or something.

To make it maintainable, use [patch-package](https://github.com/ds300/patch-package) to make a patch file of your changes: `npx patch-package react-native`. That generates a diff file that is applied on `npm install`.

[2020-09-01 17:53] MaxBuster commented on #1068
Nevermind, I do see those ports

[code]

[2020-09-02 05:33] fahmisdk6 commented on #1461
hi sorry for late response, i will provide sample soon

[2020-09-02 06:50] thu2004 commented on #1068
I have same problem with my Huawei phone android v 10.

try run adb command in your computer:
adb shell run-as <your package>

See https://github.com/facebook/flipper/issues/92

[2020-09-02 10:22] nikoant commented on #1509
Hi @anirudhagarwal365, the doc you mentioned describes ports for communication between Flipper desktop app and devices. Metro bundler port is currently [hardcoded to 8081](https://github.com/facebook/flipper/blob/master/desktop/app/src/dispatcher/metroDevice.tsx#L18). I think the easiest solution to fix this is to change this code a bit to make it possible to specify port by env var, e.g. FLIPPER_

[2020-09-02 18:40] anirudhagarwal365 commented on #1509
Hi @nikoant. Thanks for pointing it out. Was able to run successfully by creating a fork of the project and making the required changes. Now I am able to see the react native device. (Might create a PR later if I get time)

However, I am not getting "Hermes Debugger Error" - "Metro disconnected. Please check that metro is running and Flipper can connect to it." on the Hermes debugger tab. Logs and

[2020-09-02 18:48] mweststrate commented on #1509
Looks like that should be using the env var:
https://github.com/facebook/flipper/blob/master/desktop/plugins/hermesdebuggerrn/index.tsx#L26

On Wed, Sep 2, 2020 at 7:40 PM anirudhagarwal365 <notifications@github.com>
wrote:

[2020-09-02 19:09] anirudhagarwal365 commented on #1509
Thanks @mweststrate. That solves this issue.

Somehow stuck with "Metro is connected but no Hermes apps were found".

I tried "http://localhost:8082/json" (8082, since metro server runs on that port), but it returns []. Could this be the issue?

[2020-09-03 13:17] b3coded commented on #1276
Closing issue, I'm running Flipper Desktop v0.54 and Screenshots works now

[2020-09-03 13:17] #1276 closed

[2020-09-03 14:03] nikoant commented on #1509
@anirudhagarwal365 do you mind to open PR with your changes?

[2020-09-03 14:05] nikoant commented on #1489
Closing this as the issue was fixed and new releases are published now. There are releases 0.54.0 and 0.55.0 already available in jcenter.

[2020-09-03 14:05] #1489 closed

[2020-09-03 14:58] anirudhagarwal365 commented on #1509
Hi @nikoant . Still not able to successfully run hermes debugger. Still stuck on "Metro is connected but no Hermes apps were found". Not sure if I have accounted for all the changes.

[2020-09-04 03:33] gengjiawen opened #1512 "android sdk not detected on macOS"
## 🐛 Bug Report
My android home is defined in my `bash_profile` as `export ANDROID_HOME=~/Library/Android/sdk`

![image](https://user-images.githubusercontent.com/3759816/92196793-a941dd00-eea2-11ea-9c63-d887fb74ede8.png)

I have not look at the code on flipper detect android sdk code, maybe directly use envinfo to fix this bug ?

## To Reproduce
Run doctor on macOS

## Environment
part of `npx en

[2020-09-04 15:32] mikaoelitiana opened #1513 "iOS simulator network requests are reported twice on RN project"
## 🐛 Bug Report

When using Flipper 0.55 with iOS simulator, any  single network request is displayed twice. The response body is exactly similar but for POST calls, the request body is not displayed anymore on the second report.

<img width="1383" alt="Capture d’écran 2020-09-04 à 17 15 07" src="https://user-images.githubusercontent.com/674667/92256680-4d904780-eed4-11ea-8dcf-c258fce45d01.png">

[2020-09-04 16:27] nikoant commented on #1513
Hi @mikaoelitiana, thanks for the reported issue! Could you check if the same issue is reproducible with Flipper 0.54?

[2020-09-04 16:33] mikaoelitiana commented on #1513
@nikoant yes I am having same issue on 0.54

[2020-09-04 19:39] shashachu opened #1514 "UnsatisfiedLinkError with Flipper 0.55.0"
## 🐛 Bug Report
We're trying to upgrade from Stetho to Flipper for the first time as we were previously blocked by https://github.com/facebook/flipper/issues/660

I'm able to build after excluding `fbjni` from `flipper` and `flipper-network-plugin` but I'm getting runtime crashes:

[code]

## To Reproduce
Unfortunately I can't provide a complete sample, but this is how we're adding the Flipper dep

[2020-09-04 20:36] shashachu commented on #1514
I have tried both solutions in https://github.com/facebook/flipper/issues/824 and have not had success.

[2020-09-05 20:38] snaik2064 commented on #1254
@EhsanSarshar  I was having same problem with Flipper version 0.55 for redux-debugger & async storage plugin.

**1.** The main problem, I was expecting plugin to show up in flipper only by installing it through **"Manage plugins"** in Flipper.

**2.** _But not only you have to install **react-native-flipper** you also have to install the respective **"react native"** package in your react native a

[2020-09-07 04:22] ALWang2020 opened #1515 "UpdateSandboxes is not define in sandbox"
## 🐛 Bug Report
it calls 'UpdateSandboxes', but it is not be defined.

      this.dispatchAction({results, type: 'UpdateSandboxes'});

 https://github.com/facebook/flipper/blob/d4d2937c80ba8fa989273fb38b6d62150fb5240c/desktop/plugins/sandbox/index.tsx#L76

## To Reproduce
 just enable sanbox plugin with Desktop.

## Environment
All release version of desktop app.

[2020-09-07 08:15] nikoant commented on #1512
Hi @gengjiawen, could you open Flipper settings and specify Android SDK path there as "~/Library/Android/sdk"? I think, depending on how you launching Flipper, it might not use bash env vars.

[2020-09-07 09:41] gengjiawen commented on #1512
Set the absolute path will work. My fillper is installed by brew if it helps.

[2020-09-07 10:34] #1184 closed

[2020-09-07 11:54] janweigel commented on #1514
Same problem here.
I'm getting the same runtime error as mentioned above.

Flipper 0.55.0
SoLoader 0.9.0
React Native: 0.62.2

[2020-09-08 00:59] maxckelly commented on #816
I'm also getting this issue, has anyone found a solution?

[2020-09-08 01:55] AndrewMorsillo opened #1520 "Hermes Debugger appears to connect but is empty on Flipper 0.55 win in clean RN 0.63.2 project"
## 🐛 Bug Report
Hermes Debugger simply does nothing when connected to a clean RN 0.63.2 project with Hermes enabled on windows. Elements, Console, Sources, Network, Application, etc are all empty of normal content.  Doctor passes all tests. Remote debugging is off. No other RN apps running. Verified Hermes running. Android SDK is valid and accessible. All other Flipper functions work fine. There a

[2020-09-08 13:47] anirudhagarwal365 commented on #1509
Hi @nikoant Can you help here or tag someone who might be able to?

[2020-09-08 14:27] nikoant commented on #1509
I think "Metro is connected but no Hermes apps were found" is a different problem. Please check this thread for possible solutions: https://github.com/facebook/flipper/issues/1000.

[2020-09-08 14:34] nikoant commented on #1509
If still troubled, please provide additional details: 1) are you using physical device or emulator? 2) is your app configured to use Hermes VM? 3) What OS are you in? MacOS/ Windows / Linux?

http://localhost:8082/json definitely should return your app, I just tried to run a sample app and it returns for me the following:

[2020-09-08 15:33] #1515 closed

[2020-09-08 17:12] nikoant commented on #1520
I've reproduced the same issue on my Windows 10 machine. I'm wondering wether Hermes debugger works for someone on Win 10?

[2020-09-09 14:50] nikoant commented on #1514
@passy do you have any suggestions?

[2020-09-09 14:55] spsaucier-bakkt commented on #1514
Downgrading to 0.54.0 seems to fix this issue.

[2020-09-09 15:00] passy commented on #1514
No idea where this is coming from. A sample that reproduces this would be very helpful.

[2020-09-10 02:45] shashachu commented on #1514
Can confirm we're no longer crashing with `0.54.0`. I'm now getting a cert error, so will look into that.

[2020-09-10 11:32] passy commented on #1514
It would be very interesting to know if reverting https://github.com/facebook/flipper/commit/97adea5423b5b28b63e43137ba72c1828cbe1dac#diff-7ae5a9093507568eabbf35c3b0665732 would change anything for you. It should be enough to override the dependency and pin `fbjni` to `0.0.2` instead.

[2020-09-10 23:22] shashachu commented on #1514
@passy I wasn't able to pin it to `0.0.2` just in the gradle files, but I made local builds of flipper and the flipper network plugin with 97adea5 reverted and indeed it doesn't crash, so it does appear to be the `fbjni` `0.0.4` version upgrade.

[2020-09-10 23:35] shashachu opened #1523 "Question: Cert error on Mac + Android"
Environment:
Mac OSX Catalina 10.15.6
Flipper desktop 0.56.0
Flipper Android 0.54.0 (due to #1514)
OpenSSL 1.1.1g  21 Apr 2020 (installed through MacPorts; I've also tried openssl installed through Homebrew)
Android stock emulator API 29

I suspect it must be something about our local setup since I don't see tons of issues saying that folks are not able to connect, but I'd like some pointers debug

[2020-09-10 23:36] shashachu commented on #1523
`adb reverse --list` outputs:
[code]

[2020-09-10 23:38] shashachu commented on #1523
This appears to be a dupe of https://github.com/facebook/flipper/issues/1068 so I can close mine in favor of that one if you like.

[2020-09-11 17:30] joelpiccoli commented on #993
You are a life saver man! Thank you so much! s2 s2 s2 s2

[2020-09-13 09:58] EhsanSarshar commented on #1254
@snaik2064 not work :(

[2020-09-13 10:12] snaik2064 commented on #1254
@EhsanSarshar  for **redux-flipper** have you followed this steps:

https://classic.yarnpkg.com/en/package/flipper-plugin-redux-debugger

[2020-09-13 16:12] nikoant commented on #1465
Apparently protobuf logging is possible using interceptors on native side, at least for Android. See this great plugin for logging GRPC calls: https://github.com/AckeeCZ/flipper-grpc-plugin.

[2020-09-14 09:52] #1183 closed

[2020-09-14 09:53] passy commented on #1465
Great find, @nikoant. I think we can close this.

[2020-09-14 09:53] #1465 closed

[2020-09-14 09:55] passy commented on #1514
I'll revert back for now to ensure compatibility with the current RN release. I've just fixed an issue with the fbjni distribution that was blocking them from updating. I hope that with the updates on their side this should Just Work again.

[2020-09-14 10:00] #1523 closed

[2020-09-14 17:52] shashachu commented on #1068
@passy do you have any tips on how to debug this?

[2020-09-15 14:06] jknoxville commented on #1151
I'm just doing an audit of past issues, and have seen this. I can confirm that's accurate.

[2020-09-15 14:16] jknoxville commented on #1068
This suggests that no connection at all is being made between client and flipper.

The problem could be either in your desktop installation, or the mobile app. To narrow it down I'd suggest trying it with the android sample app we provide. You can build it locally or download the apk from the [releases page](https://github.com/facebook/flipper/releases).

[2020-09-15 23:26] shashachu commented on #1068
I'm having the same issue with the sample app as well (downloaded from latest release). I'm certain it must be something about my laptop, or maybe the config our IT department uses, but I'm unsure where to start for debugging.

![Screenshot_20200915-162405](https://user-images.githubusercontent.com/521778/93274806-0cb7ee80-f770-11ea-9e62-de40bcd650f5.png)

[2020-09-16 13:34] hsavit1 commented on #1457
I agree - not having signed builds is a significant impedance to upgrading

The Flipper team needs to figure out the upgrade process if it wants everyone involved to contribute to building a better product

[2020-09-17 00:04] tatsuyafujisaki opened #1531 "Question: SoLoader.init(…) throws NullPointerException trying to run local unit test that uses Robolectric"
# Question
`SoLoader.init(…)` throws `NullPointerException` trying to run a local unit test that uses Robolectric. Is there any way to avoid it?

# Error
[code]

# Environment
* macOS Catalina 10.15.7
* Android Studio 4.0.1
* OpenJDK 13
* Flipper 0.57.0 + SoLoader 0.9.0
* Robolectric 4.4

# My local unit test
[code]

# My simplified Application class
[code]

# My simplified `app/build.gradle`
[cod

[2020-09-17 17:25] nicoburns opened #1533 "Incorrect variable name"
In `flipper/iOS/Plugins/FlipperKitUserDefaultsPlugin/FKUserDefaultsSwizzleUtility.m` (line 58)

[code]

The `if(blk != nil)` should be `if(block != nil)`. If you check the function signature you will see that `blk` is part of the type of the variable named `block`. There is no `blk` variable. This PR (#1401) fixed a crash by adding the inner `if (block != nil) {` check. Which fixes the bug. Howeve

[2020-09-18 10:31] passy commented on #1533
Thanks for the report and the detailed description. @priteshrnandgaonkar can you take a look, please?

[2020-09-18 10:58] jayshah123 opened #1534 "[ios][RN] Network plugin no request reported on RN 0.63.2 with ios14 simulator"
## 🐛 Bug Report

How flipper is used in react native app:
[code]

<img width="1211" alt="Screenshot 2020-09-18 at 4 24 32 PM" src="https://user-images.githubusercontent.com/659202/93590107-93b4d300-f9cb-11ea-8981-2b57a73334c2.png">

## To Reproduce

react-native start --reset-cache
Install ios debug app from xcode

## Environment
Flipper version: Version 0.57.0 (50.0.0)
React Native version: 0.63.

[2020-09-18 15:39] Symyon commented on #769
@david-laurentino I have the same exact issue. Did you find a solutinon to it? Same app work with Flipper on Mac, but doesn't on Windows.

[2020-09-18 15:48] Symyon commented on #769
Never mind, fixed it. Moved both Watchman (not related probably) and openssl paths from user variables to system variables. Also used openssl path from Git/user/bin, not my previous openssl build I got from one of the suggested sources on their website.

[2020-09-18 18:13] jayshah123 commented on #1534
I also use newrelic ios sdk in my app, does it have something to do with this?

[2020-09-18 19:36] ahmadmssm opened #1535 "'cmath' file not found"
## Environment
iOS with Xcode 12

[2020-09-18 21:17] elkinjosetm commented on #1534
This issue started happening to me since I updated to XCode 12 and started using iOS 14. Just a few hours earlier with XCode 11.x and iOS 13.x was working perfectly fine. The code and everything with the setup is the same.

[2020-09-19 19:11] justinjoyn commented on #485
Running into this after I updated Xcode to v12.
[code]
On `"react-native": "0.62.2"`

[2020-09-20 15:46] skyride99 commented on #1534
having the same issue when using Xcode 12

[2020-09-20 16:30] patrickbattisti opened #1536 "Failed to start websocket server Couldn't start websocket server. Looks like you have multiple copies of Flipper running."
## 🐛 Bug Report

The application does't open after changing the SDK path, updating the shortcuts and installing the idb. Before It worked properly, now just load an empty screen and show the errors below on the console.

I have already installed the current version (0.57) and tried versions 0.46 and 0.56, all are't working.

`Underlying stack: TypeError: Error processing argument at index 0, conve

[2020-09-21 04:28] yaoandy107 commented on #1466
@mweststrate Look forward to your investigation of charset issue, but I think it is not an OS issue because it also happens on my Android devices.

[2020-09-21 06:33] cklinx commented on #1520
Same problem here

[2020-09-21 08:20] mweststrate commented on #1466
In that case would you mind providing a small minimalistic reproduction?

On Mon, Sep 21, 2020 at 5:28 AM yaoandy107 <notifications@github.com> wrote:

[2020-09-21 08:48] maxammann commented on #485
@justinjoyn I think that is not related. This issue is about missing bitcode in a specific openssl release

[2020-09-21 17:42] passy commented on #1535
Please follow our issue templates and provide the suggested information so we can help you.

[2020-09-21 17:42] #1535 closed

[2020-09-22 04:30] yaoandy107 commented on #1466
I have write a minimal backend to retrieve the same issue in my Android device.

Test API code: [https://gist.github.com/yaoandy107/1dc0daf2071aed0448e39100145b1ec3](https://gist.github.com/yaoandy107/1dc0daf2071aed0448e39100145b1ec3)

Flipper ver: 0.57.0
Android ver: 11 & 9
OkHttp: 4.9.0

![截圖 2020-09-22 下午12 29 23](https://user-images.githubusercontent.com/20769836/93844298-48523b80-fccf-11ea-87

[2020-09-22 04:34] yaoandy107 commented on #1466
I have cloned the repo and give it a try to fix the issue, and it works well in my daily work, but not sure if it work on all situation. I will just PR it later for review.

[2020-09-22 04:48] umang-simform commented on #1534
Same issue here

[2020-09-22 06:48] yaoandy107 commented on #1466
@mweststrate I found out the original decoding issue only happen in Android on response without gzip, so I add the new decode function to handle the request that does not enable gzip in the above PR, and I have tested on my Android devices, it looks fine, but not tested on iOS.

[2020-09-22 11:37] netmaxt3r commented on #1534
I believe this is due to internal changes to iOS 14, i am doing local patch for FLEXNetworkObserver.mm in SKIOSNetworkPlugin pod at line 335
[code]
read the comments in start of method to understand the struggle with different ios version, I am sure Flipper devs will comeup with proper impl.

[2020-09-22 11:45] mweststrate commented on #1534
cc @priteshrnandgaonkar

[2020-09-22 12:27] hoquocdat commented on #1534
I have a same issue with that on iOS 14 and Xcode 12

[2020-09-22 19:12] brandonfancher commented on #1534
Same issue here. The temp workaround posted by @netmaxt3r worked for me.

[2020-09-22 22:28] elkinjosetm commented on #1534
Same here, the temp workaround posted by @netmaxt3r worked for me. Thanks! Hopefully we have an official solution soon.

[2020-09-23 04:01] Zestpond commented on #1534
Same here,

[2020-09-23 04:49] AbdelkhalekESI commented on #948
Hi, I'm facing the same issue with a physical android device ( Pixel 3 ).
- I can see react native logs.
- react-native version 0.62.2.
- My app is ejected from expo.

[2020-09-23 04:51] hoquocdat commented on #1534
You are awesome !!

[2020-09-23 05:04] AbdelkhalekESI commented on #1254
Hi, I'm facing the same issue with a physical android device ( Pixel 3 ).
- I can see react-native logs.
- react-native version 0.62.2.
- My app is ejected from expo.

[2020-09-23 09:44] lucipacurar commented on #1534
Downloaded iOS Simulator 13.5, and it works. So I guess it's related to the iOS version not Xcode.

[2020-09-23 10:18] Cordobo commented on #667
On Mac OS I put `~/Library/Android/sdk` into flippers settings first, turns out, flipper wants an absolute path like `/Users/<username>/Library/Android/sdk`

[2020-09-23 12:57] randomBrainstormer commented on #262
This solution from [StackOverflow](https://stackoverflow.com/questions/61922334/how-to-solve-attributeerror-module-google-protobuf-descriptor-has-no-attribu) worked for me.  `pip install --upgrade protobuf` fixed the proto version conflict.

[2020-09-23 14:26] Cordobo commented on #1271
If you have to install the idb-client via pip3 and the `--user` flag like `pip3  install --user fb-idb`, the IDB binary location is as follows:

`/Users/<your_username>/Library/Python/<python_version>/bin/idb`

`/Users/johndoe/Library/Python/3.8/bin/idb`

[2020-09-24 06:10] mym0404 commented on #1534
Same here

[2020-09-24 06:18] madman61rus commented on #1458
I have the same issue. Does anyone have a solution?

[2020-09-24 09:25] cbotsikas commented on #1534
I've made a PR with a tested solution. It's based on the solution from the original project: https://github.com/FLEXTool/FLEX/pull/451

[2020-09-24 11:36] milsawicki commented on #1461
Hi! I am facing the same issue.

[2020-09-24 18:23] Ghedeon commented on #1021
**Tested on `v.0.58.0`**

Plugin provided by @yueban works, but actually, you don't need a plugin. Cipher's `SQLiteDatabase` extends regular `SupportSQLiteDatabase`, means flipper's built-in `SqliteDatabaseDriver` should be able to handle all the I/O out of the box. The only custom part that is left is to open the DB with your password by providing your own implementation of `SqliteDatabaseConnect

[2020-09-24 23:16] shashachu commented on #1068
@jknoxville just checking in again to see if there are any tips for debugging the connection issue. Thanks!

[2020-09-25 01:33] yueban commented on #1021
@Ghedeon Like you said, it's not a plugin, but a pure android library. Thanks for giving more details.

[2020-09-25 09:55] Ghedeon commented on #1021
@yueban To be precise, you and @vkalmath went with a custom driver, like it's a different database. My suggestion is to profit from the fact that SQLCipher is still an SQLite database, means default driver can be reused. Thanks for your code, btw, it helped a lot!

[2020-09-25 10:08] yueban commented on #1021
@Ghedeon I may update it if I have some time. Btw, feel free to submit some pr, or publish a new one.

[2020-09-25 13:40] rileyhawk1417 commented on #92
I guess this issue hasn't been fixed am using Samsung galaxy J7 running 6.1 buy nothings happening.

[2020-09-25 20:21] MaxBuster commented on #1068
@jknoxville I can confirm that I get the same issue with the sample app and my app works on other laptops so it's definitely an issue with my laptop config or installation.

[2020-09-25 21:20] FaycalBorsali commented on #993
Thank you you are a life saver !

PS: if anyone still has a problem, I had to clean the android project `cd android && ./gradlew clean && cd ..` for the change to take effect

[2020-09-27 04:16] bangarharshit opened #1545 "Question: Recommended pattern to use FlipperOkHttpInterceptor"
For network response mocking, it is recommended to use application interceptor but then we misses redirects in flipper. What is the recommended way to use flipper? Should it be the first network interceptor so that mocking works as expected - https://github.com/facebook/flipper/blob/1a8566c9886fbbacb273ebd0ee3b81f0c4e3716e/android/plugins/network/src/main/java/com/facebook/flipper/plugins/network/

[2020-09-27 09:09] blexxed commented on #1326
Also for you to not remove the flipper pods in `node_modules` you can comment or delete these lines in your Podfile
[code]

[2020-09-29 11:46] EmilMakaev opened #1559 "Plugin achilles failed to load TypeError: Cannot read property 'supportsDevice' of undefined"
Hello! I have this problem. I can't use any plugins.

Plugin achilles failed to load TypeError: Cannot read property 'supportsDevice' of undefined at new SandyPluginDefinition

macOS Catalina Version 10.15.4

<img width="870" alt="Screenshot 2020-09-29 at 14 42 03" src="https://user-images.githubusercontent.com/50282812/94554074-31c55a80-0262-11eb-8b00-2b06c547be5b.png">

[2020-09-29 12:17] mweststrate commented on #1559
@EmilMakaev `achilles` doesn't sound like a build-in plugin of Flipper, is it a manually installed plugin?

[2020-09-29 12:24] EmilMakaev commented on #1559
I installed it directly in the SDK.

<img width="762" alt="Screenshot 2020-09-29 at 15 23 08" src="https://user-images.githubusercontent.com/50282812/94557864-d007ef00-0267-11eb-8d44-36d5508a9b6d.png">

[2020-09-29 12:26] EmilMakaev commented on #1559
Actually I don't see any plugin at all.

<img width="592" alt="Screenshot 2020-09-29 at 15 22 03" src="https://user-images.githubusercontent.com/50282812/94557984-047bab00-0268-11eb-9af5-52b0f1005c83.png">

<img width="762" alt="Screenshot 2020-09-29 at 15 22 34" src="https://user-images.githubusercontent.com/50282812/94558011-11989a00-0268-11eb-8e40-41169a15f1d0.png">

[2020-09-29 12:29] mweststrate commented on #1559
I assume that removing `achilles` does fix it? Could you share the achilles plugin?

[2020-09-29 12:32] EmilMakaev commented on #1559
How can I send you this plugin (achilles)? This plugin was in the SDK by default.

[2020-09-29 12:34] EmilMakaev commented on #1559
Can you tell me why I can't see these plugins in the menu?

<img width="129" alt="Screenshot 2020-09-29 at 15 33 48" src="https://user-images.githubusercontent.com/50282812/94559021-4ce79880-0269-11eb-882b-e30f55e05408.png">

[2020-09-29 12:42] EmilMakaev commented on #1559
https://classic.yarnpkg.com/en/package/flipper-plugin-achilles

[2020-09-29 12:57] mweststrate commented on #1559
What do you mean by "This plugin was in the SDK by default."? Which SDK? That plugin is not being maintained by us. Note that the plugins shown in "install plugins" merely shows all plugins available on NPM. So if it the plugin doesn't ring a bell to you I'd recommend to uninstall it :).

We'll check if we can make plugin loading more resilient, as it at least shouldn't affect other plugins to be

[2020-09-29 13:03] EmilMakaev commented on #1559
Your link doesn't work. Do you mean this link? https://fbflipper.com/docs/troubleshooting/#connection-issues

[2020-09-29 14:06] mweststrate commented on #1559
Sorry, yes indeed. Best start with the react-native section if you are
working on a RN app.

On Tue, Sep 29, 2020 at 2:03 PM EmilMakaev <notifications@github.com> wrote:

[2020-09-29 14:08] EmilMakaev commented on #1559
Thank you very much!

[2020-09-29 14:08] #1559 closed

[2020-09-29 17:06] rdunlop opened #1561 "Question: is generateCertificateSigningRequest leaking memory?"
I'm trying to troubleshoot a possible memory leak on my application, and I'm getting some indications from that there's a memory leak in generateCertificateSigningRequest.

I've looked, and I can't understand why there isn't a call to `free(pKey, x509_req, bne, privateKey, csrBio); ` before the final return in https://github.com/facebook/flipper/blob/master/xplat/Flipper/CertificateUtils.cpp#L210.

[2020-09-29 21:10] akiwarheit commented on #1215
Hey - for comparison - these two apps have similar build settings. the former not having flipper.

[code]

[code]

[2020-09-30 05:48] usrbowe opened #1562 "Android log freezes the Flipper"
## 🐛 Bug Report
I noticed when opening Flipper with connected Android device, the default pkugin will be `Log`, and this will try to display the logs from device `logcat`, but sometimes there is a lot of messages to process and it take freeze entire UI for one minute or so.
I tried to record the CPU usage of the Flipper process via DevTools (it would drop back to normal after another 30s):
<img wi

[2020-09-30 19:04] nikoant commented on #1559
I checked - failed loading of a plugin does not affect loading of other plugins. So other plugins are now shown by other reasons.

[2020-10-01 10:32] PandaGeek1024 commented on #1021
@yueban I have just tried your plugin and it requires min API 21. Is it possible for it to support API 19? Thanks

[2020-10-01 10:36] PandaGeek1024 commented on #1021
@Ghedeon I have also tried your code but flipper still shows myDatabase.db corrupted. Do you what could be the cause? Also are you able to upload a workable sample project so we really know how to do it? Would really like to see your approach works because it looks like the most handy one. Many thanks

[2020-10-01 16:25] yueban commented on #1021
@PandaGeek1024 A new version 1.0.2 was published that minSdkVersion is 16. You can have a try. The minSdkVersion of flipper library is 15, but the minSdkVersion of android-database-sqlcipher library is 16. So I choose 16 as the minSdkVersion of my library.

[2020-10-01 16:27] marcorm opened #1565 "Question: duplicate symbol in Pods (Flipper) and external libraries"
Hi all,
i know it's not strictly related to this lib, but we've got a problem building our app with react-native 0.63.3 and Flipper.
I already asked for help on stackoverflow, here's the [link](https://stackoverflow.com/q/64135172/1094045).

I paste here the same question:

---
I know there are tons of questions regarding this issue, but i didn't come up with solution.
We have in my project (react

[2020-10-03 14:54] Piero87 commented on #1534
when this fix will be released? I have this problem too

[2020-10-04 04:29] #484 closed

[2020-10-06 14:05] dftaher commented on #1534
it did not work for me

[2020-10-06 14:31] mweststrate commented on #1534
@cbotsikas / @Piero87

Should land in next weeks 0.62 release. Thanks for investigating! In the mean time things can be monkey patched in `ios/Pods/FlipperKit/iOS/Plugins/FlipperKitNetworkPlugin/SKIOSNetworkPlugin/FLEXNetworkLib/FLEXNetworkObserver.mm`

[2020-10-06 14:38] Piero87 commented on #1534
@cbotsikas Thanks! At the moment i'm using iOS 13.7 to get around the problem, as soon as it is released I will be able to use iOS 14

[2020-10-06 21:55] Dkhusainov opened #1580 "createTablePlugin not working"
## 🐛 Bug Report
Table plugin from https://fbflipper.com/docs/extending/create-table-plugin/ not working

## To Reproduce
1. Copypaste table plugin from docs above and pack plugin
2. Load plugin in Flipper
3. See error in Flipper console `Flipper plugin 'test' should export named function called 'plugin'

## Environment
Flipper: 0.61.0

[2020-10-06 22:20] Dkhusainov commented on #1580
Exporting the function leads to `Cannot read property 'supportsDevice' of undefined`

[2020-10-07 11:12] mweststrate commented on #1580
@Dkhusainov what does your `package.json` look like? Note that it should _not_ depend on `flipper-plugin`, as then we will load it as a new plugin format which is currently under development

[2020-10-07 13:08] mweststrate commented on #1536
Could you check what is running on port 8088?

[2020-10-07 13:29] mweststrate commented on #1565
@marcorm looks like these utilities should be namespaced indeed in `namespace facebook { namespace flipper` indeed. Feel free to submit a PR if interested. (Probably you want to file the same issue on `externalLib`😅)

Double-check: cc @jknoxville these utilities aren't global on purpose I presume? I noticed that we don't use namespaces in e.g. CertificateUtils as well.

[2020-10-07 13:31] mweststrate commented on #1562
@usrbowe thanks for reporting, for me this is usually instant. Do you know if there is a lot of messages, or very large lines that  might cause this? If you have a saved profiler session that would be really great.

[2020-10-07 13:32] mweststrate commented on #1561
cc @jknoxville

[2020-10-07 13:35] mweststrate commented on #1545
I don't know if there is any specific downside to either of those variations. Feel free to play with it. I'd assume intercepting works on the original url, but doesn't kick in anymore if that resulted in a re-direct?

[2020-10-07 13:54] mweststrate commented on #1531
Looks like your native library dir couldn't be found, is `LD_LIBRARY_PATH ` set correctly? See [here](https://github.com/facebook/SoLoader/blob/f1fc32b6973ab95110f81e2218923f77b455f30e/java/com/facebook/soloader/ApplicationSoSource.java#L46) and [there](https://github.com/facebook/SoLoader/blob/master/java/com/facebook/soloader/SoLoader.java#L225).

[2020-10-07 14:48] marcorm commented on #1565
Hi @mweststrate, thanks a lot for the reply.
I don't know anything about cpp... i made some tests and applying this patch it all works well...
Can you confirm it is the right thing to do?

[code]

[2020-10-07 14:52] priteshrnandgaonkar commented on #1565
It looks right to me.

[2020-10-07 16:53] Dkhusainov commented on #1580
The problem was indeed because of `flipper-plugin` dependency, don't remember how it got there. Thanks!

[2020-10-07 16:53] #1580 closed

[2020-10-08 01:04] tatsuyafujisaki commented on #1531
@mweststrate
Thanks for the help.

No, `LD_LIBRARY_PATH` is not defined on my Mac.

What directory should I add to `LD_LIBRARY_PATH` to make SoLoader work?

[2020-10-08 08:55] mweststrate commented on #1531
@tatsuyafujisaki I have no idea :) I just was trying to deduct from the linked sources what might be the problem as to why a `null` path ends up in the `File` constructor, and it seems that this expression returns `null`: `applicationContext.getApplicationInfo().nativeLibraryDir`, where context is a `import android.content.Context;`.

1. I can imagine your tests don't count as an Android app envir

[2020-10-08 14:32] #1545 closed

[2020-10-08 15:15] mweststrate commented on #1160
Closing as this issue has been inactive for a while for now, looks like the in-app changelog generally suffices. For future readers, they can also be found here: https://github.com/facebook/flipper/blob/master/desktop/static/CHANGELOG.md

[2020-10-08 15:15] #1160 closed

[2020-10-09 13:09] NeliHarbuzava commented on #1253
I also accidentally placed ReactNativeFlipper.java into `main` android folder, not `debug` (android/app/src/debug/java/com/rndiffapp/ReactNativeFlipper.java).

[2020-10-10 01:04] tatsuyafujisaki commented on #1531
@mweststrate
Thanks for the insight! After all, I gave up running unit tests, as is, using Robolectric for Android code that uses Flipper.

Yes. Robolectric is an Android testing library that lets you test Android code quickly on a JVM instead of an Android device or emulator. It is a fake Android environment, so to speak.

When using Robolectric, [this line](https://github.com/facebook/SoLoader/b

[2020-10-10 21:12] ZacSweers commented on #1160
That changelog is not kept in sync. 0.61 was released 4 days ago but is not mentioned there

[2020-10-12 09:13] mweststrate commented on #1531
I noticed that we actually us RoboElectric ourselves to test Flipper (not sure why I didn't think about checking that before). So it should work with RoboElectric, and I guess you can analyze our setup to see why it works fine in our case: https://github.com/facebook/flipper/search?q=Robolectric

[2020-10-12 14:55] adi2412 commented on #1254
For anyone facing this issue with an iOS Swift project, the problem is in the Build Settings OTHER_SWIFT_FLAGS added automatically. Search for "Other Swift Flags" under "Swift Compiler - Custom Flags" and under the Debug configuration, you should see two keys added "-Xcc" immediately followed by "-DFB_SONARKIT_ENABLED=1". Remove both of them, and add a single key with the value "-DFB_SONARKIT_ENAB

[2020-10-12 16:18] nikoant commented on #1363
This issue was fixed by upgrading to Electron 10.1.1

[2020-10-13 02:42] Paduado commented on #1534
I just updated to Flipper 0.62.0 and I'm still not able to see network requests on iOS 14, am I missing something? 🤔

[2020-10-13 02:54] cloudychen commented on #1534
me too.

[2020-10-13 03:41] adrianso commented on #1534
@Paduado, @cloudychen I had the same issue, but resolved it by updating the Flipper version in iOS to match the Flipper client.

[code]

After that, do a `pod install`. Re-compile your iOS app. Should work afterwards.

[2020-10-13 03:52] cloudychen commented on #1534
Thanks, I will try right away👍

[2020-10-13 08:55] cloudychen commented on #1534
use method by @adrianso ,I can see network request but my request not work.` [Error: An SSL error has occurred and a secure connection to the server cannot be made.]` my server use a self-signed SSL cert and i use `rn-fetch-blop` make request, rn0.63.3 use flipper 0.54.0 request is ok just not reported.

[2020-10-13 09:55] lucipacurar commented on #1534
It works for me now on iOS using:
`use_flipper!('Flipper' => '0.62.0')`

But I have no clue how to make it work on Android.

[2020-10-13 10:06] teo029 commented on #606
Had to `Pod::BuildType.static_library` instead of `Pod::Target::BuildType.static_library`