[2019-02-07 14:09] #367 closed

[2019-02-08 13:06] smilearchery commented on #318
Finally I found the reason. A proxy server was running in background which listen and occupy the 8088 port.
Anyone who meet this problem may try `lsof -i:8088` to find which program is using your port.
Flipper may add a feature to handle the error case if the port is occupied

[2019-02-08 13:06] #318 closed

[2019-02-14 15:23] FireZenk commented on #146
In case you're using `androidx`:
[code]

[2019-02-15 11:17] disparate commented on #139
Also, in Stetho I had ability to browse shared preferences of inner libs (for example of analytics libs) and it was very usefull. Can we get the same result using Flipper?

[2019-02-15 19:22] xiphirx commented on #139
You can add multiple shared preference files by specifying multiple `SharedPreferencesDescriptor`s https://github.com/facebook/flipper/blob/master/android/src/main/java/com/facebook/flipper/plugins/sharedpreferences/SharedPreferencesFlipperPlugin.java#L92

[2019-02-21 05:43] erawhctim commented on #284
For anyone curious, I have basic realm data displaying in a plugin:
<img width="1557" alt="screen shot 2019-02-21 at 12 36 50 am" src="https://user-images.githubusercontent.com/6600919/53146130-0d2adc00-3571-11e9-9786-248e2f55292e.png">

Given a realm class declared in Kotlin like this:
<img width="391" alt="screen shot 2019-02-21 at 12 37 21 am" src="https://user-images.githubusercontent.com/6600

[2019-02-21 10:30] passy commented on #284
That's amazing! Looking forward to seeing more about this, @erawhctim!

[2019-02-21 11:36] mgoyanes commented on #284
Great @erawhctim. If you need testers count me in :)

[2019-02-21 12:04] mrmans0n opened #375 "Plugins based on createTablePlugin never load"
Hi!

The company I work for has a couple of custom Flipper plugins, and 3 of them are based on createTablePlugin. They were working alright, but they stopped working around the 0.13.0 version and never worked again - as it's still broken as of 0.16.2.

I have created a tiny project with two simple plugins to showcase this: https://github.com/mrmans0n/flipper-createTablePlugins-borked-sample

In th

[2019-02-21 16:00] danielbuechele commented on #375
As per our discussion on Twitter we found the problem. The name in the plugin's `package.json` needs to match the ID used in native side of the plugin.
On the JS side, we moved away from using a static class property for the plugin ID and use the package name instead. Clarification on the docs is landing soon.

[2019-02-21 16:00] #375 closed

[2019-02-22 03:42] lijy91 opened #376 "Duplicate interface definition for class 'FlipperClient'"
When I try to write a Flipper SDK for Flutter , this error occurred.

![image](https://user-images.githubusercontent.com/3889523/53218284-7eb07a80-3696-11e9-9328-fd0ccf96be38.png)

It uses the pod to manage dependence, this is my pod spec file.

[code]

My code:
https://github.com/blankapp/flutter_flipperkit/blob/master/ios/flutter_flipperkit.podspec
https://github.com/blankapp/flutter_flipperkit/

[2019-02-22 07:08] GauravT9l commented on #254
Above thing is still not working of me, i am still getting below error

[2019-02-22 10:21] passy commented on #376
@priteshrnandgaonkar Can you take a look?

[2019-02-22 14:21] priteshrnandgaonkar commented on #376
@lijy91, I renamed `FlutterFlipperkitPlugin.m` to `FlutterFlipperkitPlugin.mm`. With this change the above errors went away. But I got `/bin/sh: /packages/flutter_tools/bin/xcode_backend.sh: No such file or directory`, which you will have to look, as it is Flutter related.

I will look into it as to why the extension of the plugin file has to be Objective-C++, as we don't have any c++ in the impor

[2019-02-22 14:33] priteshrnandgaonkar opened #378 "Investigate Objective-C++ headers bug"
While importing the following headers in a cocoapod framework, it resulted in the following errors.
`Duplicate interface definition for class 'FlipperClient' `

[code]

Changing the file extension from Objective-C to Objective-C++ solved the problem. Investigate why Objective-C++ extension is required eventhough the headers don't have any C++ in it. For more information, refer #376

[2019-02-22 14:36] priteshrnandgaonkar commented on #376
Created an another issue for more investigation #378. Closing this issue, as the errors are gone by the above mentioned fix. Feel free to reopen the issue if the same errors reappear. For other issues, create a new one.

[2019-02-22 14:36] #376 closed

[2019-02-22 21:05] erawhctim commented on #215
Same issue on our end, due to a massive JSON response returned for a particular network call (120kb)

[2019-02-22 21:06] erawhctim commented on #215
@abeemukthees I'd suggest updating the name to be a little more descriptive:
"Network plugin: unexpected render error when loading detail view for a GET request with large response" (or something along those lines)

[2019-02-23 10:21] lijy91 commented on #376
thank you for your help.

I renamed `FlutterFlipperkitPlugin.m` to `FlutterFlipperkitPlugin.mm`, which solved my problem. Now my flutter sdk `NetworkPlugin` is already working on android and iOS.

[2019-02-23 14:36] lijy91 opened #380 "The Chinese characters are garbled"
`atob` does not support decoding of non-English characters, I modified `atob` to `decodeURIComponent(escape(atob(container.data)));`, This may not be a good solution, but he solved the problem.

My PR: #377

[2019-02-24 18:03] BoD commented on #33
SQLite is really a must have feature.  Will not switch to Flipper until this is available.

[2019-02-25 05:56] franticn opened #381 "No device selected"
os: macOS 10.14.3
Flipper:0.16.2
adb: 1.0.40

when i launch Flipper in my mac,i cant find any devices,but i can find these by use `adb devices -l`
![image](https://user-images.githubusercontent.com/21286570/53317895-5f208880-3908-11e9-95d7-5e024828d4f8.png)

![image](https://user-images.githubusercontent.com/21286570/53316966-bc1a3f80-3904-11e9-8408-4275a0a5b222.png)

and i can find these error by

[2019-02-25 06:04] franticn commented on #381
I have already do these from `Getting Started`docs,e.g.,
- Add  permissions and `FlipperDiagnosticActivity ` to my `AndroidManifest.xml`
- Add the dependencies to `build.gradle` file
- Initialize`Flipper` in my `Application`

[2019-02-25 06:06] abeemukthees commented on #215
@erawhctim For me, it happens irrespective of the response size.

[2019-02-25 09:22] franticn commented on #381
look like this `process.env.ANDROID_HOME` don't equals my `ANDROID_HOME` in `.bash_profile`
![image](https://user-images.githubusercontent.com/21286570/53326990-d31b5a80-3921-11e9-86ba-77c57e3e90cb.png)

why is this?

[2019-02-25 09:24] pavlospt commented on #381
@franticn Could you search who might be exporting a value equal to `/opt/android/sdk` in your shell?

[2019-02-25 09:49] franticn commented on #381
Sorry,I didn't search anything about `/opt/android/sdk` in my shell

[2019-02-25 09:50] jknoxville commented on #381
Hey @franticn thanks for the detailed report.

I believe the problem here is that when you launch a GUI application from finder or some launcher, the bash profile isn't picked up like it would be if you ran it from the command line.

You can test this by launching flipper from the command line instead of by clicking on an icon. In that case it should pick up your config. Can you confirm this works

[2019-02-25 10:05] franticn commented on #381
As you say, I launch flipper form the command line then I can see `Launch Android emulators` and some emulators I used to created. But I still can't see my physical devices.

[2019-02-25 10:10] franticn commented on #381
I launch flipper form command line as you say,and its work, no errors in developer tools.But I only see `Launch Android emulators` and some emulators I used to created,I still can't see my physical devices even if these list in `adb devices`

[2019-02-25 16:23] ColtonIdle opened #382 "Android documentation missing critical init section"
I setup flipper for the first time for my Android app with reading through the docs. They were really helpful except that I kept getting a crash. After I looked it up, it looked like https://github.com/facebook/flipper/issues/36 is related. `SoLoader.init` method needs to be called, but as far as I can tell, this isn't called out anywhere in the docs. Also, init can be called with different parame

[2019-02-25 16:33] jknoxville commented on #382
Thanks for the feedback, it's definitely good to hear where people are having trouble.

It's not very prominent but it's included in the sample code here: https://fbflipper.com/docs/getting-started.html#setup-your-android-app

That said, documentation is useless if people can't find it / don't notice it, do you have any suggestions of how we could make it more noticeable? Perhaps just adding a not

[2019-02-25 16:39] ColtonIdle commented on #382
I would recommend putting it on this page: https://fbflipper.com/docs/getting-started.html under "Setup your Android app". Currently it includes everything you need to know for setup, except this `Soloader.init()` call. Not sure if it's omitted on purpose.

[2019-02-25 22:05] ColtonIdle opened #384 "Network Plugin - Response Body section isn't easily copy-able"
The response body section in the network plugin is really useful, but I can't easily copy it. If someone selects that field, it should entirely highlight so you can cmd + c to copy it. I have the body set to "formatted" not "parsed", so I'm just trying to copy the raw json.

[2019-02-25 22:08] ColtonIdle commented on #314
Retrofits README includes this statement:

It would be nice if Flipper could do the same.

[2019-02-26 04:42] lijy91 commented on #254
I got the same error, @dmac81  solution not working for me

[code]

[2019-02-26 06:41] DDDrop commented on #254
CocoaPods 1.6.0+ `host_requires_frameworks` is changed to be *readonly*

[2019-02-26 12:19] #382 closed

[2019-02-28 12:46] passy commented on #33
@BoD We're more than happy to look at any pull requests regarding this feature. :)

[2019-02-28 18:45] dmac81 commented on #254
@DDDrop good catch, here is the commit where they made that change:

https://github.com/CocoaPods/CocoaPods/commit/f7009cf7de0a96602a93b188c0d1e389ac180436#diff-8c725e5a3b8317f479af06a7eb820320

So this would only work on releases before 1.6.0.  When I get some time I will see if there is another way around this in 1.6.0 and above.

[2019-03-02 09:47] lijy91 commented on #380
@priteshrnandgaonkar @danielbuechele  any update on this

[2019-03-02 19:03] nihaux opened #386 "react-native + flipper - Program type already present: com.facebook.jni.CppException"
Hello just starting with react-native and was trying to add flipper.
when i add
[code]
to my gradle.build
I get when running `react-native run-android`
[code]
I did some searching and tried to exclude fbjni from flipper
[code]
tried different variant (not a java dev so kinda lost when it comes to building tools ^^)
[code]
In android studio, the only place I can found the CppException class is:
![c

[2019-03-04 10:20] danielbuechele commented on #380
Hey, sorry for the slow response and thanks for your PR. I am importing it now!

[2019-03-04 13:17] danielbuechele commented on #380
Landed in #377
Thanks @lijy91

[2019-03-04 13:17] #380 closed

[2019-03-04 16:23] passy commented on #386
That's strange. You definitely tried the things I would have recommended.

Perhaps a silly thing to ask, but does this stop happening if you remove the Flipper dependency?
And assuming that it doesn't, would it be possible to share the `:app:dependencies` output?

[2019-03-04 19:02] drooph commented on #92
On and S8 running Android 7 I have been able to fix this issue by going to `Developer Options` -> `Select app to be debugged` and then selecting the app you want to debug.

[2019-03-04 21:38] ColtonIdle opened #387 "Android - How to setup dependencies when Flipper is only used in debug builds?"
In my Application onCreate I have

[code]

and in my app level build.gradle I have:

[code]

but, if my hunch is right... this means flipper is technically being shipped in release builds. How can I prevent this?

[2019-03-05 01:07] nihaux commented on #386
Hello, yes it stops when I remove the flipper dependency.
I rerun the :app:dependencies, [here](https://pastebin.com/CHyVF7cR) is the pastbin to it.
From what I see the task `debugAndroidTestRuntimeClasspath` contains 2 times the dependency to `com.facebook.flipper:fbjni:0.16.2`, one under `com.facebook.flipper:flipper:0.16.2` and one under directly attached to `debugAndroidTestRuntimeClasspath` b

[2019-03-05 02:28] nihaux commented on #386
So I made it work, don't really know what i did differently from the first time...
For those in the same case, final config is:
[code]
Had to exclude yoga too for the same reason.
Thx @passy for the help.
Edit: hum during the process of trying different things, I cleared the gradle cache with rm -rf ~/.gradle/caches/* maybe that did the trick...

[2019-03-05 02:28] #386 closed

[2019-03-05 09:56] passy commented on #387
You're looking `debugImplementation`. There's example setup code here: https://fbflipper.com/docs/getting-started.html#setup-your-android-app

[2019-03-05 09:56] #387 closed

[2019-03-05 10:16] ColtonIdle commented on #387
@passy `debugImplementation` causes my release builds to fail

[2019-03-05 12:30] richardtop opened #389 "Does Flipper support Core Data debugging?"

[2019-03-05 17:20] passy commented on #387
The easiest way to avoid is by having an application or an app initialiser in `debug/` that implements Flipper and have another one in `main/` that is a no-op.

[2019-03-05 22:05] erawhctim commented on #303
Closing this, since my certificate issues were resolved with [this PR](https://github.com/facebook/flipper/pull/227)

[2019-03-05 22:05] #303 closed

[2019-03-06 01:58] ColtonIdle commented on #387
@passy hm. Okay. I think it's worth it to update that in the docs also since you are giving users `debugImplementation` which will automatically fail the first time they try to release.

Was it considered to add a no-op artifact similar to what other debug tools do (like leak canary and others)?

**LeakCanary**

[2019-03-06 19:27] vkalmath opened #394 "Version 0.17.0 is crashing"
Not able to see network logs on version 0.17.0 on Mac, in earlier version was able to see the complete logs for network.
<img width="1681" alt="screen shot 2019-03-06 at 11 24 08 am" src="https://user-images.githubusercontent.com/16566323/53907831-db028b00-4002-11e9-8adf-e79e312ef59b.png">

[2019-03-06 20:58] theGlenn commented on #158
@ubuntudroid As a temporary solution I've implemented a somewhat simple but helpful no-op library.
https://github.com/theGlenn/flipper-android-no-op

[2019-03-06 20:59] theGlenn commented on #180
@carlosmuvi Here is a Q&D temporary solution I came up with.
https://github.com/theGlenn/flipper-android-no-op

[2019-03-06 21:19] theGlenn commented on #387
@ColtonIdle I came up with this as solution until it's done in Flipper's core package.
https://github.com/theGlenn/flipper-android-no-op

[code]

[2019-03-06 22:24] jschear commented on #394
I'm also encountering this. Perhaps related to this recent change? https://github.com/facebook/flipper/pull/377

[2019-03-07 13:01] ColtonIdle commented on #387
@theGlenn that's great. Exactly what I needed. I've never dug into the details of a no-op artifact, but I'd be curious to get the same for fb stetho since it's a debug library.

@passy does the project have any intentions on providing a no-op artifact out of the box?

[2019-03-07 14:37] passy commented on #387
It was my hope that people would already have a separate place to set up their debug-only singletons and whatnot. If that's not the case, we should definitely consider expanding or docs about it.

We have been thinking about creating our own no-op variant, too, but want to make sure we have tests set up to ensure we don't break it as we won't use it ourselves.

[2019-03-07 20:27] erawhctim commented on #389
I don't believe it does at the moment, but I'm building a database viewer plugin for [Realm](https://realm.io/) ([follow this issue here if interested](https://github.com/facebook/flipper/issues/284)) and I've been thinking it might make sense to generalize it to display data from multiple types of databases.

I'm imaging building multiple client-side SDKs for each platform and database type that

[2019-03-08 09:41] richardtop commented on #389
@erawhctim OK, sounds interesting, I'm following the issue now.

[2019-03-08 11:08] ColtonIdle commented on #387
If a no-op variant isn't needed (or deemed the right solution) then yes, docs would be helpful. I just came across another reddit comment that said they tried flipper, didn't compile so they dropped it and haven't used it since. (Unfortunately) I feel like setup instructions should be fairly comprehensive so new and old developers have as little friction as possible.

If you recommend debugCompile

[2019-03-08 12:05] passy commented on #394
https://github.com/facebook/flipper/commit/2c05fdf347e6e5e3571623fd456db531dd19feae fixes this. We're releasing a new version today that includes the commit. Thanks for the report!

[2019-03-08 12:05] #394 closed

[2019-03-09 09:48] felislynx-silae commented on #284
@erawhctim are you going to add support to Room too?

[2019-03-11 14:18] erawhctim commented on #284
@felislynx-silae Yep - the current plan is to make this plugin as database-agnostic as possible and support multiple different implementations. Realm on Android/iOS and Room at first, with SQLDelight and Core Data as later options. (I _think_ those are possible, but just haven't had time to fully explore/validate them yet since Realm was first-priority)

[2019-03-14 14:15] erawhctim opened #396 "Layout Editor: color picker Z-index issue causes overlap/clipping within parent container"
When selecting a color property within the layout editor sidebar (after selecting a view in the view hierarchy with said property), selecting the colored box to trigger the color picker seems to render the color picker incorrectly.

Before selecting:
<img width="324" alt="Screen Shot 2019-03-14 at 10 12 05 AM" src="https://user-images.githubusercontent.com/6600919/54363767-f7757780-4641-11e9-966d-

[2019-03-18 08:28] lijy91 opened #398 "Dynamically loading plugin can't working on latest build?"
I can't use a custom plugin for latest build, I can only use the dynamic load plugin on the dev version.

My plugin: https://github.com/blankapp/flipper-plugin-reduxinspector

[2019-03-19 11:17] #396 closed

[2019-03-19 16:10] ljfantin opened #399 "Does flipper support Kotlin extensions?"
I'm using kotlin extesions in my project to reemplace findViewById by import kotlinx.android.synthetic.

Then I've added flipper configuration and the the project is not compile with flipper, it has errors with kotlinx.android.synthetic

Error:
Unresolved reference. None of the following candidates is applicable because of receiver type mismatch:

[2019-03-19 23:37] passy commented on #399
Hey @ljfantin, thanks for the bug report but that's not enough information for us to work with. Can you provide some more information and ideally a test project for this?

[2019-03-20 11:06] passy commented on #398
Can you explain your steps and where things stopped working?

[2019-03-20 14:14] ljfantin commented on #399
Hi @passy, thanks for reply soon.

Kotlin Android Extensions are another Kotlin plugin that is included in the regular one, and that will allow recovering views from Activities, Fragments, and Views in an amazing seamless way. The plugin will generate some extra code that will allow you to access views in the layout XML, just as if they were properties with the name of the id you used in the layou

[2019-03-20 16:25] passy commented on #399
That sounds to me like a bug in the `kotlin-android-extensions` plugin. At the very least, the error message does not seem particularly helpful. At least just with this, I'm not quite sure what we could do on our end.

[2019-03-20 17:36] pavlospt commented on #399
@ljfantin are you experiencing this issue only when you add Flipper's dependencies or without them as well?

[2019-03-21 03:01] lijy91 commented on #398
Create a directory `~/flipper-plugins`

[code]

Clone the plugin to this directory

[code]

Remove all cached plugins

[code]

Add the path to `~/.flipper/config.json`

[code]

Now Run Flipper(latest build), but can't build and load custom plugins.

[2019-03-21 16:51] ljfantin commented on #399
Hi @pavlospt, this issue happens since I added Flipper to my project

[2019-03-21 18:49] pavlospt commented on #399
@ljfantin could you share your `build.gradle` file or any relevant code? Even better would be a sample project if you have the time :)

[2019-03-22 14:38] ljfantin commented on #399
@passy @pavlospt I created an hello world project with flipper configuration and Kotlin extensions and the project works.
My project still having the error :(  but probably is not by flipper
I close the issue.
Thanks all

[2019-03-22 14:38] #399 closed

[2019-03-22 15:51] passy commented on #399
Glad it worked out and thanks for chiming in, @pavlospt! :)

[2019-03-25 10:04] qichuan opened #401 "No File menu for the Share Flipper Data feature"
I noticed that there is a new `Share Flipper Data` mentioned in doc [page](https://fbflipper.com/docs/share-flipper-data.html), and I am glad that Flipper team finally add it in.

However, after upgrading Flipper to the latest 0.18.0, I do not see the File menu that suppose to contain the Share Flipper Data feature, and the shortcut ⌘E does not work as well.

![Screen Shot 2019-03-25 at 5 57 57 PM

[2019-03-28 14:31] passy commented on #401
@priteshrnandgaonkar Should 0.18.0 include this?

[2019-03-28 14:34] priteshrnandgaonkar commented on #401
No, its not released yet. I will make a new release.

[2019-03-28 18:45] digoreis commented on #262
Guys, we have a news about this ?
My suggestion is in iOS case use [multipeerconnectivity.](https://developer.apple.com/documentation/multipeerconnectivity).

[2019-03-29 15:12] jknoxville commented on #262
The above suggestions could work. As Pritesh mentioned originally the only missing piece is deploying the files into the app container. That could indeed be done either as a build step, or by implementing the push and pull methods of this class: https://github.com/facebook/flipper/blob/master/src/fb-stubs/iOSContainerUtility.js by any means necessary.

There's work ongoing to open source the solut

[2019-03-31 02:35] lijy91 commented on #398
@passy any news?

[2019-03-31 02:37] lijy91 commented on #158
For my [flutter_flipperkit](https://github.com/blankapp/flutter_flipperkit) project, I create a  [flipper-no-op](https://github.com/blankapp/flutter_flipperkit/tree/master/android/flipper-no-op) module for release mode.

I hope this module is provided by the flipper

[2019-03-31 18:38] digoreis commented on #262
@jknoxville I did a small study here.  Thanks for the indications 😄

For to use MultipeerConnectivity, we  have a small problem with the init of `FlipperClient::_cppClient`.  **Problem** is that a discovery DNS protocol like *Bonjour*, **always** an async operation.

For the solution this, I research to create a FlipperDiscovery. This entity will create a connect, get all information and copy the

[2019-04-01 01:55] qichuan commented on #401
It is in 0.19.0, close issue.

[2019-04-01 01:55] #401 closed

[2019-04-02 10:31] danielbuechele commented on #398
Hey @lijy91 I was able to see you plugin in the latest release of Flipper (0.19.0). You setup looks correct.

Can you try launching Flipper from the command line like this `/Applications/Flipper.app/Contents/MacOS/Flipper` This should give us some logs on the command line that might be helpful. When removing `~/.flipper/plugins`. Is a new file for the plugin created once you start the app? When cl

[2019-04-02 10:54] lijy91 commented on #398
When I restart my computer, launching Flipper in the terminal, everything is ok. But when I launching Flipper at the launch pad, the plugin will not show up, launching again through the terminal, show compilation error

first launching on terminal,
[code]

once again launching on terminal (Removed the custom plugin directory and launched it through the launchpad before)
[code]

[2019-04-02 11:08] lijy91 commented on #398
When I run watchman watch-del-all, the compilation error will disappear. But when I launching Flipper at the launch pad Error occurs again.

[2019-04-02 11:20] danielbuechele commented on #398
I am able to reproduce the plugins not being loaded. I wasn't yet able to reproduce the `ReferenceError: SHA-1 for file` errors you are seeing.

What works:
- `open /Applications/Flipper.app/`
- `/Applications/Flipper.app/Contents/MacOS/Flipper`

What doesn't work:
- Double click in Finder
- Spotlight
- Launchpad

[2019-04-02 11:34] lijy91 commented on #398
My steps:

1. Delete the plugin directory after restarting the computer
2. Run flipper from the launch pad
3. Delete the plugin directory again
4. Run flipper from the terminal

[2019-04-02 12:38] danielbuechele commented on #398
Can you edit this file: `/Applications/Flipper.app/Contents/Resources/app/node_modules/metro/src/node-haste/DependencyGraph.js` in line 200 to manually calculate the SHA1, if we don't have one like this and then try to reopen Flipper and see if that fixes the problem:

[code]

[2019-04-02 12:46] danielbuechele commented on #398
This might be the underlaying issue: https://github.com/facebook/metro/issues/330

[2019-04-02 13:40] lijy91 commented on #398
Compile error has been resolved, But launching Flipper from the launch pad still can't load the custome plugin.

[2019-04-03 11:25] yanqing1226 opened #405 "https://fbflipper.com/ can't download"

[2019-04-03 11:33] yanqing1226 commented on #405
https://fbflipper.com/docs/getting-started.html#desktop-app  also can't load

[2019-04-03 18:49] martynhaigh opened #406 "Copy as cURL and other network options"
Would be great to implement stetho style 'Copy as cURL' and other options

<img width="251" alt="image" src="https://user-images.githubusercontent.com/155352/55504812-89710e80-5649-11e9-99d3-4f2360b4d69c.png">

[2019-04-03 19:44] erawhctim commented on #215
Still seeing this issue on my end as well (on v0.19)

[2019-04-04 08:56] pwillmann opened #407 "Feature Request: Support easier installation of custom plugins"
In order for custom plugins to work in Flipper on MacOS, `yarn` and `watchman` need to be installed on the machine. I think this is fine for development, but it is a bit of a hassle to share the finished plugin.

Since the preloaded plugins also work without `yarn` and `watchman`, is there an easier way to distribute custom plugins?

(Thanks for all the work on Flipper, it helps us a lot!)

[2019-04-04 10:32] passy commented on #406
Yes, totally! We've heard that a few times and I agree that this would be handy. Thanks for raising this! By the way, if someone wants to look into this as a pull request, please let us know. :)

[2019-04-04 15:21] jknoxville commented on #407
That's a good point, @danielbuechele do you have any ideas about this? Maybe we could have an option for dynamically loading already-bundled plugins, instead of having to build them at runtime. Sounds like something that npm integration you worked on would solve.

[2019-04-04 15:25] jknoxville commented on #405
Are you accessing it from China by any chance? We got a similar report in the past ( #249 ) when we moved to GitHub pages, and we don't have any current plans to change this unfortunately.

Please reopen if that isn't the case.

[2019-04-04 15:25] #405 closed

[2019-04-05 07:31] qichuan opened #408 "New activities not automatically added to the Layout hierarchy tree"
![Capto_Capture 2019-04-05_03-20-55_PM](https://user-images.githubusercontent.com/410850/55611149-4634ae00-57b7-11e9-8cef-94af91a0af12.gif)

As shown in the video, the user needs to exit the Layout page and re-enter it in order to see the new Activity (`FlipperDiagnosticActivity` in this case) being added to the hierarchy tree

[2019-04-05 12:14] jknoxville commented on #408
Thanks for the report, looks like a bug.

[2019-04-05 12:18] qichuan commented on #408
I think I know how to fix it, will create a PR later.

[2019-04-05 12:34] lokeshkalal opened #410 "Unable to Integrate Flipper on Pre AndroidX projects"
Getting Manifest merge Error.
Is there any way to fix this issue?

[2019-04-05 13:08] passy commented on #410
Can you please post some more details of your project, ideally something for us to repro? Generally, by using jetifier, you should be able to use the library. Upgrading your gradle plugin may take care of it.

[2019-04-05 13:21] pavlospt commented on #410
@passy I think they mean the opposite, which is true. There is no way of using an AndroidX library on apps that have not yet migrated to AndroidX IIRC!

[2019-04-05 13:56] lokeshkalal commented on #410
getting this error :
Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appComponentFacto

[2019-04-05 14:23] pavlospt commented on #410
@lokeshkalal Could you try the fix suggestion? `tools:replace="android:appComponentFactory"`

[2019-04-06 07:42] mgoyanes commented on #408
@qichuan What's that images plugin?

[2019-04-08 15:55] michaelcarrano commented on #326
Was just going to create a Github Issue about this.

Would be great to filter the logs based on a selected application, even if I need to type the package name myself.

Not sure if it will help in anyway but Pidcat does this:
https://github.com/JakeWharton/pidcat

[2019-04-10 01:55] qichuan commented on #410
@lokeshkalal Try downgrade the litho to 0.24.0

In gradle.properties

LITHO_VERSION=0.24.0
#ANDROIDX_VERSION=1.0.0

[2019-04-10 10:17] kalallokesh commented on #410
@qichuan I am not using litho in my project

[2019-04-10 13:03] michaelcarrano commented on #210
This issue seems to be duplicate/related to https://github.com/facebook/flipper/issues/326

[2019-04-11 06:42] qichuan opened #412 "The iOS Layout Plugin never send invalidate objects to Flipper Desktop app"
In `FlipperKitLayoutPlugin.mm`

<img width="508" alt="Screen Shot 2019-04-11 at 1 58 44 PM" src="https://user-images.githubusercontent.com/410850/55936041-b637ae00-5c67-11e9-817c-068d172148e4.png">

`_invalidateMessageQueued` is always true so `reportInvalidatedObjects` is never called.

[2019-04-11 06:52] qichuan commented on #412
Not able to reproduce the issue somehow, will reopen it when the steps to reproduces are confirmed

[2019-04-11 06:52] #412 closed

[2019-04-11 11:38] #408 closed

[2019-04-17 06:42] kitttn commented on #284
@erawhctim
Hi Mitch!
How is it going with SQLite? I was thinking about doing plugin, maybe you need help?

[2019-04-17 12:22] alxrm commented on #399
Same problem

[2019-04-17 13:25] passy commented on #410
Closing this one as it's not actionable for us right now, but please open a new one if you see something like this again.

[2019-04-17 13:25] #410 closed

[2019-04-19 04:06] euanchan opened #416 "Recommend iOS Plugins"
Hi, we've open source our own iOS profiling / debugging assist tools `MTHawkeye`, and it seems that we could add the `MTHawkeye` plugins as part of flipper, do you have a plan on the iOS plugins yourselves?

For the detail of `MTHawkeye`, have a look at the readme and the plugins documentation. https://github.com/meitu/MTHawkeye

[2019-04-23 07:56] passy commented on #416
Hi @euanchan! Congrats on open sourcing your project. I'm not entirely sure I understand your question. If you want to develop a Flipper plugin, that can happen entirely independent of us and you're definitely more than welcome to. :)

[2019-04-23 14:05] #406 closed

[2019-04-29 02:23] euanchan commented on #416
Great, we'll try to develop Flipper plugins in the further. :D

[2019-04-29 06:11] techinpark commented on #193
any solutions?

[2019-04-29 10:35] henryzx commented on #215
Still able to reproduce on v0.20. Found that any request whose size exceeds **~20kB** will fail to display. Is there any way to work around this problem? It keeps happening...

[2019-05-01 10:36] passy commented on #90
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:36] passy commented on #89
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:36] #89 closed

[2019-05-01 10:36] passy commented on #88
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:36] #88 closed

[2019-05-01 10:36] passy commented on #67
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:36] #67 closed

[2019-05-01 10:37] passy commented on #163
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:37] #163 closed

[2019-05-01 10:37] passy commented on #164
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:37] #164 closed

[2019-05-01 10:37] passy commented on #176
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:37] #176 closed

[2019-05-01 10:37] passy commented on #195
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:37] #195 closed

[2019-05-01 10:41] passy commented on #253
Cleaning up old issues and pull requests. Please let us know if this is something that's still relevant and we can reopen this and take another look. Thanks!

[2019-05-01 10:41] #253 closed

[2019-05-01 10:42] passy commented on #193
@priteshrnandgaonkar Have you seen this before?

[2019-05-01 18:11] mitchware-cfa opened #431 "Discussion: Network Plugin could use an option to wrap long text in the response body section"
Given that an "Options" section exists with an option to switch between parsed and raw response body formats, I could see a similar option for wrapping long text in the response body to a new line.

Currently, if some JSON is returned that has a long string value (an API key/token, some kind of hash, etc), the network plugin renders it all in one line out of view.

Thoughts? Happy to help implemen

[2019-05-01 18:15] mitchware-cfa opened #432 "Network Plugin - Response body format option isn't saved"
## 🐛 Bug Report
If you view the details of a particular network request and change to the "formatted" response body option, then swap to another request, the previous option isn't saved/respected. This might be intentional behavior, but it certainly is frustrating and seems like a bug...

## To Reproduce
* View details of a network request that returns a response
* Switch the response body option

[2019-05-02 12:35] passy commented on #432
That's a good point. Thanks for the detailed report, @mitchware-cfa!

[2019-05-02 21:27] passy commented on #431
Oh yes, definitely. If you're interested in contributing that, we'd be happy to take a look. :)

[2019-05-03 11:48] priteshrnandgaonkar commented on #254
I tried the following

[code]

It successfully generates the project, but the app fails to build. CocoaPod version used is 1.6.1

[2019-05-03 13:29] #254 closed

[2019-05-06 12:29] alxrm commented on #399
@ljfantin the reason was because of androidx, if you try to use 0.16.2 version(the latest one without androidx) it'll work

[2019-05-07 20:00] dmac81 commented on #254
I switched to using this:

[code]

Which I know is an utter hack but it is deploying to a Simulator and connecting to Flipper Desktop with CocoaPods 1.6.0

Will try @priteshrnandgaonkar solution when I get a chance

[2019-05-13 02:37] zhanghao06 opened #443 "yarn start Compile failed"
⚙️  Compiling DeviceCPU...
❌  Plugin DeviceCPU is ignored, because it could not be compiled.
Error: `fsevents` unavailable (this watcher can only be used on Darwin)
    at new FSEventsWatcher (/Users/v_zhanghao06/Desktop/flipper/static/node_modules/sane/src/fsevents_watcher.js:37:13)
    at createWatcher (/Users/v_zhanghao06/Desktop/flipper/static/node_modules/jest-haste-map/build/index.js:897:23)

[2019-05-13 05:53] zhanghao06 commented on #443
already solved ，Generate the client

[2019-05-13 09:43] #443 closed

[2019-05-13 21:56] mbiamont opened #444 "Cannot create custom plugin"
## 🐛 Bug Report
I can't create a custom plugin.
I've followed the tutorial but looks like the custom plugin isn't detected.
In the Android side, the custom plugin is detected, but nothing appears in the Electron client.

See :
![Screenshot](https://github.com/mbiamont/sample-flipper-plugin/blob/master/screenshots/screenshot1.png?raw=true)

Maybe it's coming from my configuration but I can't see wh

[2019-05-14 09:39] passy commented on #444
Thanks for the detailed issue, @mbiamont!

Your setup looks correct to me. Can you try to start Flipper directly from the console to see if there are any logs about it trying to load the plugin? On MacOS, you can do that by running `~/Path/To/Flipper.app/Contents/MacOS/Flipper` or `yarn start` in the repo checkout.

[2019-05-14 09:48] mbiamont commented on #444
Thanks for the quick answer @passy .

Here're the logs:

[code]

Looks like my plugin is wrong. But I just copied it from the tutorial. I don't know what's the problem.

[2019-05-14 13:10] mbiamont commented on #444
Now it works great!

Thanks, @danielbuechele & @passy

Maybe you should consider updating the doc to explain to install watchman 😄

Also, totally not related, but where can I find the available icons (the ones declared in `package.json`), like `"icon": "apps"`?

[2019-05-14 13:25] danielbuechele commented on #444
Great! Yes, I will update our docs.

For the icons, the situation is a little unfortunate, because we don't have a complete list that we can provide. The icons are provided from our CDN and there are 1k+ icons available, perhaps you can find a matching icon by guessing its name. If you are looking for a specific icon, I can see if it's available and let you know. Sorry, I know this situation isn't

[2019-05-14 13:44] #444 closed

[2019-05-18 22:49] passy commented on #366
This has now been removed.

[2019-05-18 22:49] #366 closed

[2019-05-19 10:28] s1rius opened #450 "Discussion: [Plugin][Android] An other constructor for SharedPreferencesFlipperPlugin"
Hi, Can we create an other constructor for SharedPreferencesFlipperPlugin ?

Because I have a custom SharedPreferences implementation in a project. I cant just pass SharedPreferences's mode, name or a `SharedPreferencesDescriptor `.

Maybe we can add a constructor like below
[code]
(And thanks build this tool)

[2019-05-19 17:17] SaqibJDev commented on #314
I was able to make it work with `-keep class com.facebook.** { *; }` only.

[2019-05-21 10:30] paour opened #451 "Discussion: Add support for deleting a shared preference"
In Flipper 0.20, I can edit a shared preference item, but I can't delete one. If I delete the contents of a string preference, I end up with an empty string but I can't remove the preference item.

[2019-05-23 15:50] LeeWong commented on #187
Any news on this request?

[2019-05-28 09:21] danielbuechele commented on #451
I would love to merge a PR adding this feature!

[2019-05-28 20:18] technoir42 opened #452 "Android app running on Android Q emulator doesn't show up in Flipper"
Android app running on Android Q emulator doesn't show up in Flipper.
I have this errors in Console:
[code]

Flipper 0.21.0

[2019-05-29 18:09] abaker opened #453 "Discussion: Execute SQL statements using databases plugin"
It would be great if the databases plugin had support for executing SQL statements, similar to the [database inspection feature](https://facebook.github.io/stetho/#features) in Stetho

[2019-05-30 19:53] AnkitPatanaik commented on #453
+1, would love to see this.

[2019-06-02 14:00] mgoyanes opened #456 "Discussion: Copy Response Body in Network Plugin"
Hi.

I'm seeing some issues when trying to preview and copy the response body in the network plugin.

If I have this API response:

[code]
Response Body shows properlly formated and I can select the copy the entire tree or create paste option.

My API also returns this:

[code]
But this time, no matter if I select the boby parsed or formatted, the response Body section does not show this response

[2019-06-03 13:02] paour opened #457 "The network plugin crashes the app on large responses"
## 🐛 Bug Report

If I set my app to use the network plugin, then I download a very large file, the app crashes with an OOM exception.

## To Reproduce

Download a large file with an app set to use the network plugin.

What happens is that the network plugin [instructs OkHttp to load the entire response body in memory](https://github.com/facebook/flipper/blob/master/android/src/main/java/com/facebo

[2019-06-03 13:12] danielbuechele commented on #457
Thanks for reporting. I guess we could implement some logic here that only adds the body, if it's smaller than a certain size: https://github.com/facebook/flipper/blob/master/android/src/main/java/com/facebook/flipper/plugins/network/FlipperOkhttpInterceptor.java#L63

[2019-06-03 13:13] paour commented on #457
Yes, that would be even better!

[2019-06-05 02:45] erawhctim opened #458 "Discussion: Host android sample APK within the repo?"
It'd be convenient to just grab the APK and install it directly, since the first compile could be lengthy. Not sure if its easier to host in the official Github "releases" section, or just in a directory in the repo.

Thoughts?

[2019-06-06 10:59] vkotovv opened #460 "Docs: Can't click on Features index page from inner pages"
From inner pages (like https://fbflipper.com/docs/features/logs-plugin.html) I can't click on the Features title and get to the Features index page (https://fbflipper.com/docs/features/index.html).

This is true for every feature page.

![Screenshot](https://user-images.githubusercontent.com/1636249/59028027-37c04c80-8863-11e9-8ec5-25ee71dd013e.png)

[2019-06-06 11:01] vkotovv commented on #171
@yschimke your link is no longer working.

[2019-06-06 11:04] passy commented on #171
This got expanded and now lives here: https://fbflipper.com/docs/extending/establishing-a-connection.html

[2019-06-06 11:04] #171 closed

[2019-06-06 17:37] xiphirx commented on #33
https://github.com/facebook/flipper/commit/a630b50a8f824928546a3d9d0c2d4949ca3d3afc

[2019-06-06 17:37] #33 closed

[2019-06-07 06:23] qichuan opened #461 "[Android] Build failed with latest NDK r20"
## 🐛 Bug Report

The Android build failed if using the latest NDK r20.

The build is successful with NDK r19.

## To Reproduce

Simply run `./gradlew :sample:installDebug`

## Expected Behavior

The build should be successful
## Environment

Build log:
[code]

[2019-06-07 08:11] passy commented on #461
Thanks for the report. We seem to generally be quite fragile when it comes
to our NDK dependency. This comes from folly which is developed separately
but I'll check if there's an update we haven't pulled in.

On Fri, 7 Jun 2019, 07:23 Qichuan (Sean) ZHANG, <notifications@github.com>
wrote:

[2019-06-08 15:37] mgoyanes commented on #456
Hello again.

I think I found the problem.

The header response contains `Content-Length: 339`. Since the response is pretty-printed (????), it's length is actually `606`.

With this response:

[code]

These are my findings:

- Not sending `Content-Length`, Flipper displays the response properly formatted (regardless of sending the response pretty-printed or not).
- Sending `Content-Length`, Flipp

[2019-06-09 10:33] BoD commented on #284
A generic db plugin has been merged ( https://github.com/facebook/flipper/issues/33 ).  Since it's generic, it looks like it could be extended to support Realm.

[2019-06-10 13:48] passy commented on #460
@vkotovv That's how our navigation is set up. I would say this works as intended.

[2019-06-10 13:49] passy commented on #458
I never considered that, but it's a pretty good idea! The rest of our release procedure is automated so we'd need to update that, but it should be possible. Thanks for the suggestion.

[2019-06-10 13:51] passy commented on #452
I don't think that's related to the emulator version. It seems that you don't have a full SDK installation. We should provide a better error message for this, but you need to have at least `adb` installed on your machine.

[2019-06-10 14:15] vkotovv commented on #460
@passy looks a bit confusing imo. I've missed the index page because of this. Although a minor issue.

[2019-06-10 14:33] jknoxville commented on #452
I think this is probably due to Flipper not currently having a good way to deal with custom android sdk installation locations. It looks for an ANDROID_HOME env variable, and falls back to `/opt/android_sdk/`.

However, env variables set in .bashrc files and similar aren't loaded for GUI applications, unless you launch them from the terminal.

One way to workaround this would be to either move you

[2019-06-10 14:40] mitchware-cfa commented on #458
Awesome! Yeah, that was my thought as well. Especially due to NDK variability (like mentioned in #461) and other things that might impact the android build in master.

[2019-06-10 16:25] passy commented on #460
This is the default behaviour for Docusaurus. You can see that on the example pages here: https://docusaurus.io/en/users

It might be worth opening an issue there to check if others have found this to be counter-intuitive, too.

[2019-06-10 16:25] #460 closed

[2019-06-10 17:00] technoir42 commented on #452
@jknoxville you are right, I've set $ANDROID_HOME and $PATH in `.bash_profile` only but it's not the real culprit.
I've tried opening Flipper using `open -a Flipper` and also symlinking Android SDK to `/opt/android_sdk` then opening normally. While in both cases the first two errors disappeared Flipper still doesn't see my app on Q. There is no such issue with API 28 emulator.

<img width="1388" a

[2019-06-11 14:07] jknoxville commented on #452
Thanks for that @technoir42
Does expanding that error in the console provide a helpful stack trace?

If I had to guess I'd say this might be happening during the adb reverse command we run, which sets up a tunnel from the emulator to the host computer.

If you run `adb reverse tcp:8088 tcp:8088` and `adb reverse tcp:8089 tcp:8089` that may shed some light on the problem - if that fails then there

[2019-06-11 15:51] technoir42 commented on #452
That's exactly what happens. `adb reverse` actually fails with Q Google Play image:
[code]
I also tested with Q non-Google Play image and adb reverse succeeds there.

[2019-06-11 16:27] mlc opened #464 "Docs: README says this is OS X only, but it seems to work fine on Linux"
The `README` for flipper suggests that the desktop app component of this only works on OS X. But if you clone the repo on Linux and do `yarn && yarn start`, it seems to work just fine. Even if the level of official support and packaging is likely to continue to stay lower on Linux than OS X, the `README` (and other relevant documentation) should be updated to at least hint that this is a possibili

[2019-06-11 16:39] passy commented on #464
I thought "(while Flipper is buildable using other systems as well, only macOS is officially supported)" would imply that. Any suggestions how we could make that more clear?

[2019-06-11 22:15] soupormario77 commented on #33
Quit sending me messages you fucking fat head!

Mario,
1-805-336-3069

On Thu, Jun 6, 2019 at 10:37 AM Hilal Alsibai <notifications@github.com>
wrote:

[2019-06-12 01:51] erawhctim commented on #457
Could this be related to #215? That one's been hindering me for a while, and I can't quite nail down the exact cause (though it seems to be more common with bigger response sizes).

[2019-06-12 06:43] paour commented on #457
@erawhctim one of the more recent comments on that ticket mentions crashing on a 25kB JSON payload. This ticket is describing a multi-MB that crashes the Android side with an out of memory exception (because it's trying to load the entire file into memory rather than streaming it to local storage). If it is related, it's pretty tangentially. Also, the root cause for this ticket is well understood.

[2019-06-13 00:48] tdubourg commented on #90
@passy it certainly still is an issue. It's actually really bad, it makes flipper almost unusable. You have to keep pressy "clear", if your logs are scrolling fast, then it's simply useless.

[2019-06-13 04:26] jaychang0917 commented on #158
What is the state now? I found the `com.facebook.flipper:flipper-noop:0.21.0` is not working at all.

[2019-06-13 16:16] passy commented on #158
@jaychang0917 Can you elaborate?

[2019-06-13 19:00] ubuntudroid commented on #158
@passy I've just noticed the same: the flipper plugins (that is, their API) are not covered by the no-op artifact meaning you get compilation errors when using plugins and building build types declaring the no-op dependency.

[2019-06-14 08:36] jaychang0917 commented on #158
I managed to wrap the setup of flipper to a class (e.g. `FlipperHelper`) and put it in `src/debug/java` and provide a no-op `FlipperHelper` in `src/release/java`, then I don't need the flipper no-op dependency now.

[2019-06-14 09:02] passy commented on #158
@jaychang0917 That's what we recommend. We won't be able to maintain a full no-op copy of all the plugins and the code size of the dependency at that point would be non-negligible which kinda defeats the point.

We do the same in our sample app: https://github.com/facebook/flipper/blob/master/android/sample/src/release/java/com/facebook/flipper/sample/FlipperInitializer.java

I'll close this issue

[2019-06-14 09:02] #158 closed

[2019-06-15 00:44] jbarr21 commented on #215
still exists on v0.21.1 (desktop and library)

[2019-06-15 19:48] abeemukthees commented on #215
Two more months for the 1st anniversary on this issue. 😛

[2019-06-15 21:49] #464 closed

[2019-06-16 11:33] suyimo opened #467 "[iOS] Crash when task nil"
https://github.com/facebook/flipper/pull/466

`iOS/Plugins/FlipperKitNetworkPlugin/SKIOSNetworkPlugin/FLEXNetworkLib/FLEXNetworkObserver.mm`

` objc_setAssociatedObject(connectionOrTask, kFLEXRequestIDKey, requestID, OBJC_ASSOCIATION_RETAIN_NONATOMIC);`

On our app, if local cache resource are valid, we don't create a Task .So here are crash.

[2019-06-18 11:03] #467 closed

[2019-06-18 18:17] mitchware-cfa opened #468 "Discussion: SharedPreferences plugin default name"
The `SharedPreferencesFlipperPlugin(Context)` constructor uses `context.getPackageName()` as the name of the preference file to lookup. However, `PreferenceManager.getDefaultSharedPreferences(Context)` uses `context.getPackageName() + "_preferences"` as the default name, which I think could be misleading.

I'm not sure, however, if that implementation within `PreferenceManager` changes between OS

[2019-06-18 18:31] mitchware-cfa opened #469 "Shared Preferences: Boolean value changelog updates don't display properly"
## 🐛 Bug Report
When `SharedPreferences` updates are sent back to Flipper and displayed, the "Value" column is blank for booleans

## To Reproduce
- Setup Flipper with an Android sample app, a `SharedPreferences` reference, and the `SharedPreferences` flipper plugin installed.
- Set a boolean value in the preferences
- Update that value at runtime and observe the changelog in flipper

## Expected

[2019-06-18 18:33] mitchware-cfa opened #470 "Shared Preferences: Changelog updates aren't reflected in the inspector"
## 🐛 Bug Report
When `SharedPreferences` updates are sent back to Flipper, the "current" values displayed in the inspector are not updated to reflect the changes in the changelog.

## To Reproduce
- Setup Flipper with an Android sample app, a `SharedPreferences` reference, and the `SharedPreferences` flipper plugin installed.
- Set a value in the preferences
- Update that value at runtime and obse

[2019-06-19 15:20] jknoxville commented on #90
Fixed in 6bdaa6aff1aaba62768d61495debdd7dc8f75391

Will be included in the next release (v0.21.2)

[2019-06-19 15:21] #90 closed

[2019-06-21 12:21] bpoplauschi commented on #254
Update for CP 1.7+ - I tried @dmac81's solution, but it didn't work (all frameworks were still built as dynamic). What worked for me was
[code]
For previous CP versions, you can use the same approach (just replace `build_as_static_framework` with `static_framework` which got deprecated in CP 1.7 - https://www.rubydoc.info/gems/cocoapods/Pod/Target:static_framework%3F).

[2019-06-25 10:22] paour opened #471 "x86 libs removed in 0.22.0"
## 🐛 Bug Report

When I upgrade my Flipper dependency to 0.22.0 from 0.21.1, my app crashes on launch on Android Emulator.

## To Reproduce

The crash log contains:

[code]

## Expected Behavior

No crash, as in previous versions.

I see in the AAR build that the x86 libs are missing in 0.22.0 (they were included previously).

## Environment

Mac, Android Studio 2.5beta4, Android Emulator:

[code]

[2019-06-26 11:11] IDFDeveloper commented on #24
I have solved my issue [by using this ] configurationTag in gradle file. Thanks !

(https://github.com/facebook/flipper/issues/24#issuecomment-396400133)

[2019-06-27 06:56] henryzx commented on #215
still exists on v0.22.0

[2019-06-27 08:12] passy commented on #215
If you create a Flipper export and attach that, that would help us a lot to
reproduce that issue.

On Thu, 27 Jun 2019, 07:56 Xio (λ), <notifications@github.com> wrote:

[2019-06-27 09:37] martynhaigh commented on #215
Having the same problem.  Here's an export:
[FlipperExport.flipper.zip](https://github.com/facebook/flipper/files/3333952/FlipperExport.flipper.zip)

[2019-06-27 12:36] henryzx opened #472 "Docs: Blocking fullscreen views (Android only)"
in section: https://fbflipper.com/docs/setup/layout-plugin.html#blocking-fullscreen-views-android-only

[code]

doesn't match android View's method signature: `setTag(int, Object)`

please fix

[2019-06-27 16:31] #472 closed

[2019-06-28 22:29] technoir42 commented on #471
Can confirm. x86 libs were removed in this commit: https://github.com/facebook/flipper/commit/7d8db465e1b56a8f1ea1dc4f005beba3cf59eb31

[2019-07-02 07:30] henryzx commented on #215
Seems this function caused the problem.
The whole network payload is loaded in stack before return.
any idea?

`src/plugins/network/utils.js`

[code]

[2019-07-02 08:17] henryzx commented on #472
thanks for fixing this

[2019-07-02 22:21] qichuan opened #475 "Discussion: Network plugin response mocking"
Hi everyone,

I am thinking of a new feature for network plugin, to perform network response mocking right inside Flipper. It will bring convenience to developers when they want to use mock data in the app when the backend service is not yet ready.

I have written a simple POC, and this is how it looks.

![2019-07-03 06 06 12](https://user-images.githubusercontent.com/410850/60549983-187ce800-9d59

[2019-07-03 06:39] henryzx commented on #215
@passy May I ask when will this fix deliver? What is the planning of next release?

[2019-07-03 09:11] jaripekkala commented on #381
@franticn Hello! Did you ever get this resolved?

I'm having the exact same issue using https://github.com/blankapp/flutter_flipperkit

[2019-07-03 10:22] franticn commented on #381
No! I using `Stetho` now

[2019-07-03 12:57] jaripekkala commented on #381
Hey @jknoxville is there anything I can do to get this issue resolved?

I can now launch Android emulators from Flipper. However the device doesn't show up in the same devices menu after the mobile app is ran.

[2019-07-03 14:13] jknoxville commented on #475
Love this!

I had actually started implementing something very similar myself, but yours looks more polished. I especially like how you've highlighted the rows containing mocked data.

I would suggest getting a minimal working version complete, and then adding any other additional features afterwards.

Feel free to ship it with only Android support to start with, we can use the supportsMethod call

[2019-07-03 18:29] kuhnroyal commented on #471
I got a crash on Android pretty much like issue https://github.com/facebook/flipper/issues/307.
But it is very likely this problem here, juts linking the issues if someone finds it by googling.

[2019-07-03 18:54] paour commented on #471
Indeed I got that one too, usually following a version bump. The difference
is that this ticket can't be fixed by a clean build. But good job looking
the two, that makes the error message easier to correlate with the ticket.

On Wed., Jul. 3, 2019, 20:29 Peter Leibiger, <notifications@github.com>
wrote:

[2019-07-04 09:10] passy commented on #471
Thanks for the report. Removing the x86 deps was not intended. I'll check if we can revert this.

[2019-07-04 11:45] sajidjutt7 opened #477 "couldn't find DSO to load: libflipperfb.so Not working in Emulator only"
## 🐛 Bug Report

For earlier information: I was getting this error on build. it was not letting me build project.

which i resolved by Migration of support libraries to AndroidX. Doing that above issue resolved and my code start building.

Now after adding complete setup of flipper under build.gradle, AndroidManifest and MyApplication class. When i go to run project. my app is getting crash with l

[2019-07-04 13:20] passy commented on #215
Hey @henryzx! Thanks for the fix. We have one issue we're currently trying to fix blocking releases but that should hopefully happen either today or tomorrow and then we can tag a new release.

[2019-07-04 13:29] #471 closed

[2019-07-04 13:54] sajidjutt7 commented on #477
I have just tried to downgrade the version from this

[code]
to this

[code]

It is now working on both Devices as well as emulators.

This issue is now closed. I am just telling that previous version is working. But getting error on 0.22.0

[2019-07-04 21:39] kuhnroyal commented on #477
See https://github.com/facebook/flipper/issues/471

[2019-07-04 22:30] kuhnroyal opened #478 "Question: FlipperKit header files not found"
Trying to follow the getting started for iOS from the website, I always end up with this error.
`'FBDefines/FBDefines.h' file not found` when trying to build my project in XCode.
The file is in this repository but not in my locally built pod.
I am using `use_frameworks!` and uncommented everything related.

I tried versions 0.22.0 and 0.21.1
Swift 5

Any ideas what I am doing wrong?

[2019-07-05 10:49] sajidjutt7 commented on #477
Thanks @kuhnroyal .  But in #471 no one tells. how can i delete x86 deps to test if 2.0.0 is working on emulator?

[2019-07-05 22:10] qichuan commented on #475
I am glad that you like it :)

Let me do some touch-ups and will create a PR for Android implementation first.

[2019-07-06 10:42] kuhnroyal commented on #477
Try to use 0.23.0 and clear all cache, uninstall the old app etc. before rebuilding

[2019-07-07 08:39] sajidjutt7 commented on #477
Thanks @kuhnroyal updating library to 0.23.0 soloader to 0.6.0 is working. Thanks

[2019-07-07 08:39] #477 closed

[2019-07-08 08:29] Aleksandr93 opened #482 "Question: Crash on start"
I done all steps from documentation setup. But I get crash when I start application. (Android)

app module
[code]
Application onCreate
[code]
I get this crash
[code]

What could be the problem?

UPDATE: This problem only on emulator. On physical device work.

[2019-07-08 08:59] passy commented on #482
You're likely using an x86_64 emulator and something is making an illegal syscall. You can read more about this here: https://android-developers.googleblog.com/2017/07/seccomp-filter-in-android-o.html

Without some more information from the stacktrace it's not possible to tell where this is coming from, however.

[2019-07-09 13:33] bizzguy opened #483 "Question: I'm trying to create a custom log plugin."
I'd  like to create a plugin that uses the log data but filters it and displays it in a custom format.  I'm using Adobe Analytics which writes to the log and would like to capture the log messages and display them in a special format.

The log plugin seems like a special case since it is not app specific.  The default plugin is the log plugin (which I'd like to keep).  I've looked at the log plugi

[2019-07-09 15:22] jknoxville commented on #483
Hey, thanks for your interest in creating a plugin!

There are two types of plugins, client plugins, and device plugins. Client plugins provide app-level data, for example Layout, Network etc. Device plugins are generic and provide insight into device-level insights, for example the Logs plugin.

I'd start off by creating a new plugin, following the Logs plugin as a template, and modifying it from

[2019-07-10 05:23] felislynx-silae opened #484 "Question: iOS Logs are not visible in client"
I've completed setup for app. I see Layout/Network/SharedPreferences plugins and they work. But i don't get any logs Logs (print,nslog,oslog). It is working only for android. Is it a bug or i've setup something else?

[2019-07-10 09:23] passy commented on #484
There shouldn't be anything you need to setup. @priteshrnandgaonkar do you have any ideas how to debug this?

[2019-07-10 11:01] kuhnroyal commented on #478
This might have to do something with header/framework search paths.
So if someone has a working Swift example with . `use_frameworks!`, that would probably help.

[2019-07-10 17:09] davidmcraejr opened #485 "Discussion: Folly use of an OpenSSL pod that is built with bitcode turned on"
Thoughts on switching to using a pod that includes bitcode support for OpenSSL which is a dependency of Folly such as openssl-ios-bitcode

Side note: anyone know which repo Follys podspec originates from?

[2019-07-11 02:32] lijy91 commented on #398
@danielbuechele any news?

[2019-07-12 02:05] Aquarids opened #486 "Question: How can I filter logs by processes?"
Version: 0.23.0

It seems flipper get all logs from my android device, there are too many logs, how can I filter them by processes just like the logcat of android studio?

[2019-07-12 08:18] henryzx opened #487 "Discussion: network plugin should support full body filter to support graphql"
The problem is:

when it comes to **graphql** network requests, the domain are all the same...
It is basically impossible to find the request we want through filter.

So,
1. Is there any plugin under development intended to support graphql?
2. Is there any hidden trick for this?
3. or we may include request header/request body/response header/response body into filter text.

looking forward any fe

[2019-07-12 11:55] priteshrnandgaonkar commented on #485
Folly podspec's definition is [here](https://github.com/facebook/flipper/blob/master/iOS/Podspecs/Flipper-Folly.podspec). The source code to which it refers to is [this](https://github.com/facebook/flipper/blob/master/iOS/Podspecs/Flipper-Folly.podspec).

Let me try using openssl-ios-bitcode

[2019-07-12 12:12] lijy91 opened #489 "Error installing OpenSSL-Static"
## 🐛 Bug Report

Cannot install [OpenSSL-Static](https://github.com/bruceyibin/OpenSSL.git/), I noticed that it has been removed, so I can't install Flipper now.

[code]

## To Reproduce

Remove `OpenSSL-Static` cache.

[code]

## Expected Behavior

## Environment

[2019-07-12 12:16] priteshrnandgaonkar commented on #489
I am on it.

[2019-07-13 12:44] QADOOMI commented on #146
after this warning appears the google material design style won't apply on MaterialCardView!! any suggestions how to fix it and why this happening?

[2019-07-15 03:56] henryzx commented on #451
Really needed too!

[2019-07-16 04:36] felislynx-silae commented on #489
@priteshrnandgaonkar is there any ETA for that? It prevents me to build project with flipper :/

[2019-07-16 04:43] lijy91 commented on #489
@felislynx-silae i upgrade flipper to 0.23.1 problem solved.

[2019-07-16 04:43] #489 closed

[2019-07-16 15:48] dmac81 commented on #485
Thanks @priteshrnandgaonkar!

[2019-07-18 14:08] bizzguy commented on #483
This was very helpful.  I've created the device plugin based on log but I can't get flipper to recognize it.  I've updated the ".flipper/config.json" to point to the plugin directory.  I tried using the existing directory as well as creating a new one.

{
  "pluginPaths": [
    "~/.flipper/custom-plugins/bloodhound",
    "~/.flipper/plugins/bloodhound"
  ],
  "disabledPlugins": [],
  "lastWindowPo

[2019-07-18 22:47] mo-vericatch opened #494 "Question: Android Handling Build Variants"
Hi!
In the official documentation, we add a `debugImplementation` and `releaseImplementation`.

Then in the our Application class we initialize.
This works perfectly ok until its ready to produce a `release` variant, which obviously means different dependencies.

This creates an issue as the expected behaviour is to have `SoLoader` (and others) in the `no-op` dependency to make it work

This is fr

[2019-07-19 02:27] qichuan commented on #475
Hi @jknoxville The PR is ready at https://github.com/facebook/flipper/pull/488

However, the [build](https://travis-ci.com/facebook/flipper/jobs/215501896) failed due to `The command "pod install --silent" failed and exited with 1 during .` Can you please take a look? Thanks

[2019-07-19 06:15] jbarr21 commented on #482
i'm also running into this, the information provided by the Flipper Crash reporter is below. I get this when running the flipper sample app using `./gradlew :sample:installDebug` as of `d81a0379` on an x86-64 Pixel XL API 26 emulator. Please let me know if I can provide any more information that would help diagnose this issue

[code]

[2019-07-22 04:17] KylChiang opened #495 "Question: Stuck in the glog kit during cocoapods installation."
### Please help installing the flipper in my objective-c project, thank you!

* cocoapods version: 1.7.3
* developing language: objective-c
* Xcode version: 10.2.1
* FB_SONARKIT_ENABLED flag setting:
![螢幕快照 2019-07-22 下午12 01 11](https://user-images.githubusercontent.com/6602239/61605556-ab35e600-ac78-11e9-97eb-ea15322c5153.png)

* podfile (from getting started guide):
[code]

* Pod install log:
[

[2019-07-22 10:33] passy commented on #495
cc @priteshrnandgaonkar

[2019-07-22 14:46] passy commented on #482
I can reproduce that, too. It seems to be coming from `libevent` which is one patch version behind the one AOSP includes. We'll look into updating it.

[2019-07-23 18:21] justintuchek opened #497 "Discussion: LeakCanary v2"
Hi 👋

I was just wondering if support for LeakCanary v2 was on anybody's written or mental roadmap?

If not, open to a PR? Not sure on the scope of work but would be willing to at least check it out!

Thanks 🙇

[2019-07-23 19:00] passy commented on #497
Not on the roadmap at the moment, but *definitely* open for PRs. :)

[2019-07-24 08:52] henryzx opened #498 "SDK Plugin won't load, says 'error Make sure the date and time of your device is up to date'"
## 🐛 Bug Report

plugin won't load

[code]

## To Reproduce
open flipper desktop
open android app with sdk
observe loading plugin in flipper desktop
above log appears in logcat

## Expected Behavior
will load plugin

## Environment

flipper macos 0.23.2
flipper android sdk 0.23.1

[2019-07-24 09:12] jknoxville commented on #498
Thanks for the report.

Firstly, apologies for the obvious question, but just to cover all bases, make sure the clock on your desktop, and the clock on the mobile device / emulator are in sync, otherwise SSL won't work between them.

If that's not the issue, I changed the way certificates are generated in the latest release. So let's first rule out whether that could be the cause.

Can you try run

[2019-07-24 09:16] jknoxville commented on #498
Oh and run this command before trying the old release, just to make sure the test is clean.
`mv ~/.flipper/certs ~/.flipper/certs.old`

[2019-07-24 10:20] henryzx commented on #498
@jknoxville thanks for the quick reply! Tried your way and it worked again.

[2019-07-24 10:35] henryzx opened #499 "Discussion: Sort SharedPreference by name"
as titled

Is it possible to sort preference like stetho did?

[2019-07-24 10:37] jknoxville commented on #498
Thanks, To fix this, I may be able to simply revert that change. But it would be helpful to know what went wrong.

Would you mind uploading a zip of your ~/.flipper folder so I can see what it contains?

Also, when the broken version is running, if you press Cmd-Option-I the dev tools should appear, in the dev tools console, are there any errors shown? If so copying those would be helpful too.

[2019-07-24 13:39] jackqack commented on #498
I have exactly the same issue starting from today. It worked perfect, for instance, last week.

[2019-07-24 14:51] bizzguy opened #500 "Question: I am creating a device plugin (one that uses the log) and it is not loading"
I'm creating a custom plugin that filters the log and formats certain kinds of log messages.  My understanding is that this is a "device" plugin and not an "app" plugin.  I created it based on the current "Logs" plugin.

I've updated the ".flipper/config.json" to reference the plugin directory:

[code]

I placed the plugin code into ".flipper/plugins/bloodhound"

I started Flipper but the plugin w

[2019-07-25 04:00] b95505017 opened #501 "java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libflipperfb.so"
android lib update to `0.23.2` and crashed. While `0.23.1` worked

[2019-07-25 08:39] henryzx commented on #498
@jknoxville the ~/.flipper folder content:
[flipper.zip](https://github.com/facebook/flipper/files/3430543/flipper.zip)
and the console:
<img width="1550" alt="Screen Shot 2019-07-25 at 4 35 23 PM" src="https://user-images.githubusercontent.com/2392011/61859411-aa13eb80-aefa-11e9-8829-b356d1ef9e37.png">

[2019-07-25 09:07] franticn commented on #498
I have exactly the same issue when flipper auto-upgrade to  0.23.2

[2019-07-25 12:09] jknoxville commented on #498
Thanks all for reporting this so quickly. I've made a new release without that change: https://github.com/facebook/flipper/releases/tag/v0.23.3

If that doesn't work initially delete the ~/flipper/certs folder and try again.

Closing this issue, but please reopen if this doesn't fix it for you.

[2019-07-25 12:09] #498 closed

[2019-07-25 12:38] passy commented on #501
Could you please follow the template and provide context for us to help you?

[2019-07-25 12:38] #501 closed

[2019-08-01 09:56] dral3x commented on #314
I was able to make it work with just 2 lines:
[code]

If you use `-keep class com.facebook.** { *; }`, you're also keeping the whole FB SDK, not just flipper.

[2019-08-01 10:09] simaofelgueirasJM commented on #314
That's true, I still need the -dontwarn lines, did not research a lot about it. Since it is not a release build I did not care much.

The rules that I figure it out to be the most specific ones for flipper are this ones:

-keep class com.facebook.jni.** { *; }
-keep class com.facebook.flipper.** { *; }

-dontwarn com.facebook.litho.**
-dontwarn com.facebook.flipper.**
-dontwarn com.facebook.yoga.*

[2019-08-02 10:18] passy commented on #314
@simaofelgueirasJM You may want to use ``` to surround your code block with, otherwise GitHub will interpret the asterisks as Markdown syntax.

[2019-08-02 10:27] simaofelgueirasJM commented on #314
Ya, really thank you @passy , the answer is updated. I completely forgot that, because did not consider the proguard rules to be code and for some reason the rest was working as expected.

[2019-08-04 12:19] Mahmoood commented on #482
This issue reproduced on x86-64 emulators.
Worked on x86 emulators without any issue.

[2019-08-04 18:58] bizzguy opened #507 "Question: How do I sort a ManagedTable?"
I'm creating a plugin based on the "logs" plugin.  It shows log messages that have been filtered.  However, I want them to display in reverse (with the most recent at the top).

Here is the code I am using to try to do this:

[code]

[2019-08-04 18:59] bizzguy commented on #507
I always want to use the sort order and want it to be maintained as additional log entries are received.

Any help would be greatly appreciated.  Thanks.

[2019-08-04 19:01] bizzguy commented on #500
I decided to try a different approach.  I'm using the github repo and adding the plugin under "flipper/src/plugins" and I'm building a custom version of flipper using "yarn start".

I'm now seeing the plugin.

[2019-08-04 19:01] #500 closed

[2019-08-04 19:41] jknoxville commented on #507
I believe the only way to do this at the moment, is to do the sorting yourself and pass the rows prop already sorted.

[2019-08-04 20:35] bizzguy commented on #507
Thanks much for the quick reply

[2019-08-05 18:37] bizzguy commented on #507
I was not able to figure out how to sort the rows.  However, there is a method called whenever a new row is created and I was able to modify that method to put the new row at the beginning of the array rather than at the end.  So this achieved the goal I was trying to research (displaying the rows in reverse order by time).

[code]

[2019-08-05 18:37] #507 closed

[2019-08-05 18:41] bizzguy opened #508 "Question: How to programmatically highlight a row."
I have created a plugin based on the "logs" plugin.  When the plugin starts, it shows some rows from the log file.  I would like to have the first row highlighted (and to run any code that runs when the row is highlighted by user interaction).

The rows are displayed in a <SearchableTable> component.

Any ideas?  Thanks.

[2019-08-05 22:25] spectrl opened #509 "App name string overriden and set to "Yoga""
## 🐛 Bug Report
I have a string named `app_name` which is used to set the `android:label` of my application in the AndroidManifest.xml file, which is then displayed as the app's name underneath its icon in the launcher. However since adding the Flipper dependency and setting it up, my app name is now showing up as "Yoga" (see screenshot).
This seems to be happening whenever I use `@string/app_name

[2019-08-06 15:45] jknoxville commented on #508
In general, a good way to find out how to do things like this is read the available props on the components to see if any does what you want.

You can see [here](https://github.com/facebook/flipper/blob/master/src/ui/components/table/ManagedTable.js#L115) in ManagedTable.js that there's a `highlightedRows` prop where you can specify this.

`onRowHighlighted` lets you specify a callback to run when

[2019-08-06 15:45] #508 closed

[2019-08-06 15:47] jknoxville commented on #486
Right-click on the column header, where it says Time, Message, etc.

Then tick PID.
Then you'll be able to click on a PID value to filter by it.

[2019-08-06 15:47] #486 closed

[2019-08-06 15:49] jknoxville commented on #483
Not that I'm aware of. Could it be that you've got absolute paths in that code snippet, when you actually want paths inside ~?

[2019-08-06 20:16] bizzguy commented on #484
I am having a similar issue.  I can't see any logs for a physical ios device.  For a simulator, I see some log messages but custom log messages written in the app.  The log messages I see seem to be coming from the phone os.

[2019-08-06 20:57] bizzguy commented on #262
I'm wondering if there is any updated on when iOS physical devices will be supported.  Thanks.

[2019-08-07 05:20] stonyz commented on #146
Where to put the code?

[2019-08-07 06:20] vedmack commented on #146
@stonyz put in your (Module) *build.gradle* file (drop it in the end after `dependencies {...}`

[2019-08-07 10:55] passy commented on #509
Oh wow, I had not seen/heard this before. I reckon this must come from a https://github.com/facebook/yoga/blob/e224a29d1cbfd4d662392a7c69e0939d9278c3cf/java/res/values/strings.xml. Would you mind opening an issue over there? I'm not sure why that's part of the top-level Java code. Could there for a good reason or an oversight.

[2019-08-08 13:42] martynhaigh opened #510 "Flipper not showing app"
## 🐛 Bug Report

Running flipper on my debug build results using a X86 emulator, no plugins showing but the diagnostic screen shows ticks everywhere

<img width="2293" alt="Screenshot 2019-08-08 at 14 38 10" src="https://user-images.githubusercontent.com/155352/62707942-3d184f80-b9ea-11e9-9edd-54c1c110b77a.png">

## Environment

Android: API Pixel 2 28 emulator (x86)
Flipper version: 0.23.4
OS: Ma

[2019-08-08 13:48] passy commented on #510
That's odd. Could you check if the logs in the DevTools (View -> Toggle Developer Tools) show anything?

[2019-08-08 13:51] martynhaigh commented on #510
It does!  <img width="760" alt="Screenshot 2019-08-08 at 14 50 58" src="https://user-images.githubusercontent.com/155352/62708779-f9bee080-b9eb-11e9-94f3-49ab247ddd7b.png">

[2019-08-09 11:22] kuhnroyal commented on #478
I have used the changes from this comment: https://github.com/facebook/flipper/issues/254#issuecomment-504405955 which fixed static linking for OpenSSL.

Looking at the headers generated by CocoaPods, `FBDefines/FBDefines.h` is actually in `FlipperKit/FBDefines.h` - if I change this, the error goes away but other missing headers appear.

I would really appreciate some input on how to get Flipper t

[2019-08-09 18:04] ColtonIdle opened #512 "Docs: Missing the need for java 8"
Setting up flipper on a brand new project fails due to a gap in the docs. You need to explicitly target java 8 in Android.

You'll get a crash similar to:

[code]

Fix:

[code]

[2019-08-09 18:33] ColtonIdle opened #513 "Question: How do I get the networkFlipperPlugin for OkHttp interceptor"
According to the docs I have to use

`.addNetworkInterceptor(FlipperOkhttpInterceptor(networkFlipperPlugin))`

but that requires a networkFlipperPlugin. I create the networkFlipperPlugin in my App class though. What's the best way to do this?

Also, maybe this could be outlined in the docs better?

[2019-08-12 05:30] eygraber opened #515 "SoLoader: couldn't find DSO to load: libflipperfb.so"
## 🐛 Bug Report

Updated Flipper (0.23.1 -> 0.23.4)
Updated SOLoader (0.6.0 -> 0.6.1

## To Reproduce

As soon as the app starts, it crashes:

[code]

## Expected Behavior

The app doesn't crash

## Environment

Tested on a physical device (Pixel 2 running P)

[2019-08-12 05:32] eygraber commented on #515
Downgrading SOLoader to 0.6.0 and keeping Flipper at 0.23.4 works

[2019-08-12 09:29] passy commented on #512
I'm not sure we have a good place to inform users about this. This doesn't come from a Flipper requirement, but is because of the dependency on okhttp3. If you don't make use of it, the easiest alternative solution is to exclude the dependency.

[2019-08-12 12:18] ColtonIdle commented on #512
Makes sense. But if all someone does is add the dependencies from the docs here, they are greeted with the error above. I think it's easier to just leave a note or warning saying that because of okhttp they will need to use java8 or exclude. I've setup Flipper like 3 different times across projects, and then I wasted an hour on this because I thought I actually messed up something else in my code

[2019-08-12 12:38] jknoxville commented on #453
This has been added in recent commit https://github.com/facebook/flipper/commit/fe56c8471c29f7a0de6f831f0064019acc8226a5, and will become widely available in the next release.

If you build from source you can use the feature now. For arbitrary sql in particular, you'll only need to update the desktop version, but that change adds several features, some of which will require you to also update the

[2019-08-12 12:38] #453 closed

[2019-08-12 13:33] martynhaigh commented on #510
Any ideas on this one?

[2019-08-12 16:05] passy commented on #510
@martynhaigh There doesn't seem to be a version of `adb` that Flipper can use. Can you check if you have `$ANDROID_HOME` set to the directory where you have the SDK installed and run Flipper again with it in place?

[2019-08-13 10:03] tommytcchan commented on #494
I'm getting this as well -- the no-op library doesn't have any of the plugin class shells, leading to the issue you mentioned. There are no docs on handling this so I'm wondering if it's the developers that should be doing this -- or should I write these noop shells in that noop library and submit a pull request?

[2019-08-13 10:42] martynhaigh opened #517 "Android: Invalid address passed to free: value not allocated"
## 🐛 Bug Report

I'm experiencing a crash when I open my Android app with Flipper enabled and the Flipper desktop app open.  Opening the app without the Flipper desktop app open doesn't crash my app

## To Reproduce

Enable Flipper in code and have the desktop app open

## Expected Behavior

My Android application shouldn't crash

## Environment

masOS: 10.14.5 (18F203)
Android: SDK 24
Device: Emu

[2019-08-13 10:47] martynhaigh commented on #510
I was opening the app from another app, not the CLI.

I'm actually encountering another issue (https://github.com/facebook/flipper/issues/517) at the moment which means I can't reproduce this bug atm.  Happy if you want to close this for the moment and I'll reopen once I can reproduce

[2019-08-13 10:58] martynhaigh commented on #517
Ah - I think this is because I'm using a `x86_64` emulator.  trying with a `x86` emulator now

[2019-08-13 11:11] #512 closed

[2019-08-13 11:37] martynhaigh commented on #517
Works fine in `x86` emulator

[2019-08-13 11:37] #517 closed

[2019-08-14 15:32] martynhaigh commented on #510
Opening from the CLI results in the same behaviour:

<img width="1818" alt="image" src="https://user-images.githubusercontent.com/155352/63034352-1908b280-beb1-11e9-9ea7-a7c92f21a340.png">

[2019-08-14 15:43] martynhaigh commented on #510
What's weird is that I'm still getting alerts for things like failed network requests.  Clicking on the "Open in Network" CTA takes me to the Network panel which sees to be working fine but there is no debuggable app, nor any plugins showing:

![image](https://user-images.githubusercontent.com/155352/63035188-a00a5a80-beb2-11e9-9dc5-556345c7af91.png)

[2019-08-14 16:37] passy commented on #510
Wow, that's pretty strange. Do you still see something in the devtools console?

[2019-08-15 08:59] martynhaigh commented on #510
Nothing much, tbh:
![image](https://user-images.githubusercontent.com/155352/63084581-6b92af00-bf43-11e9-8da8-32faa40cafed.png)

[2019-08-15 10:10] jknoxville commented on #510
Hey @martynhaigh ,

Thanks for bearing with us. To rule out whether this is a known issue, can you run the following and reply with the output?

What is the serial of the emulator you're using?
`adb devices`

What does the sonar sdk within your app think the serial is? (replace the package name with your app's)
`echo "cat files/sonar/connection_config.json" | adb shell run-as com.your.apppackage`

[2019-08-15 10:17] martynhaigh commented on #510
Oh, good shout - I'm getting different outputs.  These are both (5554, 5556) emulator ids that I run at different times.

<img width="608" alt="image" src="https://user-images.githubusercontent.com/155352/63088920-33449e00-bf4e-11e9-928c-66c70c3f108e.png">

[2019-08-15 10:23] jknoxville commented on #510
Interesting, my current hypothesis for how this occurs is that the serial
number of an emulator is not fixed and can sometimes get swapped, meaning
that the file containing this id becomes incorrect.

I don't know for sure if that is what's happening, but I'm working on a way
to solve this problem regardless.

In the mean time, you can fix it by running `rm -r ~/flipper/certs` and
restarting flipp

[2019-08-15 10:30] jknoxville commented on #510
It would also be interesting to see the contents of that file in the other emulator (emulator-5556).

If you can make sure flipper is NOT running, and then boot up the other emulator and run this again, that might shed some light on whether the serials got swapped, or if they both now have the same value:
`echo "cat files/sonar/connection_config.json" | adb -s emulator-5556 shell run-as com.your.a

[2019-08-15 11:18] martynhaigh commented on #510
Think I've got it.

I've got two emulators (let's call then #1 and #2), both show up at 5554 if I load them individually, with both showing 5554 when I run the command you gave me.

If I boot both up in the order #1 then #2, then #2 switches id to 5556, and the sonar connection config shows 5554 and 5556, as expected.  Closing them in any order, then opening #2 again shows it as having an id of 55

[2019-08-15 11:49] jknoxville commented on #510
Thanks so much @martynhaigh I've just repro'd the same thing.

We're using serial number as a unique and stable identifier for a device. This works fine for physical devices, but clearly for emulators this is not at all the right approach.

Will have a fix for this coming soon. In the mean time, just to re-iterate for anyone else having this problem, the temporary workaround is to run:

`rm -r ~/.

[2019-08-16 06:49] franticn commented on #513
In `Application` and your initialize `Flipper` function
[code]
Then in your initialize `OkHttpClient` function
[code]

[2019-08-16 07:09] franticn commented on #494
Because [no-op](https://github.com/facebook/flipper/tree/master/android/no-op/src/main/java/com/facebook/flipper) doesn't have package path `com.facebook.flipper.plugins.*`

[2019-08-16 07:15] tommytcchan commented on #494
correct but that means that the no-op package is definitely missing some support for the regular lib, which has all of the plugin extension classes

[2019-08-16 07:39] Sloy commented on #515
I'm having the issue in an Oreo emulator.
The suggested workaround works for me too.

[2019-08-16 08:22] franticn commented on #494
Maybe @jknoxville can help us.

[2019-08-16 13:43] palexs commented on #495
It's possible to specify different Swift version for selected pods, e.g.
[code]

[2019-08-16 16:55] priteshrnandgaonkar commented on #495
@KylChiang , I was not able to reproduce the issue. I just added the following to the  `Sample/Podfile`  to get around the static framework error which cocoapods throws.

[code]
[Here](https://github.com/facebook/flipper/blob/glog-issue/iOS/Sample/Podfile) is the Sample/Podfile which works. Can you check what is different in your podfile and the one which I have.

[2019-08-16 16:56] priteshrnandgaonkar commented on #495
@palexs, we just need swift_version for YogaKit, I will update the documentation with the code snippet which you have shared

[2019-08-19 08:11] felislynx-silae commented on #478
For me more headers are not found, this is quite frustrating that flipper is not working with use_frameworks! :/

[2019-08-19 18:02] priteshrnandgaonkar commented on #254
For CP 1.7+ Objective-C The following worked on the sample app with `use_framework!`

[code]

[2019-08-19 18:03] priteshrnandgaonkar commented on #478
For CP 1.7+  with `use_framework!`, the following worked for me

[code]

[2019-08-19 18:03] priteshrnandgaonkar commented on #478
Will update the sample and docs soon.

[2019-08-19 19:34] priteshrnandgaonkar commented on #484
Apologies for the late reply. It works for me. I built the Flipper app from the source. `yarn && yarn start` and it showed the custom NSLog which is added in the [AppDelegate here](https://github.com/facebook/flipper/blob/bbee7a3357a387e9316c9aabee390cf3fbf4fed5/iOS/Sample/AppDelegate.m#L55)

![Screen Shot 2019-08-19 at 8 30 58 PM](https://user-images.githubusercontent.com/3865908/63293761-ba80718

[2019-08-19 19:35] priteshrnandgaonkar commented on #484
Can you open the console (cmd + option + i) and check if there is any error ?

[2019-08-19 19:37] priteshrnandgaonkar commented on #478
@kuhnroyal  and @felislynx-silae can you try the above solution.

[2019-08-20 00:55] IgorGanapolsky opened #523 "Unable to build in Android Studio"
## 🐛 Bug Report

Cannot build my project after following Flipper directions.  Get this build error:

java.lang.RuntimeException: com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
com.android.tools.r8.CompilationFailedException: Compilation failed to complete
com.android.too

[2019-08-20 04:43] felislynx-silae commented on #484
I'm using latest version 0.23.4 (installed, autoupdated)
[code]

There is no log from print or NSLog, i'm using swift not objective c in project if that makes a difference

My init:
[code]

[2019-08-20 04:53] felislynx-silae commented on #478
@priteshrnandgaonkar It looks it helped, but build time is very long. Maybe putting some things like boost for react as optional might help

[2019-08-20 11:01] passy commented on #523
Trying to repro this right now but everything I've tried so far seems to work, even with 3.6 Canary 6. Can you post the exact gradle command that's failing?

[2019-08-20 11:52] IgorGanapolsky commented on #523
Just trying to run the project from Android Studio.  I gather that there
must be conflicting Gradle dependencies in my proj, as my company has
dozens of them.....

On Tue, Aug 20, 2019, 7:01 AM Pascal Hartig <notifications@github.com>
wrote:

[2019-08-20 14:41] kuhnroyal commented on #478
I got further with this change but can't import `FlipperClient` and `FlipperKitLayoutPlugin` when following the setup.

[code]

[2019-08-21 08:57] Nstd commented on #515
Still not work.
In my project, I set abiFilters as follows:
[code]
But in Flipper android project:
[code]
Is this why I can't find `libflipperfb.so` in the lib/armeabi directory of my apk?

[2019-08-21 09:02] Nstd commented on #515
I have tried to add 'armeabi-v7a to my abiFilters, this error is solved. But It raise other error for other so file.

[2019-08-21 09:09] Nstd commented on #515
@passy , would you let flipper support `armeabi`?

[2019-08-21 09:18] jknoxville commented on #494
Hey guys, take a look at our [sample app](https://github.com/facebook/flipper/tree/7dae5771d96ea76b75796d3b3a2c78746e581e3f/android/sample) for reference. It initializes the client and plugins in a `FlipperInitializer` class, which there is a [debug](https://github.com/facebook/flipper/blob/7dae5771d96ea76b75796d3b3a2c78746e581e3f/android/sample/src/debug/java/com/facebook/flipper/sample/FlipperIn

[2019-08-21 14:47] bizzguy commented on #499
This fix is now in the master branch.  I think this issue could be closed.

[2019-08-21 15:33] #499 closed

[2019-08-21 16:20] mo-vericatch commented on #494
@jknoxville Unfortunately its not that, the dependency is not imported at all because of the scope of the build variant. You can get away with it by using `implementation ... ` configuration scope, but then you will be including the flipper code with release version.

As a workaround until a lib support is available, I added the missing classes and did the no-op manually. Inside src, created packa

[2019-08-21 16:34] passy commented on #494
Hi folks, we have no plans on extending the `no-op` package to include any plugin code. This would run counter to how we advise the library to be used. As @jknoxville described, we recommend you centralise all your Flipper code in a `release` and a `debug` variant, so you don't have to rely on any plugin-specific imports in the release version of your app.

That way we can ensure that the footprin

[2019-08-22 09:14] qichuan commented on #515
`armeabi` is already deprecated since NDK r17. See https://developer.android.com/ndk/guides/abis

[2019-08-22 14:11] passy commented on #523
@IgorGanapolsky I would still need the full log from it, because I've not been able to reproduce this.

[2019-08-22 14:16] IgorGanapolsky commented on #523
It's the MediaRouter api from Tealium SDK.  That is the conflict.  Know
what I'm sayin?

On Thu, Aug 22, 2019, 10:11 AM Pascal Hartig <notifications@github.com>
wrote:

[2019-08-23 01:55] Nstd commented on #515
@qichuan , thanks, may be I can only copy the so files from armeabi-v7a to my armeabi directory.

[2019-08-23 09:26] caiiiycuk opened #524 "Smasung No1_S6: No route to flipper found."
## 🐛 Bug Report
I am using flipper version 0.23.4, desktop from repository HEAD. I successfully integrated flipper in my app. And everything works in emulator device. But it not working on real device Samsung NO1_S6.
![IMG_20190823_161620](https://user-images.githubusercontent.com/1727152/63581644-be164000-c5c1-11e9-80bf-31ebd7684f35.jpg)

There is no errors on flipper desktop side:
![1](https://u

[2019-08-23 09:29] caiiiycuk commented on #524
Exception on flipper desktop screen:
[code]

[2019-08-23 16:03] priteshrnandgaonkar commented on #484
I am able to reproduce the issue on the swift sample app. Let me see what is the issue.

[2019-08-23 16:14] bizzguy commented on #450
How would you see the UI for the plugin changing (if at all)?  Would this just be an app "filter" on the shared preference files you would see in the plugin?

[2019-08-23 16:18] bizzguy commented on #469
This fix is now in master: https://github.com/facebook/flipper/pull/521

So I think this issue can be closed.

[2019-08-26 12:47] bizzguy commented on #497
According to the doc, Leak Canary 2 is still in beta.

`'com.squareup.leakcanary:leakcanary-android:2.0-beta-3'`

Moving to the new version would be good once it is stable.

[2019-08-26 13:07] bizzguy commented on #451
@danielbuechele
There are two SharedPreferences.Editor methods that could be used.

    - clear() ... remove all
    - remove(String key) ... remove individual preference

Would both be useful. What would the UI look like?

[2019-08-27 11:59] sudhirkhanger commented on #513
@franticn how will I get context in an interface which hosts OkHttp client. Say something like in the [example](https://segunfamisa.com/posts/using-retrofit-on-android-with-kotlin) below.

[code]

[2019-08-27 14:59] passy commented on #513
Thanks for the answers, both!

[2019-08-27 14:59] #513 closed

[2019-08-27 17:06] eygraber opened #527 "Building standalone on linux fails"
I'm on Ubuntu 18.04.3 and if I try running `yarn build --linux --version 0.23.4` I get the following error:

[code]

[2019-08-28 02:47] franticn commented on #513
@sudhirkhanger Maybe Your can try like this
[code]

[2019-08-29 23:44] GioLogist commented on #262
I'm having a difficult time getting iOS Simulator to work as well.

Initialized via

[code]

Android logs show just fine, but not iOS.

Same for simulator (not even app-specific). Android simulator logs show, but not iOS

[2019-08-29 23:51] GioLogist commented on #484
Can confirm. I'm having a difficult time getting iOS Simulator to work as well.

Initialized via

[code]

Android logs show just fine, but not iOS.

Same for simulator (not even app-specific). Android simulator logs show, but not iOS

[2019-08-30 22:29] jamesdixon opened #531 "Discussion: speeding up iOS build"
Hi, Flipper seems like a really great tool but the friction caused by the setup process and the build time when launching my app makes it tough to continue to use.

I had to apply one of the workarounds in #254 and while it worked, the build time for iOS is insane and really brings my system a crawl (MBPro 2015 Quad-Core). I'm running Flipper for a Flutter app and while Flutter's hot reload is awe

[2019-09-01 06:11] Gauravpatki opened #532 "Question: network plugin is not showing"
Getting following error
<img width="361" alt="Screenshot 2019-09-01 at 11 30 11 AM" src="https://user-images.githubusercontent.com/13919994/64072437-e54ccb80-ccab-11e9-8058-82bec82e668c.png">

Code
 ` OkHttpClient.Builder builder1 = new OkHttpClient.Builder();
  builder1.addNetworkInterceptor(new FlipperOkhttpInterceptor( new
     NetworkFlipperPlugin()));`

 Application code
   ` SoLoader.init(th

[2019-09-02 01:37] gpeal commented on #482
@passy Any update here? We can't adopt this at my company because it won't run on any x86_64 emulators which is what we all use.

[2019-09-02 13:29] systemsplanet commented on #146
@stonyz
I don't see how your gradle code can possible solve this annoying issue when
the artifact group name is "androidx.multidex" not "androidx"

Your code specifies ${targetSdk} when it should be ${targetSdkVersion}

But that won't work either since
the only valid versions in the repo are 2.0.0 and 2.0.1 (not 21)

Did you test this code?
Or are you sending already frustrated people on wild goos

[2019-09-02 13:29] systemsplanet commented on #146
@stonyz
I don't see how your gradle code can possible solve this annoying issue when
the artifact group name is "androidx.multidex" not "androidx"

Your code specifies ${targetSdk} when it should be ${targetSdkVersion}

But that won't work either since
the only valid versions in the repo are 2.0.0 and 2.0.1 (not 21)

Did you test this code?
Or are you sending already frustrated people on wild goos

[2019-09-02 14:43] passy commented on #482
@gpeal I haven't been able to try this myself, but could you check if manually disabling SECCOMB (`adb shell setenforce 0 && adb stop && adb start`) would help in this case?

[2019-09-02 14:45] passy commented on #532
@Gauravpatki Could you please check if `/opt/android_sdk` is the correct path to your Android SDK or otherwise set the `ANDROID_HOME` environment variable to the correct one?

[2019-09-02 15:49] priteshrnandgaonkar commented on #531
So for the first install, we download and build openssl which takes a lot of time. But the subsequent pod install's should not take that long. While running `pod install`, run it in a verbose mode to get the logs, to understand at what step it is taking a long time.

Stopping the app and restarting it shouldn't rebuild the openssl as it should be cached.

[2019-09-02 19:36] gpeal commented on #482
@passy `adb start/stop` aren't commands. I ran the first one and re-ran `kill-server` and `start-server` and it still crashes.

[2019-09-02 22:31] estevaolucas commented on #21
@axe-fb is working to make it happen 🙌.

RN 0.61.0 will come with default setup on Android. And for iOS, per discussion here https://github.com/facebook/react-native/pull/26053, `Yoga` dependence in Layout plugin clashes with RN one's (causing a `The 'Pods-xxx' target has libraries with conflicting names: libyoga.a`) and it should get fixed with those two commits: https://github.com/facebook/react

[2019-09-03 08:35] passy commented on #482
I'll check this today but sadly we don't have a workaround this at the moment because one of our dependencies isn't compatible with newer versions of the NDK which fix this incompatibility.

[2019-09-03 13:03] haroldolivieri opened #535 "Docs: Poor documentation over Sandbox feature"
First of all, great tool.
The potential here is amazing.

Secondly, it can be totally my lack of attention but it is not clear at all how to set up a `SandboxFlipperPluginStrategy`.

What is expected to be the keys and values in `getKnownSandboxes()`'s map and what does the method `setSandbox()`?

[2019-09-03 15:55] gpeal opened #536 "Client setup error: No matching device for app"
## 🐛 Bug Report
@passy I set up Flipper in our app. It worked on a (non-64 bit) emulator but when I run in on our kiosk-like hardware, Flipper shows a bar that says:
Client setup error: No matching device for app: PACKAGE_NAME
![image](https://user-images.githubusercontent.com/1307745/64188880-18b46500-ce28-11e9-84e6-4efd1b48a1c1.png)

Flipper can see it for its generic features like logs and CPU

[2019-09-03 16:04] mitchware-cfa opened #537 "Discussion: Can we remove (or add the ability to toggle-off) the RSocket error log?"
I'm seeing this error log _continually_ in logcat when the Flipper SDK is running, but the Desktop app isn't open.
[code]

Can this be removed or disabled in a config setting? I don't want to filter out _all_ Flipper error logs (in case something is actually erroring that I need to know about), but it sure does create a lot of noise.

Happy to help with a PR as well - just wanted to bring up the d

[2019-09-03 16:41] passy commented on #515
As noted by @qichuan we can't support this as newer versions of the NDK don't include that ABI anymore.

[2019-09-03 16:41] #515 closed

[2019-09-03 18:51] kxfang commented on #535
Also it looks like the Sandbox plugin is disabled by GK. Is that intentional?

![image](https://user-images.githubusercontent.com/2383950/64200368-5f22b780-ce5a-11e9-845b-3b40e714f069.png)

[2019-09-04 11:45] #482 closed

[2019-09-04 13:41] VincenzoCarlino opened #539 "Android Q (Api 29), devices not seen"
I downloaded the last version of flipper, when I try to connect my android emulator I must use api 28, with api 29 doesn't work.

[2019-09-06 06:10] faith-hb commented on #146
Still won't do

[2019-09-06 06:19] faith-hb commented on #146
Still won't do

[2019-09-06 08:51] systemsplanet commented on #146
That's my point. There is no fix for androidx,
except maybe forcing everyone to use a very recent SDK
which is not a real solution.

[2019-09-06 12:31] priteshrnandgaonkar commented on #484
the problem is with the swift apps not with an objective c apps.

[2019-09-08 06:00] recheej commented on #75
@passy can you close this? Looks like it's already done by you :)

https://github.com/facebook/flipper/commit/0daa5de428eedd79dd23c695c861d5ae77fda011

[2019-09-09 03:24] saket opened #542 "v0.23.6 isn't available on jcenter"
## 🐛 Bug Report
Hey folks, it looks like artifacts for the latest version `0.23.6` are missing from jcenter. The latest version visible is `0.23.5`:
https://bintray.com/facebook/maven/com.facebook.flipper%3Aflipper

## To Reproduce
Add `v0.23.6` to gradle:

[code]

[2019-09-09 15:32] pyrou commented on #187
Any news on this request?

[2019-09-10 14:50] bizzguy opened #544 "Error building Android Sample App (certificate problem)"
## 🐛 Bug Report
Received an error when trying to build the Android sample app.

It seems as that there is a certificate problem:

`javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`

## To Reproduce
Attempted to build the A

[2019-09-10 16:05] passy commented on #542
Thanks for the report. There's been an issue with the release job, but we should fix that within the next day.

[2019-09-13 17:12] passy commented on #542
Apologies for the delay. There were a bunch of nested issues on Circle CI with the build. Snapshots are back running and a new release is currently landing, which should hopefully fix this within the next hour or so.

[2019-09-13 17:12] passy commented on #75
@recheej Thanks for noting!

[2019-09-13 17:12] #75 closed

[2019-09-13 17:13] passy commented on #539
I tried this and for me 29 works just fine. If this is still an issue, could you reopen this using the bug template and make sure to check what the connection debug activity outputs?

[2019-09-13 17:13] #539 closed

[2019-09-13 22:17] passy commented on #542
v0.23.7 is now available.

[2019-09-13 22:17] #542 closed

[2019-09-13 22:18] passy commented on #542
v0.23.7 is now available. Thanks for your patience!

[2019-09-13 23:47] b95505017 commented on #542
It says `Could not find com.facebook.fbjni:fbjni:0.0.1` after upgraded to v0.23.7

[2019-09-14 10:45] technoir42 commented on #542
Same here, can't use 0.23.7 because of `fbjni`.

[2019-09-14 13:55] casolorz opened #546 "403 for fbjni-0.0.1"
Since this morning I've had an issue compiling, the error is strange because it mentions moat, I have no idea why.

[code]

These are my gradle lines:
[code]

If I change to `0.23.6` that I'm guessing is what I what I was using yesterday, when it worked fine, then it gives me the same error but with `0.23.6`.

Any idea what could be wrong? literally went from compiling fine last night to not compi

[2019-09-14 19:26] b95505017 commented on #546
I think that is causing by `fbjni` not synced to jCenter yet, so you have to add [facebook bintray repository manually currently](https://github.com/facebook/flipper/blob/master/build.gradle#L34-L37).

[2019-09-14 21:09] casolorz commented on #546
That appears to fix it, thanks.
Is there a downside to having that repository there?

[2019-09-17 16:30] Strime opened #549 "Application module not shown"
## 🐛 Bug Report
Can't find android application modules on Flipper desktop app.
I did follow the [getting started](https://fbflipper.com/docs/getting-started.html) guide.

## To Reproduce
![image](https://user-images.githubusercontent.com/8624527/65060640-8f00ad80-d978-11e9-90a0-5015a3c214a7.png)
![image](https://user-images.githubusercontent.com/8624527/65060614-814b2800-d978-11e9-871e-357531d4176

[2019-09-17 16:42] passy commented on #549
Thanks for the detailed bugreport. It looks like `openssl` isn't found on your path. Unfortunately, I have no idea how what the standard Windows installation looks like or how you could get that to the right place, but we expect to find `openssl` somewhere on your PATH for certificate generation.

[2019-09-17 16:46] passy commented on #546
Sorry for the late response. Yes, adding that repository to your list will fix the resolution and doesn't come with any downsides. I'm working on getting it published through the proper channels.

[2019-09-17 17:03] casolorz commented on #546
Thanks, marking this as closed.

[2019-09-17 17:04] Strime commented on #549
Yeah perfect !
I just downloaded OpenSSL & add it into windows PATH, as suggested.

Thanks !
Bye Stetho (and chrome://inspect !! 😋 )

[2019-09-17 17:04] #549 closed

[2019-09-17 17:44] passy commented on #527
@eygraber Pardon the late response. You're likely stuck on an old version of node. I'm not exactly sure what the minimum version is we require, but ideally you'd build with the most recent stable. We can't provide backwards compatibility.

[2019-09-17 17:44] #527 closed

[2019-09-17 20:01] ZacSweers commented on #546
It does come with a downside though - now every user that has this issue
has to come dig through the issue tracker to find this issue. A dependency
on mavencentral should almost never have transitive dependencies on things
not in also mavencentral. The only real exemptions to this are Android
libraries depending on things in Google's maven repo and Kotlin libraries
depending on things in kotlinx

[2019-09-18 02:46] guilherme-pereira-ifood opened #550 "[Android] Error when upgrading to 0.23.7"
## 🐛 Bug Report
I tried to upgrade to version `0.23.7` because of x64 support, but I'm facing this error:

[code]

## To Reproduce
Just upgrade Flipper dependency to version 0.23.7 and then try to build the project (./gradlew assembleDebug).

## Expected Behavior
Build the project correctly with Flipper 0.23.7

## Environment
Android 9
targetSdk 29

[2019-09-18 08:28] passy commented on #550
Dupe of https://github.com/facebook/flipper/issues/546

[2019-09-18 08:28] #550 closed

[2019-09-18 08:35] passy commented on #546
Yes, let's keep this open until it's actually fixed.

[2019-09-19 04:16] Aquarids opened #551 "Cannot see plugin & conflict with react-native"
## 🐛 Bug Report
I followed the steps of the official website and tried to use it in my application. But when I open the desktop app I cannot see any plugin.
![Screen Shot 2019-09-19 at 11 26 07](https://user-images.githubusercontent.com/35091294/65212976-e583fe00-dad6-11e9-9cf5-14a4db9f71dd.png)

And when I tried to run the other app, I got an error.
Program type already present: com.facebook.fbjn

[2019-09-19 08:30] troy-lamerton opened #552 "Discussion: Dark theme"
## Steps to reproduce

1. Use mac with dark theme
2. Open flipper.app
3. Flipper's white UI burns your eyes

## Question

Which files/modules would need changing to add dark mode?

[2019-09-19 09:33] passy commented on #551
Hey @Aquarids! Part of the issue here is that Flipper can't find `adb` which causes the experience to be partially degraded. If you could set the `ANDROID_HOME` environment variable and restart Flipper, that part should be fixed.

About the second part, you may need to manually exclude the conflicting dependencies. We're currently working on ensuring that this won't be necessary going forwards but

[2019-09-19 10:31] Aquarids commented on #551
Hi @passy , thanks for your replay.

After I set `ANDROID_HOME` in my `.zshrc` file, I still got errors.
[code]
![Screen Shot 2019-09-19 at 18 11 39](https://user-images.githubusercontent.com/35091294/65235335-f2b9e080-db08-11e9-95bc-3e41cf8a45e5.png)
![Screen Shot 2019-09-19 at 18 07 33](https://user-images.githubusercontent.com/35091294/65235336-f3527700-db08-11e9-9059-e109920fbb9e.png)

And the

[2019-09-19 12:38] danielbuechele commented on #552
Hey Tory,
that's something that is on my list as well. Unfortunately, we didn't have the time to implement this, yet. But I'm fully supportive of adding dark mode support!

To check if the system is in dark mode, electron provides an API: `require('electron').remote.systemPreferences.isDarkMode()`. All colors that we are using are defined in this file: https://github.com/facebook/flipper/blob/mast

[2019-09-19 16:32] passy commented on #551
Yes, you're right about the `fbjni` group! Sorry, that only changed with the last release and slipped my mind. However, the `.so` loading problem is actually more tricky than this. It looks like React Native bundles `fbjni` but with a different name for the library. Perhaps it might be easier for you to downgrade to (I think) `0.23.5` where we haven't done the recent changes to how we bundle it.

[2019-09-19 20:06] burntcookie90 commented on #532
I ran into this.

Initialized your network plugin and interceptor ahead of time and then attach the same instances to okhttp as you do flipper.

[2019-09-20 01:24] Aquarids commented on #551
It works now, thanks. I think it would be better if we can set the SDK directory on the flipper desktop app.

[2019-09-20 02:13] QiAnXinCodeSafe opened #553 "Security:Insecure Transport"
http protocol is not authenticated and encrypted, please use https protocol
https://github.com/facebook/flipper/blob/master/scripts/start-dev-server.js#L107

[2019-09-20 10:10] EdwardMwaura commented on #146
there is no fix its just an informational message. Should not be crashing the app.

[2019-09-20 13:22] jknoxville commented on #536
Thanks for the report @gpeal

I've played a little with a system app to investigate this, and have got it working with a file permission change that I'll ship asap.

However I didn't run into this `run-as` problem you mention, so I expect it won't fix your issue. In my tests, I had no problem executing `run-as` as the system app.

I tried first installing a user app and then moving it into `/syste

[2019-09-20 13:44] gpeal commented on #536
@jknoxville Our app also has `android:sharedUserId="android.uid.system"`. That may be the difference here.

[2019-09-20 15:28] jknoxville commented on #536
Ah, thats probably it. That gives me: INSTALL_FAILED_SHARED_USER_INCOMPATIBLE.

Reading up, it sounds like I'd have to sign the app with the same key that signed the firmware, is that correct?

[2019-09-20 16:17] gpeal commented on #536
@jknoxville Yeah, that's correct. I can't share our own hardware setup (obviously) but maybe this would help in testing it out on an emulator: https://stackoverflow.com/a/37586790/715633

Thank you for taking the time to look at this. It will be a huge help to us if it works! 😄

[2019-09-20 16:49] jknoxville commented on #535
From looking at the code, I believe you just need to implement a `SandboxFlipperPluginStrategy`, and pass it in, when constructing the plugin.

`setSandbox` should override the sandbox within your app. It will be called on your strategy when the user enters a string as their sandbox. What this does is technically up to the implementation, but it could for example, set the base url for outgoing req

[2019-09-23 08:33] pakerfeldt commented on #546
Is there an ETA on this? Because adding a new repository might be trickier than you think in a large org :)

[2019-09-23 09:46] passy commented on #546
@pakerfeldt I should have a fix ready for this by the end of the day. Fingers crossed!

[2019-09-23 09:47] passy commented on #532
@burntcookie90 That's likely a separate issue. Based on the bug description by OP, there is no connection to between Flipper and the SDK at all. If that's still an issue for you, can you open a separate issue? I'll close this one here for staleness.

[2019-09-23 09:47] #532 closed

[2019-09-23 13:14] passy commented on #546
Published this, which should hopefully take care of this. https://github.com/facebook/flipper/releases/tag/v0.23.8

One quick note: v0.24.0 is already soft-published and does *not* contain this version bump. I'll publish v0.24.1 later today or tomorrow which will include the same change. Please let me know if this works for you. :)

[2019-09-23 14:56] Strime opened #558 "[Windows][v0.24] Cannot find module 'p-map'"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/8624527/65436830-088a1700-de23-11e9-92ab-3244f756f5ba.png)

## To Reproduce
Unzip [v0.24](https://github.com/facebook/flipper/releases/tag/v0.24.0).
Launch it

## Environment
Windows 10

[2019-09-23 15:19] jknoxville commented on #558
Thanks for letting us know, I can confirm it's impacting mac as well.
Looking into it now.

[2019-09-23 15:24] jknoxville commented on #553
I've changed this to only listen in localhost, but as it's just the development server, I don't think there's any need for this to be encrypted. More detail in the referenced commit.
Please let me know if there was some other reason I missed.

[2019-09-23 15:24] #553 closed

[2019-09-23 15:36] passy commented on #551
@Aquarids Yes, agreed. That's something we're looking into at the moment.

[2019-09-23 17:44] guilherme-pereira-ifood commented on #546
`0.23.8` worked for me! Thanks @passy

[2019-09-24 02:52] #551 closed

[2019-09-24 06:28] pakerfeldt commented on #546
Indeed it works, thanks!

[2019-09-24 06:39] Strime commented on #558
v0.24.1 fixed it !
Well done.

[2019-09-24 06:39] #558 closed

[2019-09-24 13:07] Strime opened #560 "Custom plugin issue when start Flipper.exe"
## 🐛 Bug Report
I'm trying to write my first flipper plugin.
Obviously I know that _'C:\Users\gsancassani\flipper-plugins\FileReader\D:\flipper\resources\app\package.json'_ is not a correct path, but I didn't find how to fix it by reading your documentation.

## To Reproduce
Content of my ~/.flipper/config.json:
![image](https://user-images.githubusercontent.com/8624527/65513894-75adb300-dedc-11e9

[2019-09-24 14:10] Ghedeon commented on #546
@passy so, what exactly stops us from using `0.24.0` fully? Somebody wrote that fbjni is not synced to jCenter yet. Is that the cause? But that was like 10 days ago. Just to make it clear, there is nothing to fix and we're waiting for the sync to happen?

[2019-09-24 18:49] casolorz commented on #546
Not sure what happened but this was working fine yesterday and today when I went to compile I got this error, no changes on my end. I do see that I now have 0.24.1.

[2019-09-24 18:50] casolorz commented on #546
I should mention `com.facebook.flipper.android.EventBase` is there, I can see it on Android Studio.

[2019-09-25 08:04] passy commented on #546
@casolorz That's an error in SoLoader. If you pin it to `0.8.0`, that should fix it. I'll put out another patch release today that does that directly in the Flipper dependency.

[2019-09-25 08:05] passy commented on #560
Thanks for the report, @Strime! That looks like an issue with our path resolution on Windows. Sorry about that. I don't have a good testing environment for this right now, but I'm taking a look.

[2019-09-25 08:18] passy commented on #49
Hey everyone, I'm currently cleaning up some longstanding issues and enhancement proposals that have not seen any traction. Please feel free to comment if you still thing there is value in keeping this one on the backlog. :)

[2019-09-25 08:18] #49 closed

[2019-09-25 08:18] passy commented on #137
Hey everyone, I'm currently cleaning up some longstanding issues and enhancement proposals that have not seen any traction. Please feel free to comment if you still thing there is value in keeping this one on the backlog. :)

[2019-09-25 08:18] #137 closed

[2019-09-25 08:19] passy commented on #79
I believe that this was fixed quite a while ago in the referenced commit.

[2019-09-25 08:19] #79 closed

[2019-09-25 08:20] passy commented on #42
Marking this as help wanted. Happy to look at a PR for this if anybody fancies implementing this.

[2019-09-25 08:21] passy commented on #202
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:21] #202 closed

[2019-09-25 08:21] passy commented on #191
Adding help wanted here. We don't have the bandwidth to implement this ourselves, but we'd be happy to look at PRs implementing this.

[2019-09-25 08:22] #226 closed

[2019-09-25 08:24] passy commented on #178
I'm currently cleaning up some longstanding issues and enhancement proposals that have not seen any traction. Please feel free to comment if you still thing there is value in keeping this one on the backlog. :)

[2019-09-25 08:24] #178 closed

[2019-09-25 08:24] passy commented on #157
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:24] #157 closed

[2019-09-25 08:24] passy commented on #334
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:24] #334 closed

[2019-09-25 08:24] passy commented on #101
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:24] #101 closed

[2019-09-25 08:25] passy commented on #344
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:25] #344 closed

[2019-09-25 08:25] passy commented on #348
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:25] #348 closed

[2019-09-25 08:25] passy commented on #231
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:25] #231 closed

[2019-09-25 08:27] #494 closed

[2019-09-25 08:27] passy commented on #531
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:27] #531 closed

[2019-09-25 08:27] passy commented on #234
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:27] #234 closed

[2019-09-25 08:27] passy commented on #345
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:27] #345 closed

[2019-09-25 08:27] #378 closed

[2019-09-25 08:28] passy commented on #212
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:28] #212 closed

[2019-09-25 08:36] passy commented on #450
I would think that should be compatible with what we currently have.

The `SharedPreferencesFlipperPlugin(Context context, List<SharedPreferencesDescriptor> descriptors)` effectively has the same result but you skip the resolution step. @s1rius if you want to put this up as a PR, I'm happy to take a look!

[2019-09-25 08:39] passy commented on #523
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:39] #523 closed

[2019-09-25 08:39] passy commented on #314
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:39] passy commented on #509
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:39] #509 closed

[2019-09-25 08:40] passy commented on #478
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 08:40] #478 closed

[2019-09-25 09:09] passy commented on #398
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:09] #398 closed

[2019-09-25 09:10] passy commented on #495
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:10] #495 closed

[2019-09-25 09:24] passy commented on #215
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:24] #215 closed

[2019-09-25 09:25] passy commented on #381
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:25] #381 closed

[2019-09-25 09:25] passy commented on #457
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:25] #457 closed

[2019-09-25 09:26] passy commented on #193
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:26] #193 closed

[2019-09-25 09:26] passy commented on #384
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:26] #384 closed

[2019-09-25 09:26] passy commented on #452
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:26] #452 closed

[2019-09-25 09:27] passy commented on #416
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:27] #416 closed

[2019-09-25 09:27] passy commented on #456
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:27] #456 closed

[2019-09-25 09:29] passy commented on #389
Closing this issue here now in favour of the linked one above.

[2019-09-25 09:29] #389 closed

[2019-09-25 09:29] passy commented on #147
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:29] #147 closed

[2019-09-25 09:35] passy commented on #468
Sorry for never closing the loop on this one. This is a good point. Do you know if this causes any issues in the real world?

[2019-09-25 09:36] passy commented on #132
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:36] #132 closed

[2019-09-25 09:36] passy commented on #92
I'm cleaning up some old issues and this one hasn't seen updates in a long time. Please let me know if this is still a problem and we can reopen it. Thanks!

[2019-09-25 09:39] passy commented on #546
https://github.com/facebook/flipper/releases/tag/v0.24.2 is out now. The original issue should definitely be addressed now, but please feel free to open a new issue if there's still something not working correctly with the release. Thanks for all the reports and feedback!

[2019-09-25 09:39] #546 closed

[2019-09-25 11:03] cekkaewnumchai commented on #510
Thank you @martynhaigh for reporting us the issue. It's fixed in the recent release. Please make sure to update client side to get the update in both side.

[2019-09-25 11:15] #510 closed

[2019-09-25 12:47] ColtonIdle commented on #314
@passy I always thought of this ticket as providing documentation for how to support R8/Proguard in your app. In that case I would keep it open, or I can just open a new ticket requesting documentation for it. Most Android libraries at this point have explicit directions on how to use with R8/Proguard because Google has been really pushing R8 in my opinion. It'd be nice to have a canonical referen

[2019-09-25 12:49] ColtonIdle commented on #384
I believe the "Copy entire tree" option was added when you right-click the response body field now, so I would say this issue is good to close.

[2019-09-25 13:39] Nikron9 opened #561 "Android app release build failed becouse of unresolved references"
## 🐛 Bug Report
On debug build variant everything works ok, but release is not possible to build due to lack of references.

![image](https://user-images.githubusercontent.com/26006585/65602829-d6082780-dfa4-11e9-9c1d-4313bf367cfe.png)

## To Reproduce
Add dependencies
[code]

Add network interceptor to your OkHttpClient

[code]
Build release.

**Probably we need noop version for network-plugin.**

[2019-09-25 15:11] passy commented on #561
Thanks for the report, @Nikron9.

We will not include empty interfaces for plugins as this would promote bad practices. We instead recommend to separate the debug and release setup code of your app itself as discussed here: https://github.com/facebook/flipper/issues/158#issuecomment-502031144

[2019-09-25 15:11] #561 closed

[2019-09-25 15:24] passy commented on #314
@ColinCampbell I suppose my concern about adding documentation for using Flipper with proguard is that Flipper should generally not make it into a release build to which Proguard is applied.

I would like to understand the scenarios in which this is necesassary better before adding this to our docs.

[2019-09-25 15:41] mitchware-cfa commented on #468
I think its a pretty minor issue overall. It did throw me for a loop the first time, using the default constructor on the plugin, but it was an easy fix to debug and provide the right name manually.

[2019-09-25 15:45] passy commented on #468
Thanks! I'll close this for now, but it's good to know. If this comes up again, we may want to change the default.

[2019-09-25 15:45] #468 closed

[2019-09-25 15:47] ColtonIdle commented on #314
In that case, if it doesn't need any proguard rules for release builds, then I guess I'm okay with that.

I don't really know how no-op dependencies work, and didn't know if doing Flipper initialization with a no-op dependency + Proguard (stripping some methods out) would potentially lead to a crash during the init of Flipper. I'm so used to going line by line in my dependencies and reading each d

[2019-09-27 12:49] passy commented on #560
@Strime  Sorry, took me a while to get my windows setup going. I couldn't reproduce this directly but I noticed that you were using unescaped backslashes. You will want to change that to `C:\\Users\\gsancassani\\flipper-plugins`.

For me, plugin loading worked once I had the correct path formatting figured out.

[2019-09-30 12:23] Strime commented on #560
I did a try with ` "pluginPaths":["~//.flipper//flipper-plugins//"]`, but I got same issue.

Fun fact is when I remove index.tsx from my plugin folder, path resolution is correct on first error

![image](https://user-images.githubusercontent.com/8624527/65878245-dd0cac80-e38d-11e9-9c7a-4b830158ec8a.png)

[2019-09-30 12:35] passy commented on #560
@Strime The double forward slashes will probably be ignored; this will only be relevant if you use backslashes. I don't think we currently support loading `.tsx` directly. For now, you'll probably need to set up a build pipeline for your plugin so you can import a compiled `.js` file instead.

[2019-09-30 12:44] Strime commented on #560
I actually moved Flipper.exe from `D:/Flipper` to `~/Flipper` and it works :)

[2019-09-30 12:44] #560 closed

[2019-09-30 20:41] ardmn opened #565 "Question: Can I create plugin which executes arbitrary adb command and process received result ?"
Sorry, but I don't understand it from docs ...

[2019-10-01 07:11] Alaa-Ben commented on #551
Hi,
Any news on the flipper 0.25 / React Native compatibility ?
thanks !

[2019-10-01 09:22] Strime commented on #92
I got the same issue on my Galaxy Tab A - Android 7.0, even if I select my app to be debugged on `Developer Options`.

It works on an other Galaxy Tab A - Android 8.1.

[2019-10-01 16:14] passy commented on #565
Yes, you can. Here's an example: https://github.com/facebook/flipper/blob/master/src/plugins/cpu/index.tsx#L182-L189

[2019-10-01 16:14] #565 closed

[2019-10-01 16:15] passy commented on #551
@Alaa-Ben We are working on it, but there's no ETA for it at the moment, unfortunately.

[2019-10-03 14:27] s1rius commented on #450
Hi @passy ,I rethink it and find, we can simple add a function to create SharedPreferences, and no need to add an other constructor in the SharedPreferencesFlipperPlugin Class.
So, I create a pull request, hope you take a look.

[2019-10-03 15:09] #450 closed

[2019-10-04 09:45] Strime commented on #92
Can you re-open this issue ?

[2019-10-04 17:21] eygraber commented on #334
I still have this issue

[2019-10-07 15:39] bizzguy opened #573 "Command "yarn install" failing due to illegal characters"
## 🐛 Bug Report
When attempting to create a custom version of Flipper, the "yarn install" command is failing.

## To Reproduce
1. Download current version (commit #d310027d888677616238514ebf983655b2ad21f3 )
2. Remove directory "node_modules"
3. Run "yarn install"

## Expected Behavior
All packages should be successfully installed.

## Actual Behavior

yarn install v1.17.3
$ yarn config set ignore-

[2019-10-07 15:44] bizzguy commented on #573
Problem with custom plugin, not "master" repo.

[2019-10-07 15:44] #573 closed

[2019-10-07 16:45] marshallcool commented on #487
will there be graphql support?

[2019-10-08 13:24] dral3x commented on #314
@passy I have Proguard enabled also in debug builds so when I build the release version, there are no surprises in production.

[2019-10-08 13:57] simaofelgueirasJM commented on #314
Flipper also does not make part of my release build and I do not run Proguard in my debug build. However, for my use case I have a candidate build where I have interest to run Proguard and still be able to use flipper. Candidate is a pre-release build that Quality Assurance Engineers (QAE) use to test and analyze all the intended scenarios.
On our side flipper is used mostly by QAEs.

[2019-10-08 14:10] passy commented on #314
Thanks a lot for sharing your scenarios, this helps a lot! I'll try to enable `minifyEnabled` on the debug sample app and see what it is still required to make this work. I definitely see the need for some more accessible documentation for this now.

[2019-10-08 18:40] mateosilguero commented on #21
I made this tutorial https://fbflipper.com/docs/getting-started.html#setup-your-react-native-app for React native integration. Currently there is no full support, but you could use some features

[2019-10-09 02:55] jubincn opened #575 "Always get last one after a failure screen recording in 0.25.0"
## 🐛 Bug Report
I failed to get screen recording this morning, after that, all video generated are the last recorded one. That is:
1. Failure when recording A.
2. Successfully recorded B, but content in file generated are A.
3. Next successful recording C, file content is B.
FYI
Delete and using a new download will not help.

## To Reproduce
1. Do a screen recording and an error occur which leads

[2019-10-11 03:25] alminde commented on #21
Trying to get Flipper to work with RN 0.59 and ExpoKit, I’m getting that `libyoga.a` error. Does anyone know of some kind of Podfile workaround or must I wait until Expo ships with RN 0.61?

[2019-10-11 22:05] greenkeeper[bot] opened #579 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-10-11 23:11] gpeal opened #581 "Discussion: Don't post notifications for 404s"
404s are a valid network response yet they post a desktop notification as if it is a bad request/server error/etc.

A user may request a resource that doesn't exist for an account and a 404 would be a valid response to indicate that what they requested doesn't exist. That isn't an error that needs to be reported by Flipper though.

[Relevant StackOverflow discussion](https://stackoverflow.com/a/99

[2019-10-13 15:10] paschaldev opened #582 "Unable to install Pods on iOS (React Native)"
## 🐛 Bug Report
I've followed the guidelines for setting up flipper with iOS for React Native, but after running `pod install`, it failsw with this error

[code]

## To Reproduce
### ios/Podfile
[code]

## Expected Behavior
Able to install the pods correctly

## Environment
OS: MacOS Mojave
React Native: 0.61.2

[2019-10-13 15:20] paschaldev commented on #582
Sorry, my fault for not reading instructions. It was resolved with `pod repo update`

[2019-10-13 15:20] #582 closed

[2019-10-14 05:43] TommyLeong commented on #21
Somehow the default Flipper setup on Android (RN0.61.0) does not connect my app with flipper. Guessing some dependencies weren't included on Android.

Anyway, my app has successfully integrated with Flipper following [this guide](https://fbflipper.com/docs/getting-started.html#setup-your-react-native-app). Thanks to guide from @mateosilguero !

[2019-10-14 11:02] jbruchanov commented on #381
@passy
Seems to be still issue on mac.
I have to run it from terminal, otherwise getting that `/opt/android_sdk`value as `ANDROID_HOME`

[2019-10-14 11:34] passy commented on #381
@jbruchanov That'll be taken care of soon with a settings panel that @jknoxville is working on.

[2019-10-14 14:37] jbruchanov opened #584 "Question: Unable to connect MacOS <-> Android"
I'm trying to get it working in an app (just new project from AS template).
Unfortunately I can't see more than default plugins in the flipper desktop app.
I can see now CPU, CrashReporter, Logs only...

Tried:
Emulator API27 and Nexus 5X with Android 8.1.0.
Both gives me only following in logcat
[code]

[code]

I can connect to localhost:8089/127.0.0.1:8089 easily using telnet from device or mac,

[2019-10-15 09:12] #579 closed

[2019-10-15 10:42] priteshrnandgaonkar commented on #584
Can you verify that your app has internet permission ?
https://fbflipper.com/docs/getting-started.html#setup-your-android-app

[2019-10-15 11:02] jbruchanov commented on #584
Ah of course :)
what a stupid mistake....

All good, working now

[2019-10-15 11:02] #584 closed

[2019-10-15 19:52] mateosilguero opened #589 "Feature Request: Redux inspector"
Could we hace a redux inspector plugin ?

I saw [this plugin](https://github.com/blankapp/flipper-plugin-reduxinspector) made for Flutter, then im trying to make develop something similar, but dont know where to start.

[2019-10-16 11:31] greenkeeper[bot] opened #590 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-10-16 16:14] jknoxville commented on #537
I'm guessing this is on a physical device? I think we handle it on emulators by catching the exception thrown when trying to connect, and distinguishing it from a "genuine" problem [here](https://github.com/facebook/flipper/blob/master/xplat/Flipper/FlipperConnectionManagerImpl.cpp#L126)
I suspect that on physical devices, the exception type is identical to a genuine error, so hard to distinguish,

[2019-10-18 13:55] tommybuonomo commented on #284
Hi @erawhctim,
Do you have any update on this ? Something we can explore, maybe an implementation of a custom `DatabasesFlipperPlugin` for Realm ?
Thanks :)

[2019-10-21 18:55] bizzguy commented on #337
The "trim" method is no longer part of "processEntry".  So it appears that the log entries are not being trimmed.  There is now white space at the beginning of log entries (as shown in this screenshot)

![image](https://user-images.githubusercontent.com/337874/67234226-6140d580-f40a-11e9-8779-6635737d4013.png)

So it seems like this issue could be closed.  Unless it is really necessary to be able

[2019-10-22 13:19] jknoxville commented on #69
Just closing the loop here for future reference, in the [latest release](https://github.com/facebook/flipper/releases/tag/v0.26.0), we've added a settings panel, where you can configure your android SDK location, in a similar way to how android studio works.

Use that to point flipper to your ANDROID_HOME, and that should take care of it.

[2019-10-22 14:35] mitchware-cfa commented on #537
@jknoxville Good point - I think you're right about this being restricted to physical devices only.

Now that I'm testing this again, I can't seem to reproduce the continual stream of RSocket logs that I was seeing 🤔 I wonder if it was due to a specific device (we have a massive amount of test devices from all different OS levels and manufacturers).

I'll comment here again if I see it and can rep

[2019-10-23 18:46] greenkeeper[bot] opened #601 "An in-range update of @types/react-virtualized is breaking the build 🚨"
## The dependency [@types/react-virtualized](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `9.21.4` to `9.21.5`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40types%2Freact-virtualized-9.21.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@

[2019-10-24 02:38] greenkeeper[bot] opened #603 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.6.3` to `3.6.4`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fplugins%2Fuglify-js-3.6.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this pro

[2019-10-24 12:32] umasankar-yedida commented on #326
I'll take this up

[2019-10-25 22:35] greenkeeper[bot] opened #605 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.2` to `16.9.3`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40types%2Freact-dom-16.9.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react-d

[2019-10-26 06:40] keshavamurthy1 opened #606 "Getting "target has transitive dependencies that include statically linked binaries" error"
Hi team, im getting below error at the end of "pod install"
I have followed instructions from : https://fbflipper.com/docs/getting-started.html#cocoapods

Kindly help me to solve it.

[!] The 'Pods-App-target' target has transitive dependencies that include statically linked binaries: (/Users/keshavgn/Desktop/Projects/halodoc-ios/Pods/CocoaLibEvent/lib/libevent.a, /Users/keshavgn/Desktop/Projects/

[2019-10-26 23:48] ZacSweers opened #607 "Discussion: Consider moving stetho support to a separate artifact"
Stetho was never updated to androidx. This means that flipper and any consumers of it have to use jetifier still because of it _even if_ they don't use stetho and _even though_ flipper itself has moved to androidx.

[code]

[2019-10-28 08:57] jaychang0917 opened #609 "Continuously showing crash notification on XiaoMi A2"
## 🐛 Bug Report

## To Reproduce

- Connect XiaoMi A2
- Open Flipper Desktop app
- The app continuously show crash notification
<img width="967" alt="flipper" src="https://user-images.githubusercontent.com/5347535/67665051-db8dce80-f9a3-11e9-9e15-a5cc8a2099ca.png">

## Expected Behavior
Should not show crash error notification

## Environment

Android Version: 9
Flipper Desktop version: 0.26.0
Fli

[2019-10-28 16:01] passy commented on #607
Yes, that would be great. I just checked what we actually depend on `stetho` for and it comes down to four utilities (https://gist.github.com/passy/27c274b5b9e447678d0bf0ed7363c179)

[code]

I don't think we've got the bandwidth for this right now, but if someone would like to pick this up as a PR, please feel free to get in touch or just submit it!

[2019-10-28 22:41] EricAtPlanGrid commented on #457
Definitely still a problem, I'm planning on submitting a fix since it will otherwise be a regular source of crashes for me. Welcoming suggestions on how large of a response body we should attempt to load? I'll have to look at the UX a bit more but I'm guessing it would be fine to set the threshold fairly small (100KB?) to start.

[2019-10-29 09:36] paour commented on #457
100kb sounds fine to me. Make sure to include the headers (req and res) even when the body is truncated.

[2019-10-29 14:10] kaciula commented on #334
@passy I am also having this issue. I need to copy-paste the response body so I can build my models. I am using a Mac.

[2019-10-29 14:15] kaciula commented on #384
@ColtonIdle I am using version 0.26 on a Mac. Right clicking on any of the request/response headers/bodies does not open anything for me.

Not being able to copy-paste the response body is a real issue for me.

[2019-10-30 09:59] #601 closed

[2019-10-30 10:11] #605 closed

[2019-10-31 04:08] kingori opened #620 "Question: How can I reset selection of a ManagedTable?"
How can I reset selection of a ManagedTable?

In my plugin, I used two ManagedTable and I want to reset selection of each table when
1. I clicked 'reset' button in plugin or
2. select a row in another table

I've tried to set `highlightableRows` property, but it does not work well and sometimes desktop application freezed. ( In Calculate scroll position, offset was NaN, so loop not terminzated.)

[2019-11-01 12:03] umasankar-yedida commented on #470
I'm working on it

[2019-11-04 04:19] ZacSweers commented on #607
Should we just copy those in?

On Mon, Oct 28, 2019 at 9:01 AM Pascal Hartig <notifications@github.com>
wrote:

[2019-11-04 10:04] galex commented on #92
Any updates on this? It blocks us from using Flipper at 100%!

[2019-11-05 00:44] spatenotte commented on #524
Commenting here, since I'm having the same issue on a Nexus 6P, running Android 8.1.0.
I am using Flipper 0.27.0, both on the client app and SDK library.

![image](https://user-images.githubusercontent.com/5433694/68169650-d4c20700-ff21-11e9-8499-67659dadda18.png)

[2019-11-05 10:23] greenkeeper[bot] opened #625 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.0` to `2.6.1`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.6.1).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-11-05 14:26] jknoxville commented on #620
Good question @kingori , the prop you're looking for is [`highlightedRows`](https://github.com/facebook/flipper/blob/master/src/ui/components/table/ManagedTable.tsx#L116).

This specifies the **initial** starting selection but will be overridden by any state changes occurring by user clicking.
However, whenever it changes, it will reset the selection to that new set.

So just pass in a new `Set()`

[2019-11-05 14:26] jknoxville commented on #620
Feel free to reopen if you are still having trouble.

[2019-11-05 14:26] #620 closed

[2019-11-05 14:29] priteshrnandgaonkar commented on #606
Which cocoapods version are you using ?

[2019-11-05 14:53] #625 closed

[2019-11-05 15:06] priteshrnandgaonkar commented on #606
If you are using `use_framework!`. Make sure you add the following

[code]

[2019-11-05 15:48] keshavamurthy1 commented on #606
Hi thank you for your response
It works.

Thank you

On Tue, 5 Nov 2019 at 9:13 PM, Pritesh Nandgaonkar <notifications@github.com>
wrote:

[2019-11-05 16:29] #606 closed

[2019-11-06 02:26] Gauravpatki opened #627 "Question: Getting GradleException while building project"
Getting the following exception while building project

[code]

[2019-11-06 10:01] passy commented on #627
@Gauravpatki Could you please let us know what task you ran?

[2019-11-06 10:10] passy commented on #607
@ZacSweers I think that would be fine. I haven't checked if we use all the methods defined, but if not I'd just limit it to the ones actually being used by Flipper.

[2019-11-07 03:17] greenkeeper[bot] opened #628 "An in-range update of react-redux is breaking the build 🚨"
## The dependency [react-redux](https://github.com/reduxjs/react-redux) was updated from `7.1.1` to `7.1.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Freact-redux-7.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-redux is a direct dependency of this pro

[2019-11-07 03:18] greenkeeper[bot] opened #629 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.6.7` to `3.6.8`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fplugins%2Fuglify-js-3.6.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this pro

[2019-11-07 04:08] greenkeeper[bot] opened #630 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.3` to `16.9.4`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40types%2Freact-dom-16.9.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react-d

[2019-11-07 10:55] kingori commented on #620
@jknoxville Thank you for your comment.

I've tried `highlightedRows` properties, but it makes Flipper desktop client freeze. I've paused client, and checked stack trace.

[code]

In findNearestItemBinarySearch(), Nan is passed as offset. So, while loop in `findNearestItemBinarySearch$1` function does not finish.

Reproduce step is like this.

1. start render with empty highlightedRows attribute.

[2019-11-07 12:03] passy commented on #627
Closing for lack of repro. Please feel free to reopen but please do follow our template so we can help you.

[2019-11-07 12:03] #627 closed

[2019-11-07 14:32] passy commented on #630
Looks like flakiness.

[2019-11-07 14:32] #630 closed

[2019-11-08 03:29] TakeoffAndroid opened #631 "Not able to generate the release build"
I am not able to generate the release build with all debug configuration in place. I am getting following error when I try to generate the signed apk.

[code]

My init configuration in application class is

[code]

Note: All the dependencies are debug implementation as mentioned in the getting started flipper guide.. https://fbflipper.com/docs/getting-started.html

[2019-11-08 15:41] justintuchek commented on #497
Going to close out this issue since LeakCanary is no longer part of mainline since 0.25.0

Still an appetite but don't believe this needs to be on the Flipper repo

[2019-11-08 15:41] #497 closed

[2019-11-09 06:26] umasankar-yedida commented on #451
@danielbuechele I'll take this up

[2019-11-09 16:36] greenkeeper[bot] opened #633 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.0` to `7.7.2`.
- The `dependency` [@babel/generator](https://www.npmjs.com/package/@babel/generator) was updated from `7.7.0` to `7.7.2`.
- The `dependency` [@babel/parser](https://www.npmjs.com/package/@babel/parser) was updated from `7.7.2` to

[2019-11-09 17:38] greenkeeper[bot] opened #634 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.2` to `1.19.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fprettier-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. It

[2019-11-11 10:59] passy commented on #451
Awesome! Do let us know if we can help you with anything. :)

[2019-11-11 18:01] jknoxville commented on #631
Hi, I think we'll need a bit more context to help with that. Do you get line numbers where these things are being referenced?

[2019-11-12 10:03] #629 closed

[2019-11-12 13:32] vokilam commented on #631
With setup configuration we have in [docs](https://fbflipper.com/docs/getting-started.html#setup-your-android-app)
[code]
following references will be unresolved when compiling release build:
[code]

Obviously, this is because [no-op dependency](https://github.com/facebook/flipper/tree/master/android/no-op) only mocks `AndroidFlipperClient`, `FlipperClient` and `FlipperPlugin`.

[2019-11-13 10:05] #628 closed

[2019-11-13 10:05] #634 closed

[2019-11-15 10:13] sebhell opened #641 "No Icons on Windows"
## 🐛 Bug Report
When downloading the Flipper Desktop Release for Windows and starting it via Flipper.exe most of the icons are not shown. It seems that something is wrong with the path delimiter for the icons folder.

![no_icons_windows](https://user-images.githubusercontent.com/5691866/68935237-95ed4600-0798-11ea-87b3-bf408550fc7e.png)
![no_icons_windows_errors](https://user-images.githubusercont

[2019-11-15 10:18] passy commented on #641
Thanks for the report. Will try to repro that today.

[2019-11-17 10:54] hexlay commented on #631
Exact same problem with docs only configuration...

[2019-11-17 12:04] hexlay opened #644 "Unable to get certificates from desktop"
## 🐛 Bug Report
![Screenshot_1](https://user-images.githubusercontent.com/16070367/69007132-3edfa080-0953-11ea-8126-ad9947d7f68d.png)
Flipper shows that no clients are connected, however every log and crash report does work. .flipper/certs are empty.
I have tried to delete .flipper folder.

![Screenshot_2](https://user-images.githubusercontent.com/16070367/69007173-c1686000-0953-11ea-9f54-034a026a

[2019-11-17 12:26] cekkaewnumchai commented on #644
Thanks for the report, I will to repro this.

[2019-11-17 14:19] cekkaewnumchai commented on #644
@hexlay Do you have OpenSsl on your Windows?

[2019-11-18 07:43] waqas19921 commented on #513
For new implementation you have to initialise network interceptor like this.
[code]

[2019-11-18 11:00] hexlay commented on #644
Sorry for late reply, after installing and properly configuring OpenSSL it started working, thanks ! I'm closing this issue.

[2019-11-18 11:00] #644 closed

[2019-11-18 15:50] umasankar-yedida commented on #451
@passy @danielbuechele Currently the preferences values are being displayed in `DataInspector` component. In order to select and deselect a preference, would it be nice to have a checkbox beside every preference? or? do you suggest another approach for this?

[2019-11-19 10:41] passy commented on #633
Manually fixed.

[2019-11-19 10:41] #633 closed

[2019-11-19 17:28] passy commented on #641
<img width="950" alt="Capture" src="https://user-images.githubusercontent.com/9906/69170302-ca8f3380-0af1-11ea-8435-8b0c5d0db92d.PNG">

I finally managed to get my Windows laptop to boot up again but I can't repro this, unfortunately. It looks like the images that can't be loaded in your screenshot are bundled with Flipper and shouldn't require downloading. Can you confirm that you unzipped the en

[2019-11-20 10:54] passy commented on #631
This is expected. If you rely on release and debug flavours, you must ensure to only access those symbols from the corresponding build variant. I.e. if you want to access a particular plugin like `InspectorFlipperPlugin`, this can only happen from `src/debug/java/...` and not `src/main/java/...` or `src/release/java/...`.

[2019-11-20 10:54] #631 closed

[2019-11-20 13:45] angusholder opened #647 "Unable to edit a string shared preference whose contents is a URL"
## 🐛 Bug Report
An Android shared preference whose value is a string URL cannot be edited. It looks like
![image](https://user-images.githubusercontent.com/7407345/69243438-fadedc80-0b9a-11ea-8833-2f0df2cd7d9e.png)

## To Reproduce
When clicking the field, it momentarily turns into a text input, but then opens the URL in my default browser, and when I navigate back to Flipper the text input has tu

[2019-11-20 16:11] sebhell commented on #641
Ok, that is odd. Yes, I started the application after fully extracting the whole zip. Doesn't work with Windows internal zip-extractor as well as 7zip.

But I think I found one part of the problem: I tried Flipper on 4 different machines and it worked on the one with Windows set to English language. On the other three machines set to German it showed no icons.

But I can confirm, that the icons ar

[2019-11-20 21:34] frannois opened #648 "can't build flipper project in release (debug works)"
## 🐛 Bug Report
`./gradlew assembleDebug` works
`/gradlew assembleRelease` does not work

stack trace
{path}/flipper/sample/FlipperSampleApplication.java:16: error: package com.facebook.flipper.plugins.navigation does not exist
import com.facebook.flipper.plugins.navigation.NavigationFlipperPlugin;
                                              ^
{path}/flipper/android/sample/src/main/java/com/face

[2019-11-20 23:16] cekkaewnumchai commented on #648
Hello @frannois, thank you for reporting bug. I will try to reproduce and get back to you

[2019-11-21 09:26] jaychang0917 commented on #609
Close it as it is resolved in 0.28.0.

[2019-11-21 09:26] #609 closed

[2019-11-21 15:34] passy commented on #648
@frannois It sounds like you've declared Flipper as a `debugImplementation` dependency. If you do this, you cannot reference any Flipper code in your release builds. This is by design as Flipper code should never be bundled into your production builds.

[2019-11-21 16:52] frannois commented on #648
@passy I am not talking about building my application with Flipper.
I am talking about building the flipper github project.

[2019-11-21 16:53] frannois commented on #648
Last night master github project was failing for another reason.

[2019-11-22 05:56] jb9229 opened #653 "Question: I can't use react devtools"
hello

i want to use react devtools plugin, but it is not working

Env:
  1. react: 16.12.0, 16.9.0(this version is same issue)
  2. FLIPPER_VERSION=0.23.4

Issue Image:
<img width="1198" alt="스크린샷 2019-11-22 오후 2 49 01" src="https://user-images.githubusercontent.com/3200647/69401279-ff8cc780-0d37-11ea-8cf4-026ce0f5b77a.png">

I tried
  1. yarn add --dev react-devtools@^3
  2. npm install

[2019-11-22 06:44] greenkeeper[bot] opened #654 "An in-range update of eslint-plugin-relay is breaking the build 🚨"
## The devDependency [eslint-plugin-relay](https://github.com/relayjs/eslint-plugin-relay) was updated from `1.4.0` to `1.4.1`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Feslint-plugin-relay-1.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-relay

[2019-11-22 10:10] passy commented on #648
Thanks for the clarification! Will give that a try.

[2019-11-22 12:41] jmuci opened #656 "Question: how can Integrate Flipper in an app Android that has minApi 16?"
Hi!
I have been working on integrating the Flipper debug tool in our up.
I am struggling because our app has minApi 16 and Flipper depens on [okhttp:3.14.1](https://github.com/facebook/flipper/blob/master/build.gradle#L90). The issue is that below API 21 (Lolipop) I can't use any version of okhttp above 3.12.x, so my app crashes on devices pre-Lolipop.
Note that I don't mind not having Flipper on

[2019-11-22 13:49] DanEdgarTarget opened #657 "WrongAbiError - Fatal Exception on launch of x86_64 Android Emulator with Flipper integration"
## 🐛 Bug Report

I am unable to launch my built app w/ Flipper support in an Android x86 based emulator.

I can run on any ARM device, with no issues, just Android x86 / x86_64 emulators fail.

I appear to have all the needed pieces within my Gradle file regarding ABI support:
[code]

Output log from console on emulator launch:
[code]

## To Reproduce

Unknown, seems to only occur on some workstat

[2019-11-22 14:08] passy commented on #648
Now I feel really stupid. Sorry, you're completely right. We must have broken this quite a while ago. Fix for it is coming and I'll make sure to add a CI job for preventing this from happening again. Thanks for the report!

[2019-11-22 15:02] #648 closed

[2019-11-22 17:49] kamgurgul commented on #284
If anyone need it I extracted driver which I'm using for Realm: https://github.com/kamgurgul/Flipper-Realm
Maybe in the feature I will add iOS support and merge it here.

[2019-11-23 08:12] deepanshu23 opened #660 "Question: Duplicate classes when using flipper alongside react-native"
I am using react-native
com.facebook.react:react-native:0.60.5

and flipper version
com.facebook.flipper:flipper:0.28.0
com.facebook.flipper:flipper-network-plugin:0.28.0

I am getting this error

Execution failed for task ':mobile:checkStandardDebugDuplicateClasses'.

  java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.facebook.jni.CppException found in modules classes.j

[2019-11-24 01:33] greenkeeper[bot] opened #661 "An in-range update of docusaurus is breaking the build 🚨"
## The devDependency [docusaurus](https://github.com/facebook/docusaurus) was updated from `1.14.1` to `1.14.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fwebsite%2Fdocusaurus-1.14.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docusaurus is a devDependency of

[2019-11-24 12:29] ScreamZ opened #662 "Plugins make crash"
## 🐛 Bug Report

After installation all available plugin and restart flipper, it keep crashing

[code]

## Environment
Flipper desktop MACOS 0.28

[2019-11-24 12:33] greenkeeper[bot] opened #663 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Feslint-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not b

[2019-11-25 10:15] Nekromancer commented on #641
I have the issue with polish windows locale

[2019-11-25 15:15] passy commented on #662
Hey @ScreamZ, thanks for the report. Your ulimits are probably too low. You can check https://wilsonmar.github.io/maximum-limits/ for how to increase them.

Do you have watchman installed on your system?

[2019-11-25 20:45] mtzfactory commented on #662
Same here... It was working and I just installed some plugins to test and... it stop working and reported that error...

[2019-11-25 22:07] ScreamZ commented on #662
I have watchman yes, what's the impact on augment ulimit ? Can this impact the system stability ? Thanks

[2019-11-26 16:33] adrinieto commented on #641
I have the same problem with spanish locale

[2019-11-27 06:58] troy-lamerton commented on #552
Looking like I won't get to this as my priorities have changed. Would be glad for someone else to take the lead.

[2019-11-27 17:57] passy commented on #641
Thanks for confirming this. It's very useful to know that this affects other locales as well. To be transparent here, we currently don't have the bandwidth to investigate this. If someone would want to dig into this deeper and potentially come up with a fix, we'd be super grateful. Otherwise it may take a bit until someone from our team can look into a fix.

[2019-11-27 20:57] krunk4ever commented on #657
I'm also hitting this error.

[2019-11-27 21:06] krunk4ever commented on #657
Here's my stack traces:

[code]

[2019-11-27 21:39] krunk4ever commented on #657
Note: We were using version 0.28.0

[2019-11-28 10:38] passy commented on #657
I've just tried to repro this with our in-repo sample app on an x86_64 emu but without success. If you have any repro steps or ideally a repro repo, that'd be great.

[2019-11-29 17:43] DanEdgarTarget commented on #657
I am going to apologize in advance for not being able to provide a repro repo.

On a 20+ person team, this issue is occurring on 2 workstations.

That leads me to believe that it isn't necessarily a repo based issue, but something environmental on the given machines?

I have tried things like repairing NDK, deleting all Gradle deps and forcing new, ... all to no avail.

Is there some core part of

[2019-11-30 04:58] greenkeeper[bot] opened #665 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.7.0` to `3.7.1`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fplugins%2Fuglify-js-3.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this pro

[2019-12-01 12:07] aleclarson opened #666 "xcodebuild is trying to install Apple-provided software"
## 🐛 Bug Report
When using `yarn start` on a local fork (v0.29.3), I'm prompted with:
[code]

Even when I provide my password, the prompt continuously re-appears.

Any idea what code in Flipper could trigger this prompt?

## To Reproduce
Idk, probably dependent on my system.

## Expected Behavior
Only ask for my password once.

## Environment
- Flipper v0.29.3
- macOS v10.14.5
- Xcode v10.2.1

[2019-12-01 12:55] aleclarson commented on #582
@paschaldev What instructions? I tried `pod repo update` but `pod install` still fails.

[code]

- Flipper v0.29.3

[2019-12-01 15:15] paschaldev commented on #582
@aleclarson You can try updating your cocoapods binary to the latest then run `pod repo update` again.

[2019-12-02 08:35] paour opened #667 "Flipper Doctor complains Android SDK is not installed"
## 🐛 Bug Report

I've been using Flipper since before the name change and it's always worked fine (still does).

However, on each launch, I get an error banner claiming there are problems with my install.

![Flipper](https://user-images.githubusercontent.com/90963/69944000-7c613380-14e6-11ea-8c18-258d34c9127a.png)

My Android SDK is configured correctly, and complete.

![Flipper](https://user-imag

[2019-12-02 09:03] Strime commented on #92
Any updates ? :(

[2019-12-02 14:41] Hackergeek commented on #662
![image](https://user-images.githubusercontent.com/9377994/69968210-e31d3600-1554-11ea-8a03-63889e24543e.png)
Same here...

[2019-12-02 16:27] jknoxville commented on #667
Interesting, thanks for reporting.

What do you get if you run this from the command line?
`npx envinfo`

and also this:
`ANDROID_HOME=/Applications/Dev/android-sdk npx envinfo`

[2019-12-02 16:32] jknoxville commented on #666
We've seen this happen when you have an xcode version installed that has some invalid certificates that it uses to update itself.

Basically, flipper uses the xcode cli to continually poll for connected devices, this cli takes the opportunity to update itself every time it's run. But if for some reason that update fails, the command will succeed, but it'll attempt to update again next time, and co

[2019-12-02 17:26] paour commented on #667
Thank you for pointing me in the right direction! As you surmised, the tool didn't detect my Android SDK in with either command.

After looking at the source for `envinfo`,  I realized the root cause was [this issue](https://stackoverflow.com/questions/46402772/failed-to-install-android-sdk-java-lang-noclassdeffounderror-javax-xml-bind-a).

The short-term fix for me is downgrading the version of J

[2019-12-02 20:00] greenkeeper[bot] opened #669 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.13` to `16.9.14`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40types%2Freact-16.9.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react is a d

[2019-12-03 15:02] reevesnick commented on #662
On Mac, You can navigate to`/Users/<USERNAME>/.flipper/. Delete the folder. Then open the application again

[2019-12-03 20:04] ScreamZ commented on #662
@reevesnick I guess for linux it's same than macOS `~/.flipper`

[2019-12-03 23:50] reevesnick commented on #662
Really? Judging on the file directory structure, I thought Linux will be in the `usr` directory. Usually its a user based preference from the OS

[2019-12-04 00:04] reevesnick commented on #662
Even trying it on Watchman, with MacOS Catalina 10.15.1 does not work. Did an automatic install via Homebrew and did not effect. The only way is to delete the corresponding directories. It will reset Flipper when launch the next time.

[2019-12-05 08:37] hsy2016052387 commented on #146
I use androidx, but the solution below do not work.
`configurations.all {
    resolutionStrategy.eachDependency { DependencyResolveDetails details ->
        def requested = details.requested
        if (requested.group == "androidx") {
            if (!requested.name.startsWith("multidex")) {
                details.useVersion "${targetSdk}.+"
            }
        }
    }
}`

[2019-12-05 11:20] passy commented on #665
Doesn't seem to apply anymore.

[2019-12-05 11:20] #665 closed

[2019-12-05 23:46] krunk4ever commented on #657
We were able to get some more data on this. It looks like it may be dependent on which Android API level your emulator is using. We got word that for some users, switching emulators help resolve the issue and so far my own testing has shown:

* Pixel 2 + API 28 = crash
* Pixel 2 + API 29 = launches
* Pixel + API 28 = crash

[2019-12-06 10:39] vkotovv opened #673 "Question: How can I copy log rows with priority (Type) column?"
I'd like to copy Android logs with Type = All, but in the copied lines there is no Type column present (only Time, Tag and Message).

How can I do that?

Use case: I'd like to send recorded logs to another person, so I just copied all the logs, but type column is not present. I know I can filter logs by type, but I'd like to copy all types, not just a single one.

I'm using Flipper 0.28.0 on Linux

[2019-12-06 11:34] #663 closed

[2019-12-06 11:34] #661 closed

[2019-12-06 14:29] #654 closed

[2019-12-06 22:00] greenkeeper[bot] opened #677 "An in-range update of websocket is breaking the build 🚨"
## The dependency [websocket](https://github.com/theturtle32/WebSocket-Node) was updated from `1.0.30` to `1.0.31`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fwebsocket-1.0.31).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

websocket is a direct dependency of this

[2019-12-08 02:07] greenkeeper[bot] opened #680 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.4` to `7.7.5`.
- The `dependency` [@babel/generator](https://www.npmjs.com/package/@babel/generator) was updated from `7.7.2` to `7.7.4`.
- The `dependency` [@babel/parser](https://www.npmjs.com/package/@babel/parser) was updated from `7.7.4` to

[2019-12-08 15:08] greenkeeper[bot] opened #681 "An in-range update of pkg is breaking the build 🚨"
## The dependency [pkg](https://github.com/zeit/pkg) was updated from `4.4.0` to `4.4.1`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fpkg-4.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pkg is a direct dependency of this project, and **it is very likely causi

[2019-12-08 18:36] greenkeeper[bot] opened #682 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.7.1` to `3.7.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fplugins%2Fuglify-js-3.7.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this pro

[2019-12-09 07:22] greenkeeper[bot] opened #683 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.2` to `2.19.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Feslint-plugin-import-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plug

[2019-12-09 22:40] greenkeeper[bot] opened #686 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.15` to `12.12.16`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40types%2Fnode-12.12.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a d

[2019-12-11 07:05] dphans opened #687 "Flipper doctor wrong warning"
## 🐛 Bug Report
Flipper display wrong message that Android SDK is not found.

## To Reproduce
- Open Flipper, warning message display on the top.

## Expected Behavior
- Android SDK already installed (with Android Studio) at /Users/<user_name>/Library/Android/sdk. And it should be not display warning message.

## Environment
Flipper version: 0.30.0.

<img width="1127" alt="Screen Shot 2019-12-11 a

[2019-12-11 07:23] hacker1024 opened #688 "Screen recording failure leads to 0b file being pulled"
## 🐛 Bug Report
When taking a screen recording of a WearOS device, the outputted file is empty. Tested over USB & Bluetooth.

## To Reproduce
1. Connect to your smartwatch with ADB over USB or Bluetooth (I suspect Wi-FI won't work either, but I haven't tried it)
2. Start a screen recording
3. Examine the recording file when complete. It will be empty.

## Expected Behavior
The screen recording fil

[2019-12-11 09:07] passy commented on #688
Hey @hacker1024! Thanks for the report. There's probably not much we can do about this. We use the [`screenrecord`](https://developer.android.com/studio/command-line/adb#screenrecord) command on Android and pull the resulting file to your desktop. We probably should do a better job at checking if there's a valid video before pulling, but the underlying problem here will be with WatchOS or the part

[2019-12-11 09:13] passy commented on #687
cc @nikoant

[2019-12-11 09:44] nikoant commented on #687
@dphans thanks for reporting! This issue looks similar to another one reported earlier - https://github.com/facebook/flipper/issues/667. What do you get if you run the commands suggested by John in this comment - https://github.com/facebook/flipper/issues/667#issuecomment-560470909?

[2019-12-11 10:49] hacker1024 commented on #688
Thanks for the info.
When manually running `screenrecord`, I get the error described [here](https://stackoverflow.com/questions/25491528/screen-record-android-wear/25496528).

[2019-12-11 12:07] passy commented on #688
Ah, I see. I'll rephrase the title here a little so we can add this to our backlog. Thanks for the report!

[2019-12-11 13:28] #682 closed

[2019-12-11 17:46] #680 closed

[2019-12-11 21:51] greenkeeper[bot] opened #694 "An in-range update of promisify-child-process is breaking the build 🚨"
## The dependency [promisify-child-process](https://github.com/jcoreio/promisify-child-process) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fpromisify-child-process-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

promisify-

[2019-12-12 10:19] saulmm commented on #657
<img width="1177" alt="Screenshot 2019-12-12 at 11 15 19" src="https://user-images.githubusercontent.com/3531999/70703896-48012a80-1cd1-11ea-8cee-b321a8f317bc.png">

[code]

[2019-12-12 10:21] saulmm commented on #657
Having same issue on Pixel2, API29 as well

<img width="1177" alt="Screenshot 2019-12-12 at 11 15 19" src="https://user-images.githubusercontent.com/3531999/70703896-48012a80-1cd1-11ea-8cee-b321a8f317bc.png">

[code]

[2019-12-12 13:34] #641 closed

[2019-12-12 15:57] #677 closed

[2019-12-12 16:05] #681 closed

[2019-12-12 18:06] waqas19921 commented on #660
Add only this to your `build.gradle` file
[code]

[2019-12-13 04:29] TommyLeong opened #696 "Unable to find a specification for `FlipperKit (~> 0.30.0)`"
## 🐛 Bug Report
Been trying to install Flipper followed instructions given by [getting started guide](https://fbflipper.com/docs/getting-started.html#ios). End up facing issue `[!] Unable to find a specification for `FlipperKit (~> 0.30.0)``

### What I've tried:
Tried the following to by pass Unable to find FlipperKit issue
[code]
Result in `[!] Unable to find a specification for `YogaKit (~> 1.1

[2019-12-13 12:43] shriharshs opened #698 "Question: We are getting error: cannot access BufferingFlipperPlugin"
We have Release and the Debug builds, it works well with the Debug build, but when changed to release build, it would throw this error. Would there be any help or workaround to fix it?

[2019-12-13 18:07] Ehesp opened #699 "Uncaught exception: Too many open files"
Hi All,

I've been creating my own Flipper plugin, which seemed to be going well. At one point, I had 2 dependencies `flipper: latest` & `react: ^16.12.0` and everything seemed to be going ok.

Once I started to build out my project, adding some dev dependencies, sub-components etc, things worked and all of a sudden I started to get the following error when starting Flipper:

![image](https://user

[2019-12-14 06:46] jaychang0917 opened #701 "Discussion: add support for import/export custom plugin data."
Currently only build-in plugins data can be import/export, it would be great to support custom plugin too.

[2019-12-15 04:33] greenkeeper[bot] opened #703 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## The devDependency [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Feslint-plugin-prettier-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-pl

[2019-12-15 10:14] greenkeeper[bot] opened #704 "An in-range update of pkg is breaking the build 🚨"
## The dependency [pkg](https://github.com/zeit/pkg) was updated from `4.4.1` to `4.4.2`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fpkg-4.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pkg is a direct dependency of this project, and **it is very likely causi

[2019-12-16 12:53] #694 closed

[2019-12-17 12:26] nikoant commented on #687
The workaround implemented in this commit: 5d17eed

[2019-12-17 12:26] #687 closed

[2019-12-17 13:40] Ghedeon opened #707 "Crashes on emulator"
## 🐛 Bug Report
Crashes on emulator. It's getting really difficult to justify Flipper, a debug tool shouldn't crash and block the development process.

## To Reproduce
Build & Run

## Environment
Emulator: Pixel 3 API 28, x86
Flipper: 0.30.1
Soloader: 0.8.0
[code]

[2019-12-17 16:58] drbear95 commented on #707
Hello, i have the same problem.
Here are my dependencies:
[code]
Tried on emulators with x86_64 and x86 versions.
Are there any chances for fixing this?

[2019-12-18 12:27] #686 closed

[2019-12-18 21:25] mweststrate commented on #699
In what directory are you developing your plugin? I had the same issue when developing inside `~/.flipper` directory, but if you set up your own, as explained here, I think the issue is less likely to occur: https://fbflipper.com/docs/tutorial/js-setup.html#dynamic-plugin-loading

[2019-12-18 21:26] mweststrate commented on #701
@jaychang0917 does your plugin have a `persistedStateReducer`, as in that case it should be picked up automatically.

[2019-12-18 21:30] mweststrate commented on #707
Is this for a React Native project? In that case the version of flipper should be kept lower, as described here: https://fbflipper.com/docs/getting-started.html#android (we are still working on a solution, but it is quite involved)

[2019-12-19 03:04] greenkeeper[bot] opened #711 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.5` to `7.7.7`.
- The `dependency` [@babel/generator](https://www.npmjs.com/package/@babel/generator) was updated from `7.7.4` to `7.7.7`.
- The `dependency` [@babel/parser](https://www.npmjs.com/package/@babel/parser) was updated from `7.7.5` to

[2019-12-19 09:20] Ehesp commented on #699
In my own, inside of `~/Documents/flipper-plugins/`, which only has the one. I can seem to get around the problem by running the app from the command line + clearing watchman. Not ideal, but it seems to work for now.

[2019-12-19 09:30] mweststrate commented on #699
For background, I suspect the cause of this issue might be here: https://github.com/facebook/flipper/blob/09184a999f4ed81914618dd576c0b5a0099dfd66/static/compilePlugins.js#L68, where we set up watching too naive, as it is recursive, meaning the `node_modules` will be watched as well, which should ideally be blacklisted from watching. However, node does not provide an API for that afaik, so probabl

[2019-12-19 14:17] Ghedeon commented on #707
It's a regular native android project, not RN. One note, it works with the same x86 emulator but API 29, instead of 28.

[2019-12-19 15:25] mweststrate commented on #707
For now it should be safe to diverge the versions of Flipper itself, and the application plugin (the api has been stable for a very long time). I think the build issue is on @passy's radar.

[2019-12-20 04:29] chetnashah commented on #644
@hexlay how did you configure openssl ? I have put openssl on the PATH. What else needs to be done?
I am facing the same issue on windows.

[2019-12-20 07:18] ggv-jaychang commented on #701
@mweststrate yes, the plugin having `defaultPersistedState` will be picked, but how about plugin that doesn't run in the background?

[2019-12-20 07:20] jaychang0917 commented on #701
@mweststrate yes, the plugin having defaultPersistedState will be picked, but how about plugin that doesn't run in the background?

[2019-12-20 09:18] mweststrate commented on #701
It seems that the mechanism hasn't been documented yet, but you should be able to use the following methods for this, note that the export is `async`, so you and use that make calls to the app using `callClient`.

[code]

[2019-12-21 18:21] RajeshBatth opened #716 "Cannot install on macOS(catalina)."
## 🐛 Bug Report

“Flipper” can’t be opened because Apple cannot check it for malicious software.
This software needs to be updated. Contact the developer for more information.

## To Reproduce

Happening all the time
## Expected Behavior

App to open
## Environment

macOS: Catalina 10.15.1 (19B88)

[2019-12-21 18:29] #716 closed

[2019-12-21 18:30] RajeshBatth commented on #716
This can be fixed by changing macOS's privacy settings.

[2019-12-22 01:17] snepalnetflix opened #717 "createTablePlugin column values don't render"
## 🐛 Bug Report

When using the createTablePlugin sample, nothing is rendered inside each column.

## To Reproduce
Create a flipper plugin using the code from the following documentation:
https://fbflipper.com/docs/extending/create-table-plugin.html

Create an app to send "newRow" events. For example:
[code]

Right click on a row and click copy row, the following is copied:
`{"column3":"column3-va

[2019-12-22 23:36] greenkeeper[bot] opened #718 "An in-range update of emotion is breaking the build 🚨"
## There have been updates to the *emotion* monorepo:

 + - The `dependency` [@emotion/core](https://www.npmjs.com/package/@emotion/core) was updated from `10.0.22` to `10.0.27`.
- The `dependency` [@emotion/styled](https://www.npmjs.com/package/@emotion/styled) was updated from `10.0.23` to `10.0.27`.
- The `dependency` [emotion](https://www.npmjs.com/package/emotion) was updated from `10.0.23` t

[2019-12-23 19:07] greenkeeper[bot] opened #720 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.12.0` to `2.13.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.13.0).

This version is **covered** by your **current version range** and after updating it in your project *

[2019-12-23 19:33] greenkeeper[bot] opened #721 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.12.0` to `2.13.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2F%40typescript-eslint%2Fparser-2.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fai

[2019-12-24 08:55] m-maohuawei opened #722 "A JavaScript error occurred in the main process"
Uncaught Exception:
Error: EMFILE: too many open files, watch
    at FSEvent.FSWatcher._handle.onchange (internal/fs/watchers.js:123:28)

Endless loop

[2019-12-26 14:00] SpawnAtis opened #723 "Docs: React-native setup (IOS)"
I think, there is a mistake in [click](https://github.com/facebook/flipper/blob/master/docs/getting-started.md#ios) `AppDelegate.m` file: a duplication of  `#import <FlipperKitNetworkPlugin/FlipperKitNetworkPlugin.h>`.

 I was not be able to run my app with such set up:
ERROR
`declaration of 'FlipperKitReactPlugin' must be imported from module 'FlipperKit.FlipperKitReactPlugin.FlipperKitReactPlugi

[2019-12-27 01:26] greenkeeper[bot] opened #724 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.7.2` to `3.7.3`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fplugins%2Fuglify-js-3.7.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this pro

[2019-12-27 15:31] CarlosUvaSilva opened #725 "Question: React Native (Android) can't use plugins"
I've followed the RN documentation and I'm building Flipper-v.0.23.4 from source as per the documentation.

I have the crash report and logs tabs but I can't use any of the other plugins (network etc).
I've checked and openssl is in my PATH but it seems flipper can't connect with the app, tried with Emulator and a physical device

[2019-12-30 12:33] mateosilguero commented on #725
Could you share a bit of your code ?

[2020-01-02 09:45] passy commented on #458
We have this now. :)

[2020-01-02 09:45] #458 closed

[2020-01-04 03:15] jaychang0917 commented on #701
Sorry for my late reply, so you mean for plugin running in background, flipper is able to export its data, but for plugin that doesn't run in background we need to write the serialization logic? Is it possible flipper handle the serialization logic for both cases?

[2020-01-06 14:53] mweststrate commented on #701
To be able to export a plugin, it has to have persistedState, as local plugin state isn't known in the global registery of Flipper. If you want to be able to export the state, I recommend to move the state into the peristedState functionality (see https://fbflipper.com/docs/extending/js-plugin-api.html#background-plugins). You are not required to further leverage the background functionality.

htt

[2020-01-07 02:01] jaychang0917 commented on #701
Got it, thanks @mweststrate

[2020-01-07 02:01] #701 closed

[2020-01-08 21:04] KrisGeorges commented on #92
Samsung S8, this problem fixed for me by upgrading from Android 7 to 8.

[2020-01-09 01:04] donaldchen opened #736 "Feature request: create no-ops for default plugins"
I'm working on integrating Flipper with an Android app. It's hard to set up the default plugins for network inspection, layout inspection, and shared preferences inspection when there isn't a default no-op implementation for those plugins. Without those no-op implementations, release builds cannot compile successfully.

**Feature Request**
Add the plugin no-ops from https://github.com/theGlenn/fli

[2020-01-09 04:22] ZacSweers commented on #667
I have this issue as well despite correct env info and my JAVA_HOME set to jdk 8

Env info is envinfo

[code]

It would be tremendously helpful if the doctor displayed some explanation as to _why_ it believes it's failed. The current screen gives no actionable information to the developer.

![image](https://user-images.githubusercontent.com/1361086/72037948-c79cfd80-326d-11ea-968e-f47c69d00ee1.png

[2020-01-09 10:34] passy commented on #736
Thanks for flagging @theGlenn's repo. I wasn't aware of this. Unfortunately we won't be able to include this directly into our repo. The reasons for that are that a) we don't have a good process at the moment when working on plugins to ensure that the no-op implementations stay in sync and b) that we recommend against this approach as it still has some app weight overhead (with a default Android b

[2020-01-09 16:18] donaldchen commented on #736
@passy , makes sense. Thanks!

[2020-01-09 16:18] #736 closed

[2020-01-10 12:27] gengjiawen commented on #364
If anyone still run into this issue:
Try:
[code]

[2020-01-10 12:43] gengjiawen commented on #707
Also @passy , Is there any way I can use higher flipper on React Native.

[2020-01-10 12:44] passy commented on #707
@gengjiawen Not easily. We're working on it in https://github.com/facebook/react-native/issues/27565

[2020-01-10 12:52] gengjiawen commented on #707
Is it because react native use fbjni too. Duplicate code since react native include the source code ?

[2020-01-10 12:57] gengjiawen commented on #707
Maybe remove fbjni source code from react native repo and use https://github.com/facebookincubator/fbjni as gradle dependency ? Is react native has some hack in it ?

[2020-01-10 15:55] passy commented on #707
@gengjiawen Yes, that's exactly what I'm trying to do at the moment. :) Hopefully we'll get this landed soon.

[2020-01-14 14:32] greenkeeper[bot] opened #744 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.8.0` to `7.8.2`.
- The `dependency` [@babel/preset-flow](https://www.npmjs.com/package/@babel/preset-flow) was updated from `7.7.4` to `7.8.0`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:gree

[2020-01-14 17:01] cekkaewnumchai commented on #711
Merged to #744

[2020-01-15 11:31] #725 closed

[2020-01-15 13:05] #669 closed

[2020-01-15 14:24] #744 closed

[2020-01-15 14:24] #724 closed

[2020-01-15 14:24] #720 closed

[2020-01-15 14:24] #721 closed

[2020-01-15 14:25] #703 closed

[2020-01-15 14:25] #704 closed

[2020-01-15 14:25] #711 closed

[2020-01-15 14:25] #718 closed

[2020-01-15 14:25] #683 closed

[2020-01-16 12:36] mweststrate commented on #717
Could you share the source code of the flipper plugin as well? At least the relevant parts with the datashape and table setup?

[2020-01-16 12:41] #722 closed

[2020-01-16 13:26] mweststrate commented on #699
In our latest release last week we improved the file watching system. If this problem still occurs after updating please open a fresh issue with some more details.

Note that on iOS the amount of watchable files always has to be increased as it is insanely low by default. For example by following these instructions: https://facebook.github.io/watchman/docs/install.html#mac-os-file-descriptor-limit

[2020-01-16 13:26] #699 closed

[2020-01-16 13:29] mweststrate commented on #696
We are working on standardizing this integration, bypassing the whole process. But in the mean time please use the older version in the RN configuration as described here: https://github.com/facebook/flipper/blob/master/docs/getting-started.md#ios. Despite the warning you will get, newer Flipper Desktop versions are compatible with older SDK versions on the devices. , so the warnings can be safely

[2020-01-16 13:31] mweststrate commented on #698
Would you mind providing a lot more detail? Flipper versions, relevant build configuration, the target you are developing on (iOS / Android / React Native). Include stacktraces etc. Without tangible information we can't help out.

[2020-01-16 13:34] mweststrate commented on #673
If you don't mind a little scripting, you can do File > Export > As file... and export your device data. This produces a json file in which you should be able to find the device logs as structured data and freely query on it. (on linux you can nicely use the `jq` command for that)

[2020-01-16 13:41] mweststrate commented on #21
We are working on standardizing this, so ideally in 0.62 Flipper should work out of the box on React Native. In a later version it will also be possible to directly integrate with Flipper from the JavaScript side of things on RN.

[2020-01-16 13:42] mweststrate commented on #660
@deepanshu23 if the above comment solved your issue, would you mind closing it?

[2020-01-16 13:45] mweststrate commented on #653
Can you give a bit more context? The plugin can at the moment (afaik) only connect to DevTools v4 based applications. What are you connecting to? React Native? You might need to be on a newer version to get support from this plugin.

[2020-01-16 14:01] nikoant commented on #667
@ZacSweers are you using Flipper v0.30.1?

[2020-01-16 14:03] passy commented on #698
We do not support running Flipper in release builds. As Michel said, without more information we can only make guesses, but there are various checks depending on the platform that disable Flipper unless it's a debug build.

[2020-01-16 14:20] zlil commented on #667
@nikoant  I am using Flipper v0.30.1? and also having the same issue

[2020-01-16 14:23] nikoant commented on #667
@zlil, right, I think the issue was fixed after v0.30.1 released. Could you try build Flipper from master and check?

[2020-01-16 14:24] mweststrate commented on #647
The next release will include a small edit button after the URL to resolve the issue.

![Screen Shot 2020-01-16 at 13 55 49](https://user-images.githubusercontent.com/1820292/72532722-cff7c880-386b-11ea-95fc-b7f86264672e.png)

[2020-01-16 14:24] #647 closed

[2020-01-16 14:30] vkotovv commented on #673
@mweststrate Yeah, go it. It would be great to have some way of doing this via UI.

[2020-01-16 14:32] #723 closed

[2020-01-16 17:38] angusholder commented on #647
Thanks for fixing that!

[2020-01-17 14:14] GabeConsalter opened #750 "Discussion: React Native Realm database plugin"
I think we need to talk about a database inspector plugin to realm in a react native app.

[2020-01-17 19:22] greenkeeper[bot] opened #751 "An in-range update of query-string is breaking the build 🚨"
## The dependency [query-string](https://github.com/sindresorhus/query-string) was updated from `6.10.0` to `6.10.1`.

🚨 [View failing branch](https://github.com/facebook/flipper/compare/master...facebook:greenkeeper%2Fquery-string-6.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

query-string is a direct dependency

[2020-01-18 05:00] troy-lamerton commented on #552
![AF90B3C1-3953-4CB1-B44A-2AF7750AA848_1_105_c](https://user-images.githubusercontent.com/13446008/72658906-bcf20f00-39b7-11ea-81aa-bc3935eb215c.jpeg)

I inverted all colors.

[2020-01-18 11:57] ericksli commented on #667
Same issue when using v0.30.1 on Windows 10. I have customized the Android SDK location in Flipper but it still shows the warning banner.

[code]

[code]

[2020-01-20 15:14] MakhouT commented on #21
Awesome!

[2020-01-21 14:15] bizzguy commented on #707
We had a very similar problem in our Android builds.  When inspecting the APK we noticed that the "so" libraries were not being included in the "lib/****" directories.  It occured when we went for version "0.28.0" to "0.30.0"

We actually had to completely get rid of the cache (ie. delete folder "~/.gradle/cache" and rebuild everything).  I thought deleting the entire cache would cause a really lo

[2020-01-21 19:56] EricAtPlanGrid opened #754 "UnsatisfiedLinkError (libevent_extra-2.1.so) with Flipper 0.32.2"
## 🐛 Bug Report

With nothing changed but an upgrade of the Flipper dependency version from 0.26.0 to 0.32.2, my app now crashes on launch, with this in logcat:

[code]

## To Reproduce
Attempt to run a debug version of your app w/ Flipper enabled. Note: I have not yet tested the Flipper sample app, since I can't seem to get Android Studio to actually build it.

## Expected Behavior
The app does n

[2020-01-21 20:07] EricAtPlanGrid commented on #754
Urgh this may have been a build issue. Investigating…

[2020-01-21 20:28] ZacSweers commented on #667
This remains broken in 0.30.2

[2020-01-21 21:16] EricAtPlanGrid commented on #754
(closing until I can get a handle on this better)

[2020-01-21 21:16] #754 closed

[2020-01-22 08:17] varunest commented on #334
Having the same issue. Using Mac

[2020-01-22 10:01] nikoant commented on #667
@ZacSweers still reproducible with Java 8? That’s strange because the problem was that SDK is detected using sdkmanager, but the latter is not compatible with Java 9+. For Java 9 and 10 we implemented is a workaround, but not for 11+. This issue is planned to be fixed in Android Studio 3.6 release: https://issuetracker.google.com/issues/67495440.

As the issues with SDK detection are very environm

[2020-01-22 10:27] pepijntb opened #755 "Add support for empty responses in the network plugin (204 No Content)"
Currently the plugin can't show the response code because the interceptor fails with an EOFException.
This can be reproduced by calling an end point which returns 204 with an empty body.

[2020-01-22 15:45] ZacSweers commented on #667
I posted my info in my comment higher up, yes confirmed #2 and #3. It would be helpful if the app showed me some sort of diagnostic of what it tried to find and thinks is missing.

[2020-01-24 06:48] oliviernotteghem opened #756 "Flipper does not reload plugin when plugin source code is modified"
## 🐛 Bug Report
Flipper does not reload plugin when plugin source code is modified

## To Reproduce
Launch flipper from command line with a custom plugin folder specified in flipper config.
Verify custom plugin is loaded and run.
Modify plugin index.js and save changes. Plugin does not refresh. If Flipper is killed/restarted, changes are visible.

output from flipper :
🕵️‍  Watching for plugin cha

[2020-01-24 14:49] nikoant commented on #756
Hi @oliviernotteghem, could you check if the same works on your machine for built-in plugins? E.g. try to start Flipper dev mode (yarn && yarn start) and change some built-in plugin e.g. https://github.com/facebook/flipper/tree/master/src/plugins/network.

Also, do you have [watchman](https://facebook.github.io/watchman/) in PATH?

[2020-01-24 14:54] nikoant commented on #667
@ZacSweers I've changed implementation of Android SDK detection to avoid using sdkmanager, and also added some (rather minimal) feedback for failed checks in this commit: https://github.com/facebook/flipper/commit/b625efee3d2fdce19c288c5135e12fe78e2572ca. Would be great if you can build from master and test this.

[2020-01-24 16:36] ZacSweers commented on #667
Will give it a shot 👍

On Fri, Jan 24, 2020 at 9:54 AM Anton Nikolaev <notifications@github.com>
wrote:

[2020-01-25 19:10] oliviernotteghem commented on #756
Thanks @nikoant for your reply. I notice the same issue with Flipper in dev mode built from repo locally. I do have watchman in PATH. When I modify a plugin file, I don't see any activity in Flipper log at all.

watchman watch-list
{
    "version": "4.9.0",
    "roots": [
        "/Users/oliviern/Uber/flipper",
        "/Users/oliviern/Desktop/flipper-plugins/analytics",
        "/Users/oliviern/U