[2018-06-11 11:21] priteshrnandgaonkar opened #11 "SonarKit podspec validation fails"
Currently `pod spec lint SonarKit.podspec` fails and its blocking us to release it on cocoapods. It fails the following error

[code]

[2018-06-11 15:08] priteshrnandgaonkar opened #13 "Swift support for Sonar"
Currently Sonar doesn't build with Swift projects due to its dependecies being written in c++.
There are few files which are referenced by sonar's Objective-C wrapper which has reference to header with C++ code. We can either get rid off those references from header files to support swift.

[2018-06-11 17:10] andreiverdes opened #14 "error: isMainProcess(Context) has private access in SonarUtils"
Pretty explanatory from the title :D
Trying to setup Sonar and I'm having a compile issue

[2018-06-11 17:40] pardom opened #16 "Feature request: scroll to end"
Currently the log pane maintains the current scroll position even if scrolled to the bottom. Ideally, the pane could optionally remain scrolled to the end if positioned there, similar to other developer tools.

[2018-06-11 18:31] colinhumber commented on #11
By default, pushing to a spec repo fails if there are warnings emitted. If you want to override this behavior, you can push to the spec repo by including the `--allow-warnings` argument. Otherwise, the warnings would need to be fixed.

[2018-06-11 19:20] pardom commented on #16
Not sure if I was doing something wrong, but it seems to be working now. Closing.

[2018-06-11 19:20] #16 closed

[2018-06-11 20:12] ahmedlhanafy opened #21 "What about React Native?"
Are there any plans to add support for React Native in the future?

[2018-06-11 20:16] Maxence-Machu commented on #21
+ 1, nice projet by the way

[2018-06-11 20:29] Rohfosho commented on #14
You can use `SonarUtils.shouldEnableClient(this)` instead.

This checks if it's the main process, an end to end test, and if it's an internal build.

[2018-06-11 20:39] andreiverdes commented on #14
Oh okay, then :) the getting started guide was using that, closing this issue

[2018-06-11 20:39] #14 closed

[2018-06-11 20:52] andreiverdes opened #22 "Fix `Getting Started` docs Android"
`Getting Started` Android docs is using an internal private method to check if Sonar should be used.
As per GH-14 comment, it should point to `SonarUtils.shouldEnableClient(this)`

[2018-06-11 21:00] alioguzhan commented on #21
Since integration is being done at native level, we should be able to use this tool for `React-Native` projects as well. (default react native apps, not expo!)

[2018-06-11 21:31] rigor789 opened #24 "Gradle error when building"
I'm trying to test Sonar with android, I created a new application with android studio, and added the dependency to the `build.gradle`

[code]

When I try to build the app, I get the following error:
[code]

In the `Android Issues` section this error appears as well:
[code]

[2018-06-11 21:55] rigor789 commented on #24
I tried to use the following snippet (I can't remember where it was from, I used it in a past project)

[code]

But that din't seem to solve the issue.

[2018-06-11 22:55] hibob224 opened #27 "Crash on launch, no mention of SoLoader in getting started"
When following the Android getting started guide I'm running into the following exception when launching the app

[code]

Looking at the sample [application](https://github.com/facebook/Sonar/blob/master/android/sample/src/sonar/com/facebook/sonar/sample/SonarSampleApplication.java#L30) it seems necessary to call `SoLoader.init()` prior to creating a Sonar client, if this is the case the [getting

[2018-06-12 00:15] rubensantiago opened #28 "'iosfwd' file not found"
After importing `<Sonar/SonarClient.h>`, 'iosfwd' cannot be found in `json.h`. This is a mixed Obj-C & Swift project.

[2018-06-12 01:29] urmyfaith opened #29 "Pod installed failed when Run the sample code on iOS or on my own project."
Pod installed failed when Run the sample code on iOS or on my own project.

RT.

[code]

Build On macOS 10.13.3 (17D102),

[code]

[2018-06-12 01:30] urmyfaith opened #30 "Pod installed failed when Run the sample code on iOS or on my own project."
Pod installed failed when Run the sample code on iOS or on my own project.

RT.

[code]

Build On macOS 10.13.3 (17D102),

[code]

[2018-06-12 01:30] #29 closed

[2018-06-12 01:37] muukii opened #31 "Fails install to Swift project with CocoaPods?"
Hi,

Can I install Sonar to Swift-Project with CocoaPods?
I faced following installing error.
I think `use_frameworks!` flag causes it.

A workaround is here.
https://github.com/react-community/react-native-maps/issues/1923

[code]

[2018-06-12 02:07] trungtin commented on #21
If trying to add this `pod 'Yoga','~>1.8.1', :modular_headers => true` to the Podfile we stuck on #30. And when trying to install `Yoga` from podspec like this:
[code]
We stumble upon this issue `The 'Pods-xxx' target has libraries with conflicting names: libyoga.a.` as indeed in our Podfile we already have this:
[code]

Any idea :D?

[2018-06-12 02:27] pranayairan opened #32 "Android compilation error using it with React Native module libgnustl_shared.so, libfb.so duplication"
When integrating Sonar on a project with React Native as a dependency, I get a lot of **DuplicateRelativeFileException** with libgnustl_shared, libfb etc.

This is happening due to the dependency of our app on React Native. I was able to fix this issue by putting this in our gradle file

[code]
Submitting the issue so others can fix it.

[2018-06-12 02:37] pranayairan opened #33 "Feature Request Adding Support for SqlLite DB browser and Shared Preference"
As sonar on the path of replacing Stetho, there are some functionalities in Stetho that is currently not supported by Sonar. There are 2 main functionalities that would be awesome to add as a plugin.

1. Support to browse SQLlite DB and run raw queries on it.
2. Support to browse App's Shared Preference and option to edit them.

This functionalities already exist in Stetho and super easy to use.

[2018-06-12 02:49] pranayairan commented on #32
i am still having different issues after making the change, I am unable to run it. I sometimes get this error
`Multiple dex files define Lcom/facebook/jni/Countable;`

Sometimes there is a different error but the same type of Multiple dex files define. Would be good to have a solution to get Sonar work with RN based android app.

[2018-06-12 03:39] KeithYokoma commented on #24
I've got the similar error in the `Android Issues` section:

[code]

[2018-06-12 03:45] toantk238 opened #35 "Support Desktop app on Linux"
Do you have any plan to make this app runnable on Linux system ( for me, I'm using Ubuntu 18.04 ).

Curl 7.60.0
Yarn 1.7.0

I tried to run it then got this error.

[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.4: The platform "linux" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from install

[2018-06-12 04:04] vincent-paing opened #36 "Sonar keep crash on startup"
I followed the getting started guide, and set up in my application as follows:

[code]

Now whenever my app starts, it crashes with following exception
[code]

I'm on Android SDK of 28, and on Android Studio of 3.2, and testing on Phone with OS version of 8.0.0

[2018-06-12 04:18] rohfosho opened #37 "Unable to build Android Project"
Can't build the android project because the `fb` directory is not present.

This causes the following files to not be found:

`fb/visibility.h`
`fb/fbjni.h`
`fb/**`

[2018-06-12 04:26] vincent-paing opened #38 "Cannot compile Android project with D8 Compiler"
I can't seem to build the project after adding Sonar and enabling d8 compiler in gradle.properties with
 ```android.enableD8=true```. I got the following error when I run with ```gradlew clean assemble```

[code]
Removing Sonar dependency in gradle and running again works. Happening on Android Studio 3.2 with SDK Version of 28

[2018-06-12 04:41] colinhumber commented on #11
The Swift version should be specified in the podspec as outlined here. https://guides.cocoapods.org/syntax/podspec.html

[2018-06-12 04:59] wickedev commented on #37
also following files are not found
`fb/assert.h`
`fb/fbjni/ByteBuffer.h`
`fb/log.h`
`fb/Countable.h`
`fb/visibility.h`
`fb/fbjni/CoreClasses.h`

[2018-06-12 05:09] babramovitch opened #40 "Android Build Fails On MultiDex Project"
App fails to build if I add the gradle dependency to my already multi-dex project.

Android Studio 3.1.3
Build #AI-173.4819257, built on June 4, 2018
JRE: 1.8.0_152-release-1024-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.4
Gradle Tools: 3.1.3

[code]

[2018-06-12 06:01] carloscuesta commented on #21
React Native support would be awesome!

[2018-06-12 06:38] muthuraj57 opened #41 "Support library classes are packaged into AAR"
<img width="340" alt="screen shot 2018-06-12 at 11 46 55 am" src="https://user-images.githubusercontent.com/10187654/41273875-de89c438-6e38-11e8-8415-532d4339c0f4.png">

Support library classes are packaged with aar instead of resolving it dynamically. And the included support library version is 26.x.x and I'm using 28.0.0-alpha3. There are some breaking changes in 26 to 27 and I can't build my ap

[2018-06-12 07:56] TurKorsaN commented on #24
looks like sonar has all dependencies packaged inside of it. try to implement like this

debugImplementation ('com.facebook.sonar:sonar:0.0.1'){
        exclude group: 'android'
        exclude group: 'javax'
        exclude group: 'jsr-305'
        exclude group: 'okhttp3'
        exclude group: 'okio'
        exclude group: 'org'
        exclude group: 'com.google'
    }

[2018-06-12 07:58] TurKorsaN commented on #41
You can implement sonar like this until they fix it.

debugImplementation ('com.facebook.sonar:sonar:0.0.1'){
        exclude group: 'android'
        exclude group: 'javax'
        exclude group: 'jsr-305'
        exclude group: 'okhttp3'
        exclude group: 'okio'
        exclude group: 'org'
        exclude group: 'com.google'
    }

[2018-06-12 08:05] yschimke commented on #41
Just hit this for okhttp

[2018-06-12 08:08] yschimke commented on #41
@TurKorsaN that doesn't fix it for me since they are baked into the classes.jar file.

[2018-06-12 08:47] yschimke opened #42 "Consider implementing okhttp tracing as an EventListener"
It provides a cleaner API than using an Interceptor

https://github.com/square/okhttp/wiki/Events

[2018-06-12 08:57] aldefy commented on #40
Same here : Task transformClassesWithMultidexlistForDebug FAILED

[2018-06-12 09:00] pawelkw opened #43 "DexArchiveBuilderException"
I followed the Getting Started guide for my project. After trying to build (with clean) I get the following issue:

[code]

Building from command line.
Gradle 4.8,
compileSdkVersion 27,
 androidTools = "3.2.0-alpha17",
kotlin = "1.2.41",
sonar = "0.0.1".

[2018-06-12 09:18] rigor789 commented on #24
@TurKorsaN I couldn't get it to work, the same error is thrown (even after cleaning and trying to re-build)

[2018-06-12 09:33] danielbuechele commented on #21
I agree! React Native support is something we should look into. From my understanding the actual views created by React Native should already show up in the layout inspector. What we could offer, is adding React Dev Tools to Sonar as a separate plugin, showing the React components. Linking between the layout inspector with the actual views and a React plugin showing the component tree would be gre

[2018-06-12 09:42] danielbuechele commented on #35
Is this a bug other users are experiencing, too? We created a linux build and were not facing this error. The `ENOSPC` looks like the file watcher is watching too many files.

[2018-06-12 09:49] passy commented on #38
Closing in favour of #41.

[2018-06-12 09:49] #38 closed

[2018-06-12 09:49] passy commented on #43
Closing in favour of #41.

[2018-06-12 09:49] #43 closed

[2018-06-12 09:49] passy commented on #40
Closing in favour of #41.

[2018-06-12 09:49] #40 closed

[2018-06-12 09:50] passy commented on #41
I think until there's a slim AAR, you would have to use `jarjar` to remove the bundled dependencies.

[2018-06-12 10:19] passy commented on #35
Just tried building on my box and both `yarn start` and `yarn build` work fine. I reckon this is file handle limits as @danielbuechele said. Check what `ulimit -n` says and if it's a low number (< 100000), then you'll likely run into those kinda problems.

[2018-06-12 10:29] priteshrnandgaonkar commented on #28
We do not support swift projects yet. We are working on it. Look at the issue #13

[2018-06-12 10:29] #28 closed

[2018-06-12 10:38] priteshrnandgaonkar commented on #30
@urmyfaith Running `pod install` from `iOS/Sample` works for me. Can you try upgrading your cocoapod?

<img width="1680" alt="screen shot 2018-06-12 at 11 37 03 am" src="https://user-images.githubusercontent.com/3865908/41285729-0ed15b82-6e35-11e8-9330-39196fdf5da2.png">

[2018-06-12 10:40] priteshrnandgaonkar commented on #11
I tried with `swift_version` but it didn't validate the pod. `--allow-warnings` will just get rid off the warnings but there is an error while validating podspec.

<img width="1573" alt="screen shot 2018-06-12 at 11 40 16 am" src="https://user-images.githubusercontent.com/3865908/41285851-71b06126-6e35-11e8-82ac-2f1f33f4a9da.png">

[2018-06-12 10:50] urmyfaith commented on #30
I have upgraded cocoapods.

![](https://ws2.sinaimg.cn/large/006tKfTcly1fs8l8mran9j31a60eswre.jpg)

[code]

[2018-06-12 10:52] friederbluemle commented on #24
There is definitely a packaging problem with version `0.0.1` of the library. It includes all class files of the dependencies (including the support library, Guava files, OkHttp, ...):

<p align="center"><img src="https://user-images.githubusercontent.com/743291/41285771-de934120-6e6f-11e8-9412-cca2eca6a6ba.png" width="300"></p>

The `exclude group` statements for `debugImplementation` suggested ab

[2018-06-12 11:17] minikin commented on #11
@priteshrnandgaonkar  Have you tried just to build Xcode project for the pod?
I've just tried and can't build it.

[2018-06-12 12:02] padupuy commented on #30
@urmyfaith The docs are not reflecting the repo requirements

Here is better version which comes from [the repo examples](https://github.com/facebook/Sonar/blob/master/iOS/Sample/Podfile)
[code]

@priteshrnandgaonkar Could you please update the docs ?

[2018-06-12 12:09] padupuy commented on #30
Still failed during pod install

Here is my logs

[code]

[2018-06-12 12:13] urmyfaith commented on #30
Instead of download the zip of this repo, I cloned to my mac ,the sample code works using commit

https://github.com/facebook/Sonar/commit/4fbe638adf39f413e8fb5a20e4de6833a8bbbdd2

Many thanks. @priteshrnandgaonkar @padupuy

![](https://ws2.sinaimg.cn/large/006tKfTcgy1fs8nokapzoj31420p67n0.jpg)

[2018-06-12 12:25] chainchelliah opened #45 "Error while building gradle #android"
Error: Program type already present: android.arch.lifecycle.LifecycleRegistry$ObserverWithState

	at com.android.tools.r8.utils.ProgramClassCollection.resolveClassConflictImpl(ProgramClassCollection.java:64)
	at com.android.tools.r8.utils.ProgramClassCollection.lambda$create$0(ProgramClassCollection.java:25)
	at java.util.concurrent.ConcurrentHashMap.merge(ConcurrentHashMap.java:1990)
	at com.andr

[2018-06-12 12:31] priteshrnandgaonkar commented on #45
You can follow #41 . It looks similar. Feel free to reopen if its not same issue.

[2018-06-12 12:31] #45 closed

[2018-06-12 12:58] hibob224 commented on #36
To get around this you can call `SoLoader.init(context, false)` before `AndroidSonarClient.getInstance(this)`. I've opened an issue for this asking if it should be added to the documentation #27

[2018-06-12 13:32] #22 closed

[2018-06-12 13:49] andreiverdes commented on #37
Also the `https://github.com/mozilla/rhino` lib is missing and `Console` plugin is throwing errors

[2018-06-12 13:55] andreiverdes opened #47 "Unable to use library with AS 3.2 Preview 18"
Unable to compile an Android app with Sonar `0.0.1.` dependency, using R8/D8:

[code]

[2018-06-12 13:56] andreiverdes commented on #47
Nvm, closing, just found #41

[2018-06-12 13:56] #47 closed

[2018-06-12 16:09] jknoxville commented on #36
Thanks for raising this guys, I'll update the docs to reflect it. Closing this one in favor of the first one, #27

[2018-06-12 16:09] #36 closed

[2018-06-12 16:11] jknoxville commented on #27
Thanks Jonathan, for anyone else hitting this, as you pointed out in #36
the correct way to avoid this is to initialize SoLoader at app startup.
See the sample app for an example: https://github.com/facebook/Sonar/blob/master/android/sample/src/sonar/com/facebook/sonar/sample/SonarSampleApplication.java#L30

I'll update the docs shortly.

[2018-06-12 16:29] priteshrnandgaonkar commented on #30
This [commit](https://github.com/facebook/Sonar/blob/master/iOS/Sample/Podfile) is the culprit. Fix for this is comming

[2018-06-12 16:30] priteshrnandgaonkar commented on #30
@urmyfaith Is this error encountered while running `pod install`

[2018-06-12 16:32] urmyfaith commented on #30
@priteshrnandgaonkar no, accured when building for my iPhone.

[2018-06-12 16:34] priteshrnandgaonkar commented on #30
Currently we support just simulators for iOS platform. Support for iOS devices will come soon.

[2018-06-12 16:36] urmyfaith commented on #30
@priteshrnandgaonkar thanks,Maybe  I seems didn’t noticed that in the readme.

[2018-06-12 16:37] priteshrnandgaonkar commented on #30
@urmyfaith We will update it in the documentation. Closing the issue for now.

[2018-06-12 16:37] #30 closed

[2018-06-12 17:33] metinsut commented on #21
good job facebook team, we look forward to react-native support.

[2018-06-12 19:55] Baadier-Sydow opened #49 "What about Cordova?"
Are there any plans to add support for Cordova in the future?

[2018-06-12 20:51] talsemgeest commented on #24
I have the same issue:
`AGPBI: {"kind":"error","text":"Program type already present: androidx.fragment.app.FragmentManager$OnBackStackChangedListener","sources":[{}],"tool":"D8"}`

[2018-06-12 21:07] MichaelEvans opened #50 "Open source BUCK files used to build"
Seems as if this was built with Buck, rather than the Gradle buildscripts that are included here. Can you add them to the repo? It might help figure out why the Android build doesn't work.

[2018-06-12 21:33] romainwn opened #53 "Docs translation"
Is there any plans for internationalisation ?
I would love to help translate the docs

[2018-06-12 23:21] priteshrnandgaonkar opened #57 "Broken Android gradle build system"
Currently android build system is broken.
`./gradlew :android:build` builds the android side of sonar. This will download all the native dependencies and will build it for all the platforms.
Currently `./gradlew :android:build` fails as it doesn't have RSocket, OpenSSL and LibEvent native dependencies. We will have to add this dependencies to `./gradlew :android:build`.

[2018-06-12 23:36] NSExceptional commented on #21
It isn't usually useful to inspect React Native views. There are no unique class names so everything looks the same when it's in a flat list. Not great for debugging.

That's my experience using FLEX on a RN app, anyway...

[2018-06-13 01:38] MarkMjw opened #58 "Not support arm64-v8a"
`0.0.1` only `armeabi-v7a` and `x86`，should support `arm64-v8a`.

[2018-06-13 03:21] friederbluemle commented on #41
See #24 for a related issue and a temporary hack to fix it (until the packaging problems have been solved).

[2018-06-13 03:21] friederbluemle commented on #47
Also see #24

[2018-06-13 03:48] friederbluemle opened #59 "Minor issues in Getting Started guide (Android section)"
There are a couple of issue with the [Getting Started guide (Android section)](https://fbsonar.com/docs/getting-started.html#setup-your-android-app). Specifically in this snippet:

[code]

`isMainProcess` is a _private_ method. Should this be `shouldEnableSonar` instead?

Also, `MySonarPlugin` obviously does not exist. Maybe this could be replaced with an actual plugin and a comment, e.g.:

[code]

[2018-06-13 05:14] qokelate opened #60 "POD SonarKit failed, HELP!"
pod install failed

[code]

My `Podfile` is (copy from [https://fbsonar.com/docs/getting-started.html](https://fbsonar.com/docs/getting-started.html))

[code]

[2018-06-13 06:33] bytecho opened #62 "can't running on windows"
i cloned this repo to my computer.and run command:
[code]
yarn runned a while,then aborted.this is some info in yarn-err.log:

[code]

[2018-06-13 06:41] qokelate opened #63 "Any iOS SDK released?"
Pod install failed, too more errors....

**CocoaPods could not find compatible versions for pod "PeerTalk":**

Or

**CocoaPods could not find compatible versions for pod "ComponentKit":**

Or

** /xxxxx/Pods/Sonar/xplat/Sonar/SonarWebSocketImpl.cpp:102:8: No member named 'delayedUnsafe' in 'folly::Future<folly::Unit>'  **

..............

[2018-06-13 07:46] jiantao88 opened #64 "Android Cant build"
![image](https://user-images.githubusercontent.com/7411102/41337124-eaa7d56e-6f20-11e8-943b-567e91e2f20a.png)

[2018-06-13 07:54] jiantao88 commented on #24
Hope that the official can provide AAR file

[2018-06-13 07:58] rigor789 commented on #64
Duplicate of #24

[2018-06-13 08:51] SherlockQi opened #65 "iOS No member named 'delayedUnsafe' in 'folly::Future<folly::Unit>'"
SonarWebSocketImpl.cpp
line 102&187  .delayedUnsafe(std::chrono::milliseconds(0))
`No member named 'delayedUnsafe' in 'folly::Future<folly::Unit>')`

[2018-06-13 10:39] #64 closed

[2018-06-13 10:39] jiangkang commented on #24
I have the same issue:
* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2018-06-13 10:42] passy commented on #62
That looks like it might be the electron part of the building failing? Does running `node node_modules/electron/install.js` cause any errors on its own?

[2018-06-13 10:43] passy commented on #59
This was changed here: https://github.com/facebook/Sonar/blob/28be3c7cd85c43880f37f170b14c39403e07458e/docs/getting-started.md

Thanks!

[2018-06-13 10:43] #59 closed

[2018-06-13 10:45] passy commented on #32
The underlying issue here is probably #41 too, but worth keeping around separately.

[2018-06-13 10:46] priteshrnandgaonkar commented on #65
The current master branch is broken you can refer to podspecs in `Fix-Broken-iOS-OSS` branch.

Use the following code snippet in your podfile
[code]
Closing it for now, as the above change should fix it. If not please reopen the issue

[2018-06-13 10:46] #65 closed

[2018-06-13 10:47] priteshrnandgaonkar commented on #63
Duplicate of #65

[2018-06-13 10:47] #63 closed

[2018-06-13 10:47] priteshrnandgaonkar commented on #60
Duplicate of #65

[2018-06-13 10:47] #60 closed

[2018-06-13 10:49] Aexyn commented on #62
I am getting this error

yarn install v1.7.0
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.4: The platform "win32" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from installation.
[3/4] Linking dependencies...
warning " > eslint-config-fbjs@2.0.1" has incorrect peer dependency "babel-eslint@

[2018-06-13 11:58] toantk238 commented on #35
@passy
Oh, it works :+1:
I tried to increase "fs.file-max" in "/etc/sysctl.conf" file and now everything seems OK.

Thank you so much.

@danielbuechele
Thank you too.

[2018-06-13 15:07] SherlockQi commented on #65
thx

[2018-06-13 15:18] danielbuechele commented on #53
We can not provide this internally. Community translations are definitely appreciated. We are using Docusaurus to generate our website, which supports [translations](https://docusaurus.io/docs/en/translation).
One thing I want to make sure when adding translations is that the translations are well maintained and correct. It could become super confusing, when we changing APIs and change the English

[2018-06-13 15:19] danielbuechele commented on #49
This is not on our internal roadmap, because it is not a use-case for us. But, if there is a community driven effort, I would be happy to support this.

[2018-06-13 15:43] SherlockQi opened #66 "'SonarKit/SonarClient.h' file not found"
hello 👍

iOS  pod
#import <SonarKit/SonarClient.h>
 show
'SonarKit/SonarClient.h' file not found
[code]

[2018-06-13 18:23] edubarr commented on #24
@jiangkang This just means you have other conflicting dependencies. The steps above only removed the support library, annotations and a few other things. Your project might have dependencies on `OkHttp` or `Okio`, for example. You'll need to remove those as well.

[2018-06-13 18:48] priteshrnandgaonkar commented on #66
Master is fixed now. You can try the podspecs from master. Reopen it if it doesn't work for you.

[2018-06-13 18:48] #66 closed

[2018-06-13 19:16] chawax commented on #49
Can't you already use Chrome or Safari dev tools with Cordova ?

[2018-06-13 19:16] yatsyk opened #67 "Extract UI components to separate module"
It would be nice to have UI components usable outside Sonar or Sonar plugins particularly in web apps.

I've created web app with create-react-app and moved ui, utils, fb-stubs folders to this application.

To use few components in this application I made following changes:

- add flow support to my react app
- add import React from "react" to some of the components
- move imports to start of the

[2018-06-13 19:19] danielbuechele commented on #67
Agreed! This would be a great usecase for yarn workspaces. We should create a sub-package called `sonar-ui` which only contains the UI components. I feel this could be valuable for other projects (especially electron apps).

We could also think about making the calls to electron optional to be able to use them in the browser.

[2018-06-13 19:46] romainwn commented on #53
I definitely take a look at Docusaurus in the next few days :)

I know that Electron uses [Crowdin](https://crowdin.com/project/electron) but I didn't get a chance to take a good look at it yet.

I would be able to provide the French part !

[2018-06-13 23:06] kele86838437 commented on #37
Fatal error: '__config' file not found when folly built

[2018-06-14 02:18] wqycsu opened #69 "Handle unset $ANDROID_HOME env variable"
When I launch sonar desktop app in mac pro, it show 'no devices running', but I can see the logs keep printing. Besides, I find these abnormal logs:

[code]

[2018-06-14 02:33] Nomeqc opened #70 "Failed to fetch podspec for `SonarKit`"
[!] Failed to fetch podspec for `SonarKit` at `https://raw.githubusercontent.com/facebook/Sonar/master/SonarKit.podspec?token=ADr9NBuYoodM_NeysQg899hkxXw0WZ7Xks5bJ5OVwA%3D%3D`.
 Error: 404 Not Found

[2018-06-14 02:35] 25juan commented on #69
in  ```AndroidManifest.xml``` added the user-permission
[code]
try

[2018-06-14 02:47] guofeng007 opened #71 "can't see Network"
as title said

[2018-06-14 02:48] bigtreenono commented on #70
Same

[2018-06-14 04:42] LastSprint commented on #70
+1

[2018-06-14 04:43] KKLater commented on #70
+1

[2018-06-14 04:53] LastSprint commented on #70
Fixed with

[code]

[2018-06-14 05:39] a1018875550 opened #72 "build error for :' Execution failed for task ':app:transformNative_libsWithMergeJniLibsForDev_21Debug'.'"
Execution failed for task ':app:transformNative_libsWithMergeJniLibsForDev_21Debug'.

  	File1: ../app/build/intermediates/exploded-aar/com.facebook.react/react-native/0.42.3/jni
  	File2: ../app/build/intermediates/exploded-aar/com.facebook.sonar/sonar/0.0.1/jni

[2018-06-14 08:11] bolismauro commented on #13
Is there any plan to fix this or an ETA? The tool seems extremely powerful and interesting and I have several use cases for it but unfortunately our projects are swift only

[2018-06-14 08:48] #71 closed

[2018-06-14 09:33] danielbuechele commented on #69
@jknoxville

[2018-06-14 09:49] koox00 commented on #35
I get this error when running `yarn`.
`7zip-bin-mac@1.0.1: The platform "linux" is incompatible with this module.`
it fails to install dependencies.

[2018-06-14 10:11] shaveKevin commented on #70
+1

[2018-06-14 10:11] danielbuechele commented on #35
This shouldn't break the build. Can you post the full error message?

[2018-06-14 10:20] jknoxville commented on #69
Hey, Sonar works by using adb to write two files ( sonarCA.crt and device.crt ) to your app's internal data partition after your app connects and requests them. In your case the connection is being made, so I don't think the permissions mentioned above related to the problem.

It looks like what is failing here is writing those 2 files. I know of 2 reasons this might happen:

1. Your app is not ma

[2018-06-14 10:23] 417-72KI opened #73 "Failed to install with CocoaPods"
Console says:
`[!] A dependency with an external source may not specify version requirements (Yoga).`

A part of Podfile:
[code]

[2018-06-14 10:33] koox00 commented on #35
yarn install v1.7.0
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.4: The platform "linux" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from installation.
error 7zip-bin-mac@1.0.1: The platform "linux" is incompatible with this module.
error Found incompatible module
info Visit https://yarnp

[2018-06-14 10:35] danielbuechele commented on #35
For now you can use remove this dependency. It is not needed in your case. This should fix the build for you, while I try to find a solution to this.

[2018-06-14 10:52] koox00 commented on #21
I am having the following error when adding Sonar in react-native app.

[code]

Adding the following fixes the first one
[code]

but now I get
[code]

PS: even without the React devtools having a network inpector in React native app is a great feat!

[2018-06-14 11:36] finalquest commented on #73
I've solved that issue removing the version on the Yoga dependency.
But after that I get
[code]

[2018-06-14 12:08] KaiPisces commented on #70
+1

[2018-06-14 13:06] priteshrnandgaonkar commented on #73
It builds with the following set up

[code]

Let me know if it works

[2018-06-14 13:09] priteshrnandgaonkar commented on #70
No need to pass the `token` in url. Will update the documentation

[code]

[2018-06-14 14:04] marina1017 commented on #73
I had same error

I used CocoaPods(1.2.0)

[code]

I tried CocoaPods (1.5.2) and it worked!

[2018-06-14 14:18] marina1017 opened #74 "Error: No such module 'SonarKit'"
# Environmental setting
Xcode9.4
Swift4.1
CocoaPods 1.5.2

# Situation
I tried to make workspace by CocoaPods.
<img width="748" alt="screenshot" src="https://user-images.githubusercontent.com/10338059/41417635-e2401cac-7028-11e8-811b-fbee206bf518.png">

I would like to try out the tutorial.

https://fbsonar.com/docs/getting-started.html

[code]

I converted to Swift

[code]

I tried `Command + B`

[2018-06-14 15:48] priteshrnandgaonkar commented on #74
Currently we don't support Swift. Swift is not compatible with C++. We will need C layer. Closing it for now.

[2018-06-14 15:48] #74 closed

[2018-06-14 17:00] eboudrant opened #75 "Annotate the code with @Nonnull / @Nullable"
For better interopt with Kollin. At least the public api code should be annotated.

[2018-06-14 17:30] priteshrnandgaonkar commented on #73
Awesome!, I will close the issue then.

[2018-06-14 17:30] #73 closed

[2018-06-14 17:36] sergeyzenchenko commented on #13
@bolismauro you can try https://appspector.com instead. Works with swift and has more features :)

[2018-06-14 19:42] sergeyzenchenko commented on #13
interesting, are you looking for some specific feature? @bolismauro

[2018-06-14 19:44] bolismauro commented on #13
I want to play with layout editor and the ability of developing custom things within the tool.
Also I prefer not to go trough a 3rd party service I cannot control.

I think this isn't the proper place to discuss this though. Let's keep it clean for the sonar swift support

[2018-06-15 01:34] bytecho commented on #62
i update sonar and run it again,but there is another error,still on windows:
$ yarn
yarn install v1.7.0
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.4: The platform "win32" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from instal
lation.
error 7zip-bin-mac@1.0.1: The platform "win32" is in

[2018-06-15 03:13] unkosun commented on #70
[!] Unable to satisfy the following requirements:

- `RSocket (from `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-podspecs/RSocket.podspec`)` required by `Podfile`

Specs satisfying the `RSocket (from `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-podspecs/RSocket.podspec`)` dependency were found, but they required a higher minimum deployment ta

[2018-06-15 06:30] qokelate opened #76 "Add iOS physical device support"
**Sonar.app** iOS not found, any help?

my code:
[code]

[2018-06-15 06:38] ranchen516 commented on #76
+1

[2018-06-15 09:25] danielbuechele commented on #35
should be fixed in #6f95ad5

[2018-06-15 09:25] #35 closed

[2018-06-15 09:28] danielbuechele commented on #62
this should be fixed in the latest commit

[2018-06-15 12:50] qokelate commented on #76
It works on simulator! How to setup on my phone?

[2018-06-15 14:29] priteshrnandgaonkar commented on #13
@bolismauro Currently its isn't in our internal roadmap.We would expect open source community to fix it. But seeing on how things pan out we may end up working on it. But I can't see that happen soon.

[2018-06-15 14:31] bolismauro commented on #13
Gotcha. I unfortunately don't have strong c++ knowledge but I think I'll try anyway. Do you have some suggestions about how to proceed and what need to be fixed?

[2018-06-15 21:13] damianw opened #79 "Network plugin + OkHttp interceptor does not decompressed gzipped responses"
Responses with `Content-Type: gzip` are not unzipped, and render garbage as plaintext in the Sonar network view.

[2018-06-16 14:29] passy commented on #75
We generally don't use `@NotNull` internally. Unless something is marked as `@Nullable`, it should be considered to never be null.

[2018-06-18 04:05] erawhctim commented on #24
@friederbluemle Thanks for the tip!

I followed your steps and was able to strip out the duplicated javax classes that gradle/D8 was complaining about, but I'm still seeing a similar error - `D8: Program type already present: javax.annotation.concurrent.ThreadSafe` (even though I've double checked and removed all the `javax.*` classes before recompiling as a local AAR.

Any ideas?

[2018-06-18 06:39] nilesh1433 opened #80 "Getting byteCount() does not exists for request.headers() okhttp3"
I have flavoured app and this is what I added in the gradle
_devImplementation 'com.facebook.sonar:sonar:0.0.1'_.

However, after adding this I am getting error as _error: cannot find symbol method byteCount()_ .

I am using OkHttp3.

[2018-06-18 10:31] priteshrnandgaonkar commented on #13
Just try and get rid off the c++ in the header files of sonar. In header files you may also find other inported dependency that has c++ in it. So one has to create a c wrapper over it and then use in the public headers of sonar.Basically we have to make sure that headers doesn't have c++ in it.

[2018-06-18 12:31] friederbluemle commented on #24
@erawhctim Hmm, is it possible that your existing dependencies have some conflict?

Try

    ./gradlew :app:dependencies

I assume you already completely cleaned the project after modifying the aar file, to remove any chance for cached file problems? You may also try `./gradlew --stop` to stop running instances the Gradle wrapper (although unlikely related to that).

[2018-06-18 13:07] x4snowman opened #81 "https://fbsonar.com/docs/getting-started.html need to update"
As we follow the guide to install with CocoaPods with failure errors. According to the issue #65  the problem can be resolved. Why not we just update the guide page?

[2018-06-18 14:50] x4snowman opened #82 "[iOS, CocoaPods(1.5.3) Installation] Typedef redefinition with different types ('uint8_t' (aka 'unsigned char') vs 'enum clockid_t')"
The compiler  error is from Folly.
 My system is macos 10.13.5 (17F77), Xcode version: 9.4.1 (9F2000). I also installed Xcode 10 beta (10L176w). But I have already use the xcode-select to set the dev path for the Xcode 9.4.1.

[2018-06-18 14:55] erawhctim commented on #24
@friederbluemle Hmm, I think you might be right. Looks like `realm-android-library` depends on FindBugs' JSR305 so maybe the `javax.*` classes are coming in from there.

[code]

I tried excluding that from the realm gradle plugin declaration like this, but that didn't work like I expected it to:
[code]

[2018-06-18 15:52] passy commented on #82
Folly is a separate project: https://github.com/facebook/folly

[2018-06-19 01:11] x4snowman commented on #82
@passy Sure, I understand. I tried to  use CocoaPods  to install the Sonar, how can I configure the solve this error?

[2018-06-19 01:15] x4snowman commented on #82
@passy Yes, I understood. I updated the issue title. I tried to use CocoaPods to install the Sonar. Is there a way to change Podfile configuration to bypass this compiler error? Do I need to give a specific version of the Folly?

[2018-06-19 05:04] shechetinind commented on #69
Hey @jknoxville thank you for helping!
I have tested sonar on emulator Nexus 5 with API 23, but the button label is 'no device running'.
I try coomands:

Output is:
-rw------- u0_a62   u0_a62       1013 2018-06-18 13:04 app.csr
-rw------- u0_a62   u0_a62       1181 2018-06-19 04:46 device.crt
-rw------- u0_a62   u0_a62       1679 2018-06-18 13:04 privateKey.pem
-rw------- u0_a62   u0_a62       114

[2018-06-19 05:06] noahsark769 commented on #11
@priteshrnandgaonkar did this get fixed? If not, happy to look into it myself as well

[2018-06-19 05:46] yschimke commented on #80
This is same root cause as https://github.com/facebook/Sonar/issues/24

[2018-06-19 08:40] qokelate opened #83 "SonarKitNetworkPlugin Not work?"
**Add Plugin:**
[code]

**Test Code:**
[code]

`Sonar.app` nothing showing ............

![temp](https://user-images.githubusercontent.com/7110985/41586486-6fedb55a-73df-11e8-9c1d-1e4fbc194be7.png)

[2018-06-19 09:29] passy commented on #82
@x4snowman Sorry, what I meant to say was that if this is an error that is within folly, then it should probably be reported and fixed on their GitHub repo.

[2018-06-19 09:44] JiandanDream commented on #28
The same, but mine is a Objc project.

[2018-06-19 10:12] bytecho commented on #62
@danielbuechele  i update sonar ,and i get the first error again.

[code]

[2018-06-19 10:14] priteshrnandgaonkar commented on #11
It didn't get fixed yet? @noahsark769, you can take a look at it. We would need this to be fixed so that we can push it to cocoapods

[2018-06-19 10:40] priteshrnandgaonkar commented on #83
Are you trying it in simulator or Actual Device?

[2018-06-19 10:42] x4snowman commented on #82
@passy Yes, it's an issue from Folly. However as you provide a guide in the office site[https://fbsonar.com/docs/getting-started.html](url), I think it's appropriate to make the guid work.  I will also report an issue for folly project.  I don't have clue that how teams works with each other in Facebook.  Maybe you can communicate with each other to make the issue been fixed ASAP.  I have spend ha

[2018-06-19 10:47] shechetinind commented on #69
@jknoxville @EngleVV Just fixed  'no device running'. Just added $ANDROID_HOME variable to
~/.bash_profile like this

`export ANDROID_HOME=~/Library/Android/sdk`

because method which used for fetching devices and emulators uses this command (example)

`child_process.exec('$ANDROID_HOME/tools/emulator -list-avds'...)`

[2018-06-19 12:14] jknoxville commented on #27
Getting started page updated in 28be3c7cd85c43880f37f170b14c39403e07458e

[2018-06-19 12:14] #27 closed

[2018-06-19 13:14] shechetinind opened #85 "No available plugins"
![image](https://user-images.githubusercontent.com/29702620/41599071-169a8704-73e3-11e8-8df4-2a4ed43467f2.png)

Hey! Guys help please) I don't understand what is wrong with standard plugins. They are not appeared in sidebar. And MySonarPlugin also is not available. I changed config for dynamic loading new plugins but it is not help me
`Loading dependency graph...✔ No known errors
Loading dependenc

[2018-06-19 13:17] x4snowman commented on #81
Just saw a Pull request for this issue.

[2018-06-19 13:17] #81 closed

[2018-06-19 13:32] danielbuechele commented on #85
I don't know what the problem is, but I can help to clarify a little how thing work, perhaps that helps to find the root of this issue. Sonar has two kinds of plugins: device plugins and regular plugins. While they look almost the same, the way they work is very different. Device plugins (like the logs plugin) don't rely on a socket connection to Sonar SDK. The logs plugin uses adb logcat to acces

[2018-06-19 13:51] shechetinind commented on #85
@danielbuechele If it helps, in version 0.6.9 I have not seen this problem with regular plugins(Inspector and Network).They are showing and working. MySonarPlugin is not showing anywhere)))

[2018-06-19 14:23] x4snowman opened #87 "[Installation with CocoaPods]Is there any one setup Sonar successfully with the guide on the official site ?"
I tried many ways, am still struggling fixing some compiler errors, even fork some repositories and modify the source code .If some one makes it work, could you share the steps? I think it will help many ones interested in Sonar.

[2018-06-19 14:29] x4snowman commented on #70
@priteshrnandgaonkar I am just wondering why not update the guide?

[2018-06-19 15:35] lucasr opened #88 "It shouldn't be possible to add empty expression watchers in Logs"
Disable the "Add counter" by default and only enable if the expression is valid?

[2018-06-19 15:36] lucasr opened #89 "There's no way to remove expression watchers in Logs"
Unless I'm missing something?

[2018-06-19 15:37] lucasr opened #90 "Scrolling doesn't stick to bottom after filtering Logs"

[2018-06-19 17:03] #70 closed

[2018-06-19 17:47] jknoxville opened #92 "Samsung adb run-as problem (Operation not permitted)"
There's an issue on some samsung builds where inside adb shell, the run-as command doesn't work.
You get an 'Operation not permitted' error.

You can test if your device works by running the following inside a terminal, when the device is connected by usb.
`adb shell`
`run-as com.my.app.package`

Where com.my.app.package is replaced with the package name of your app. Note that the app has to be ma

[2018-06-20 00:15] pkrmf opened #93 "Refactor Sonar Podspec to include all of its dependencies"
We should make sure to declare all the Sonar dependencies within Sonar's podspec, and make sure they point to the versions they depend on(we could also use the ~> for floating versions).

It is very hard to maintain an application consuming Sonar since its Podfile has to manually define all Sonar's dependencies and the paths to the each one of the podspecs. What happens if we update Sonar? Then we

[2018-06-20 00:55] yljjiava commented on #62
me too, same problem

[2018-06-20 01:58] pkrmf commented on #11
1.- First of all SonarKit is pulling PeerTalk 0.0.1 as a dependency. PeerTalk 0.0.1 is broken since it is not defining the public constants in the header files as `extern const` or using `FOUNDATION_EXPORT`. That is something the owner of PeerTalk fixed in release 0.0.2, but he updated his podspec to point to the tag 0.0.2 which doesn't even exist on his [repo](https://github.com/rsms/peertalk). S

[2018-06-20 01:59] yljjiava commented on #62
问题已经解决，需要修改 F:\Sonar\scripts\yarn-install.js和D:\nodejs\node_modules\npm\node_modules\npm-lifecycle\index.js两个文件，修改地方如下：
1.index.js在271行添加conf.shell=true
2.yarn-install.js 在39行修改成 const yarn = spawn(YARN_PATH, ['--mutex', 'file'], {
              cwd,
			  shell:true
            });
3.删除sonar目录下node_modules目录,重新运行npm install 安装

[2018-06-20 02:06] qokelate commented on #83
It's run in simulator and LayoutPlugin work well, when run in actual device, `Sonar.app` not found my device, issue here [https://github.com/facebook/Sonar/issues/76](https://github.com/facebook/Sonar/issues/76)

[2018-06-20 06:27] yljjiava opened #94 "工程导入androidstudio无法成功编译"
如题，将整个工程导入androidstudio后，点击build→make module ‘android’，查看gradle console提示
CMake Error at F:/Sonar-master/xplat/CMakeLists.txt:47 (add_subdirectory):
  The source directory
    F:/Sonar-master/android/build/third-party-ndk/folly
  does not contain a CMakeLists.txt file.
问一下是不是android下build目录有文件没有上传？

[2018-06-20 06:38] stoicist commented on #65
Not working:
`[!] Failed to fetch podspec for ComponentKit at https://raw.githubusercontent.com/facebook/Sonar/Fix-Broken-iOS-OSS/iOS/third-party-podspecs/ComponentKit.podspec.
 Error: 404 Not Found`

[2018-06-20 07:50] alexdrone commented on #93
+1 The multitude of explicit dependencies is preventing me to use Sonar  :(

[2018-06-20 08:36] pratamawijaya opened #95 "Build Error Android Program type already present: android.support.v4.app.BackStackState$1"
Hello i try to integrate Sonar to my [android project](https://github.com/pratamawijaya/BaseKotlinAndroid), but i got error build

[code]
my build.gradle
[code]

and my app/build.gradle
[code]

[2018-06-20 08:47] pratamawijaya commented on #95
im trying to exclude support v4, but still error
[code]

[2018-06-20 09:20] danielbuechele commented on #89
You can select them and press the delete key on your keyboard, but I agree this is not too obvious.

[2018-06-20 09:21] danielbuechele commented on #90
It only seems to work when there is no selection made. Removing this line should fix it:
https://github.com/facebook/Sonar/blob/master/src/device-plugins/logs/LogTable.js#L551

[2018-06-20 09:44] larslibak commented on #95
I have the same error where Sonar is conflicting with my other dependencies.

[2018-06-20 09:54] yljjiava commented on #94
FAILED: D:\Android\Sdk\ndk-bundle\toolchains\llvm\prebuilt\windows-x86_64\bin\clang++.exe  --target=aarch64-none-linux-android --gcc-toolchain=D:/Android/Sdk/ndk-bundle/toolchains/aarch64-linux-android-4.9/prebuilt/windows-x86_64 --sysroot=D:/Android/Sdk/ndk-bundle/sysroot  -Dsonarcpp_EXPORTS -IF:/Sonar-master/xplat/. -IF:/Sonar-master/xplat/./Sonar -IF:/Sonar-master/xplat/../android/build/third-p

[2018-06-20 10:53] kypeli commented on #24
I have a hard time understanding how the Sonar library in its current form would work with any external real application out there. I am facing similar issue but with OkHttp3

And since OkHttp3 is pretty common [sarcasm], how on earth can Sonar in its current form work in real production apps? So this library has to be slimmed down and not ship with all these baked in dependencies.

[2018-06-20 10:53] rigor789 commented on #95
Duplicate of #24

[2018-06-20 11:04] priteshrnandgaonkar commented on #94
Are you using `Fix-Android` branch?

[2018-06-20 11:12] priteshrnandgaonkar commented on #93
That seems a good solution. I will put forward this suggestion to our legal team and wait for their input on this.

[2018-06-20 14:53] priteshrnandgaonkar commented on #87
Currently the master is broken, thats why you are not able to build, fix for this is coming soon. We will setup a proper CI so that internal changes cannot be broken in open source.

[2018-06-20 15:39] priteshrnandgaonkar commented on #93
@pkrmf you can go ahead and implement the above solution.

[2018-06-21 08:08] xiphirx commented on #95
As mentioned, dupe of #24.

[2018-06-21 08:08] #95 closed

[2018-06-21 08:10] xiphirx commented on #41
Closing in favor of #24

[2018-06-21 08:10] #41 closed

[2018-06-21 10:09] jknoxville commented on #76
At the moment, for iOS, sonar only supports physical devices.
There's a note on this page but we should probably make it more prominent: https://fbsonar.com/docs/getting-started.html

The reason is that on android, we can use adb to write sonar's CA certificate to the app's internal data directory over usb. This certificate then gets pinned in the app so it can trust sonar.
But on iOS, there is no

[2018-06-21 13:16] emilsjolander commented on #93
Hey @pkrmf thanks for the suggestion! as @priteshrnandgaonkar we would be super happy if you wanted to give this a shot. Otherwise we will look into it ourselves as soon as we fix the android build which is our current top priority.

[2018-06-21 13:36] pkrmf commented on #93
@emilsjolander I could implement solution 2 very easily, the only problem is that consumers of Sonar that also consume any of its dependencies would run into conflicts.

Solution 1 is definitely the right approach, where sonar dependencies all exist in cocoapods master repo. I started yesterday working on it, but there is quite work to do, for instance, I had to open an issue in componentKit regar

[2018-06-21 13:39] pkrmf commented on #93
@emilsjolander I also opened a pull request that fixes the sonar iOS sample application.  Now it will be able to pod install compile and run

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-21 15:18] priteshrnandgaonkar commented on #93
Wouldn't different version number help solve the conflict? In such cases I think they can specify in the podfile which pod to refer to, the master or the private one. I think we can go ahead with solution 2 with solution 1 being a step 2 after solution 1.

[2018-06-21 15:31] pkrmf commented on #93
@priteshrnandgaonkar adding version numbers is part of the fix for the current sonarkit podspec along with other issues

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-21 15:34] iineva commented on #28
Xcode Version 9.4.1 (9F2000)
Create a new Objective-C project, same issue.

[2018-06-21 16:37] x4snowman commented on #87
@priteshrnandgaonkar Thanks you. Can't wait try Sonar 😀

[2018-06-21 16:56] priteshrnandgaonkar commented on #87
The current master is working. You can try it

[2018-06-22 00:18] noahsark769 commented on #93
Just a note, when this issue is finished the `SonarKit` podspec should lint, right? That means we can close #11 when this is done.

@pkrmf when you say "private repo" for option 2, you're referring to a private cocoapods repo correct? Another short-term solution, if my thinking is correct, could be to implement these specs as subspecs of the SonarKit, so at least you didn't have to pull in depende

[2018-06-22 00:30] pkrmf commented on #93
@noahsark769 Yes sir. That is another good approach. If we could get all in cocoapods master it would be ideal.

[2018-06-22 02:58] noahsark769 commented on #28
@JiandanDream @iineva I'm seeing this error also. AFAIK, this should work since Cocoapods should be able to compile this objc module to make it usable in a Swift module. Do either of you have a sample project I could look at to try to reproduce? An objc project fails with this error would be best for investigation purposes.

[2018-06-22 03:13] noahsark769 commented on #13
I took a look into building Sonar for use in [Trestle](https://appstore.com/trestle), which is a Swift project. As far as I can see, Cocoapods should be able to configure the Sonar/SonarKit pods into modules which Swift can use using `:modular_headers => true`. Swift projects use pods which have C++ in them all the time - [Sentry](https://github.com/getsentry/sentry-cocoa) is a good example of a p

[2018-06-22 03:37] iineva commented on #28
@noahsark769 You can try this: [Test.zip](https://github.com/facebook/Sonar/files/2126230/Test.zip)

[code]

[2018-06-22 05:05] noahsark769 commented on #28
Can confirm that the same error happens for me on @iineva 's test project, which has no Swift (I'm running Xcode Version 9.3 (9E145)). @priteshrnandgaonkar can we reopen this since it's not a Swift specific issue?

[2018-06-22 06:17] noahsark769 commented on #28
@iineva after trying a few things, I was able to make your project compile by adding the search path `"${PODS_ROOT}/SonarKit"` with recursive = true to "Search Paths" under "Build Settings".

![image](https://user-images.githubusercontent.com/1168853/41760612-303c9f72-75a9-11e8-986e-6e510fe658a0.png)

I have to say that I'm not exactly sure what's happening here to fix it, but I tested it twice. U

[2018-06-22 09:42] x4snowman commented on #82
This is fixed on the master branch.

[2018-06-22 09:42] #82 closed

[2018-06-22 09:56] x4snowman commented on #87
@priteshrnandgaonkar Really appreciate your work. The whole build process is no problem but only does not find <SonarKit/SonarClient.h>.  I checked the "${PODS_ROOT}/Headers/Public/SonarKit" or "${PODS_ROOT}/Headers/Public", no SonarClient.h  found under these folder. There is a SonarClient.h under ${PODS_ROOT}/Headers/Public/Sonar. So I  changed the import to <Sonar/SonarClient.h>, but get a comp

[2018-06-22 10:34] priteshrnandgaonkar commented on #83
We do not support the actual device for now, as the reason mentioned in #76. Closing for now as it is duplicate of #76.

[2018-06-22 10:34] #83 closed

[2018-06-22 15:49] fragno opened #99 "android sample compile failed"
it seems like missing the rsocket dependency

![image](https://user-images.githubusercontent.com/1914288/41785996-db023318-7676-11e8-8132-59abd3570edc.png)

[2018-06-22 21:37] noahsark769 commented on #85
@shechetinind `MySonarPlugin` is not a real Sonar plugin, it's just an example from the docs meant to be substituted with any Sonar plugin you want. If you look at the [sample app](https://github.com/facebook/Sonar/blob/master/android/sample/src/sonar/com/facebook/sonar/sample/SonarSampleApplication.java#L46), you'll see that MySonarPlugin isn't there, and that it adds the network plugin and inspe

[2018-06-22 22:20] passy commented on #99
Dupe #24

[2018-06-22 22:20] #99 closed

[2018-06-23 05:42] #76 closed

[2018-06-23 11:52] ushisantoasobu commented on #70
@JiandanDream Simply `pod repo update` may solve.

[2018-06-23 18:10] noahsark769 commented on #28
It looks like https://github.com/facebook/yoga/issues/697, https://github.com/facebook/react-native/issues/17556, https://github.com/facebook/yoga/issues/711 were similar issues that React Native had with Swift projects.

The [fix](https://github.com/facebook/react-native/pull/18492) there seems to have been to specify `public_header_files` in [Yoga's podspec](https://github.com/facebook/yoga/blob

[2018-06-23 22:57] noahsark769 commented on #28
This ended up being a search path issue. See explanation at #13

[2018-06-24 07:09] Microhx commented on #24
met the same issue again:

:app:transformDexArchiveWithExternalLibsDexMergerForDebug
-- | --

how can I fix ???

[2018-06-24 23:10] pkrmf commented on #93
@emilsjolander and @priteshrnandgaonkar I made very good progress. So far, I am able to lint SonarKit.podspec. Here is what I have done so far to be able to lint it:

- Modify [SonarKit.podspec](https://github.com/pkrmf/Sonar/blob/master/iOS/SonarKit.podspec). Along with several small fixes, I had to create a Core subspec that all the other subspaces depend on.
- Create a [CocoaPods private reposi

[2018-06-25 01:18] JiandanDream commented on #70
@ushisantoasobu Thanks a lot. I have solved it since I try `pod update`.

[2018-06-25 09:55] danielbuechele commented on #85
@shechetinind Oh, did you actually implement `MySonarPlugin` on both, native and JS side? If not, refer to what @noahsark769 said. This is only meant to be an example on how to implement your own plugin.

[2018-06-25 09:57] danielbuechele commented on #79
There is some logic in place to unzip requests, however for some reasons it is failing: https://github.com/facebook/Sonar/blob/master/src/plugins/network/RequestDetails.js#L64

@damianw Can you see why this is happening?

[2018-06-25 12:25] linseanyu opened #101 "Openssl implementations creating .srl in wrong location (Permission Denied)"
I can't see Layout Inspector and Network Inspector in Sonar Mac app even when I run (Sonar/iOS/Sample)this sample project .I can only see Logs on it .
![2018-06-25 8 23 35](https://user-images.githubusercontent.com/40568003/41850010-ab677b68-78b5-11e8-9c68-048c38acc827.png)

[2018-06-25 13:32] priteshrnandgaonkar commented on #37
Currently on master branch, project builds through gradle.But at runtime the sample app freezes. The issue is with `sonarfb.so` file. We are investigating the bug and any help in regards to this will be appreciated.

Run `./gradlew :sample:installDebug` from the root directory. Make sure the emulator is up before running the previous command.

[2018-06-25 14:05] priteshrnandgaonkar commented on #57
Closing it as it is duplicate to #37

[2018-06-25 14:05] #57 closed

[2018-06-25 21:33] noahsark769 commented on #93
Dope, nice work!! It sounds like in order to be able to do this without a private repo, the following things need to happen:

- PR for ComponentKit ([already submitted and approved](https://github.com/facebook/componentkit/pull/914))
- PR for Folly podspec (looks like there's no podspec currently in the [master repo](https://github.com/facebook/folly), so I guess we should create a PR to add one)

[2018-06-25 21:50] priteshrnandgaonkar commented on #93
@pkrmf Can you also update the sample app in your fork and see if it works. Bytw great effort and awesome work. I would love to publish SonarKit pod in cocoapods master. Again great work. Will wait for your PR.

[2018-06-25 21:53] priteshrnandgaonkar commented on #37
On current master, one can build and run sonar and sample android app. Gradle builds are working,
try `./gradlew :sample:installDebug`. Closing the issue as it is fixed.

[2018-06-25 21:53] #37 closed

[2018-06-25 22:03] priteshrnandgaonkar commented on #87
Hi, It should work now in master.Can you check?

[2018-06-25 22:05] priteshrnandgaonkar commented on #50
The current android build works through gradle in master. So open sourcing BUCK files is no more required. Thus closing it. Thanks for putting up the issue.

[2018-06-25 22:05] #50 closed

[2018-06-25 22:13] priteshrnandgaonkar commented on #101
bytw did u build sonar desktop app from the repo or downloaded from fbsonar.com?

[2018-06-25 23:35] linseanyu commented on #101
@priteshrnandgaonkar Thank you so much for helping . I've tried them both. But it's the same. I can only see Logs plugin there

[2018-06-26 04:49] pkrmf commented on #93
@noahsark769 That is correct sir!
@priteshrnandgaonkar Pull [my fork](https://github.com/pkrmf/Sonar) and pod install the sample app. As you can see, it pod installs and runs the app without any problem. [Link to Podfile in my fork](https://github.com/pkrmf/Sonar/blob/master/iOS/Sample/Podfile)

[2018-06-26 07:05] noahsark769 commented on #87
@x4snowman are you trying to build your own project, or the `Sample` project inside the Sonar repo?

If it's your own project, I think the issue is related to how Cocoapods exports public header files. I've actually got a fix for this incoming in the work I've done for #13 - should have a PR up tomorrow or Wednesday.

Also note that the iosfwd issue is the same one as #28.

[2018-06-26 10:49] priteshrnandgaonkar commented on #93
@pkrmf , we can also have the relevant contents in your [private repo](https://github.com/pkrmf/cocoapods-private-repo) in our repo as well, right? The reason for asking this is that it will be easy to maintain, as everything will be at one place.

[2018-06-26 10:57] pkrmf commented on #93
@priteshrnandgaonkar Yes sir. The private repo con be located anywhere. The idea would be to not have a private repo at all and update all the broken podspecs dependencies like @noahsark769 mentioned. In the meantime I could do a PR of the private repo and the updated SonarKit.podspec to this repo if you prefer

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-26 16:53] noahsark769 commented on #101
I also can't see the layout or network plugin in the Sonar desktop app (this is the case for master and for the download from fbsonar.com)

[2018-06-26 17:45] passy commented on #24
@priteshrnandgaonkar are still working on a full solution, but we've got a stop-gap that should already help a great deal.

If you include this repository (while we're waiting for JCenter to approve a new package) ...
[code]

... and depend on ...

[code]

... then you should be able to use Sonar in your Android project. For now we **DO NOT** support `x86_64` due to an OpenSSL compilation issue, b

[2018-06-26 19:52] MichaelEvans opened #108 "Unable to load external custom plugins via ~/.sonar/config.json"
I created a custom plugin following the instructions here: https://fbsonar.com/docs/js-setup.html

My `index.js` looks like the following:

[code]

I put a reference to this project's parent directory in ~/.sonar/config.json, and when I run the Sonar app with `yarn start`, my terminal gets stuck in an endless loop and the Electron app hangs. My logs look like the following:

[code]

However, if I

[2018-06-26 19:59] xiphirx commented on #108
@danielbuechele

[2018-06-26 21:34] bolismauro commented on #13
It works perfectly!
Thanks a lot for have worked on this, I struggled to find the proper time and it is great that you guys are pushing this forward :)

[2018-06-27 00:55] MichaelEvans opened #109 "SharedPreferences plugin missing"
Looks like the code for the Android SharedPreferences plugin was open sourced, but the react/electron plugin wasn't. Is this intentional?

[2018-06-27 01:07] x4snowman commented on #87
@priteshrnandgaonkar Sorry to say it's still not work. According to the comment from @noahsark769 , I will wait your new submit and try again.

[2018-06-27 01:09] x4snowman commented on #87
@noahsark769 It's a newly create a TestProject (Objective-c). Yeah, I have viewed all open issues. Hope everything will be fixed.

[2018-06-27 01:21] noahsark769 commented on #87
Yep, I bet this is the issue I was seeing. After #106 is merged, this should be fixed (and there will be a much easier to use Podfile configuration after #107 is merged).

[2018-06-27 10:22] abeemukthees opened #110 "No devices running"
I installed the latest v0.6.9 Sonar desktop app on my mac.  (Downloaded directly)
1. Launched it
2. Started Android Emulator
3. Able to see Log & Layout
4. Not able to see network activities
5. Still showing "No devices running" at the top

App is written in Kotlin, Networking is handled by Retrofit + okhttp + CoroutineCallAdapterFactory + MoshiConverterFactory

[code]

Since I had some build issu

[2018-06-27 10:42] danielbuechele commented on #108
I found one bug, that `~` is not supported in the config path. I will fix this soon. Other than that I was not able to reproduce the endless loop. Can you post your folder structure?

Here is what worked for me:
**~/.sonar/config.json**
[code]

This is the folder structure for my `sonarplugins` folder
[code]

[2018-06-27 10:50] danielbuechele commented on #101
Sonar is currently not working with physical iOS devices. Simulator devices should work. Are you trying  to test it with our sample app or integrate it into your own apps?
Can you open the dev tools in Sonar (CMD+Option+I) and post any errors that are logged to the console?

[2018-06-27 11:11] kashishgrover commented on #21
Looking forward to this! Thanks 😄

[2018-06-27 11:12] priteshrnandgaonkar opened #111 "Support x86_64 architecture"
Currently we doesn't support x86_64 architecture for android, as we don't have prebuilt `so` file for openssl for that architecture. The best way to support it would be to get rid off all the prebuilt so files and use gradle to build it and link with sonar native targets.

One can follow https://wiki.openssl.org/index.php/Android#OpenSSL_Library

[2018-06-27 11:35] passy commented on #24
Another update on this: The extra repository is no longer necessary as the new dependency got promoted into JCenter proper.

[2018-06-27 11:43] sgrekov commented on #24
com.facebook.sonar:sonar:0.0.4 depends on
+--- com.facebook.litho:litho-core:0.15.1-SNAPSHOT
|    +--- com.facebook.litho:litho-widget:0.15.1-SNAPSHOT

But they are not on jcenter nor on the https://dl.bintray.com/facebook/maven/

[2018-06-27 11:48] passy commented on #24
@sgrekov You can get them from by adding `https://oss.sonatype.org/content/repositories/snapshots/` as repository. But thanks for pointing that out; that should not be necessary.

I'll bump the Litho dependencies back to stable and push out another release with them included.

[2018-06-27 12:55] passy commented on #24
Pushed `0.0.5` which no longer depends on Litho snapshots.

[2018-06-27 13:28] Swordsman-Inaction commented on #24
@passy Don't forget to push `com.facebook.sonar:fbjni`  too. `0.0.5` is  currently not available but required by the lib.

[2018-06-27 14:02] passy commented on #24
@Swordsman-Inaction Thanks! The task silently failed to publish the release because the javadoc generation failed with an odd error. Uploading now.

[2018-06-27 15:09] Swordsman-Inaction commented on #24
@passy Hi, got an error, found both libs have `libsonarfb.so` after unpack the `aar`.
[code]

[2018-06-27 17:10] damianw commented on #79
I'm not exactly sure as I haven't had time to investigate it. In the meantime, I've added a custom interceptor to perform the unzipping on the Android side.

[2018-06-27 20:31] bolismauro commented on #108
I think I have a similar issue.
This is my index.js
[code]
and it is a folder named `sonar-plugin-katana`.

This is my config
[code]

And this is my swift plugin
[code]

For some reasons the plugin is not loaded.

Moreover, if I run the ios test app in the simulator and then run sonar two things happen:
First, I sonar get stuck and this error is shown in the dev console
[code]

Moreover, the confi

[2018-06-28 12:54] priteshrnandgaonkar commented on #24
@Swordsman-Inaction You can add the following
[code]

[2018-06-28 13:21] priteshrnandgaonkar opened #113 "Update Openssl dependency"
Currently we use 1.0.1j version of openssl. We should ideally update it to 1.1.0

[2018-06-28 13:34] priteshrnandgaonkar commented on #72
Closing it in favour of #24

[2018-06-28 13:34] #72 closed

[2018-06-28 18:58] passy commented on #24
@Swordsman-Inaction The workaround from @priteshrnandgaonkar should work, but it's still something we shouldn't force you to do. I'll try to exclude the library from getting bundled into the `sonar` AAR. Pulling it in from one place should be enough.

[2018-06-28 20:12] Takhion commented on #75
@passy indeed there is since [Kotlin 1.1.4](https://blog.jetbrains.com/kotlin/2017/08/kotlin-1-1-4-is-out):  [`@ParametersAreNonnullByDefault`](https://static.javadoc.io/com.google.code.findbugs/jsr305/3.0.1/javax/annotation/ParametersAreNonnullByDefault.html)

[2018-06-28 20:28] passy commented on #32
This should no longer be a thing as we've renamed our version of `libfb.so`. #24 should take care of the remaining issues.

[2018-06-28 20:28] #32 closed

[2018-06-28 20:30] passy commented on #24
One more try. : Published `0.0.8` which no longer includes two copies of `libsonarfb.so`, so you don't have to use `pickFirst` or other hacks. `x86_64` is still not supported, but we're looking into that as part of #111 as we're trying to find a version of OpenSSL that's compatible with folly and compiles with modern NDK versions.

[2018-06-28 20:32] passy commented on #75
@Takhion Nice! We should annotate the package with that.

[2018-06-29 11:47] 10045125 opened #117 "Multiple dex files define"
Error:Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lokhttp3/internal/http2/Http2Connection$ReaderRunnable$1;
Error:com.android.dex.DexException: Multiple dex files define Lokhttp3/internal/http2/Http2Connection$ReaderRunnable$1;

Sonar need complie okhttp

[2018-06-29 11:51] priteshrnandgaonkar commented on #117
Hi, Can you try using `0.0.8`? Follow the discussion #24

[2018-06-29 14:48] passy commented on #117
That's definitely for the old version. Let's close this in favour of #24.

[2018-06-29 14:48] #117 closed

[2018-06-30 21:23] rohandhruva opened #120 "[Android] Native crash (SIGSEGV) on app startup"
I tried to integrate sonar into the app that I work on. On some phones with version 0.0.5 and 0.0.8, I noticed a crash in the native part of the code right on the app startup. It's so quick that I'm not able to even get to the main activity or any point where I can attach the debugger.

Unfortunately, this does not reproduce 100% of the times on all phones. When you hit this, the only available op

[2018-07-01 00:13] noahsark769 commented on #101
@danielbuechele this is with the sample app. There doesn't seem to be any info in the console, other than the fact that some Android things are failing (I think is because I don't have the Android SDK installed):

![image](https://user-images.githubusercontent.com/1168853/42129956-d1dc009e-7c88-11e8-9532-0d974c067128.png)

[2018-07-01 01:06] x4snowman commented on #87
@noahsark769 Hi,  Any good news?

[2018-07-01 10:03] passy commented on #120
The crash seems to occur in `libssl.so`. We're currently working on replacing that for a newer version from either BoringSSL or OpenSSL 1.1.0. Not sure *why* this is happening, but I guess there's a reasonable chance that the update will fix it.

[2018-07-01 17:34] rohandhruva commented on #120
@passy, thank you, I'll give it another shot after that update.

[2018-07-01 19:02] passy commented on #113
Blocks #120.

[2018-07-02 05:41] yschimke opened #121 "Update version in fbsonar (0.0.1)"
https://fbsonar.com/docs/getting-started.html

[2018-07-02 05:49] yschimke opened #122 "OkHttp docs should show registering interceptor"
https://fbsonar.com/docs/network-plugin.html

Only registering the sonar plugin is discussed currently, and in a way that the interceptor doesn't have a reference to the plugin.

[2018-07-02 10:55] passy commented on #121
Sorry, which version number?

[2018-07-02 11:22] yschimke commented on #121
This page was 0.0.1 this morning, now 0.0.8

[code]

[2018-07-02 11:22] #121 closed

[2018-07-02 11:24] yschimke commented on #121
https://github.com/facebook/Sonar/commit/e11a587426d675ca06c6459fb962aec746c9794b#diff-a39c9f7aa728d5fa3b973bc6ba49228a

[2018-07-02 11:56] passy commented on #121
Ah, sorry. Didn't take the time into account. That diff had been sitting there since Friday. :)

[2018-07-02 18:00] yschimke opened #123 "Sonar network plugin drops events on view change"
https://github.com/facebook/Sonar/blob/master/android/plugins/network/NetworkSonarPlugin.java

is a BufferingSonarPlugin, so obviously it's intended to not lose events before you connect.  However if you change views to use another plugin and return the events disappear.  This doesn't appear to be intentional.

[2018-07-02 20:40] xiphirx commented on #109
55930db6a6f9c50e8d548bdc6dad79313726769a

[2018-07-02 20:40] #109 closed

[2018-07-03 03:07] xiphirx commented on #33
There is a shared preferences plugin available as of https://github.com/facebook/Sonar/commit/55930db6a6f9c50e8d548bdc6dad79313726769a

Please try it out and let us know what you think.

There are plans to add a sqlite db plugin as well.

[2018-07-03 06:20] xiejinpeng007 commented on #120
I have encountered an Issue that the app will crash if not launch the Sonar Desktop app.
[code]

[2018-07-03 08:59] grand0147 commented on #65
Not working

-> Fetching podspec for `ComponentKit` from `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-podspecs/ComponentKit.podspec`
[!] Failed to fetch podspec for `ComponentKit` at `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-podspecs/ComponentKit.podspec`.
 Error: 404 Not Found

[2018-07-03 11:10] passy commented on #120
Could you try this with `0.0.9`? I updated OpenSSL to a vanilla `1.1.0h` version. If there are still native crashes, I wonder if this could be due to zygote having already OpenSSL symbols mapped into the process space. Perhaps we would need to link statically in that case, but I'd like to hear if this is still happening first.

[2018-07-03 11:45] lucaslbs15 commented on #110
I'm with the same problem. And my project is written in Kotlin too. Someone have some idea how can be done to fix it?

[2018-07-03 16:36] noahsark769 commented on #93
@priteshrnandgaonkar I think we can close this now, correct?

[2018-07-03 16:36] noahsark769 commented on #87
@x4snowman not yet unfortunately, there are still a couple of issues outstanding in #106

[2018-07-03 20:19] #113 closed

[2018-07-04 01:15] rohandhruva commented on #120
@passy, I upgraded our dependency to `0.0.9`, and it seems to be working fine on both Nexus 6P and Pixel 2. We don't see any native crashes on startup. The crash was not a 100% repro on the 6P, so I'll keep an eye out if it re-appears.

Thank you so much for updating OpenSSL -- seems to have done the trick!

[2018-07-04 08:09] passy commented on #120
Happy to hear that. Let me know if you see it again. I've also pushed out `0.10.0` with support for x86_64 emulators.

[2018-07-04 11:08] priteshrnandgaonkar commented on #87
@x4snowman, the current setup should work for objective-c based project.

[2018-07-04 11:11] priteshrnandgaonkar commented on #93
@noahsark769, thanks for pointing it out. Thanks @pkrmf for fixing the podspec. But lets publish it in cocoapods master repo as a next step. Lets create a separate issue for that.

[2018-07-04 11:11] #93 closed

[2018-07-04 11:11] pkrmf commented on #93
@priteshrnandgaonkar I will work on creating the issue and next steps.

[2018-07-04 11:49] pkrmf opened #132 "Publish SonarKit.podspec to the CocoaPods Master Repository"
Currently SonarKit is published to the Facebook Sonar private repository. In order to get SonarKit.podspec published to the CocoaPods master repo, we first need to take care of fixing and publishing some of its direct dependencies:

- [x] Yoga podspec should be updated to include the `DEFINES_MODULE` directive. We should be opening an issue in [Yoga](https://github.com/facebook/yoga), a PR and ask

[2018-07-04 16:13] yschimke opened #134 "Project package structure doesn't appear to work in Intellij"
When opening Sonar itself as an Intellij project (literally importing build.gradle), it doesn't seem to like directory structure not matching the package structure.

android/plugins/network
vs
package com.facebook.sonar.plugins.network;

[2018-07-04 17:17] passy commented on #134
Agreed. I think that requires a fix in the shipit config.

[2018-07-04 17:18] #111 closed

[2018-07-04 19:01] yschimke opened #137 "Suggestion: API Jar for implementing POJO plugins"
Ideally a plugin API Jar with central classes like BufferingSonarPlugin etc, for implementing plugin libraries without depending on the Android build infrastructure.

Sonar obviously makes sense to distribute as an AAR and with gradle android build configured.

But for developers of 3rd party libs e.g. Retrofit, OkHttp, RxJava, it would be simpler to have a low complexity option for building again

[2018-07-05 01:56] x4snowman commented on #87
@priteshrnandgaonkar @noahsark769 Hey guys, really appreciate your work to fix all issues. Yes, have already run an objc-base project. But, we need fix one more little problem with `'FBDefines/FBMacros.h' file not found`. I added the "${PODS_ROOT}/SonarKit/iOS/SonarKit" into the search path, and everything is ok. I think you can add it to the public header search path.

And thanks for your great w

[2018-07-05 07:31] b95505017 opened #139 "Android plugin can't browse db/SharedPreference like Stetho"
Does this feature will be support officially or we have to implement ourself?

[2018-07-05 09:37] danielbuechele commented on #139
A plugin for shared preferences is open-sourced in the next hours!

[2018-07-05 09:37] #139 closed

[2018-07-05 09:45] b95505017 commented on #139
@danielbuechele Thanks, what about database?

[2018-07-05 09:48] danielbuechele commented on #139
We don't have such a plugin currently. That means, it would be up to the community to build one. However, I know @xiphirx was interested in building one.

[2018-07-05 10:00] b95505017 commented on #139
Interesting, @xiphirx Looking forward to it!

[2018-07-05 10:42] ronocod opened #140 "App caught in upgrade loop"
I had 0.6.9 of the app installed, then it updated. The new version says it's 0.6.0 and displays this on startup:
![screen shot 2018-07-05 at 11 41 06](https://user-images.githubusercontent.com/466546/42318907-567fefe6-8048-11e8-94a8-57a06b10b2fb.png)

When the app relaunches after clicking `Install and Restart` the same dialog displays, and the loop continues.

[2018-07-05 10:53] priteshrnandgaonkar commented on #140
cc @danielbuechele

[2018-07-05 10:54] priteshrnandgaonkar commented on #120
Since the issue is solved. Closing it. Feel free to reopen if the issue pops up.

[2018-07-05 16:46] noahsark769 commented on #87
@x4snowman yup I ran into that FBMacros issue also. For what it's worth, that should be fixed in #106 too.

[2018-07-05 18:33] rohandhruva commented on #120
Unfortunately, this new library is causing a crash on startup on a Sony tablet (SGP511) with Android 5.1.1:

[code]

Is this library compatible only with a certain minSdk?

[2018-07-06 12:41] passy commented on #120
@rohandhruva Could you include some events from before it gets to this? I'm curious if there's a mention of which `libssl.so` it tries to load for those symbols. All the symbols referenced there are present in the `armeabi` variant of `libssl.so` that's included in the AAR.

[2018-07-06 12:59] tyronen commented on #110
I am having the same issue. Our app is written mostly in Java though. Also using okhttp3 + retrofit. Neither the network nor layout plugins appear on a physical device, but the Logs view shows fine, despite saying "no devices running".

The Android emulator shows both plugins. However, only the Layout plugin works; the Network plugin shows no network requests, even though they're clearly working i

[2018-07-06 17:39] rohandhruva commented on #120
@passy here's the entire log I was able to capture: https://gist.github.com/rohandhruva/4a8fc165df939d65db34066edd4d174a

Is this more useful? Thanks.

[2018-07-06 18:17] danh32 opened #142 "Don't log connection failures so aggressively"
On Android, logcat output is being spammed with:
[code]

whenever the Sonar desktop app isn't connected. It's really distracting, and making it harder to debug our app's logcat output. Would be great to make this much less aggressive.

[2018-07-07 18:43] passy commented on #120
@rohandhruva It is, thank you.

I'm a bit surprised to see no mention of `libssl.so` or `libcrypto.so` in that output. Just to rule this out, are you bundling your own version of that by any chance?

Otherwise, the "unused DT entry" about the `VERNEEDNUM` entry in the `.so`s could cause some trouble. We could try to run the libraries for ARM through an "elf cleaner" like this one here: https://git

[2018-07-07 21:57] amenon commented on #79
@damianw typically, gzipped responses have the `Content-Encoding` set to `gzip` rather than the `Content-Type`.

I noticed that the plugin was not decompressing my OkHttp interceptor responses because my responses used a lower-case header name `content-encoding`. I have a PR (#143) to address that.

[2018-07-08 18:12] noahsark769 commented on #101
Not sure what happened, but I can see the layout and network inspectors now. @linseanyu can you reproduce this anymore?

[2018-07-08 18:40] noahsark769 opened #145 "UserDefaults editor plugin for iOS?"
A SharedPreferences editor for Android was just open sourced. Are there plans to extend it to work with iOS UserDefaults as well? Or would this be something the community could build?

[2018-07-09 16:34] jknoxville commented on #142
Hey @danh32, this was fixed in https://github.com/facebook/Sonar/commit/f7d487dd7607226858ecb3380b889969d5e9a073#diff-21c6ae41362f1b7ca59c9a6e163a500cL118

It looks like you're using a pretty old version of the sdk. Out of curiosity did you build it from source or get it from jCenter?

[2018-07-09 17:38] rohandhruva commented on #120
I think we do include a version of `libssl` in our app, I see some references to it, but I'm not familiar enough with native development to check if that's what's causing this crash.

[2018-07-09 17:50] danh32 commented on #142
Ah my bad! Didn't realize there were new releases since they weren't listed here: https://github.com/facebook/Sonar/releases

No we're not building from source, just depending on an old release.

[2018-07-09 17:50] #142 closed

[2018-07-09 19:51] passy commented on #120
Multiple versions will definitely cause trouble. I think the only way to
work around that would be to statically link in at least one of the
libraries. For Sonar that's a bit cumbersome because multiple libraries
depend on OpenSSL, but it might be worth a try.

[2018-07-09 22:43] shaishavgandhi05 commented on #24
Is this issue resolved? I still face it.

[2018-07-10 02:00] damianw commented on #79
My mistake, I meant `Content-Encoding`

[2018-07-10 03:43] tianzhijiexian opened #146 "ClassNotFoundException : OnUnhandledKeyEventListener"
gradle:

[code]

[2018-07-10 03:52] tianzhijiexian commented on #146
fix by:

[code]

[2018-07-10 03:52] #146 closed

[2018-07-10 03:57] tianzhijiexian commented on #24
[code]

[code]

@shaishavgandhi05

[2018-07-10 06:40] passy commented on #24
Yes, the newer versions address this. Closing this here now. :)

[2018-07-10 06:40] #24 closed

[2018-07-10 10:08] danielbuechele commented on #122
#144 adds this

[2018-07-10 10:08] #122 closed

[2018-07-10 10:08] danielbuechele commented on #123
fixed in c239fcac01331523bfb17b97f39fee3a1694f759

[2018-07-10 10:08] #123 closed

[2018-07-10 15:52] priteshrnandgaonkar commented on #145
There are no plans yet for iOS from us. But we would be happy to have a PR from open source community.

[2018-07-10 15:53] priteshrnandgaonkar commented on #132
@pkrmf Any progress on this?

[2018-07-10 15:58] pkrmf commented on #132
@priteshrnandgaonkar haven’t had much time. Will take a look today

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-10 17:17] singhalmanav opened #147 "Network Inspection Plugin is not working in Sonar Mac App"
I added Network plugin in the Android app by following instructions here,
https://fbsonar.com/docs/network-plugin.html

`client.addPlugin(new NetworkSonarPlugin());`

On the sonar Mac app (downloaded from fbsonar.com), I can't see Network information.

<img width="1182" alt="screen shot 2018-07-10 at 10 17 04 am" src="https://user-images.githubusercontent.com/326722/42526364-7234b740-842a-11e8-84a

[2018-07-10 17:53] singhalmanav commented on #110
I'm experiencing the same issue. The logs and UI layout inspector is working fine but no network logs are displayed in the Sonar Mac app. Our Android app is mostly in Kotlin and uses OkHttp + Retrofit.

[2018-07-10 17:58] bolismauro commented on #108
I'm the only one with this problem? I want to start to develop an extension but it is almost impossible as the plugin is not recognized

[2018-07-10 23:43] pkrmf commented on #132
@priteshrnandgaonkar [Yoga PR](https://github.com/facebook/yoga/pull/793)

[2018-07-11 00:12] pkrmf commented on #132
@priteshrnandgaonkar @emilsjolander  What is your opinion on `Sonar.podspec` ? It is the 3rd bullet point on this PR

[2018-07-11 09:56] ronocod commented on #140
Version has reverted to 0.6.9 for me and I'm not seeing this any more

[2018-07-11 09:56] #140 closed

[2018-07-11 10:37] passy commented on #120
@rohandhruva I had a look at the publicly available `com.netflix.mediaclient` APK and there are indeed references to OpenSSL. specifically in `libmdx_jni.so`. I've got a superficial knowledge of native code at best, so I'm not sure if this means that it contains some statically linked OpenSSL code or not, but it doesn't reference `libssl` or `libcrypto` for that matter. The version embedded is `1.

[2018-07-11 10:40] passy opened #148 "[android] Investigate statically linking OpenSSL"
Follow-up to #120. There are some scenarios in which dynamically linking against OpenSSL can be troublesome, especially for apps that already use incompatible versions of OpenSSL in other places.

My knowledge on this is limited and I'm not sure if this would solve all issues as we'd still load OpenSSL symbols into the process  namespace when loading `libsonarfb.so`, `libfolly.so` etc.

[2018-07-11 10:44] priteshrnandgaonkar commented on #147
The documentation seems outdated. Follow the [example](https://github.com/facebook/Sonar/blob/master/android/sample/src/sonar/com/facebook/sonar/sample/SonarSampleApplication.java). We use OKHttpInterceptor to track the network calls, so u will have to add interceptor in `okhttpclient`

[2018-07-11 14:44] passy commented on #120
@rohandhruva I put out `0.6.11` (big jump, just to catch up with the top-level release version) which is statically compiled. Give it a whirl, when you get a chance. Would be curious to know if this makes a difference. :)

[2018-07-11 14:52] danielbuechele commented on #140
Version 0.6.12 is now released that should fix the problem. If you are still caught in an update loop, just download the latest version from GitHbu releases.

[2018-07-11 16:04] hhtopcu commented on #145
I'm planning to work on it. I'll send a PR asap

[2018-07-11 17:32] rohandhruva commented on #120
I'm fairly new to the app myself, but that sounds about right, I can try to find out more.

Heh, I'll definitely try to find out more from him :D

Unfortunately, it didn't: the app instacrashes on startup, although with a different log this time. I'm not entirely sure where the exact crash is, but here's the logcat output:
https://gist.github.com/rohandhruva/b8f5a933d560ae1aae6dbfaf655905aa

[2018-07-11 18:23] passy commented on #120
Thanks for your patience!
Is that on the 5.1.1 device again? I still haven't tried stripping all the
.so's of the unsupported symbols.

Is this crashing on other architectures/SDK levels too?

On Wed, 11 Jul 2018, 18:32 Rohan Dhruva, <notifications@github.com> wrote:

--
timezone: eu/london | utc+1
@passy

[2018-07-11 18:35] rohandhruva commented on #120
Thank *you* for helping debug this issue!

Yes, this new crash is still only on the Sony SGP511 tablet with Android 5.1.1 (and sonar 0.6.11). I tried the new sonar version on a Nexus 6P with Android 8.1, and it's working fine (as it did on 0.0.9 as well).

[2018-07-11 18:45] passy commented on #120
Okay, at least it's not a regression then. :)

Even though it's only a warning, based on the StackOveflow answer, I still
have some hope this is the linker throwing its hands in the air. I'll try
manually stripping all the libraries tomorrow.

On Wed, 11 Jul 2018, 19:35 Rohan Dhruva, <notifications@github.com> wrote:

--
timezone: eu/london | utc+1
@passy

[2018-07-11 19:47] passy commented on #120
Couldn't let it rest.

Can you give this a try? https://github.com/facebook/Sonar/releases/download/v0.6.11/sonar-0.6.11-repack.aar

If you use gradle, you should be able to place this somewhere, add a `flatdir` as repository like

[code]

and ensure that you explicitly depend on `fbjni` because you lose the dependency resolution now:

[code]

[2018-07-11 20:01] rohandhruva commented on #120
Thank you for whipping up the AAR! It's still crashing on that tablet, unfortunately: https://gist.github.com/rohandhruva/58af60cc7557fec0962c3e3f6e3a7edb

Looks like this might be the relevant line:

[2018-07-11 22:21] priteshrnandgaonkar commented on #132
@pkrmf I have commented on your Yoga PR.

[2018-07-12 03:05] mengxiangyue commented on #101
I also cant see them, but i get this error.
![image](https://user-images.githubusercontent.com/1563329/42610287-64c5c56e-85c3-11e8-9b46-8822a59169e3.png)

[2018-07-12 09:41] passy commented on #120
I got myself a 5.1.1 armv7 tablet to repro this and managed to get a native crash too using 0.6.11:

https://gist.github.com/passy/9a46486d1bf5a0b5ad419f8aeb2af5ad

Logs are a bit noisy but at least have a proper dump of the stack.

[2018-07-12 16:57] danielbuechele commented on #108
Can you try to execute `JSON.parse(process.env.PLUGINS)` in the console in Chrome dev tools in Sonar? The plugin loaded from the path should be listed there.

[2018-07-12 17:48] bolismauro commented on #108
It is empty..
What I've done now is to use the Objc example instead of the swift one.
Now what happens is that when I open Sonar it remains stuck at the launch phase (that is, the icon is in the dock but no window is created).

Is as it is stuck loading the plugin somehow..
Is there a way to see a log and understand what's happening?

[2018-07-12 17:54] bolismauro commented on #108
If I run the dev version (master) I see
[code]

but also
[code]

and the app doesn't start

[2018-07-12 18:16] noahsark769 commented on #11
Since the podspec now validates using the cocoapods private repo, I think we can close this issue in favor of #132

[2018-07-12 18:41] bolismauro commented on #108
If I compile the app from master I get instead
[code]

but then

[code]

[2018-07-12 20:19] danielbuechele commented on #108
For getting logs from the compiled app, you can launch it from the terminal using: `/Applications/Sonar.app/Contents/MacOS/Sonar`
Ok, cool this helps to debug. Now we know what's going on, I see if I can reproduce this.

[2018-07-12 20:31] bolismauro commented on #108
[code]

This is what the console says if I try to launch sonar with the plugin folder properly sat.
If I change the plugin folder, then everything works properly

The plugin is located in `Users/maurobolis/Desktop/sonar-test/sonar-plugin-katana` and the `.config` points to `Users/maurobolis/Desktop/sonar-test`.

It seems like the plugin is triggering some import that doens't exist

[2018-07-13 07:07] rohandhruva commented on #120
Great, thank you for trying to repro! Interestingly, both our logs show a `SIGSEGV` at the same fault address:

I don't see anything more indicative of what caused the segfault, which is about the extent of my knowledge of native :)

[2018-07-13 13:36] #148 closed

[2018-07-14 20:17] erawhctim commented on #101
I'm seeing the same behavior on my end:
<img width="539" alt="screen shot 2018-07-14 at 4 15 33 pm" src="https://user-images.githubusercontent.com/6600919/42728126-36e2963a-8781-11e8-9019-11ce94b8be64.png">

It looks like some permissions issue related to SSL? any thoughts?

[2018-07-15 00:01] Suil3File commented on #13
Amazing

[2018-07-16 11:14] kypeli opened #157 "Other native JNI libraries (.so files) fail to load when using Sonar"
I'm trying to use Sonar 0.6.11. My app relies on other 3rd party JNI .so libraries as well and when I take Sonar into use, those other libraries fail to load.

I tried to hunt down the reason for this and looks like the `SoLoader` class is doing some magic when loading Sonar's own native libraries, possible messing up the dynamic library paths from where to look for the JNI .so files, so my app wo

[2018-07-16 11:31] passy commented on #157
I'm not an expert on SoLoader internals, but my impression was that it wouldn't touch things like `LD_LIBRARY_PATH`. How does you app load the library? By directly calling `Runtime.nativeLoad()` or one of its variants?

[2018-07-16 11:49] kypeli commented on #157
Hrmph, this is a bit embarrassing for me since I cannot provide much information about this. We use a 3rd party SDK that is more or less a black box for us and the .so file that fails to load is part of that SDK. But unfortunately I don't know how the SDK itself load the .so file it is dependant on.

I can only observe that the native .so file is placed under the armeabi-v7a folder and this folder

[2018-07-16 11:53] passy commented on #157
And I assume that by omitting the `SoLoader.init(...)` line, the old behaviour is restored and loading that library works? Do you see the `armeabi-v7a` folder in the output in that case too, or only when the load fails?

[2018-07-16 12:48] ubuntudroid opened #158 "No-op dependency"
As the plugin usually is just used in debug build types it would be awesome to have a no-op dependency for non-debug build types to keep the code free from debug switches and not having to write own no-op wrappers for other build types.

[2018-07-16 12:58] kypeli commented on #157
If I remove the `SoLoader.init()` line, then there's an exception saying that Sonar is not initialised, so I cannot really say.

But here's something interesting I noticed:

[code]

From the log above you can see that Sonar is trying to do something my the dependency in question. So the .so file is found in the APK and also in the native library dir.

However, I am bit worried that Sonar tries to

[2018-07-16 13:20] passy commented on #157
Yes, the Sonar error is expected then. I'm just curious if `SoLoader` alone is causing the issue or if it's the combination with Sonar that causes trouble.

[2018-07-16 13:24] passy commented on #157
`.so` files aren't used as plugins and not randomly loaded by Sonar. There's just a bunch of C++ code powering the network layer to communicate with the desktop application. There's no custom logic around loading these things in Sonar, in general. All of that logic sits in SoLoader.

I've now seen other applications mixing Sonar with other bundled native libraries, so it doesn't seem like `SoLoade

[2018-07-17 07:05] kypeli commented on #157
Thanks for looking into this! If you've seen Sonar work with other apps that ship with native .so libraries bundled, then it seems this is not a generic bug, but something specific to my case. Which of course is a PITA and a shame for me. Unfortunately I am not sure how much more I can give input as I don't know how the library is loaded so really difficult to know my .so file fails to load. The e

[2018-07-17 12:20] passy commented on #157
I'd still be curious which part is responsible for the underlying issue. Have you been able to check if just initializing `SoLoader` on its own, without pulling in any of the other Sonar dependencies causes the the problem?

[2018-07-18 16:09] Almaral-Engineering commented on #147
Same here, I am using Volley for all my app requests, does that okhttpclient method work for that?

[2018-07-18 18:33] Almaral-Engineering opened #161 "Network Plugin not working"
I am using Volley for the requests, do I have to use okHttp? I just see an empty screen

My code:

[code]

[2018-07-18 20:23] b95505017 opened #162 "Failed to resolve: sonar:third-party:unspecified"
This is what dependencies tree look like in android library:

[code]

[2018-07-19 05:55] yschimke opened #163 "OkHttp plugin should report on failed requests"
i.e. throwing IOException (dns, network connectivity) instead of a 500, 401 etc.

https://github.com/facebook/Sonar/blob/master/android/plugins/network/SonarOkhttpInterceptor.java#L37

[2018-07-19 05:57] yschimke opened #164 "OkHttp plugin doesn't handle duplicate headers"
https://github.com/facebook/Sonar/blob/master/android/plugins/network/SonarOkhttpInterceptor.java#L96

Keys can have duplicates, but call to get will return the first value only in case of duplicates

alternate processing code https://github.com/square/okhttp/blob/5785e1b4f6fdb782b87ceaa4460bc4fca28d747c/okhttp/src/main/java/okhttp3/Headers.java#L179-L191

[2018-07-19 10:32] yschimke commented on #162
Workaround?

[code]

[2018-07-19 11:00] passy commented on #162
Wouldn't that also exclude fbjni?

I think you would also want to specify `module: 'third-party'` to be safe.

But yeah, this is not ideal. I'll need to restructure our modules to avoid that.

[2018-07-19 11:11] yschimke opened #165 "Is soloader 0.5.0 incompatible with litho?"
litho 0.17.0
sonar 0.6.12
soloader 0.5.0
yoga 1.8.0

    java.lang.NoSuchMethodError: No static method loadLibrary(Ljava/lang/String;)V in class Lcom/facebook/soloader/SoLoader; or its super classes (declaration of 'com.facebook.soloader.SoLoader' appears in /data/app/com.squareup.okhttptestapp-2/base.apk:classes3.dex)
        at com.facebook.yoga.YogaConfig.<clinit>(YogaConfig.java:19)
        at

[2018-07-19 11:12] yschimke commented on #162
fbjni group is com.facebook.sonar, so it's ok.

[2018-07-19 12:20] thomsontomy opened #166 "okhttp: crash when response body is null"
[code]
Body can be `null` if it is retrying the request.
I guess it need to check whether the body is `null` or not before creating the new response.
Refer how stetho is handling it https://github.com/facebook/stetho/blob/master/stetho-okhttp3/src/main/java/com/facebook/stetho/okhttp3/StethoInterceptor.java#L96

[2018-07-20 06:42] yschimke opened #169 "Support for plaintext WebSocket transport"
Consider optional (disabled by default) support for Websocket transport.  Would allow remote clients without certificate swap via adb etc.  Could advertise (zeroconf?) for clients to find sonar instances in local network.

Also with websocket, then a lightweight (no native dependencies) version of the Android library could be supported.

package.json
[code]

src/server.js
[code]

[2018-07-20 06:44] yschimke commented on #80
Think this can be closed

[2018-07-20 06:45] yschimke commented on #42
Implemented here https://github.com/yschimke/kona/blob/master/src/main/kotlin/com/baulsupp/sonar/okhttp/SonarOkhttpListener.kt

Without support for viewing body, but does not delay processing like the interceptor does.

[2018-07-20 06:49] yschimke opened #170 "Lightweight pure java/kotlin library"
I was looking at making at a lightweight version of the android plugin just requiring

- kotlin
- okhttp
- rsocket-kotlin
- okhttp

https://github.com/yschimke/kona

Basically a headsup, as I assume the internal FB stuff will stay native for good reason.

If you are already working on something similar, then happy to avoid duplication.

[2018-07-20 06:56] yschimke opened #171 "Document network protocol"
Could we add this to the Wiki?  Starting here as a draft

insecure connection - tcp://10.0.2.2:8089

secure connection - tcp://10.0.2.2:8088 (uses certs installed via adb)

setup payload {"app": "$app","os": "$os","device": "$device"}

fireAndForget (desktop -> mobile) {"id": 0, "method": "getPlugins"}
fireAndForget (mobile -> desktop) {"id": 0, "success": {"plugins": ["Sandbox", "Network"]}}

10.

[2018-07-20 07:02] yschimke commented on #171
It would be good to consider using more features of RSocket in a V2 of the protocol e.g. keepalives, requestResponse, requestStream, etc.  Could avoid a lot of custom logic for correlating responses, timeouts, registering interest in streams etc.

[2018-07-20 09:05] passy opened #172 "Remove Guava dep"
It seems like we're pulling in the full Guava library for just `ImmutableMap`. That's overkill to put it mildly. We should either find a smaller implementation of that somewhere out there or provide one ourselves.

[2018-07-20 09:40] #87 closed

[2018-07-20 10:42] jknoxville commented on #101
It looks like it's unable to open the serial file used for generating certificates, though it shouldn't really be creating that in your home directory.

According to openssl, the default .srl location is the same directory as the certificate: https://www.openssl.org/docs/man1.0.2/apps/x509.html so it should be in `~/.sonar/certs`

I wonder if explicitly specifying the serial filename with `-CAseri

[2018-07-20 11:33] #13 closed

[2018-07-20 13:55] priteshrnandgaonkar commented on #147
We use okhttp interceptors to track network calls. To support Volley, we would have to add support for it. But currently projects with okhttp in their network stack are supported.

[2018-07-20 13:56] priteshrnandgaonkar commented on #161
Duplicate of #147 , thus closing it

[2018-07-20 13:56] #161 closed

[2018-07-20 15:24] noahsark769 opened #173 "Swift support for Sonar network plugin"
SonarKit core now supports being used in Swift apps, but we don't support the network plugin because it uses C++ in headers. Let's fix that.

[2018-07-20 15:24] noahsark769 opened #174 "Swift support for Sonar layout plugin"
SonarKit core now supports being used in Swift apps, but we don't support the layout plugin because it uses C++ in headers. Let's fix that.

[2018-07-20 22:07] anasanasanas opened #176 "Running sonar on windows"
Yarn version 1.5.1

` TypeError: babelTemplate is not a function
    at Object.<anonymous> (C:\Users\user\Documents\Sonar\static\node_modules\metro\src\ModuleGraph\worker\collectDependencies.js:132:39)
    at Object.<anonymous> (C:\Users\user\Documents\Sonar\static\node_modules\metro\src\ModuleGraph\worker\collectDependencies.js:214:3)
    at Module._compile (module.js:642:30)
    at Object.Module

[2018-07-21 18:40] santoshgistto commented on #108
@danielbuechele here is the screenshot
<img width="1418" alt="screen shot 2018-07-22 at 12 07 23 am" src="https://user-images.githubusercontent.com/12577046/43039089-686b07c4-8d43-11e8-9e1a-5ee728694f89.png">

[2018-07-21 18:49] santoshgistto commented on #108
@danielbuechele here is the screenshot

<img width="1423" alt="screen shot 2018-07-22 at 12 16 50 am" src="https://user-images.githubusercontent.com/12577046/43039127-97f16d16-8d44-11e8-97d3-56330f1ee16d.png">

i am able see to "DemoPlugin" in plugin list but its not loading

[2018-07-23 02:54] Whoisurdady opened #177 "ndk armeabi missing"
In our project, we use ndk like this
ndk {
            abiFilters "armeabi"
 }, and it make a "Class not found exception".
And i found Sonar does not have armeabi libs.
Now i manualy copy libs to armeabi, but it is not friendly to other developers in our project.
Will sonar solve this problem in recent release ?

[2018-07-23 08:00] passy commented on #177
`armeabi` was deprecated in NDK r16 and removed in r17. We currently don't have any plans on supporting it. It should still be possible to manually build Sonar and the extensions by pointing it at an older SDK and setting the appropriate `abiFilters`.

[2018-07-23 08:00] #177 closed

[2018-07-23 08:03] Whoisurdady commented on #177
All right, may be i can try to write a script or sth to do this~~
Thank u all the way~~

[2018-07-23 08:18] CveniEs commented on #70
@priteshrnandgaonkar   I write podfile like you, but it doesn‘t work wether use VPN or not... The error is:
Analyzing dependencies
Fetching podspec for `ComponentKit` from `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-podspecs/ComponentKit.podspec`
[!] Failed to fetch podspec for `ComponentKit` at `https://raw.githubusercontent.com/facebook/Sonar/master/iOS/third-party-p

[2018-07-23 10:34] priteshrnandgaonkar commented on #70
@CveniEs For clarity can you paste your podfile. Please follow the podfile of our sample app, which is [here](https://github.com/facebook/Sonar/blob/master/iOS/Sample/Podfile)

[2018-07-23 16:31] jknoxville commented on #169
I think we should split this into two issues.

1. Add an optional opt-out of the secure protocol.
  I think we should definitely do this. It should be pretty simple and for one thing will unlock iOS support for a lot of users.

2. Lightweight library with no native code.
   I haven't thought about this much. One reason a lot on sonar is written in C++ is to allow for code sharing across platforms

[2018-07-23 23:59] yschimke commented on #169
+1 to splitting.

I raised https://github.com/facebook/Sonar/issues/170 for the second. I'm kicking that around, don't expect you to build or support.  To be honest, I think the choices made are only clearcut if you are inside FB.  Outside, I think the simplicity of a pure java mobile library will outweigh the benefits of code sharing.  That shared layer should be very thin on mobile.  My 2c.

[2018-07-24 03:23] yschimke commented on #165
Fixed in litho 0.18.0

[2018-07-24 03:23] #165 closed

[2018-07-24 03:43] yschimke opened #178 "UI Home Screen Suggestion"
The default logs view is noisy and distracting.  Most UI views once loaded related to user actions, e.g. launching an app, making network requests.  But the default logs view just spews internal errors for me.

A less noisy default filter or a home screen for Sonar would be nice.

[code]

[2018-07-24 08:46] Aexyn commented on #101
I am also not able to view anything except Logs. I am using it on windows and build Sonar through the steps given. The code I wrote in Application Class:
[code]
and I am getting the following errors..

![screenshot 58](https://user-images.githubusercontent.com/2553128/43126847-899f92ac-8f4b-11e8-8292-9ac1245b0261.png)
![screenshot 59](https://user-images.githubusercontent.com/2553128/43126849-89cd

[2018-07-24 15:33] #166 closed

[2018-07-24 21:56] KevCron opened #179 "Link to download latest build for desktop app in "Getting Started" broken."
Steps to reproduce:

- Click on ["Getting Started"](https://fbsonar.com/docs/getting-started.html) from README.
- Click on the link ["download the latest build"](https://www.facebook.com/sonar/public/mac)
- Observe that the link does not go anywhere.

https://fbsonar.com/docs/getting-started.html
https://www.facebook.com/sonar/public/mac <---- 404's.

[2018-07-24 23:24] Almaral-Engineering opened #180 "App failing in release mode Android"
When I run my app in release mode I am getting this:

symbol:   variable DescriptorMapping
  location: class MainApplication
/Users/greenhouse/tmp4IH6GC/app/src/main/java/com/locus/handy/MainApplication.java:57: error: cannot find symbol
        if (BuildConfig.DEBUG && SonarUtils.shouldEnableSonar(this)) {
                                 ^
  symbol:   variable SonarUtils
  location: class MainAp

[2018-07-25 00:22] noahsark769 opened #181 "SonarKit podspec 0.6.13 needs to be pushed"
0.6.13 has been tagged, but it needs to be pushed to the private cocoa pods repo (the Specs directory currently contains only 0.6.12)

[2018-07-25 04:30] Whoisurdady opened #182 "Search every input is too slow"
I am trying to implement sonar in out project, and i found that it searches so slow.
I think may be it is caused by sonar try to search every input.
In most case, this is Inefficient.
Will Sonar improve this by add a search button or sth to let developer make a full search, and forbid the input search？

[2018-07-25 07:43] CharonChui opened #183 "Link to download has broken!"
The link to download the latest build of desktop app（https://www.facebook.com/sonar/public/mac） has broken.

HTTP ERROR 404

[2018-07-25 10:33] passy commented on #182
Sorry, which search input are you referring to?

[2018-07-25 10:34] passy commented on #180
Can you please provide a full example of how your project is set up? Preferably a GitHub project we can check out, or otherwise a full list of the build settings.
If you have those information, please feel free to open a new issue.

[2018-07-25 10:34] #180 closed

[2018-07-25 10:34] passy commented on #183
Dupe of #179

[2018-07-25 10:34] #183 closed

[2018-07-25 10:35] #162 closed

[2018-07-25 11:16] passy commented on #179
@priteshrnandgaonkar fixed this. :)

[2018-07-25 11:16] #179 closed

[2018-07-25 17:21] ethanjdiamond opened #187 "Support for non-CocoaPods dependency managers for the iOS framework"
CocoaPods is only one of three major dependency managers for iOS projects (the other two being [Carthage](https://github.com/Carthage/Carthage) and Apple's own [Swift Package Manager](https://github.com/apple/swift-package-manager)). In order to get adoption in the iOS community, Sonar's going to need to support them, and requiring CocoaPods to be run to build the SonarKit framework prevents any o

[2018-07-26 04:35] noahsark769 commented on #181
Thanks! 0.6.13 has been pushed and this can now be closed.

[2018-07-26 04:36] #181 closed

[2018-07-26 04:38] xiphirx opened #189 "Cannot find module when trying to run on Windows"
I'm trying to run Sonar on Windows, which I'm not entirely sure if we're trying to support, but I've seen some commits recently that indicate that we might be adding in support. I'm running Windows 10 + cygwin but I get a weird module not found error:
[code]

Any idea on what could be going wrong here?

[2018-07-26 04:39] noahsark769 opened #190 "Builds for non-Objc++ iOS apps are broken on v0.6.13"
See [this repo](https://github.com/noahsark769/sonar-testing-example-projects) for two examples of apps which integrate Sonar in the recommended way but don't build. The error looks like this:

![image](https://user-images.githubusercontent.com/1168853/43241965-e9fad9f6-9052-11e8-855f-97281c3635ca.png)

I believe this is because 9f807cd0 introduced the `CppBridge` subspec, and as a result C++ head

[2018-07-26 04:48] krzemienski opened #191 "tvOS Support"
I would love to contribute!

Can someone point me in the right direction as to why tvOS is not supported out of the box. I’m assuming this will take both core work and SDK work.

[2018-07-26 05:57] SirArkimedes commented on #191
While this may be possible... there are a lot SonarKit dependencies that currently don't support tvOS. 😢

[2018-07-26 06:01] faimin opened #193 "[iOS] the dependency `OpenSSL-Static` conflict with other version `openssl` library"
if the project has include `OpenSSL`, then  excute pod install, will occurred error。

the pod error message is `[!] The 'Pods-XXX' target has libraries with conflicting names: libcrypto.a and libssl.a.`。

[2018-07-26 09:02] jknoxville commented on #182
I think that sounds reasonable to optionally disable the
search-as-you-type. High end phones seem to deal with it well, but perhaps
low end ones will struggle with large apps.

By default, we want to keep the ux similar to the rest of the app, where
this type of search is the norm, like in the logs plugin.

On Thu, 26 Jul 2018, 9:01 am Whoisurdady, <notifications@github.com> wrote:

[2018-07-27 03:05] Whoisurdady opened #194 "yarn build on mac fail"
I' m fine with yarn start.
when i
yarn build  --mac, it build successfully, but the built app run and shows a blank window
i am very confused

[2018-07-27 22:28] FBisca opened #195 "Incompatibility with the Facebook library Conceal"
In our project we are using the Facebook encryption library [Conceal](https://github.com/facebook/conceal)

And I noticed that Conceal uses the same classes/jni as Sonar but instead of adding them as a transitive dependency, they are added as `sourceSets`.

[**conceal/build.gradle**](https://github.com/facebook/conceal/blob/master/build.gradle#L37)
[code]

This is what happens when we are using Co

[2018-07-29 15:11] leoemili commented on #146
The answer from @tianzhijiexian didn't work for me. I got a similar error using androidx:

I/art: Rejecting re-init on previously-failed class java.lang.Class<androidx.core.view.ViewCompat$OnUnhandledKeyEventListenerWrapper>: java.lang.NoClassDefFoundError: Failed resolution of: Landroid/view/View$OnUnhandledKeyEventListener;
        at void androidx.core.view.ViewCompat.setBackground(android.view

[2018-07-29 15:15] leoemili commented on #146
Any idea?

[2018-07-29 16:07] common1994 opened #196 "Sonar can't handle the defects of C++ header files"
I used cppcheck to check my C++ code and generated an xml type report. There are some bugs or defects in the report that were checked in the header file, but after the sonarQuber upload to sonar, the defects in these header files could not be found.

[2018-07-29 16:20] amenon commented on #110
You will need to include the OkHttp interceptor in order to intercept and view network requests through the network plugin. Take a look at the docs (https://fbsonar.com/docs/network-plugin.html#okhttp-integration) or the sample project (https://github.com/facebook/Sonar/blob/master/android/sample/src/main/java/com/facebook/sonar/sample/SonarSampleApplication.java#L31-L39) for an example.

[2018-07-29 19:08] passy commented on #196
I think you're confusing two different projects here ...

[2018-07-29 19:08] #196 closed

[2018-07-30 03:36] tianzhijiexian commented on #146
https://gist.github.com/tianzhijiexian/2853c097762a203cd1d024c1f846dcc3 @leoemili  try this gist?

[2018-07-30 10:09] bolismauro commented on #108
I still haven't found a way to make it work. It looks like I'm missing something but I can't figure out what

[2018-07-30 14:12] leoemili commented on #146
Here I see the same that you've posted before. I'm talking of configurations.all { ... }.
Anyway I copied this part into my build.gradle but the problem still occurs. Where am I wrong?

[2018-07-30 15:52] priteshrnandgaonkar commented on #187
There are no plans yet from our side in regards to this. But we would be happy to have a PR from the community.

[2018-07-30 23:43] krzemienski commented on #191
Are they all necessary? Maybe we can loose some and loose some functionality in the tvOS flavor? Which ones in particular do you think would be the biggest blockers? @SirArkimedes

[2018-07-31 16:56] #190 closed

[2018-07-31 17:08] passy commented on #195
Hmm, that's unfortunate. You tried the right steps there, but I think it'll be up to Conceal to change their repo structure so we can properly deduplicate those libraries.

[2018-08-01 01:14] jbarr21 commented on #195
I'm also seeing this with ReactNative and Profilio Facebook libs. Is there anything that can be done with this library to enable compatibility rather than waiting for updates from 3 other libraries?

[2018-08-01 10:07] passy commented on #195
React Native should not be affected by this. What error do you see there?

This is a packaging issue, so this will require a packaging fix. This stuff is hard to get right because the Android build system provides next to no help with this.

[2018-08-01 14:31] jbarr21 commented on #195
We build with Buck and see the duplicate class error during the R8 step: `Program type already present: com.facebook.jni.CppException` which is provided from both React and Sonar

**Providers of `CppException`**:
[code]

**Full build error**:
[code]

[2018-08-01 15:00] passy commented on #195
Oh, okay, now I see. That's why we made `fbjni` a separate artifact. And what happens if you don't include the Sonar-provided `fbjni` package? Are there incompatibilities?

[2018-08-01 15:16] jbarr21 commented on #195
But that `fbjni` separate artifact does not get published to maven central or jcenter. If it was, then Gradle (Gradle is our source of truth that generates Buck files) would allow us to exclude the artifact, like we are already doing for SoLoader and Infer annotations. Adding an exclude for `com.facebook.fbjni` does nothing for us as the .AAR downloaded from maven central already contains the `Cpp

[2018-08-01 15:44] amenon opened #200 "Download links for the desktop app are broken"
With the project being rename to Flipper, the links to download the desktop client (https://www.facebook.com/flipper/public/mac) are now broken. The old link https://www.facebook.com/sonar/public/mac redirects to https://www.facebook.com/flipper/public/mac and results in a 404.

This also seems to affect the update checker within the app:
![sonar](https://user-images.githubusercontent.com/1328587/

[2018-08-01 17:00] amenon commented on #180
I suspect that this is because you're using `debugImplementation` while importing the lib and so the classes are not found while compiling the release version. If you were to use `implementation` instead, this will probably compile, but it will bloat your release app. Another solution would be to have a separate Application class for the debug version of your project that includes Sonar while the

[2018-08-02 00:25] priteshrnandgaonkar commented on #173
I am working on it. PR is up #201

[2018-08-02 09:42] Shubhampatni86 opened #202 "Network section not showing any log. #Retrofit integration #Android"
sorry to bother here if it's already done, I have little confusion about to see network inspection using flipper tool(Electron). In my project I'm using Retrofit V2.3.0, after **[suggested](https://fbflipper.com/docs/network-plugin.html)** integration here I'm not seeing any network class description in electron-network section. Anyone can suggest what can be wrong or missing something !! PFA for

[2018-08-02 09:58] Shubhampatni86 commented on #147
Hey @priteshrnandgaonkar so for now it's not support for Retrofit-integrated project as well !! Is that correct ? I have raised ticket **[here](https://github.com/facebook/flipper/issues/202)**.

[2018-08-02 10:11] passy commented on #194
Can you please provide any error information you get from either the console or the dev tools?

[2018-08-02 10:27] passy commented on #189
I don't think we've got anyone on the team with Windows knowledge, so the build support for that would likely have to come from the community (in the broader sense of outside the team at least).

[2018-08-02 11:41] danielbuechele commented on #200
Thanks for reporting. This should be fixed now!

[2018-08-02 11:41] #200 closed

[2018-08-02 14:19] passy commented on #195
@jbarr21 With the correct exclusion, are you still seeing those errors?

[2018-08-02 15:42] ethanjdiamond commented on #187
@priteshrnandgaonkar Could you break out the iOS project into their own repo? That would allow you to use "Releases" to host a pre-built .framework that Carthage/SwiftPM could consume.

[2018-08-02 16:08] jbarr21 commented on #195
Nope, thanks for pointing out the issue!

[2018-08-02 16:14] passy commented on #195
@jbarr21 Glad to hear that. :)

[2018-08-02 17:49] bangarharshit commented on #200
It is still throwing 404.

[2018-08-02 18:46] noahsark769 opened #203 "v0.6.15 builds are broken for default project configurations"
You can see examples in Objc and Swift here: [sonar-testing-example-projects)](https://github.com/noahsark769/sonar-testing-example-projects). The error is "FBMacros.h: File not found"

I believe the reason is that Sample and SampleSwift both have `"${PODS_ROOT}/Headers/Public/SonarKit"` as a _recursive_ header search path, which is not out-of-the-box configuration for cocoapods. #192 removed FBMa

[2018-08-03 10:03] priteshrnandgaonkar commented on #203
Yeah, I moved it back in, as it broke the internal build. I will work on this issue of supporting default configurations.

[2018-08-03 23:15] tmm1 opened #206 "Does not work with adb network connections"
I have several Android TV devices which I connect to over the network with adb.

[code]

Flipper uses `adb reverse tcp:8088 tcp:8088` which only works with USB connected devices:

[code]

which I also see in the app:

[code]

[2018-08-06 06:56] Whoisurdady commented on #194
Here is my build log，I am working on MacOs High Sierra 10.13.6

yarn run v1.9.2
$ yarn rm-dist && NODE_ENV=production node scripts/build-release.js $@ --mac --version
$ rm -rf dist
Creating build directory
Created build directory /var/folders/zw/9dmk03k51rjbyh25p4s2ds6h0000gn/T/tmp-770oEZGfbvXsA4C
🕵️‍  Watching for plugin changes
⚙️  Compiling sonar-plugin-layout...
⚙️  Compiling sonar-plugin-netw

[2018-08-06 10:37] priteshrnandgaonkar commented on #203
Closing the issue as the PR for this is merged

[2018-08-06 10:37] #203 closed

[2018-08-06 11:53] danielbuechele commented on #194
Can you try launching the app you build via the terminal like this: `/Applications/Sonar.app/Contents/MacOS/Sonar`. This should give you some more detailed error logs.

[2018-08-07 04:26] vincent-paing commented on #139
Any update on this?

[2018-08-07 04:28] xiphirx commented on #139
I haven't had time to work on the DB plugin, mostly because I cant get Flipper to work on my Windows machine at home :( I still plan on doing it though.

[2018-08-07 09:40] toantk238 opened #209 "[Android] Can't see Network inspector"
I'm trying to use Flipper on Linux Mint 19.
Everything seem run well. But after I try to integrate Flipper in Android app, I can't see the Network Inspector in Flipper. Only can see Logs. You can see some screen shots below.
** Note : I build Flipper from source
   Branch : master
   Revision : fc7f949dafdb5f853ea979d08d33e5157836ba57

![screenshot from 2018-08-07 16-34-33](https://user-images.git

[2018-08-07 10:42] Whoisurdady commented on #194
Here is my log

➜  MacOS git:(master) ✗ ./Sonar
🕵️‍  Watching for plugin changes
✅  Compiled all plugins.
2018-08-07 18:41:47.069 Sonar[40703:2457913] *** WARNING: Textured window <AtomNSWindow: 0x7fad8f777e80> is getting an implicitly transparent titlebar. This will break when linking against newer SDKs. Use NSWindow's -titlebarAppearsTransparent=YES instead.

[2018-08-07 17:25] passy commented on #209
I'm actually having the same issue on my Linux box. I'll look into that, but don't have a good estimate when that will happen.

[2018-08-07 21:17] rahilvora commented on #172
Hey @passy  I am new to open source contributions and would like to work on this.

[2018-08-07 21:51] passy commented on #172
@rahilvora Amazing! Let me know if I can help in any way.

[2018-08-07 23:28] priteshrnandgaonkar commented on #173
This is done

[2018-08-07 23:28] #173 closed

[2018-08-08 05:21] riyaz opened #210 "Filter by package support for Android"
It would be nice to have filter by package like [Pidcat](https://github.com/JakeWharton/pidcat) else we have to find the process then do a filtering, most of times filter by package is more useful than filter by pid

[2018-08-08 13:03] fraherm opened #211 "Support multiple keys for SharedPreferences"
It might be interesting to watch multiple instances of `SharedPreferences` with different keys. Currently flipper only displays the first instance which is added with the `SharedPreferencesSonarPlugin`.

[code]

For this example flipper only displays the `SharedPreferences` instance for `key1` and not for both.

[2018-08-08 15:36] luco opened #212 "TypeError: Cannot read property 'color' of undefined"
Getting this message when trying to debug:

![image](https://user-images.githubusercontent.com/246373/43847684-9311cc7a-9b07-11e8-964f-cb1c7304be72.png)

Thoughts?

[2018-08-08 15:46] passy opened #213 "Run Gradle Unit Tests in Travis CI"
We currently don't support using Gradle for running our unit tests, i.e. `./gradlew :android:testDebugUnitTest` will fail with a bunch of unresolved dependencies. I don't think there are any blockers from making this work - someone just needs to check out what the missing dependencies are and add them to our `build.gradle` files.

I would be happy to accept partial Pull Requests here, even if we s

[2018-08-09 07:09] abeemukthees commented on #110
It's working now.

[2018-08-09 07:09] #110 closed

[2018-08-09 07:14] abeemukthees opened #215 "Plugin "NETWORK" encountered an error during render"
Flipper v0.6.12
`RangeError: Maximum call stack size exceeded at decompress (/Applications/Flipper.app/Contents/Resources/app.asar/defaultPlugins/sonar-plugin-network@1.0.0.js:765:32) at decodeBody (/Applications/Flipper.app/Contents/Resources/app.asar/defaultPlugins/sonar-plugin-network@1.0.0.js:747:91) at ResponseBodyInspector.render (/Applications/Flipper.app/Contents/Resources/app.asar/default

[2018-08-09 08:22] hanfeni opened #216 "react infinite scroll heap memory overuse??"
Hi I am planner of one company who work for company providing mobile service for Korean physician.

And we are preparing for renovation of our mobile web service with React-redux
Like facebook and linkedin, new UI of our service is ‘Timeline’-style, so performance of infinite scroll including rendering and loading time is very critical.

And we have difficulty in tuning of it.
As the number of scr

[2018-08-09 09:36] pollux- opened #217 "LeakCanarySonarPlugin missing"
**com.facebook.sonar.plugins.leakcanary.LeakCanarySonarPlugin** missing in the dependency

[2018-08-09 09:41] passy commented on #217
What do you mean by "missing in the dependency"?

[2018-08-09 13:55] passy commented on #216
I do not see how this is related to Flipper at all. @hanfeni could it be that you picked the wrong GitHub project to report this too? Closing, but let me know if there's something I'm missing.

[2018-08-09 13:55] #216 closed

[2018-08-09 13:57] priteshrnandgaonkar commented on #212
Can you post the repro steps?

[2018-08-09 14:23] priteshrnandgaonkar commented on #215
Can you give the repro step?

[2018-08-09 20:58] JuanFCalle commented on #217
Same issue, there is no LeakCanarySonarPlugin in com.facebook.sonar.plugins.leakcanary

[2018-08-10 04:18] Whoisurdady commented on #194
Will someone help to solve this problem? or at least tell me why? Or change a dev-environment works?

[2018-08-10 07:39] abeemukthees commented on #215
I installed the latest Flipper v0.6.12 desktop app on my mac. (Downloaded directly)

Launched it
Started Android Emulator
App is written in Kotlin, Networking is handled by `Retrofit` + `okhttp` + `CoroutineCallAdapterFactory` + `MoshiConverterFactory`

[code]
[code]
I also have `willowtreeapps/Hyperion-Android` dependency, which uses the `ChuckInterceptor`
Since I had some build issues, I added t

[2018-08-10 08:12] minshoki opened #221 "No device running."
I can't device running.

### build error mesag
`More than one file was found with OS independent path 'lib/x86/libc++_shared.so'`

[code]

[2018-08-10 08:50] passy commented on #221
Can you please describe your problem and leave steps to reproduce when opening a bug? This is unfortunately not enough information for us to help you.

Feel free to open another issue when you have a case we can reproduce.

[2018-08-10 08:50] #221 closed

[2018-08-10 09:34] danielbuechele commented on #194
Are you able to open Chrome dev-tools inside of Sonar? Are there any errors on the console?
I see that you don't have a valid code-signing cert installed. This might also be an issue.

[2018-08-10 10:55] Whoisurdady commented on #194
bundle.js:8541 Error: Could not call remote function 'setFeedURL'. Check that the function signature is correct. Underlying error: Could not get code signature for running application
Error: Could not call remote function 'setFeedURL'. Check that the function signature is correct. Underlying error: Could not get code signature for running application
    at callFunction (/Users/zhoukai/Desktop/mom

[2018-08-10 10:57] danielbuechele commented on #194
Ok, this is the line that is crashing: https://github.com/facebook/flipper/blob/75dfbf51f85ea466af0cf5ffdcac8326fe74722d/src/chrome/AutoUpdateVersion.js#L41
You could either install a valid cert to code sign your app, or we wrap this call in a try-catch-block.

[2018-08-10 11:00] Whoisurdady commented on #194
How to install a valid cert? I am not a mac app developer, will u give some suggest?

[2018-08-10 11:06] danielbuechele commented on #194
Open Xcode, go to preferences, Accounts, make sure your Apple ID is added here, click on manage certificates, click on the plus in the lower left corner, select "Mac Development". After that, a certificate should be generated that is then used automatically to sign your electron builds.

If that doesn't work, probably it's not worth wasting too much time on code signing and you should simply catch

[2018-08-10 11:07] Whoisurdady commented on #194
Thanks a lot!

[2018-08-10 11:07] #194 closed

[2018-08-11 05:15] rahilvora commented on #213
I can try this.

[2018-08-11 20:28] noahsark769 commented on #108
I've been able to make a custom plugin work (with the master desktop app running via `yarn start`) - one thing I noticed is that the desktop app tends to overwrite ~/.sonar/config.json a lot, so it's best to edit it when the desktop app is closed.

Also, you need to specify the path to the parent directory in the config: e.g., if you have `/my/path/to/sonar-plugins/my-plugin/index.js` for your plu

[2018-08-12 14:14] bolismauro commented on #108
I will try with master branch codebase. Last time I used the app I've downloaded from the website.
For the config path, I used the parent folder as you are suggesting.

Can you share the plugin (or a skeleton that works)? I start wondering If I'm doing something wrong there

[2018-08-12 17:53] OleksiyA opened #223 "Add option to "Expand recursively" for Layout plugin in host App"
Currently the options on right click on item in Layout are: "Expand" and "Copy". For deep hierarchies would be beneficial to have option "Expand recursively".

[2018-08-13 01:47] erawhctim commented on #101
@jknoxville Thanks for the suggestion! Running those two commands seems to confirm your suspicion - Running `openssl x509 -req -in ~/.sonar/certs/server.csr -CA ~/.sonar/certs/ca.crt -CAkey ~/.sonar/certs/ca.key -CAcreateserial -out ~/.sonar/certs/server.crt` throws an error that looks the same as the image of the dev tools console output I originally posted:
[code]

Running your second command ma

[2018-08-13 02:02] erawhctim opened #224 "Error building Android sample"
Steps to reproduce:

- Clone the main repo
- cd into android sample directory
- Install NDK from Android Studio SDK manager window
- run `./gradlew :sample:installDebug`

Error output:
[code]

If there's any further info/logs I can lookup and provide, please let me know

[2018-08-13 09:41] #224 closed

[2018-08-13 15:12] passy opened #226 "Improve Android Travis build cache"
There's a lot of duplicate work every time we run travis leading to pretty intense build times. We should cache things like the NDK and SDK and skip extraction if it's already in place.

This is basically limited to modifying the `.travis.yml`, but if the logic in there becomes too complex, we may want to turn this into a separate script.

This is a great starter task. Please just comment here if

[2018-08-13 15:35] jknoxville commented on #101
Thanks @erawhctim

There are a couple of things you can try:

1. For one thing, if you pull the latest changes, the sample app now has a "Diagnose connection issues" button which will help clarify that the connection has been established successfully, and that the plugins you expect have been correctly added on the mobile side.

2. You can also inspect the console logs in electron as you have done

[2018-08-13 17:45] erawhctim commented on #101
@jknoxville Awesome - that all makes sense, I'll give it a try later tonight and report back.

Another question: When developing a custom plugin and using Flipper standalone, the docs say to just add the directory to the `pluginPaths` within `~/.sonar/config.json` - does that still apply when building sonar from source? or is there a different mechanism to register the plugin in that case?

[2018-08-13 17:52] danielbuechele commented on #101
In theory, it should, but I heard some people having problems with it. When building from source, you can simply create a new folder in `src/plugins` and put your plugin there. Make sure it has a package.json, otherwise it will not be loaded!

[2018-08-13 19:16] noahsark769 commented on #101
For what it's worth, I've been able to develop a custom plugin using the desktop app build from source using the `config.json` method - you just have to make sure to have the desktop app closed when adding to the `pluginPaths`.

[2018-08-13 19:17] noahsark769 commented on #212
I've also run into this error randomly. Not sure what the cause is. Anecdotally, restarting the app seems to have helped in the past.

[2018-08-14 03:58] erawhctim commented on #101
@jknoxville I'm not even seeing the "Device connected" logs at all, so I can't get as far as checking the list of plugins in the message.

I'm also having trouble building the sample app (`error: cannot find symbol com.facebook.litho.sonar.LithoSonarDescriptors;`) so I'll have to wait until I can get that built.

[2018-08-14 05:47] rahilvora commented on #213
Hey, @passy for the description I understand that there bunch of missing dependencies which needs to be added. Currently, I have added JUnit dependency and created a pull request. Kindly review it and let me know if I am going in the correct direction.

Currently, I have created a PR https://github.com/facebook/flipper/pull/229.

[2018-08-14 19:11] sregg commented on #21
https://github.com/infinitered/reactotron works very well with React Native.
It offers network inspection, better stack traces and redux actions/state logging and replay.
Checkout this video for more details: https://www.youtube.com/watch?v=UiPo9A9k7xc

[2018-08-15 16:42] jknoxville opened #230 "Android Incremental Build"
Currently when building the android project, all of the C++ code is compiled every time, even if it hasn't been modified, making builds FAR slower than they should be.

This appears to be because our ExternalNativeBuildTask doesn't declare any outputs, as shown by a gradle build scan, but not knowing much about gradle, I don't know how to fix this.

[2018-08-15 17:11] passy commented on #230
Exactly. This can also be seen by running `./gradlew :android:assembleDebug --info`:

[code]

I don't know how this is declared internally in the android plugin and how targets are normally determined. It could be that this gets derived from the `CMakeLists.txt` and ours doesn't pass that heuristic or something entirely different.

[2018-08-15 18:11] yschimke opened #231 "After restarting Android app new network requests don't show up"
1) make requests using a test app
2) observe requests showing up
3) restart app
4) make requests
5) observe requests not showing up
6) change tab e.g. to shared preferences and back again
7) observe previous requests now show up

Version App : 0.6.12
Android version: 0.6.16

[2018-08-15 18:13] yschimke commented on #231
Video https://vimeo.com/user26402724/review/285148758/a9ad12a301

[2018-08-15 18:30] yschimke opened #232 "Shared preferences changelog not working"
1) make changes that cause shared preferences to update
2) observe changes in controls
3) observe no changes to the changelog

https://vimeo.com/user26402724/review/285151430/364ab751a8

[2018-08-15 18:45] yschimke commented on #171
Just noticed https://fbflipper.com/docs/establishing-a-connection.html

It would be good to expand on this with concrete examples

[2018-08-15 18:51] yschimke opened #233 "What value does the certificate exchange add?"
Reading https://fbflipper.com/docs/establishing-a-connection.html

I'm confused about the real value of certificate exchange here.  The mobile apps connect to localhost, so assumes a process or at least a network tunnel on the host computer that can also use `adb`.  At this point any process running on the host computer that could run adb commands could pretend to be the flipper desktop app.

It w

[2018-08-15 19:05] yschimke opened #234 "Allow non-secured connections"
Useful for connecting remotely, or as a simple connection mode especially for alternative platforms (not Android/iOS).

Initially off, but settable as a preference in the desktop app.

[2018-08-15 19:05] yschimke commented on #169
Raised https://github.com/facebook/flipper/issues/234 for the first issue

[2018-08-15 19:08] yschimke opened #235 "Support remote connections"
Maybe one of

1) once connected once e.g. successful certificate exchange via adb, remember server certificates and local network address (192.168.1.x)
2) connect to desktop app remotely, potentially via local network advertising (dns service discovery?)
3) manual configuration within client

[2018-08-15 19:10] yschimke commented on #235
Relates to https://github.com/facebook/flipper/issues/234, but can be done while still using secure connections

[2018-08-16 10:59] jknoxville commented on #233
That's right. As you point out, all it's doing is verifying that the "server" has adb access to the mobile device. Examples of what this excludes are:
* Other apps on the mobile device
* Web apps running in the browser of the mobile device

Essentially it protects against malware on the phone, but not the host on which you have connected by USB and granted debug access.

Does that answer your ques

[2018-08-16 11:02] jknoxville commented on #234
We're fully in support of this, provided the security is on by default on an opt-out basis.

[2018-08-16 11:09] yschimke commented on #233
So it's a mostly weak form of obfuscation, rather than an strong security measure.  Other apps on the mobile device could do the same insecure handshake to get access to the server.  But likely each app running on the phone won't leak data to other apps if they can snoop traffic.  I say likely, as I'm not sure it would stand up to a determined attacker, but given physical access to the device and

[2018-08-16 11:09] #233 closed

[2018-08-16 11:11] #169 closed

[2018-08-16 11:11] yschimke commented on #169
covered in other tasks now

[2018-08-16 11:15] jknoxville commented on #170
I think that would be useful, and potentially we might want to move to something like that in future, but at the moment we aren't putting any time into doing it.

One thing to bear in mind is that the sonar "protocol" is still quite immature, for one thing it has no concept of versioning. And I expect we'll be iterating on it as time goes by, improving support for backwards compatibility etc. Havi

[2018-08-16 11:29] jknoxville commented on #233
I would agree that it effectively obfuscates getting access to the server, but this isn't a goal of the system.
The goal is to stop unintended access to the app you are debugging - with the exchange, this is possible only with an adb connection, as opposed to just needing to execute a process on the phone.

[2018-08-16 12:00] passy commented on #217
I'm still not quite sure what this was about, but if I understand this right, the `0.6.16` release happened before the plugin was released. There's been a new release since then, so I'll close this, but please comment if you still run into this.

[2018-08-16 12:00] #217 closed

[2018-08-16 12:25] bolismauro commented on #108
I tried with the latest master and it still doesn't work.
I really think I'm doing something wrong js side. Looking at the `yarn start` log, the plugin is found but then nothing happens and app-side didConnect/didDisconnect are not even called

[2018-08-16 12:26] chainchelliah commented on #139
Any update on this?

[2018-08-16 12:55] priteshrnandgaonkar opened #237 "Refer master source code for iOS travis test"
Currently in travis we test if sample app builds, which refers to a tagged release. Thus it doesn't test the code on master. We should update the podspecs to refer to the local checked out code so that travis can test it.

[2018-08-16 15:01] passy commented on #230
Dug into this a bit more, and it seems like `Task has not declared any outputs despite executing actions.` is not actually the reason why this is slow. The `ExternalNativeBuildTask` appears to never declare any outputs no matter what. Instead, it relies on `ninja`/`cmake` being "fast enough" to just skip doing any work. This works for `./gradlew :easywsclient:externalNativeBuildDebug` which takes

[2018-08-17 05:00] xiphirx commented on #232
Yeah I noticed this as well... thanks for the issue.

[2018-08-17 05:49] xiphirx commented on #189
Looked into this a bit more because, again, I wanted to use Flipper on my home PC: It seems like yarn or npm is unable to properly install lodash on Windows... or at least for my setup. I had to grab the lodash package from https://www.jsdelivr.com/package/npm/lodash, untar it and move the contents into `static/node_modules/lodash`. Afterwards, Flipper opens right up!

Closing because this isn't a

[2018-08-17 05:49] #189 closed

[2018-08-17 14:42] maxim-pandra opened #241 "D8 multidex. Execution failed for task 'transformDexArchiveWithExternalLibsDexMergerForDebug'."
I have seen similar issues, but all of them were closed as fixed. Unfortunately i am facing this issue again.

`AGPBI: {"kind":"error","text":"Program type already present: okhttp3.internal.ws.WebSocketReader$FrameCallback","sources":[{}],"tool":"D8"}
`

I have a multi module project with several dex files. Support library version is 27.1.1 Android gradle plugin 3.1.4

What can be done with that?

[2018-08-17 16:32] passy commented on #230
Some more investigation results.

- As soon as `./gradlew :android:externalNativeBuildDebug` even *starts* (i.e. even when quickly CTRL+C-ing), `cmake` will rerun all build steps.
- `./gradlew --dry-run  :android:externalNativeBuildDebug` will *not* (as it should) impact the cache. Rerunning `cmake --build ...` still yields ` :android:externalNativeBuildDebug`.
- Individual steps like `./gradlew :

[2018-08-19 18:08] bolismauro commented on #193
Is there any solution to this problem?

[2018-08-19 18:14] bolismauro commented on #193
I also tried https://github.com/react-community/react-native-maps/issues/1923
The pod phase works, but then of course the project fails to compile

[2018-08-20 04:24] Whoisurdady opened #245 "Fatal signal 11 (SIGSEGV) crash on Xiaomi Redmi Note 2"
Here is my crash fatal log.
A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0xa4 in tid 21046 (SonarConnection).

It occurred on Xiaomi Redmi Note 2, Android 5.0.2 Api 21,  i have tried to use the latest version(0.6.17) of flipper, but it still crashes.

Would somebody give me some suggestions, or tell mi someway to avoid this crash, even if the flipper will not work is acceptable.

[2018-08-20 06:05] Whoisurdady commented on #245
After some test, I think flipper can not work on 5.X platform

[2018-08-20 08:36] passy commented on #245
Do you have a longer stack trace / `adb logcat` dump for this?

[2018-08-20 08:36] passy commented on #241
Do you have any repro steps for us?

[2018-08-20 11:12] maxim-pandra commented on #241
@passy I was able to locate issue.

Everything fails when i add this dependency:
  `implementation "com.viewpagerindicator:library:2.4.1"`
https://github.com/JakeWharton/ViewPagerIndicator
This is a legacy library that is unfortunately hard to remove from our project.

[2018-08-20 12:05] passy commented on #241
That's surprising. The library itself doesn't seem to have any dependencies on `okhttp`.

[2018-08-20 12:56] maxim-pandra commented on #241
Oh, I think I just found another problem.

This time error is:
`AGPBI: {"kind":"error","text":"Program type already present: android.support.v4.content.Loader","sources":[{}],"tool":"D8"}`

The first problem has probably the same nature, but I wasn't managed to find root cause of it yet.

Any way there is something with Loader here.

[2018-08-20 12:59] passy commented on #241
This is likely different transitive dependencies with Sonar depending on newer versions of them. `com.viewpagerindicator:library:2.4.1` depends on `'com.google.android', name: 'support-v4', version: 'r7'`. That'll cause you all sorts of compatibility issues with other libraries. Sorry, but there's nothing we can do about that from our end.

[2018-08-20 12:59] #241 closed

[2018-08-20 14:43] #230 closed

[2018-08-20 16:14] xiphirx commented on #232
dd3cb400106662c440344819fc7c3bb57752289a

[2018-08-20 16:14] #232 closed

[2018-08-20 16:42] jknoxville commented on #101
Hey @erawhctim
Can you confirm you're building an up to date pull of the repo? In particular on a commit where the travis CI build (linked in the readme) is passing? We had some bad litho checkins recently that broke the build, it's possible you were on one of those commits.

`./gradlew :sample:installDebug`
If it's still not building, if you can upload your build log to a pastebin along with the

[2018-08-20 19:19] priteshrnandgaonkar commented on #237
PR is merged

[2018-08-20 19:19] #237 closed

[2018-08-20 22:17] erawhctim opened #246 "Runtime error with Flipper sample app"
Seeing a crash on startup when running the sample app (`./gradlew :sample:installDebug`).
Logcat output is copied below (same result on both a 7.0 emulator instance as well as a 9.0 Pixel 2 XL):

[code]

(logcat output filtered by app package from [pidcat](https://github.com/JakeWharton/pidcat), for anyone curious)

[2018-08-20 23:07] erawhctim commented on #101
Thanks @jknoxville - you were correct. Able to build successfully now with the latest from master.
Seeing a different runtime crash now, for which I logged [a separate ticket](https://github.com/facebook/flipper/issues/246).

The strange thing is now I'm my original openssl permission denied error, even with the fix from my fork of manually specifying the CAserial param. I'll have to keep digging.

[2018-08-20 23:54] jknoxville commented on #101
I think the issue might be that there are two uses of openssl 'req' in that
file and your PR only addresses one of them. One for the server and one for
the client cert generation.

On Tue, 21 Aug 2018, 12:07 am Mitch Ware, <notifications@github.com> wrote:

[2018-08-21 08:06] passy commented on #246
I'll investigate. Thanks for the report!

On Mon, 20 Aug 2018, 23:17 Mitch Ware, <notifications@github.com> wrote:

--
timezone: eu/london | utc+1
@passy

[2018-08-21 13:14] #246 closed

[2018-08-22 02:28] rob2468 opened #249 "https://fbflipper.com is unavailable"
[code]

[2018-08-22 08:53] passy commented on #249
@rob2468 Where are you accessing it from? Any chance your accessing it from China? We're using the same IP address space as the rest of Facebook.

[2018-08-22 21:07] erawhctim commented on #101
Good idea - manually specifying `CAserial` for the second usage of openssl 'req' unfortunately gives me the same result (I've updated my fork with upstream master + that change if you want to pull down).

Would some other recent openssl/cert related change update that entire flow in a way where this fix no longer applies?

Good news is I can finally build the sample app and see the diagnostic scre

[2018-08-23 03:47] rob2468 commented on #249
[code]

YES, I'm accessing it from China through VPN. But I can access https://fbsonar.com in the past.

For now, fbsonar.com redirects to fbflipper.com, but not available anymore.

[2018-08-23 08:41] passy commented on #249
@rob2468 That's probably because the old domain was set up using Cloudflare, and we use GitHub pages directly now. Sorry, but there's nothing we can do about this. :(

[2018-08-23 08:41] #249 closed

[2018-08-23 13:32] digrase008 opened #252 "Debug mobile app over real device"
Hey I want to debug my React Native Mobile app on real android device When I run my application over real device it's working fine but now I want to also make it in debugging mode My pc's  IP address is different and my real device is connected over Mobile Data. If the both devices are connected to one single wi-fi in that case I can use PC's IP address but what if the both connected to different

[2018-08-23 22:45] amphora001 opened #253 "Unable to see network logs"
I have a Pixel XL. It appears to connect okay. I can see logs but nothing from the network plugin.

![flipper_diag](https://user-images.githubusercontent.com/5721748/44555717-63ff4800-a6eb-11e8-855b-e32a828c5e4c.png)
<img width="1114" alt="screen shot 2018-08-23 at 3 34 31 pm" src="https://user-images.githubusercontent.com/5721748/44555754-90b35f80-a6eb-11e8-9216-3c13ac639514.png">

[2018-08-24 09:31] hzsweers commented on #120
I've got a repro case in an open source project if you're interested

[2018-08-24 11:07] priteshrnandgaonkar commented on #253
Are you using OkHttp as your network stack. Currently we just intercept network requests made through OkHttp.

[2018-08-24 11:17] priteshrnandgaonkar commented on #252
Can you be more specific about what your issue is and what are you trying to do? May be you can open diagnostic screen and share a screenshot with us. For plugins like layout, network and sharedpreferences you don't need any network. Are you talking about remote connections #235?
Closing it now, but feel free to open it with more info.

[2018-08-24 11:17] #252 closed

[2018-08-24 14:07] passy commented on #120
@hzsweers Yes please. :)

[2018-08-24 14:08] passy commented on #245
Closing this as it's likely a dupe of #120.

[2018-08-24 14:08] #245 closed

[2018-08-24 17:41] amphora001 commented on #253
Yes I am using OkHttp

[code]

[2018-08-24 18:03] amphora001 commented on #253
btw, I'm able to build the app locally, but when I try to build it our build machine, I get some error

[code]

[2018-08-24 18:44] hzsweers commented on #120
https://github.com/hzsweers/CatchUp (should be able to run with `./gradlew :app:installDebug`). I get this on launch if I run it on an x86_64 emulator. My specific emulator was a Pixel 2 SDK 28 with play store. Repro'd on 0.6.16 . and 0.6.17 at least

[2018-08-24 19:27] bolismauro commented on #108
I eventually managed to make it work with the latest released version. I honestly have no idea why it works now, but it does

[2018-08-26 08:32] bolismauro opened #254 "[iOS] use_framework!"
I'm trying to install the flipper pod in a repository where swift pods are added to the project using the `use_framework!` option.

Unfortunately, this triggers an error that prevents the installation from completing successfully.

[code]

I cannot remove that option for some reasons. The most important one is a bug in Cocoapods
https://github.com/CocoaPods/CocoaPods/issues/7585

Since all the inv

[2018-08-26 09:56] mgoyanes opened #255 "Add an option to change units used in Layout Inspector"
The units used are pixels. We should have an option to toggle between px and dp.

Also, it would be great to:

1. Show the distance from one component to another (another view or the phone margins)
2. Add guidelines to the screen.

[2018-08-26 10:01] mgoyanes commented on #210
Also, add some of the Android Studio logcat viewer like filter by more than one tag (`ABC` and `DEF`) or exclude multiple tags from filtering and allow regular expressions (filter all tags started by `ABC` would map to something like `ABC.*`)

[2018-08-26 10:05] mgoyanes opened #256 "Network requests aren't showing details"
Build the latest version of Flipper (`yarn build --mac --version 0.6.17`) and network plugin is not showing network request data, that is, the right panel is greyed out and clicking it does not open the panel.

Downloading the version available on the site (i think it is 0.6.12) shows the request details.

[2018-08-28 20:11] amphora001 commented on #253
Any update @passy @priteshrnandgaonkar? Especially about the duplicate file lib/x86/libc++_shared.so ?

[2018-08-29 10:57] passy commented on #253
@amphora001 Can you expand on the duplicate library? Is that a separate issue?

[2018-08-29 10:58] passy commented on #253
Saw the comment now. But we will need some repro steps for that.

[2018-08-30 00:46] amphora001 commented on #253
It's pretty hard to give you repo steps. The app is pretty big and writing a prototype as described in Get Started works just fine.

Here are some more clues:

EnableFlipperSupport	adding sonar network interceptor
SoLoader	About to load: libsonarfb.so
SoLoader	libsonarfb.so not found on /data/data/com.lyft.android.driver.dev/lib-main
SoLoader	libsonarfb.so found on /data/app/com.lyft.android.drive

[2018-08-30 00:48] amphora001 commented on #253
Another clue

breakpoint into NetworkSonarPlugin reportRequest(RequestInfo requestInfo) method, where send(String method, SonarObject sonarObject) is called, BufferingSonarPlugin.mConnection is null

[2018-08-30 12:55] passy commented on #253
Sorry, I was replying from my phone there. The duplicate `libc++_shared.so` issue, especially when only happening in one build environment, would be where I'm not sure how to tackle this from our end. I would guess that one of your build configurations includes one too and the deduplication there is off.

The breakpoint seems handy. Maybe @jknoxville could see if there's a missing check somewhere?

[2018-08-30 12:56] passy commented on #256
@danielbuechele Is that the issue you were working on or is this something else?

[2018-08-30 12:58] danielbuechele commented on #256
Yes, this should be fixed as per 2c905646eccf964cd31b5da9a54163314fe00bcd

[2018-08-30 12:58] #256 closed

[2018-09-03 04:17] v73alice opened #258 "[iOS][Folly]Build error:Thread-local storage is not supported for the current target"
when i want to run iOS/Sample project with Xcode, first i select Generic iOS Device, and then build.Then the error came out. But when i build the project with simulator, everything is ok.
So, does flipper only support ios simulator, not ios device ?

[2018-09-03 06:38] v73alice commented on #258
@passy

[2018-09-03 10:13] jknoxville commented on #258
That's right, unfortunately flipper doesn't support physical iOS devices
yet. However we do plan to enable this in the future.

On Mon, 3 Sep 2018, 7:38 am Jack Zhou, <notifications@github.com> wrote:

[2018-09-03 10:58] v73alice commented on #258
error msg: Thread-local storage is not supported for the current target

[2018-09-03 11:07] v73alice commented on #258
@jknoxville   thanks for reply, and when will you support physical iOS devices?

[2018-09-04 22:56] fredyrincon opened #261 "Cant download com/facebook/yoga/yoga/1.9.0/yoga-1.9.0.jar"
Where is these jar?
Thank you

[2018-09-05 09:40] passy commented on #261
I'd appreciate it if you could provide some repro steps for the next issue you report. The Yoga JARs are distributed via JCenter.

[2018-09-05 09:40] #261 closed

[2018-09-05 10:27] priteshrnandgaonkar commented on #254
Cocoapod 1.5.0 supports static swift libraries. Since our pod depends on static libraries, using `use_framework1` may not work. May be replacing static libraries for Libevent and Openssl with dynamic may solve the issue. We are happy to have a PR from the community with regards to this,

[2018-09-05 22:35] amphora001 commented on #253
@jknoxville any update?

[2018-09-06 10:39] priteshrnandgaonkar opened #262 "[iOS] Support Physical iOS devices"
Currently for iOS flipper only supports debugging through simulators but not on physical devices. The issue is that we were not able to copy generated certificates in the mobile data partition where app can access it. More information about certificate exchange in Flipper is [here](https://fbflipper.com/docs/establishing-a-connection.html).

[2018-09-06 10:41] priteshrnandgaonkar commented on #258
Currently there are no plans around this. Closing this issue in the favour of #262

[2018-09-06 10:41] #258 closed

[2018-09-06 22:38] amphora001 commented on #253
It's not compiling after I added the following

[code]

but this is not ideal because I have no idea if the first appearance of the native file is the right version or not.

[2018-09-06 22:40] amphora001 commented on #253
I'm still not seeing anything in Networking. In the same app, I also have stetho integrated and that is showing me all the network traffic.

[2018-09-12 22:41] op-and opened #263 "[android] error: package com.facebook.sonar.android does not exist for proguarded builds."
src/main/java/com/xx/MyApplication.java:55: error: package com.facebook.sonar.android does not exist
import com.facebook.sonar.android.AndroidSonarClient;

I am using flipper v0.6.16 and while I can get it to compile for debug builds, compile fails for release builds.

The packages which are not found include:
com.facebook.soloader
com.facebook.sonar.android
com.facebook.sonar.android.utils
com.fa

[2018-09-13 02:56] AadityaDev commented on #226
@passy I want to fix this issues. Is this issue still open?

[2018-09-13 08:18] passy commented on #263
Sorry, we don't use proguard and I'm not familiar with the configuration
options it has. I guess this could be related to debug-only dependencies.
Are you still referencing them in prod code?--
timezone: eu/london | utc+1
@passy

[2018-09-13 13:08] op-and commented on #263
@passy The code is in a 'if (BuildConfig.DEBUG)', but the imports are still there which are what are not being found in release builds.

The code below is called in onCreate() of the application which is basically lifted from the get started docs.

        SoLoader.init(this, false);

        if (BuildConfig.DEBUG && SonarUtils.shouldEnableSonar(this)) {
            final SonarClient client = Andr

[2018-09-13 14:20] jemshit commented on #210
Is it same as "Show only selected application" ?

[2018-09-13 15:47] op-and commented on #263
I changed
 **debugimplementation** 'com.facebook.flipper:flipper:0.6.16'
to
**implementation** 'com.facebook.flipper:flipper:0.6.16'

and the compile error is gone, but I end up with errors below. Any ideas?
(BTW, I tried using 0.7.0, but it can't be found and so I reverted to 0.6.16).

`11:27:35.293 [ERROR] [system.err] Warning: com.facebook.litho.widget.ProgressSpec: can't find referenced class

[2018-09-13 19:04] op-and commented on #263
I went back to using debugImplementation and created a utils file for initial setup and adding interceptor in debug version and the same file with passthrough methods for other flavors. It works, but would be ideal if it worked without these work-arounds.

[2018-09-13 19:06] MONIKA-KUMAR-JETHANI commented on #255
@passy Can I work on this?

[2018-09-13 21:49] carlonzo opened #264 "Flipper 0.7.0 not available in jcenter"
I've just tried to pull 0.7.0 from jcenter but its not found. jcenter problem or it is not deployed yet?
[http://jcenter.bintray.com/com/facebook/flipper/flipper/](http://jcenter.bintray.com/com/facebook/flipper/flipper/) as you can see is not present.

[2018-09-14 03:05] erawhctim commented on #101
@jknoxville Good news - I finally got a hold of another machine (non work issued) and confirmed that everything is working fine. Clearly there's a difference in openssl version/configuration that I'll have to debug a bit further.

Any ideas on what to look for/where to start, outside of version number and `openssl.conf`? Also thanks for your continued help debugging this thus far!

[2018-09-14 21:29] erawhctim commented on #101
Update: Apparently the default version of openssl available on my machine is out of date (0.9.8). Installing the newest version of openssl via homebrew, and then modifying my shell config to place the newer openssl's `bin` earlier in my PATH gives me the expected output when manually running Flipper's openssl cert validation on the command line via the script **jknoxville** posted above.

This:
`o

[2018-09-15 00:46] carlonzo commented on #264
same for 0.7.1.
I have looked for it in the snapshots repo, but I cant find it :( https://oss.sonatype.org/content/repositories/snapshots/com/facebook/flipper/flipper/

[2018-09-15 02:04] priteshrnandgaonkar commented on #264
We will release it soon on jcenter, till then pls use 1.6.8

[2018-09-15 12:40] passy commented on #264
Publishing `0.7.1` right now. We'll close that gap in the release process next week.

[2018-09-15 12:40] #264 closed

[2018-09-15 12:41] carlonzo commented on #264
Thanks! :)

On Sat, Sep 15, 2018, 14:40 Pascal Hartig <notifications@github.com> wrote:

[2018-09-15 18:54] passy commented on #264
Sorry, my first attempt failed but `0.7.1` is on JCenter now.

[2018-09-16 19:50] passy commented on #255
@MONIKA-KUMAR-JETHANI Absolutely! :)

[2018-09-17 02:41] timsaval commented on #21
Our team would love that as well!

[2018-09-17 05:59] zhonghanwen opened #267 "Desktop app appear bug."
I download the latest build desktop app and open it appear this bug.
![default](https://user-images.githubusercontent.com/12220537/45607823-803f9c00-ba81-11e8-8d34-0b5d1041a5f1.png)

[2018-09-17 12:17] jemshit commented on #120
I get error `A/libc: Fatal signal 11 (SIGSEGV) at 0x000000a4 (code=1), thread 4478 (SonarConnection)` on Emulator with API 19, library `v0.6.18`.

[2018-09-18 04:18] jbarr21 commented on #267
i went back to 0.7.0 of the desktop version, but sadly i get auto upgraded to the broken version when the flipper app is restarted. might be nice to have an option for disabling auto updates

[2018-09-18 11:52] passy opened #273 "[android] Upgrade to NDK r17c"
I haven't done any research on this, but it seems that by using the stable NDK (r17c as of this writing), a missing glibc symbol blocks this from building successfully. With r18 already around the corner, we should look into this.

[2018-09-18 14:43] passy commented on #273
This is actually supported. The error I saw was about the build machine which had a glibc < 2.8, which is a requirement for the newer NDKs. D'uh.

[2018-09-18 14:43] #273 closed

[2018-09-18 23:53] eveliotc commented on #267
[code]

[2018-09-19 09:03] Daavidaviid commented on #267
How can we proceed to have is working again ?

[2018-09-19 10:03] passy commented on #267
@eveliotc Do you get this from the release build or from using `yarn start`?

[2018-09-19 10:03] passy commented on #267
@danielbuechele Is it possible the global got renamed from `Sonar` to `Flipper` without changing the HTML invocation?

[2018-09-19 10:16] passy commented on #267
Verified that this is the case. PR coming.

[2018-09-19 10:57] #267 closed

[2018-09-20 04:37] baiiu commented on #120
it happened on 5.x with 0.6.12 too
`Fatal signal 11 (SIGSEGV), code 1, fault addr 0xa4 in tid 23929 (SonarConnection)`

[2018-09-20 09:34] donglua opened #276 "Crash on Android 4.4"
[code]

flipper version: 0.7.2

[2018-09-20 19:49] rohandhruva commented on #267
@danielbuechele / @passy, any idea when we can get a new release of the desktop app with this fix applied? :) Alternatively, any other workarounds in the meantime?

[2018-09-21 08:09] zktc5418 opened #278 "Video Recorder could not use in some devices"
Video Recorder could not use in some devices

[2018-09-24 16:22] EstebanC02 opened #279 "Flipper Desktop app don't load"
Hi guys, I download the last versión of Flipper, actually the own app download it and the app don't run... So I uninstalled and downloaded from the web page (https://fbflipper.com) but happens again, and I can't used it.

![screen shot 2018-09-24 at 11 19 19 am](https://user-images.githubusercontent.com/11792308/45964534-b3d37680-bfeb-11e8-8492-a466a1e3f59c.png)

![screen shot 2018-09-24 at 11 19

[2018-09-24 19:59] duranmla commented on #279
Same here with Sierra:

![image](https://user-images.githubusercontent.com/1425162/45975705-daf16e80-c012-11e8-9389-d4fa7a2bcbc1.png)

[2018-09-25 03:29] littlefoxtail commented on #279
may fix at [267](https://github.com/facebook/flipper/issues/267)， but how to get a new release

[2018-09-25 12:17] jknoxville commented on #276
Hey @donglua

I believe this was fixed by cc6f28f7c4a26cb3dc9bec8ecf84ea1afe4c679a, so it should be fixed in the next release.

We haven't published it yet because we're in the process of renaming the codebase from sonar to flipper, including the public APIs. As soon as this is done we'll be able to get this out.

[2018-09-25 14:01] #276 closed

[2018-09-25 14:50] passy commented on #120
This should no longer happen with the version on master. If it does with the next release, please comment and we can re-open this.

[2018-09-25 14:50] #120 closed

[2018-09-25 20:38] michaelcarrano commented on #279
Seeing the same issue myself, I followed the trouble shooting steps here - https://fbflipper.com/docs/troubleshooting.html

I am using High Sierra 10.13.6

<img width="1440" alt="screen shot 2018-09-25 at 4 36 39 pm" src="https://user-images.githubusercontent.com/301400/46041667-56b9ec80-c0e1-11e8-992d-eb8d2c36a8f6.png">

[2018-09-25 22:35] erawhctim commented on #101
Further discovery: Turns out my previous comment was incorrect. I don't think manually using a separate `openssl` instance is correct at all....

The manual `openssl` command only works when run from within the `~/.flipper` directory (referencing the certs as `certs/filename`). Running the command from any other directory (and referencing the certs as `~/.flipper/certs/filename` throws the same "P

[2018-09-26 21:51] EstebanC02 commented on #279
Solved with v0.8.0

[2018-09-26 21:51] #279 closed

[2018-09-26 22:05] johnheroy opened #283 "Gradle sync fails on 0.8.0"
Following the ["getting started" guide for Android](https://fbflipper.com/docs/getting-started.html), I added this line to my projects build.gradle:

[code]

We are including jcenter() in our repositories and I get a failure with this message in Android Studio when trying to sync Gradle deps:

[code]

Sure enough, 0.8.0 isn't uploaded to jcenter for `com.facebook.flipper:fbjni`:

https://bintray.c

[2018-09-27 14:13] kashishgrover commented on #21
@sregg already using it! 😄

[2018-09-27 14:39] passy commented on #283
Sorry, you must have hit just the time slot during which one was uploaded but not the other. This has been fixed since then.

[2018-09-27 14:39] #283 closed

[2018-09-27 18:36] hiteshcla00 commented on #95
i got this error plz help
Program type already present: android.support.v4.app.LoaderManager |
null |
java.lang.RuntimeException: com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives: C:\Users\CLA\IGText\app\build\intermediates\transforms\dexBuilder\debug\1.jar,
com.android.tools.r8.CompilationFailedException: Compilation failed to complete |
com.android.tools.r8.

[2018-09-28 10:35] jknoxville commented on #223
The code for this is actually already there for the most part, known as "deepExpand": https://github.com/facebook/flipper/blob/master/src/plugins/layout/index.js#L819

This exists from a long time ago, and is not discoverable as well as hard to trigger. It shouldn't be too hard to fix that though if anyone wants to do so.

[2018-09-28 12:48] passy commented on #278
Sorry, we need more information than this to help.

[2018-09-28 12:48] #278 closed

[2018-09-29 11:06] mgoyanes opened #284 "Android Add support for Realm"
If possible, since Realm is widely used, add a plugin that we can check our databases.

[2018-10-01 08:54] passy commented on #284
That's a feature that won't come out of our team, but it would definitely be great to have support for it. Happy to review any pull requests for it. :)

[2018-10-01 23:22] OleksiyA opened #286 "PortForwardingMacApp - request for documentation and/or source code"
Hi,

I met with condition when I can't start Flipper by running "yarn start". Issue seems to be that I have 20 or more instances of PortForwardingMacApp running.
This bring related question: PortForwardingMacApp is a binary checked in to this repo. What this binary does and do you intend to open the source of this binary?

Thanks.

[2018-10-03 14:06] erawhctim commented on #284
@mgoyanes I'm working on that exact thing as we speak :)

[2018-10-03 14:16] mgoyanes commented on #284
@erawhctim great ;)

[2018-10-03 14:46] passy commented on #209
Closing this as we've cleaned up a bunch of Linux errors since then.

[2018-10-03 14:46] #209 closed

[2018-10-04 23:57] juliafu1 opened #290 "Program type already present: com.facebook.soloader.Elf32_Dyn"
Hi,

I am trying to integrate Flipper into our Android app and it gave an error:

"Error: Program type already present: com.facebook.soloader.Elf32_Dyn
com.android.tools.r8.CompilationFailedException: Compilation failed to complete
	at com.android.tools.r8.utils.ExceptionUtils.withCompilationHandler(ExceptionUtils.java:65)
	at com.android.tools.r8.utils.ExceptionUtils.withD8CompilationHandler(Exce

[2018-10-05 08:42] passy commented on #290
Have you tried excluding one SoLoader dependency in your build system?

[2018-10-05 08:44] passy commented on #286
Thanks for flagging this. We'll try to either get rid of this or make sure the source is included here too.

[2018-10-05 08:53] passy commented on #263
Closing this here as part of issue cleanup.

[2018-10-05 08:53] #263 closed

[2018-10-05 08:53] passy commented on #182
This should have much improved since the initial version.

[2018-10-05 08:53] #182 closed

[2018-10-05 08:54] passy commented on #213
This is done now.

[2018-10-05 08:54] #213 closed

[2018-10-05 08:55] passy commented on #53
Closing this as we've decided against hosting/supporting multiple languages for now.

[2018-10-05 08:55] #53 closed

[2018-10-05 08:56] passy commented on #108
Closing this here as part of issue cleanup.

[2018-10-05 08:56] #108 closed

[2018-10-05 08:57] passy commented on #69
Closing this here as part of issue cleanup.

[2018-10-05 08:57] #69 closed

[2018-10-05 08:57] passy commented on #85
Closing this here as part of issue cleanup.

[2018-10-05 08:57] #85 closed

[2018-10-07 03:15] pkrmf commented on #145
@priteshrnandgaonkar I have an [PR open](https://github.com/facebook/flipper/pull/291)

Want to add a few things to it, but feel free to start reviewing it.

[2018-10-08 00:41] xiphirx commented on #211
b40810080cd3723d038d287722545bde004f494b

[2018-10-08 00:41] #211 closed

[2018-10-08 12:04] priteshrnandgaonkar commented on #145
Thanks for the PR, I will look into it.

[2018-10-09 08:53] ManishSharmaApporio commented on #95
Program type already present: android.support.v4.app.FragmentTransitionCompat21$4
Message{kind=ERROR, text=Program type already present: android.support.v4.app.FragmentTransitionCompat21$4, sources=[Unknown source file], tool name=Optional.of(D8)}

[2018-10-09 09:06] #290 closed

[2018-10-12 00:03] kurtisnelson opened #293 "Published artifact should not depend on leakcanary"
The published artifact should not depend on LeakCanary.

Additionally, the LeakCanary analyzer has dependencies that are not licensed for distribution.

[2018-10-12 19:56] kurtisnelson commented on #293
Yes, that would allow apps to manage leakcanary versioning on their own.

[2018-10-15 10:11] #293 closed

[2018-10-15 21:16] priteshrnandgaonkar commented on #145
We support it now, check the sample app

[2018-10-15 21:16] #145 closed

[2018-10-16 15:38] #174 closed

[2018-10-18 13:16] passy commented on #286
This is gone now.

[2018-10-18 13:16] #286 closed

[2018-10-19 04:28] erawhctim opened #303 "Can't run flipper properly via `yarn start` unless I run as root; can't see custom plugins at all when running as root via `sudo yarn start`"
Seeing some very strange behavior that I've tried to outline as best I can in the scenarios below. I'm almost certain this is some sort of permissions/root-related issue (and possibly related to the openssl permission issues I described in #101) but I don't know enough about electron (or flipper's internals) to know where to look/start.

(To try and avoid any previous setup/configuration from befo

[2018-10-19 16:42] erawhctim commented on #303
Good to know!

Flipper never worked properly from the first time I tried (back in the sonar days), always related to the openssl issue. There's more details on what I discovered in issue #101, but it's essentially a permission issue with openssl.

There might be a way to configure openssl differently to make the certificate validation command work but I've yet to find that out.

[2018-10-21 06:47] lukaville opened #304 "Timeline UI component?"
There was a demo on Londroid with timeline component. Is this component internal? Will it be published on github?

[2018-10-21 12:49] passy commented on #304
I'm not sure how general purpose it is at the moment. We can take a look next week and see if it makes sense to publish this as-is or if we would need to make some adjustments and how feasible that would be.

[2018-10-21 15:11] amleszk commented on #254
Is there any work around for this? looks like the dependency 'Folly' which uses 'CocoaLibEvent' is the problem. blocker for any iOS project that uses Swift.

https://github.com/facebook/folly/tree/master/folly
https://github.com/e314521/CocoaLibEvent

[2018-10-22 10:04] hzsweers commented on #120
I still get this on 0.9.0+

[2018-10-23 07:05] aiiv opened #307 "SoLoader: couldn't find DSO to load: libflipperfb.so"
2018-10-23 15:04:04.981 E/SoLoader: couldn't find DSO to load: libflipperfb.so

    --------- beginning of crash
2018-10-23 15:04:04.983 E/AndroidRuntime: FATAL EXCEPTION: FlipperConnectionThread
    Process: cn.TuHu.android, PID: 13912
    java.lang.NoClassDefFoundError: <clinit> failed for class com.facebook.flipper.android.EventBase; see exception in other thread
        at com.facebook.flipper

[2018-10-23 17:03] gsanguinetti commented on #215
Same Issue here. Any updates?

[2018-10-26 00:10] hzsweers commented on #172
It's just being used in a test (maybe this issue is a bit old?), so it seems like it's not an issue. Put up a PR to make its dependency test-only in #309

[2018-10-28 13:52] passy opened #310 "State persistence option for createTablePlugin"
Suggested by Mathias Roth in Slack:

[2018-10-31 00:40] xiphirx commented on #62
Closing since apparently it's been fixed

[2018-10-31 00:40] #62 closed

[2018-10-31 00:42] #80 closed

[2018-10-31 14:50] #172 closed

[2018-11-02 10:06] simaofelgueirasJM opened #314 "[Android] Proguard rules for Flipper"
I am migrating from Stetho to Flipper. For Stetho in proguard I had something like this:

`-keep class com.facebook.stetho.** { *; }`
`-dontwarn com.facebook.stetho.**`

**Use case:**
What I am trying to do is to be able of keep debugging with my nearest build for release.

Any suggestions for Flipper proguard rules? I am searching and did not found it.
Currently having problems when the app build

[2018-11-02 15:24] MichaelEvans opened #316 "Request for changelog"
Would it be possible to created a Changelog.md to sum up the changes in the releases?

[2018-11-05 04:08] smilearchery opened #318 "ssl3_get_record:wrong version number - No plugins showing up for my Mac"
![image](https://user-images.githubusercontent.com/1215112/47979807-ddf67900-e0ff-11e8-9301-7dddfa65024b.png)
![image](https://user-images.githubusercontent.com/1215112/47977411-d2e91c00-e0f2-11e8-9ba9-509c7bb5e361.png)
![image](https://user-images.githubusercontent.com/1215112/47977480-3115ff00-e0f3-11e8-8f5d-c20ba1d5f66c.png)

flipper version: 0.10.0
adb version: 1.0.40-4986621
OSX version: macO

[2018-11-05 04:12] smilearchery commented on #318
![image](https://user-images.githubusercontent.com/1215112/47977604-fbbde100-e0f3-11e8-896e-7b2c915d13a1.png)

[2018-11-05 12:21] jknoxville commented on #318
Hi @smilearchery

I haven't seen this error before, but my first guess is that you might have a version of openssl installed that doesn't support the protocols used by the sdk.

Can you run the following, while flipper is running, and see what you get? This will attempt to connect to flipper using TLSv1.2: `openssl s_client -connect localhost:8088 -tls1_2`
Also, knowing what version of openssl you

[2018-11-05 12:58] smilearchery commented on #318
Hi @jknoxville
Many thanks for the prompt reply.

![image](https://user-images.githubusercontent.com/1215112/47999413-81b24a00-e13d-11e8-93c1-3374c97a467c.png)

% openssl version                                                     1 ↵ ✭
OpenSSL 1.0.2p  14 Aug 2018
% which -a openssl                                                        ✭
/usr/local/opt/openssl/bin/openssl
/usr/bin/openssl

I trie

[2018-11-05 13:36] jknoxville commented on #318
Thats interesting that you get the same error here.
Could you try the same command with `-servername localhost` at the end?
And perhaps with -tls1 or -ssl3 instead of -tls1_2?

[2018-11-05 15:08] smilearchery commented on #318
Hi @jknoxville

[2018-11-05 15:11] smilearchery commented on #318
Hi @jknoxville
![image](https://user-images.githubusercontent.com/1215112/48005987-c515b400-e14f-11e8-87db-5869bf9f405e.png)
![image](https://user-images.githubusercontent.com/1215112/48006026-dbbc0b00-e14f-11e8-932b-49565f146cd1.png)
![image](https://user-images.githubusercontent.com/1215112/48006072-f0000800-e14f-11e8-98ec-cf94a183fc64.png)

[2018-11-07 10:44] #310 closed

[2018-11-07 16:27] milosevic81 opened #320 "Cannot connect to plugins on mac, no certificates"
I can see logs from device, but flipper cannot connect to plugins to show layout inspector.
Seems to be some certificate issue.

![image](https://user-images.githubusercontent.com/312833/48144833-3603bb80-e277-11e8-98c1-48d021423de7.png)

![image](https://user-images.githubusercontent.com/312833/48144934-6186a600-e277-11e8-8a0b-08e66c675c9f.png)

[2018-11-14 10:56] KrauseFx opened #325 "Publish on CococaPods"
Hey Flipper team,

This looks great, what is the current plan around a publicly available CocoaPod? I see the name isn't registered yet (https://cocoapods.org/pods/FlipperKit) and the [current docs](https://fbflipper.com/docs/getting-started.html#setup-your-ios-app) point to the GitHub repository directly. This would make sense if a developer wants to use the latest version from `master`, but in t

[2018-11-14 10:57] KrauseFx commented on #325
Registering & using the name would probably be a good idea, so that no one grabs it now

[2018-11-14 12:03] pkrmf commented on #325
Hey @KrauseFx, there is an open issue for cocoapods https://github.com/facebook/flipper/issues/132 but we are hitting some roadblocks due to flipperkit’s dependencies

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 12:18] KrauseFx commented on #325
Got it, thanks, closing in favor of #132

[2018-11-14 16:27] cristan opened #326 "Add a way to easily only see logs of the selected app"
What is shown in the logs screen by default is pretty much useless: there are so many logs that the logs of your app quickly scroll away.

This is easily fixed in Android Studio: select the package of your app, and select the Regex "Show only selected application". In Stetho, not so much. With a right click, you can select PID, find a log by your app and click on this PID.

This isn't very user fr

[2018-11-14 16:51] cristan commented on #215
This happens with me at 1 specific call, and that's one which returns a huge JSON, so it might have something to do with how big the response is.

[2018-11-14 17:49] #325 closed

[2018-11-17 17:40] KrauseFx commented on #132
I was thinking about this more, I'd recommend grabbing the official name as soon as possible, and putting a placeholder there for now, until this issue is fully completed.

Right now, a malicious actor could easily grab the `flipper` name on CocoaPods, and cause damage rather easily by abusing the `prepare_command` spec, or other attack vectors.

[2018-11-19 09:58] priteshrnandgaonkar commented on #132
Have reserved the name for [Flipper](https://cocoapods.org/pods/Flipper) and [FlipperKit](https://cocoapods.org/pods/FlipperKit) on cocoapods.

[2018-11-21 14:46] orenktaboola commented on #320
I have the same issue

[2018-11-24 12:16] passy commented on #316
https://github.com/facebook/flipper/releases/tag/v0.12.0

I hope this works better than what he had before.

[2018-11-24 12:16] #316 closed

[2018-11-26 20:21] bojankoma opened #333 "Gradle cannot resolve fbjni 0.12.0 for Android builds"
I get this when I use 0.12.0 Flipper for Android on Gradle sync:
`ERROR: Failed to resolve: com.facebook.flipper:fbjni:0.12.0`

Desktop app is already at 0.12.0 and I checked [Bintray](https://bintray.com/facebook/maven/com.facebook.flipper:fbjni) and that version is really not pushed.

Is there a workaround or can it be pushed any time soon?

[2018-11-27 07:22] callmepeanut opened #334 "Network Plugin can't copy headers or request body"
I want copy the  Request Body, but right click only get an empty prompt, as show below.

![_ _20181127151946](https://user-images.githubusercontent.com/5306883/49065141-1d743900-f258-11e8-8366-f781cd0f550f.png)

[2018-11-27 07:53] bojankoma commented on #157
Resurrecting this issue because I still have the same issue in my project.
Running Flipper with SoLoader and (in my case) DeepMap SDK crashes the app with exception:
`java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__trunctfdf2" referenced by "/data/app/co.example.example.test.development-8WGgtCqw_HR03TtKYBabcQ==/lib/arm64/libhdmmapcore.so"...`

Since this is an active project

[2018-11-27 09:54] passy commented on #333
Our publishing step must have failed. I'll look into it. Thanks for reporting!

[2018-11-27 10:00] pavlospt commented on #333
@passy indeed https://circleci.com/gh/facebook/flipper/370

[2018-11-27 10:01] passy commented on #333
[code]

WHY THANKS GRADLE!

I manually published a new artifact. I hope that solves it for you, @bojankoma!

[2018-11-27 10:46] passy commented on #157
@bojankoma Flipper is by default built with the `c++_shared` STL. Can you cehck that your app and DeepMap actually does the same? Otherwise, you'll run into the issues described here: https://developer.android.com/ndk/guides/cpp-support#one_stl_per_app

[2018-11-27 10:47] passy commented on #157
As they mention in that paragraph, too, it's possible that different versions of the NDK that the SDK and Flipper are built against cause problems. Perhaps it would be advisable to build Flipper yourself against the version of the NDK and the STL you're using, to ensure that everything is indeed compatible.

[2018-11-27 15:56] bojankoma commented on #333
Indeed it does help, thanks for looking into it.
I can confirm it's resolved now.

[2018-11-27 15:56] #333 closed

[2018-11-27 21:35] bojankoma commented on #157
@passy
I understand but I'm not quite sure if that is the issue at hand. I ran the following for comparison:
[code]
[code]
Conclusion is (and correct me if I'm wrong please) they are both built with same STL. I guess pickFirst had to resolve my issue. But it doesn't, so I ran another comparison:
[code]
[code]
I can see an extra libstdc++.so in DeepMap SDK library but I don't think its an issue, or

[2018-11-28 15:32] marcin-kwasniak commented on #320
me too

[2018-11-28 15:55] passy commented on #334
Thanks for the report. We're looking into it.

[2018-11-28 16:11] jknoxville commented on #320
This looks like the same issue as #101

So far flipper is relying on the following:

From https://www.openssl.org/docs/man1.0.2/apps/x509.html

Which doesn't seem to be true for your openssl implementation.

In #101 there was a PR to fix this ( #227 ) but it never got merged for some reason. I'm going to test it again. If there are no incompatibilities with using that flag then it might be all we

[2018-11-28 19:33] jknoxville commented on #320
I'm going to close this in favor of the original ( #101 ).
If anyone wants to finish off that PR by making it specific to your openssl implementation (found using `openssl version` that would be much appreciated). Otherwise even just commenting to say the version you're using will help.

[2018-11-28 19:33] #320 closed

[2018-11-29 16:08] marcin-kwasniak commented on #320
I tested this on 3 macbooks, this problem only occur on one device with openssl from homebrew:

`OpenSSL 1.0.2q  20 Nov 2018
built on: reproducible build, date unspecified
platform: darwin64-x86_64-cc
options:  bn(64,64) rc4(ptr,int) des(idx,cisc,16,int) idea(int) blowfish(idx)
compiler: clang -I. -I.. -I../include  -fPIC -fno-common -DOPENSSL_PIC -DOPENSSL_THREADS -D_REENTRANT -DDSO_DLFCN -DHAVE_

[2018-11-29 16:53] vlazzle opened #337 "adb logs should have the option to preserve leading whitespace"
There are uses cases of adb that use leading whitespace in logs to convey a tree structure. One example is [node tree debugging](https://developer.android.com/guide/topics/ui/accessibility/node-tree-debugging).

I'd love to use Flipper's awesome Logs view for this, but right now I can't because it strips leading whitespace, which makes it very difficult to read the logs as a tree structure.

This

[2018-11-29 17:03] jknoxville commented on #337
That sounds like a good idea. Here is the relevant code: https://github.com/facebook/flipper/blob/master/src/plugins/logs/index.js#L316

I don't know the original reason for trimming these log lines, and whether we can get away with just removing that, or if we'll need to add a toggle to switch it on/off.

Definitely if we had a toggle, perhaps next to the "Clear Logs" button it would be an improv

[2018-11-30 14:11] carlosmuvi commented on #180
A no-op version (similar to LeakCanary) for release implementations would be really useful to avoid duplicating the application class by buildType, are at the end any plans on adding it? Thanks!

[2018-12-04 05:29] PhilCai1993 opened #338 "How are different log levels distinguished?"
![image](https://user-images.githubusercontent.com/6828315/49420854-65e7a580-f7c8-11e8-82c5-d9a486d23cd0.png)
In the Flipper.app there are various types of logs. I'm wondering how are logs in Xcode mapped to their corresponding levels?

[2018-12-05 01:36] OleksiyA commented on #262
One idea how we can do this: in iOS SDK code provide hook point for developers to implement logic "should connection from host XYZ be allowed?". Some developers would allow all connections and rely on WiFi router configuration to limit outside connections.

One more way: Use libmobiledevice to write files to mobile device directly (https://github.com/libimobiledevice/ifuse). This would require App

[2018-12-06 19:52] alecgorge commented on #262
Could copying the generated certificate into the app bundle as a build step be another viable avenue?

[2018-12-12 05:37] #338 closed

[2018-12-13 08:42] israelidanny commented on #132
Is there an ETA for the Podpsec getting published on Cocoa Pods? And what's an easy way to use Flipper meanwhile?

[2018-12-14 21:05] dmac81 opened #341 "iOS Swift Integration - Search Paths and Flags not getting setup"
After following the documented setup steps on a single page swift application and setting up the pods, after importing FlipperKit and then initialize FlipperClient: `let client = FlipperClient()` Xcode will not be able to find FlipperClient, after searching high and low and comparing to the swift sample project I found that the below Xcode settings are set in your sample project but integrating yo

[2018-12-17 06:52] jiantao88 commented on #253
Has this problem been resolved?
I also encountered the same problem

[2018-12-17 12:19] priteshrnandgaonkar commented on #341
HEADER_SEARCH_PATHS should match with sample app. I just checked that the cocoapod doesn't automatically add `-DFB_SONARKIT_ENABLED` flag which is required in OTHER_CPLUSPLUSFLAGS, OTHER_LDFLAGS, & OTHER_SWIFT_FLAGS. I will look into it and update the podspec. Thanks for reporting the issue.

[2018-12-18 10:38] simaofelgueirasJM opened #342 "Ubuntu 16.04 Stuck on Loading dependency graph, done."
For a laptop with Ubuntu 16.04  I followed this steps:

`sudo apt install curl
curl -sL https://deb.nodesource.com/setup_10.x | sudo bash -
sudo apt install nodejs

curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
sudo apt-get update && sudo apt-get install yarn

git clone https

[2018-12-18 10:57] passy commented on #342
I don't have a good idea for where this could be coming from. I just tried to start Flipper like this but without having `watchman` installed locally as the next step here should be setting up the watcher for plugins, but that worked too.

Would you mind attaching a screenshot of the terminal output you see? Perhaps there's something else that's revealing. Otherwise, the only thing I can think of

[2018-12-18 11:22] simaofelgueirasJM commented on #342
![selection_005](https://user-images.githubusercontent.com/43779553/50150839-18366700-02b7-11e9-9ce1-4fada9ba72ad.png)

This is what happens. Do you need more information?

[2018-12-18 14:45] passy commented on #342
The `libdbus` error is the culprit here. If you google for `libdbus no version information available electron`, you will find a bunch of results. Perhaps one of them can help you out.

[2018-12-18 14:49] simaofelgueirasJM commented on #342
Ok thank you for the help. I will try it!

[2018-12-18 17:50] simaofelgueirasJM commented on #342
Well I Fixed it and put it working on 16.04 but now I miss the plugins:
I got this error:
connections.js:315 RecurringError: Client setup error: Premature end of stream, needed 4 more bytes
    at reducer (http://localhost:3000/src/init.bundle:51768:25)
    at http://localhost:3000/src/init.bundle:101421:22
    at combination (http://localhost:3000/src/init.bundle:3895:31)
    at computeNextEntry

[2018-12-19 14:00] jknoxville commented on #342
This isn't much of a lead but googling the error points to one of our dependencies, adbkit: https://github.com/openstf/adbkit/blob/master/src/adb/parser.coffee#L187 as the likely originator of it. Have you tried if with different AVD's or even a real android device, just to narrow down the problem?

I'm not sure why this would happen though. Perhaps using the JS console, and adding a breakpoint on

[2018-12-19 14:07] jknoxville commented on #235
I believe this is done now (for android devices on lollipop or later).

Fixed in https://github.com/facebook/flipper/commit/e23da69db913560b776970d11d8313bb647c363b

[2018-12-19 14:15] simaofelgueirasJM commented on #342
I tried 2 different real devices and got the same problem, on that specific computer.
I could investigate more about it, let me see. I would give feedback as soon as possible.

[2018-12-19 14:29] jknoxville opened #344 "RecurringError: Client setup error: Premature end of stream, needed 4 more bytes"
I got this error:
connections.js:315 RecurringError: Client setup error: Premature end of stream, needed 4 more bytes
    at reducer (http://localhost:3000/src/init.bundle:51768:25)
    at http://localhost:3000/src/init.bundle:101421:22
    at combination (http://localhost:3000/src/init.bundle:3895:31)
    at computeNextEntry (<anonymous>:1:35747)
    at recomputeStates (<anonymous>:1:36047)
    a

[2018-12-19 14:32] jknoxville commented on #342
I've spun out a new issue for this as it looks like a separate problem: https://github.com/facebook/flipper/issues/344

Lets close out this one if it's fixed for you. Did you have to upgrade dbus to fix the original issue?

[2018-12-19 14:35] simaofelgueirasJM commented on #342
Yes, I found the user of that computer did not upgraded the computer for a while, with Ubuntu 16.04.
After the updates done, It worked.
Thank you for the help!

[2018-12-19 14:37] #342 closed

[2018-12-19 15:05] dmac81 commented on #254
Has anyone figured this out?  I've tried a few different ways to get this to work to no avail...

[2018-12-19 17:19] dmac81 commented on #254
Ok after playing around some more I have included this code in my Podfile and this works -

[code]

[code]

This will cause Pods to build the pods in the array as static and the others dynamic frameworks

[2018-12-19 17:23] dmac81 commented on #341
Also to get these pods to work in a project that use dynamic frameworks, here is some code to force Flipper to stay static

[code]

[code]

[2018-12-20 01:41] OleksiyA opened #345 "When plugin can't be compiled, previous version of the plugin would be still rendered."
Steps to reproduce:

- create custom Flipper plugin;
- launch Flipper host App (using yarn start);
- connect mobile App that have corresponding custom Flipper plugin client side code;
- edit JS source code for custom plugin introducing JS syntax error;
<here plugin will be re-compiled and in console would be message "is ignored, because it could not be compiled">
- observe that your plugin is relo

[2018-12-20 01:45] OleksiyA opened #346 "How to use css files for custom plugins"
It is explained how to apply style to own React components.

Interesting to know how to handle case where some third party React component is being used in Flipper plugin JS code, and that third party code have styles in css file. For example https://react-table.js.org/#/story/readme or https://github.com/reactjs/react-tabs . I am using styled-components as a workaround, this require wrapping each

[2018-12-23 01:27] pkrmf opened #348 "Applications with NSURLProtocols show duplicate data in the Network Inspector"
Applications that take advantage of `NSURLProtocol` to intercept their outgoing requests will cause Network Inspector to show duplicate responses.

When an application using `NSURLProtocol` executes a request, before that request goes out the door, it will get intercepted by the `NSURLProtocol`. If the `NSURLProtocol` decides to execute that request on behalf of the client, the `NSURLProtocol` its

[2018-12-28 01:01] guuilp commented on #33
Any news about this feature?

[2018-12-28 15:04] justintuchek commented on #75
Is anyone actively working on this issue?

Don't want to step on anyones toes but looking at a good first issue to pickup

[2019-01-03 10:44] carlonzo opened #350 "SoLoader needs to have a compile scope in POM"
From Gradle 5.0, dependencies with `runtime` scope are not anymore included in the classpath ([https://docs.gradle.org/5.0/userguide/java_library_plugin.html](https://docs.gradle.org/5.0/userguide/java_library_plugin.html#sec:java_library_separation)).
Flipper declares the dependency scope to `com.facebook.soloader` as `runtime` but I believe it should be a `compile`. Upgrading from Gradle 4 to 5,

[2019-01-03 10:54] passy commented on #350
I think I'm missing something. What implies `runtime` and what does `compile`? We currently list `soloader` as an `implementation` dependency, which I would expect to be a hard (as opposed to `provided`) dependency. Is that not correct?

[2019-01-03 10:57] passy commented on #350
Specifically about this, could you share what you're trying to do and what's failing?

[2019-01-03 11:05] carlonzo commented on #350
Hi @passy. if you look at the[ pom file ](https://bintray.com/facebook/maven/download_file?file_path=com%2Ffacebook%2Fflipper%2Fflipper%2F0.13.0%2Fflipper-0.13.0.pom) you can see that the scope of `soloader` is `runtime`.
Given the definition of `runtime` scope in the maven docs ([https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Scope](https://maven

[2019-01-03 11:19] passy commented on #350
@carlonzo Thanks for the explanation. That makes sense.

I think this is working as expected from our side, but our docs don't reflect that. Generally, you should always depend on all dependencies explicitly that you use yourself in your application code. For SoLoader that's the case because we require you to call `SoLoader.init(this, false)` at some point during application start-up and don't do

[2019-01-03 12:21] #11 closed

[2019-01-03 20:22] carlonzo commented on #350
thanks @passy for the quick and detailed reply. I would argue that as SoLoader is required by Flipper it should come as a dependency. In my project we are only using SoLoader to support Flipper, and from our side that dependency should be declared in Flipper.
but as far as the documentation is explaining that, I am happy with that.

thanks!

[2019-01-03 20:22] #350 closed

[2019-01-21 17:33] theGlenn commented on #158
Any news on this ?
Implementing flavor specific application class seems like a hassle atm.

[2019-01-25 17:00] jknoxville commented on #206
Thanks for the report, I just tried this out of curiosity, and I'm also hitting the same thing. Here's the google bug tracker link for the adb reverse issue: https://issuetracker.google.com/issues/37066218

If anyone is interested in building a workaround to avoid having to use adb reverse, you could try to figure out the ip address of the host computer that flipper is running on, and then connect

[2019-01-29 10:32] agrvaibhav opened #364 "Program type already present: com.facebook.jni.DestructorThread$DestructorStack"
My project uses react native and stetho and I am now integrating `Flipper`. The way these are declared in `build.gradle`:
[code]

With the above setup, when building the app, I am getting below error. How can I include `com.facebook.jni.DestructorThread$DestructorStack` only once?

[code]

[2019-01-29 10:39] passy commented on #364
Are those all the packages you have for the app? The exclusion of `fbjni` for Flipper looks correct, but I wonder if something else may pull it in besides react native. I haven't checked but perhaps `debugApi("com.facebook.stetho:stetho-okhttp3:1.5.0")` also bundles `fbjni` or pulls in in as dependency?

The easiest way is probably to check via `gradle dependencies` if there's another declaration

[2019-01-29 10:51] agrvaibhav commented on #364
@passy Yes, it happens ONLY when I add Flipper dependency.

[2019-01-29 12:10] passy commented on #364
@agrvaibhav Could you try to use the same exclude pattern that you used before? I'm worried that the `module` syntax may just get ignored here if you include the group, too.

Something like

[code]

[2019-01-29 12:17] priteshrnandgaonkar commented on #348
Sorry for the delayed response. Thanks for reporting the bug. I think we can go ahead with the last option with a slight variation. I would still send the request to the Network Plugin, still maintain it in a hashmap and clearing it once we receive the response. Would be happy to have a PR around this.

[2019-01-29 15:26] sockeqwe opened #365 "0.14.2 artifacts are missing on jCenter"
Hi,
the android artifacts for latest version 0.14.2 are missing on jcenter. Are they not published yet or is there another issue somewhere in the CI & CD pipeline.

Thanks

[2019-01-29 16:45] passy commented on #365
Sorry, that's on me. We had some issues with the CircleCI task and I meant to rerun them manually. I'll try to do that now, but if I can't get this done in time I may have to do this tomorrow.

[2019-01-29 16:49] sockeqwe commented on #365
Thanks for the heads up

Pascal Hartig <notifications@github.com> schrieb am Di., 29. Jan. 2019,
17:45:

[2019-01-29 19:19] passy commented on #365
The artifacts should now be available on Jcenter.

On Tue, 29 Jan 2019, 16:49 Hannes Dorfmann <notifications@github.com wrote:

[2019-01-29 22:20] priteshrnandgaonkar commented on #341
Closing the issue as it is resolved.

[2019-01-29 22:20] #341 closed

[2019-01-30 07:55] sockeqwe commented on #365
Thanks!

[2019-01-30 07:55] #365 closed

[2019-01-31 05:40] jaeyoungleeee commented on #146
It works for me! Thanks!

[2019-01-31 11:17] danielbuechele commented on #326
That's a really good point, which we'd like to improve. We need to find a good way to know which app the logs are coming from and also handle if an app is running multiple processes.

[2019-01-31 15:51] passy commented on #364
@agrvaibhav Just wanted to check if this helped.

[2019-02-04 10:37] danielbuechele commented on #346
We want to avoid the use of CSS for the risk of interfering with any of Flipper's UI. This is why we strongly recommend using our Styled Components: https://fbflipper.com/docs/styling-components.html

However, I agree that there might be some edge-cases, where it makes sense to use a CSS file. For example 3rd-party libraries bringing their own CSS. That being said, for tables and tabs, you can use

[2019-02-04 10:37] #346 closed

[2019-02-04 20:25] alexio opened #366 "Android: Lint Error from Rhino"
Mozilla's Rhino library references a couple of packages not included in Android (i.e javax.swing), which trigger the `InvalidPackage` lint error.
Are there any future plans on moving away from it?

I've just disabled that particular lint check for the moment.

[2019-02-06 11:36] jknoxville commented on #366
Rhino was originally added for an experimental console plugin that lets you interact with your android java code at runtime, using javascript: https://github.com/facebook/flipper/blob/f18802e37366ffb0c8d16d8540ac0253010cd71a/android/src/main/java/com/facebook/flipper/plugins/console/ConsoleFlipperPlugin.java

For one thing, as far as I know the plugin isn't really used by anyone. But also, it alre

[2019-02-07 13:01] maxim-pandra opened #367 "flipper: Desktop failed to provide certificates"
Only CPU, logs and crashreporter seem to work. Desktop app and console says:

<img width="202" alt="screenshot 2019-02-07 at 16 00 15" src="https://user-images.githubusercontent.com/9080415/52413060-8813e180-2af1-11e9-86e7-d055a8a0d311.png">
This small icon changes periodically to a loading indicator.

Is the problem really in application name? Or something wrong with configuration?

In CustomAppl

[2019-02-07 13:25] jknoxville commented on #367
Thanks for the report! This should fix it: #368
I'll get it merged asap.

[2019-02-07 14:09] jknoxville commented on #367
This should now be fixed for you if you run flipper desktop from source: https://github.com/facebook/flipper#running-from-source

The fix will be in the website download in the next release, which we do roughly once a week.